
body {	
	width: 100%;
	margin: 0;
	padding: 0;
}

.custom-background {
	background: linear-gradient(to bottom, #BFC7FF, #BFC7FF);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
}

.custom-image-1 {
	background-image: url(images/scotland1.png);
	background-repeat: no-repeat;
	background-size:  100% 100%;
}

.custom-image-2 {
	background-image: url(images/fuji.png);
	background-repeat: no-repeat;
	background-size:  100% 100%;
}

.custom-image-3 {
	background-image: url(images/cherries.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}
