
body {	
	width: 100%;
	margin: 0;
	padding: 0;
}

.custom-background {
	background: linear-gradient(to bottom, #E5E9FF, #DEEEEF);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
}

.custom-background-2 {
	background: linear-gradient(to bottom, #E5E9FF, #F2F9D4);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
}

.custom-background-3 {
	background: linear-gradient(to bottom, #A17FFF, #1255ff);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
}

.custom-image {
	background-image: url(images/fuji.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}

.custom-image-1 {
	background-image: url(images/scotland_banner_1.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}

.custom-image-2 {
	background-image: url(images/landscape_gold.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}

.custom-image-3 {
	background-image: url(images/landscape_green.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}

.custom-image-4 {
	background-image: url(images/grapes.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}

.custom-image-5 {
	background-image: url(images/lemons.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}

.custom-image-6 {
	background-image: url(images/cherries.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}

.custom-image-7 {
	background-image: url(images/mountains.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}


