
.custom-underline {
  background-image: linear-gradient(90deg, #1255ff, #E5E9FF);
  background-position: bottom left;
  background-size: 30% 10%;
  background-repeat: no-repeat;
}

.custom-background-1 {
	background-color: rgba(0, 0, 0, 0.5);
}
.custom-background-2 {
	background: linear-gradient(to right top, #020318, #1e2a39, #384d5b, #56747d, #7a9c9f);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
}

.custom-image-1 {
	background-image: url(images/grapes.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}
.custom-image-2 {
	background-image: url(images/landscape-blue-faded.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}


