:root {
  color-scheme: light;
}
body, #mainPageContent, #defaultMobileSideNav, #homeMobileSideNav, #homeMobileNav, #desktopNav {
  color: rgb(26, 26, 26);
  background-color: rgb(255, 255, 255);
}
#sideNavMenu a, #cssMenu a, #jsMenu a, #mainPageContent a, #homeInfoPanel a, #homeSideNavButton {
  color: rgb(26, 26, 26);
}
#sideNavMenu a:hover, #cssMenu a:hover, #jsMenu a:hover, #mainPageContent a:hover, #homeInfoPanel a:hover {
  color: rgb(177, 177, 177);
}
#webuiSearchModal > [class*="modal"] {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
#webuiSearchInput {
  color: rgb(0, 0, 0);
  background-color: rgb(245, 245, 245);
}
#webuiSearchHeadings a {
  color: rgb(0, 44, 95);
}
#webuiSearchHeadings a:hover,
#webuiSearchHeadings a:focus {
  background-color: rgb(245, 245, 245);
}

.code-block, .script-block {
  color: rgb(0, 0, 0);
  background-color: rgb(250, 250, 250); 
  border: 1px solid rgb(222, 222, 222);
  font-weight: 700;
}
.table:not([data-theme-exclude]) {
  color: rgb(0, 44, 95);
  background-color: rgb(255, 255, 255);
}
.table:not([data-theme-exclude]) thead tr {
  background-color: rgb(250, 250, 250);
  border-bottom: 0.05rem solid rgb(230, 230, 230);
}
.table:not([data-theme-exclude]) td {
  border: 0.05rem solid rgb(230, 230, 230);
}
.table:not([data-theme-exclude]) th {
  border: 0.05rem solid rgb(230, 230, 230);
}

*[class*=input]:not(#webuiSearchInput), .control:not([data-theme-exclude]) {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}
*[class*=control-hint] label {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(115, 115, 115) !important;
}
