
html {

	background-color: #A4A4A4;
	background-image: url(../images/background_mono_min.png);
	min-height: 100%;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

body {	
	width: 100%;
	margin: 0 auto;	
}

.string-literal {
	background-color: transparent;
	color: #7BE083;
}
.html-tag {
	background-color: transparent;
	color: #ADDDFF;		
}
.html-attribute {
	background-color: transparent;
	color: #C7B1FF;		
}



