
body {
	font-family: "Open Sans", Arial, Helvetica;
}

.string-literal {
	background-color: transparent;
	color: #8800FF;
}
.html-tag {
	background-color: transparent;
	color: #C44E00;		
}
.html-attribute {
	background-color: transparent;
	color: #000;		
}

.vertical-alignment {
	line-height: 2.5em;
}

.hamburger-image {
	background-image: url(../images/hamburger.png);
	background-repeat: no-repeat;
	background-size: 85%;
	background-position:  center center;	
}

.custom-image {
	background-image: url(../images/fuji.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}

.custom-image-1 {
	background-image: url(../images/landscape_blue.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}

.custom-image-2 {
	background-image: url(../images/landscape_gold.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}

.custom-image-3 {
	background-image: url(../images/landscape_green.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}

#main {
	max-width: 45rem;
	margin-bottom: 5rem;
}

@media screen and (min-width: 69.99rem) and (max-width: 99.99rem) {
	#main {
		margin-left: 23rem;
		margin-right: 2rem;
	}
}

