
.alert-container {
	position: absolute;
	max-width: 85%;
	@include layer-6();
}
.alert {
	color: $theme_default_foreground;
	background: $theme_default;
	height: auto;	
	opacity: 1;
	border: none;
	display: block;
	position: relative;
	margin: 0 0 0.75rem 0;
}
.alert-cancel-button {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 1.25em 1.25em;
	cursor: pointer;
}
.alert-success {
	color: $theme_success_foreground;
	background-color: $theme_success;
}
.alert-success-icon {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1.25em 1.25em;
}
.alert-success-outline {
	color: $theme_success_dark;
	background-color: $theme_success_light;
	border: 0.078rem solid $theme_success_dark;
}
.alert-success-outline .alert-success-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%231B5E20' d='M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z'/%3E%3C/svg%3E");	
}
.alert-success-outline .alert-cancel-button {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%231B5E20' d='M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z'/%3E%3C/svg%3E");
}
.alert-info {
	color: $theme_info_foreground;
	background-color: $theme_info;
}
.alert-info-icon {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1.25em 1.25em;
}
.alert-info-outline {
	color: $theme_info_dark;
	background-color: $theme_info_light;
	border: 0.078rem solid $theme_info_dark;
}
.alert-info-outline .alert-info-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%230D47A1' d='M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z'/%3E%3C/svg%3E");
}
.alert-info-outline .alert-cancel-button {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%230D47A1' d='M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z'/%3E%3C/svg%3E");
}
.alert-warning {
	color: $theme_warning_foreground;
	background-color: $theme_warning;
}
.alert-warning-icon {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M12,2L1,21H23M12,6L19.53,19H4.47M11,10V14H13V10M11,16V18H13V16'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1.25em 1.25em;
}
.alert-warning-outline {
	color: $theme_warning_dark;
	background-color: $theme_warning_light;
	border: 0.078rem solid $theme_warning_dark;
}
.alert-warning-outline .alert-warning-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23BF360C' d='M12,2L1,21H23M12,6L19.53,19H4.47M11,10V14H13V10M11,16V18H13V16'/%3E%3C/svg%3E");
}
.alert-warning-outline .alert-cancel-button {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23BF360C' d='M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z'/%3E%3C/svg%3E");
}
.alert-danger {
	color: $theme_danger_foreground;
	background-color: $theme_danger;
}
.alert-danger-icon {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M11,15H13V17H11V15M11,7H13V13H11V7M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1.25em 1.25em;
}
.alert-danger-outline {
	color: $theme_danger_dark;
	background-color: $theme_danger_light;
	border: 0.078rem solid $theme_danger_dark;
}
.alert-danger-outline .alert-danger-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23BF360C' d='M11,15H13V17H11V15M11,7H13V13H11V7M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20Z'/%3E%3C/svg%3E");
}
.alert-danger-outline .alert-cancel-button {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23BF360C' d='M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z'/%3E%3C/svg%3E");
}
.alert-top-left {
    position: fixed;
    left: 1.25rem;
    top: 1.25rem;
}
.alert-top-center {
    position: fixed;
    top: 1.25rem;
    left: 50%;
	transform: translate(-50%, 0);
}
.alert-top-right {
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
}
.alert-bottom-left {
    position: fixed;
    left: 1.25rem;
    bottom: 1.25rem;
}
.alert-bottom-center {
    position: fixed;
    left: 50%;
	bottom: 1.25rem;
	transform: translate(-50%, 0);
}
.alert-bottom-right {
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
}
