
.alert-container {
	position: absolute;
	max-width: 85%;
	@include layer-6();
}
.alert {
	color: $theme_default_foreground;
	background: $theme_default;
	height: auto;	
	opacity: 1;
	border: none;
	display: block;
	position: relative;
	margin: 0 0 0.75rem 0;
}
.alert-cancel {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23FFFFFF' d='M8.692 8.853c0 0.167-0.067 0.335-0.188 0.455l-0.911 0.911c-0.121 0.121-0.288 0.188-0.455 0.188s-0.335-0.067-0.455-0.188l-1.969-1.969-1.969 1.969c-0.121 0.121-0.288 0.188-0.455 0.188s-0.335-0.067-0.455-0.188l-0.911-0.911c-0.121-0.121-0.188-0.288-0.188-0.455s0.067-0.335 0.188-0.455l1.969-1.969-1.969-1.969c-0.121-0.121-0.188-0.288-0.188-0.455s0.067-0.335 0.188-0.455l0.911-0.911c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l1.969 1.969 1.969-1.969c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l0.911 0.911c0.121 0.121 0.188 0.288 0.188 0.455s-0.067 0.335-0.188 0.455l-1.969 1.969 1.969 1.969c0.121 0.121 0.188 0.288 0.188 0.455z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 1.3em 1.3em;
	cursor: pointer;
}
.alert-success {
	color: $theme_success_foreground;
	background-color: $theme_success;
}
.alert-success-icon {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23FFFFFF' d='M11.19 3.79c0 0.167-0.067 0.335-0.188 0.455l-5.759 5.759c-0.121 0.121-0.288 0.188-0.455 0.188s-0.335-0.067-0.455-0.188l-3.335-3.335c-0.121-0.121-0.188-0.288-0.188-0.455s0.067-0.335 0.188-0.455l0.911-0.911c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l1.969 1.975 4.393-4.4c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l0.911 0.911c0.121 0.121 0.188 0.288 0.188 0.455z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 1.25em 1.25em;
}
.alert-success-outline {
	color: $theme_success_dark;
	background-color: $theme_success_light;
	border: 0.078rem solid $theme_success_dark;
}
.alert-success-outline .alert-success-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%231F6800' d='M11.19 3.79c0 0.167-0.067 0.335-0.188 0.455l-5.759 5.759c-0.121 0.121-0.288 0.188-0.455 0.188s-0.335-0.067-0.455-0.188l-3.335-3.335c-0.121-0.121-0.188-0.288-0.188-0.455s0.067-0.335 0.188-0.455l0.911-0.911c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l1.969 1.975 4.393-4.4c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l0.911 0.911c0.121 0.121 0.188 0.288 0.188 0.455z'/%3E%3C/svg%3E");	
}
.alert-success-outline .alert-cancel {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%231F6800' d='M8.692 8.853c0 0.167-0.067 0.335-0.188 0.455l-0.911 0.911c-0.121 0.121-0.288 0.188-0.455 0.188s-0.335-0.067-0.455-0.188l-1.969-1.969-1.969 1.969c-0.121 0.121-0.288 0.188-0.455 0.188s-0.335-0.067-0.455-0.188l-0.911-0.911c-0.121-0.121-0.188-0.288-0.188-0.455s0.067-0.335 0.188-0.455l1.969-1.969-1.969-1.969c-0.121-0.121-0.188-0.288-0.188-0.455s0.067-0.335 0.188-0.455l0.911-0.911c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l1.969 1.969 1.969-1.969c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l0.911 0.911c0.121 0.121 0.188 0.288 0.188 0.455s-0.067 0.335-0.188 0.455l-1.969 1.969 1.969 1.969c0.121 0.121 0.188 0.288 0.188 0.455z'/%3E%3C/svg%3E");
}
.alert-info {
	color: $theme_info_foreground;
	background-color: $theme_info;
}
.alert-info-icon {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23FFFFFF' d='M6.857 9.214v-1.071c0-0.121-0.094-0.214-0.214-0.214h-0.643v-3.429c0-0.121-0.094-0.214-0.214-0.214h-2.143c-0.121 0-0.214 0.094-0.214 0.214v1.071c0 0.121 0.094 0.214 0.214 0.214h0.643v2.143h-0.643c-0.121 0-0.214 0.094-0.214 0.214v1.071c0 0.121 0.094 0.214 0.214 0.214h3c0.121 0 0.214-0.094 0.214-0.214zM6 3.214v-1.071c0-0.121-0.094-0.214-0.214-0.214h-1.286c-0.121 0-0.214 0.094-0.214 0.214v1.071c0 0.121 0.094 0.214 0.214 0.214h1.286c0.121 0 0.214-0.094 0.214-0.214zM10.286 6c0 2.839-2.304 5.143-5.143 5.143s-5.143-2.304-5.143-5.143 2.304-5.143 5.143-5.143 5.143 2.304 5.143 5.143z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 1.25em 1.25em;
}
.alert-info-outline {
	color: $theme_info_dark;
	background-color: $theme_info_light;
	border: 0.078rem solid $theme_info_dark;
}
.alert-info-outline .alert-info-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%2331708F' d='M6.857 9.214v-1.071c0-0.121-0.094-0.214-0.214-0.214h-0.643v-3.429c0-0.121-0.094-0.214-0.214-0.214h-2.143c-0.121 0-0.214 0.094-0.214 0.214v1.071c0 0.121 0.094 0.214 0.214 0.214h0.643v2.143h-0.643c-0.121 0-0.214 0.094-0.214 0.214v1.071c0 0.121 0.094 0.214 0.214 0.214h3c0.121 0 0.214-0.094 0.214-0.214zM6 3.214v-1.071c0-0.121-0.094-0.214-0.214-0.214h-1.286c-0.121 0-0.214 0.094-0.214 0.214v1.071c0 0.121 0.094 0.214 0.214 0.214h1.286c0.121 0 0.214-0.094 0.214-0.214zM10.286 6c0 2.839-2.304 5.143-5.143 5.143s-5.143-2.304-5.143-5.143 2.304-5.143 5.143-5.143 5.143 2.304 5.143 5.143z'/%3E%3C/svg%3E");
}
.alert-info-outline .alert-cancel {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%2331708F' d='M8.692 8.853c0 0.167-0.067 0.335-0.188 0.455l-0.911 0.911c-0.121 0.121-0.288 0.188-0.455 0.188s-0.335-0.067-0.455-0.188l-1.969-1.969-1.969 1.969c-0.121 0.121-0.288 0.188-0.455 0.188s-0.335-0.067-0.455-0.188l-0.911-0.911c-0.121-0.121-0.188-0.288-0.188-0.455s0.067-0.335 0.188-0.455l1.969-1.969-1.969-1.969c-0.121-0.121-0.188-0.288-0.188-0.455s0.067-0.335 0.188-0.455l0.911-0.911c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l1.969 1.969 1.969-1.969c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l0.911 0.911c0.121 0.121 0.188 0.288 0.188 0.455s-0.067 0.335-0.188 0.455l-1.969 1.969 1.969 1.969c0.121 0.121 0.188 0.288 0.188 0.455z'/%3E%3C/svg%3E");
}
.alert-warning {
	color: $theme_warning_foreground;
	background-color: $theme_warning;
}
.alert-warning-icon {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23FFFFFF' d='M6.857 9.208v-1.272c0-0.121-0.094-0.221-0.214-0.221h-1.286c-0.121 0-0.214 0.1-0.214 0.221v1.272c0 0.121 0.094 0.221 0.214 0.221h1.286c0.121 0 0.214-0.1 0.214-0.221zM6.844 6.703l0.121-3.074c0-0.040-0.020-0.094-0.067-0.127-0.040-0.033-0.1-0.074-0.161-0.074h-1.473c-0.060 0-0.121 0.040-0.161 0.074-0.047 0.033-0.067 0.1-0.067 0.141l0.114 3.060c0 0.087 0.1 0.154 0.228 0.154h1.239c0.121 0 0.221-0.067 0.228-0.154zM6.75 0.449l5.143 9.429c0.147 0.261 0.141 0.583-0.013 0.844s-0.435 0.422-0.737 0.422h-10.286c-0.301 0-0.583-0.161-0.737-0.422s-0.161-0.583-0.013-0.844l5.143-9.429c0.147-0.275 0.435-0.449 0.75-0.449s0.603 0.174 0.75 0.449z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 1em 1em;
}
.alert-warning-outline {
	color: $theme_warning_dark;
	background-color: $theme_warning_light;
	border: 0.078rem solid $theme_warning_dark;
}
.alert-warning-outline .alert-warning-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23AF884D' d='M6.857 9.208v-1.272c0-0.121-0.094-0.221-0.214-0.221h-1.286c-0.121 0-0.214 0.1-0.214 0.221v1.272c0 0.121 0.094 0.221 0.214 0.221h1.286c0.121 0 0.214-0.1 0.214-0.221zM6.844 6.703l0.121-3.074c0-0.040-0.020-0.094-0.067-0.127-0.040-0.033-0.1-0.074-0.161-0.074h-1.473c-0.060 0-0.121 0.040-0.161 0.074-0.047 0.033-0.067 0.1-0.067 0.141l0.114 3.060c0 0.087 0.1 0.154 0.228 0.154h1.239c0.121 0 0.221-0.067 0.228-0.154zM6.75 0.449l5.143 9.429c0.147 0.261 0.141 0.583-0.013 0.844s-0.435 0.422-0.737 0.422h-10.286c-0.301 0-0.583-0.161-0.737-0.422s-0.161-0.583-0.013-0.844l5.143-9.429c0.147-0.275 0.435-0.449 0.75-0.449s0.603 0.174 0.75 0.449z'/%3E%3C/svg%3E");
}
.alert-warning-outline .alert-cancel {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23AF884D' d='M8.692 8.853c0 0.167-0.067 0.335-0.188 0.455l-0.911 0.911c-0.121 0.121-0.288 0.188-0.455 0.188s-0.335-0.067-0.455-0.188l-1.969-1.969-1.969 1.969c-0.121 0.121-0.288 0.188-0.455 0.188s-0.335-0.067-0.455-0.188l-0.911-0.911c-0.121-0.121-0.188-0.288-0.188-0.455s0.067-0.335 0.188-0.455l1.969-1.969-1.969-1.969c-0.121-0.121-0.188-0.288-0.188-0.455s0.067-0.335 0.188-0.455l0.911-0.911c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l1.969 1.969 1.969-1.969c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l0.911 0.911c0.121 0.121 0.188 0.288 0.188 0.455s-0.067 0.335-0.188 0.455l-1.969 1.969 1.969 1.969c0.121 0.121 0.188 0.288 0.188 0.455z'/%3E%3C/svg%3E");
}
.alert-danger {
	color: $theme_danger_foreground;
	background-color: $theme_danger;
}
.alert-danger-icon {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23FFFFFF' d='M5.143 0.857c2.839 0 5.143 2.304 5.143 5.143s-2.304 5.143-5.143 5.143-5.143-2.304-5.143-5.143 2.304-5.143 5.143-5.143zM6 9.208v-1.272c0-0.121-0.094-0.221-0.208-0.221h-1.286c-0.121 0-0.221 0.1-0.221 0.221v1.272c0 0.121 0.1 0.221 0.221 0.221h1.286c0.114 0 0.208-0.1 0.208-0.221zM5.987 6.904l0.121-4.158c0-0.047-0.020-0.094-0.067-0.121-0.040-0.033-0.1-0.054-0.161-0.054h-1.473c-0.060 0-0.121 0.020-0.161 0.054-0.047 0.027-0.067 0.074-0.067 0.121l0.114 4.158c0 0.094 0.1 0.167 0.228 0.167h1.239c0.121 0 0.221-0.074 0.228-0.167z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 1.25em 1.25em;
}
.alert-danger-outline {
	color: $theme_danger_dark;
	background-color: $theme_danger_light;
	border: 0.078rem solid $theme_danger_dark;
}
.alert-danger-outline .alert-danger-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23A94442' d='M5.143 0.857c2.839 0 5.143 2.304 5.143 5.143s-2.304 5.143-5.143 5.143-5.143-2.304-5.143-5.143 2.304-5.143 5.143-5.143zM6 9.208v-1.272c0-0.121-0.094-0.221-0.208-0.221h-1.286c-0.121 0-0.221 0.1-0.221 0.221v1.272c0 0.121 0.1 0.221 0.221 0.221h1.286c0.114 0 0.208-0.1 0.208-0.221zM5.987 6.904l0.121-4.158c0-0.047-0.020-0.094-0.067-0.121-0.040-0.033-0.1-0.054-0.161-0.054h-1.473c-0.060 0-0.121 0.020-0.161 0.054-0.047 0.027-0.067 0.074-0.067 0.121l0.114 4.158c0 0.094 0.1 0.167 0.228 0.167h1.239c0.121 0 0.221-0.074 0.228-0.167z'/%3E%3C/svg%3E");
}
.alert-danger-outline .alert-cancel {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23A94442' d='M8.692 8.853c0 0.167-0.067 0.335-0.188 0.455l-0.911 0.911c-0.121 0.121-0.288 0.188-0.455 0.188s-0.335-0.067-0.455-0.188l-1.969-1.969-1.969 1.969c-0.121 0.121-0.288 0.188-0.455 0.188s-0.335-0.067-0.455-0.188l-0.911-0.911c-0.121-0.121-0.188-0.288-0.188-0.455s0.067-0.335 0.188-0.455l1.969-1.969-1.969-1.969c-0.121-0.121-0.188-0.288-0.188-0.455s0.067-0.335 0.188-0.455l0.911-0.911c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l1.969 1.969 1.969-1.969c0.121-0.121 0.288-0.188 0.455-0.188s0.335 0.067 0.455 0.188l0.911 0.911c0.121 0.121 0.188 0.288 0.188 0.455s-0.067 0.335-0.188 0.455l-1.969 1.969 1.969 1.969c0.121 0.121 0.188 0.288 0.188 0.455z'/%3E%3C/svg%3E");
}
.alert-top-left {
    position: fixed;
    left: 1.25rem;
    top: 1.25rem;
}
.alert-top-center {
    position: fixed;
    top: 1.25rem;
    left: 50%;
	transform: translate(-50%, 0);
}
.alert-top-right {
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
}
.alert-bottom-left {
    position: fixed;
    left: 1.25rem;
    bottom: 1.25rem;
}
.alert-bottom-center {
    position: fixed;
    left: 50%;
	bottom: 1.25rem;
	transform: translate(-50%, 0);
}
.alert-bottom-right {
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
}
.alert-animate {
  	animation: animate-fadein 0.5s ease-in-out;
}
