
*[class*="border-cap"] {
	border-color: rgba(255, 255, 255, 0);
	background-clip: padding-box;
}
.border-cap-top-focus-accent-1 {
	&:focus {
		border-color: $theme_accent_1 $theme_accent_1 rgba(255, 255, 255, 0) $theme_accent_1;		
	}
}
.border-cap-top-focus-accent-1-light {
	&:focus { 
		border-color: $theme_accent_1_light $theme_accent_1_light rgba(255, 255, 255, 0) $theme_accent_1_light;		
	}
}
.border-cap-top-focus-accent-1-dark {
	&:focus { 
		border-color: $theme_accent_1_dark $theme_accent_1_dark rgba(255, 255, 255, 0) $theme_accent_1_dark;	
	}
}
.border-cap-left-focus-accent-1 {
	&:focus { 
		border-color: $theme_accent_1 rgba(255, 255, 255, 0) $theme_accent_1 $theme_accent_1;		
	}
}
.border-cap-left-focus-accent-1-light {
	&:focus { 
		border-color: $theme_accent_1_light rgba(255, 255, 255, 0) $theme_accent_1_light $theme_accent_1_light;		
	}
}
.border-cap-left-focus-accent-1-dark {
	&:focus { 
		border-color: $theme_accent_1_dark rgba(255, 255, 255, 0) $theme_accent_1_dark $theme_accent_1_dark;	
	}
}
.border-cap-bottom-focus-accent-1 {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_1 $theme_accent_1 $theme_accent_1;	
	}
}
.border-cap-bottom-focus-accent-1-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_1_light $theme_accent_1_light $theme_accent_1_light;	
	}
}
.border-cap-bottom-focus-accent-1-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_1_dark $theme_accent_1_dark $theme_accent_1_dark;	
	}
}
.border-cap-right-focus-accent-1 {
	&:focus { 
		border-color: $theme_accent_1 $theme_accent_1 $theme_accent_1 rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-accent-1-light {
	&:focus { 
		border-color: $theme_accent_1_light $theme_accent_1_light $theme_accent_1_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-accent-1-dark {
	&:focus { 
		border-color: $theme_accent_1_dark $theme_accent_1_dark $theme_accent_1_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-focus-accent-1 {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_1 rgba(255, 255, 255, 0) $theme_accent_1;	
	}
}
.border-cap-vertical-focus-accent-1-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_1_light rgba(255, 255, 255, 0) $theme_accent_1_light;	
	}
}
.border-cap-vertical-focus-accent-1-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_1_dark rgba(255, 255, 255, 0) $theme_accent_1_dark;	
	}
}
.border-cap-horizontal-focus-accent-1 {
	&:focus { 
		border-color: $theme_accent_1 rgba(255, 255, 255, 0) $theme_accent_1 rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-accent-1-light {
	&:focus { 
		border-color: $theme_accent_1_light rgba(255, 255, 255, 0) $theme_accent_1_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-accent-1-dark {
	&:focus { 
		border-color: $theme_accent_1_dark rgba(255, 255, 255, 0) $theme_accent_1_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-focus-accent-2 {
	&:focus {
		border-color: $theme_accent_2 $theme_accent_2 rgba(255, 255, 255, 0) $theme_accent_2;		
	}
}
.border-cap-top-focus-accent-2-light {
	&:focus { 
		border-color: $theme_accent_2_light $theme_accent_2_light rgba(255, 255, 255, 0) $theme_accent_2_light;		
	}
}
.border-cap-top-focus-accent-2-dark {
	&:focus { 
		border-color: $theme_accent_2_dark $theme_accent_2_dark rgba(255, 255, 255, 0) $theme_accent_2_dark;	
	}
}
.border-cap-left-focus-accent-2 {
	&:focus { 
		border-color: $theme_accent_2 rgba(255, 255, 255, 0) $theme_accent_2 $theme_accent_2;		
	}
}
.border-cap-left-focus-accent-2-light {
	&:focus { 
		border-color: $theme_accent_2_light rgba(255, 255, 255, 0) $theme_accent_2_light $theme_accent_2_light;		
	}
}
.border-cap-left-focus-accent-2-dark {
	&:focus { 
		border-color: $theme_accent_2_dark rgba(255, 255, 255, 0) $theme_accent_2_dark $theme_accent_2_dark;	
	}
}
.border-cap-bottom-focus-accent-2 {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_2 $theme_accent_2 $theme_accent_2;	
	}
}
.border-cap-bottom-focus-accent-2-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_2_light $theme_accent_2_light $theme_accent_2_light;	
	}
}
.border-cap-bottom-focus-accent-2-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_2_dark $theme_accent_2_dark $theme_accent_2_dark;	
	}
}
.border-cap-right-focus-accent-2 {
	&:focus { 
		border-color: $theme_accent_2 $theme_accent_2 $theme_accent_2 rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-accent-2-light {
	&:focus { 
		border-color: $theme_accent_2_light $theme_accent_2_light $theme_accent_2_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-accent-2-dark {
	&:focus { 
		border-color: $theme_accent_2_dark $theme_accent_2_dark $theme_accent_2_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-focus-accent-2 {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_2 rgba(255, 255, 255, 0) $theme_accent_2;	
	}
}
.border-cap-vertical-focus-accent-2-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_2_light rgba(255, 255, 255, 0) $theme_accent_2_light;	
	}
}
.border-cap-vertical-focus-accent-2-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_2_dark rgba(255, 255, 255, 0) $theme_accent_2_dark;	
	}
}
.border-cap-horizontal-focus-accent-2 {
	&:focus { 
		border-color: $theme_accent_2 rgba(255, 255, 255, 0) $theme_accent_2 rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-accent-2-light {
	&:focus { 
		border-color: $theme_accent_2_light rgba(255, 255, 255, 0) $theme_accent_2_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-accent-2-dark {
	&:focus { 
		border-color: $theme_accent_2_dark rgba(255, 255, 255, 0) $theme_accent_2_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-focus-accent-3 {
	&:focus {
		border-color: $theme_accent_3 $theme_accent_3 rgba(255, 255, 255, 0) $theme_accent_3;		
	}
}
.border-cap-top-focus-accent-3-light {
	&:focus { 
		border-color: $theme_accent_3_light $theme_accent_3_light rgba(255, 255, 255, 0) $theme_accent_3_light;		
	}
}
.border-cap-top-focus-accent-3-dark {
	&:focus { 
		border-color: $theme_accent_3_dark $theme_accent_3_dark rgba(255, 255, 255, 0) $theme_accent_3_dark;	
	}
}
.border-cap-left-focus-accent-3 {
	&:focus { 
		border-color: $theme_accent_3 rgba(255, 255, 255, 0) $theme_accent_3 $theme_accent_3;		
	}
}
.border-cap-left-focus-accent-3-light {
	&:focus { 
		border-color: $theme_accent_3_light rgba(255, 255, 255, 0) $theme_accent_3_light $theme_accent_3_light;		
	}
}
.border-cap-left-focus-accent-3-dark {
	&:focus { 
		border-color: $theme_accent_3_dark rgba(255, 255, 255, 0) $theme_accent_3_dark $theme_accent_3_dark;	
	}
}
.border-cap-bottom-focus-accent-3 {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_3 $theme_accent_3 $theme_accent_3;	
	}
}
.border-cap-bottom-focus-accent-3-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_3_light $theme_accent_3_light $theme_accent_3_light;	
	}
}
.border-cap-bottom-focus-accent-3-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_3_dark $theme_accent_3_dark $theme_accent_3_dark;	
	}
}
.border-cap-right-focus-accent-3 {
	&:focus { 
		border-color: $theme_accent_3 $theme_accent_3 $theme_accent_3 rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-accent-3-light {
	&:focus { 
		border-color: $theme_accent_3_light $theme_accent_3_light $theme_accent_3_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-accent-3-dark {
	&:focus { 
		border-color: $theme_accent_3_dark $theme_accent_3_dark $theme_accent_3_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-focus-accent-3 {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_3 rgba(255, 255, 255, 0) $theme_accent_3;	
	}
}
.border-cap-vertical-focus-accent-3-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_3_light rgba(255, 255, 255, 0) $theme_accent_3_light;	
	}
}
.border-cap-vertical-focus-accent-3-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_3_dark rgba(255, 255, 255, 0) $theme_accent_3_dark;	
	}
}
.border-cap-horizontal-focus-accent-3 {
	&:focus { 
		border-color: $theme_accent_3 rgba(255, 255, 255, 0) $theme_accent_3 rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-accent-3-light {
	&:focus { 
		border-color: $theme_accent_3_light rgba(255, 255, 255, 0) $theme_accent_3_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-accent-3-dark {
	&:focus { 
		border-color: $theme_accent_3_dark rgba(255, 255, 255, 0) $theme_accent_3_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-focus-accent-4 {
	&:focus {
		border-color: $theme_accent_4 $theme_accent_4 rgba(255, 255, 255, 0) $theme_accent_4;		
	}
}
.border-cap-top-focus-accent-4-light {
	&:focus { 
		border-color: $theme_accent_4_light $theme_accent_4_light rgba(255, 255, 255, 0) $theme_accent_4_light;		
	}
}
.border-cap-top-focus-accent-4-dark {
	&:focus { 
		border-color: $theme_accent_4_dark $theme_accent_4_dark rgba(255, 255, 255, 0) $theme_accent_4_dark;	
	}
}
.border-cap-left-focus-accent-4 {
	&:focus { 
		border-color: $theme_accent_4 rgba(255, 255, 255, 0) $theme_accent_4 $theme_accent_4;		
	}
}
.border-cap-left-focus-accent-4-light {
	&:focus { 
		border-color: $theme_accent_4_light rgba(255, 255, 255, 0) $theme_accent_4_light $theme_accent_4_light;		
	}
}
.border-cap-left-focus-accent-4-dark {
	&:focus { 
		border-color: $theme_accent_4_dark rgba(255, 255, 255, 0) $theme_accent_4_dark $theme_accent_4_dark;	
	}
}
.border-cap-bottom-focus-accent-4 {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_4 $theme_accent_4 $theme_accent_4;	
	}
}
.border-cap-bottom-focus-accent-4-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_4_light $theme_accent_4_light $theme_accent_4_light;	
	}
}
.border-cap-bottom-focus-accent-4-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_4_dark $theme_accent_4_dark $theme_accent_4_dark;	
	}
}
.border-cap-right-focus-accent-4 {
	&:focus { 
		border-color: $theme_accent_4 $theme_accent_4 $theme_accent_4 rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-accent-4-light {
	&:focus { 
		border-color: $theme_accent_4_light $theme_accent_4_light $theme_accent_4_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-accent-4-dark {
	&:focus { 
		border-color: $theme_accent_4_dark $theme_accent_4_dark $theme_accent_4_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-focus-accent-4 {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_4 rgba(255, 255, 255, 0) $theme_accent_4;	
	}
}
.border-cap-vertical-focus-accent-4-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_4_light rgba(255, 255, 255, 0) $theme_accent_4_light;	
	}
}
.border-cap-vertical-focus-accent-4-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_4_dark rgba(255, 255, 255, 0) $theme_accent_4_dark;	
	}
}
.border-cap-horizontal-focus-accent-4 {
	&:focus { 
		border-color: $theme_accent_4 rgba(255, 255, 255, 0) $theme_accent_4 rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-accent-4-light {
	&:focus { 
		border-color: $theme_accent_4_light rgba(255, 255, 255, 0) $theme_accent_4_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-accent-4-dark {
	&:focus { 
		border-color: $theme_accent_4_dark rgba(255, 255, 255, 0) $theme_accent_4_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-focus-accent-5 {
	&:focus {
		border-color: $theme_accent_5 $theme_accent_5 rgba(255, 255, 255, 0) $theme_accent_5;		
	}
}
.border-cap-top-focus-accent-5-light {
	&:focus { 
		border-color: $theme_accent_5_light $theme_accent_5_light rgba(255, 255, 255, 0) $theme_accent_5_light;		
	}
}
.border-cap-top-focus-accent-5-dark {
	&:focus { 
		border-color: $theme_accent_5_dark $theme_accent_5_dark rgba(255, 255, 255, 0) $theme_accent_5_dark;	
	}
}
.border-cap-left-focus-accent-5 {
	&:focus { 
		border-color: $theme_accent_5 rgba(255, 255, 255, 0) $theme_accent_5 $theme_accent_5;		
	}
}
.border-cap-left-focus-accent-5-light {
	&:focus { 
		border-color: $theme_accent_5_light rgba(255, 255, 255, 0) $theme_accent_5_light $theme_accent_5_light;		
	}
}
.border-cap-left-focus-accent-5-dark {
	&:focus { 
		border-color: $theme_accent_5_dark rgba(255, 255, 255, 0) $theme_accent_5_dark $theme_accent_5_dark;	
	}
}
.border-cap-bottom-focus-accent-5 {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_5 $theme_accent_5 $theme_accent_5;	
	}
}
.border-cap-bottom-focus-accent-5-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_5_light $theme_accent_5_light $theme_accent_5_light;	
	}
}
.border-cap-bottom-focus-accent-5-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_5_dark $theme_accent_5_dark $theme_accent_5_dark;	
	}
}
.border-cap-right-focus-accent-5 {
	&:focus { 
		border-color: $theme_accent_5 $theme_accent_5 $theme_accent_5 rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-accent-5-light {
	&:focus { 
		border-color: $theme_accent_5_light $theme_accent_5_light $theme_accent_5_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-accent-5-dark {
	&:focus { 
		border-color: $theme_accent_5_dark $theme_accent_5_dark $theme_accent_5_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-focus-accent-5 {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_5 rgba(255, 255, 255, 0) $theme_accent_5;	
	}
}
.border-cap-vertical-focus-accent-5-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_5_light rgba(255, 255, 255, 0) $theme_accent_5_light;	
	}
}
.border-cap-vertical-focus-accent-5-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_5_dark rgba(255, 255, 255, 0) $theme_accent_5_dark;	
	}
}
.border-cap-horizontal-focus-accent-5 {
	&:focus { 
		border-color: $theme_accent_5 rgba(255, 255, 255, 0) $theme_accent_5 rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-accent-5-light {
	&:focus { 
		border-color: $theme_accent_5_light rgba(255, 255, 255, 0) $theme_accent_5_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-accent-5-dark {
	&:focus { 
		border-color: $theme_accent_5_dark rgba(255, 255, 255, 0) $theme_accent_5_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-focus-success {
	&:focus {
		border-color: $theme_success $theme_success rgba(255, 255, 255, 0) $theme_success;		
	}
}
.border-cap-top-focus-success-light {
	&:focus { 
		border-color: $theme_success_light $theme_success_light rgba(255, 255, 255, 0) $theme_success_light;		
	}
}
.border-cap-top-focus-success-dark {
	&:focus { 
		border-color: $theme_success_dark $theme_success_dark rgba(255, 255, 255, 0) $theme_success_dark;	
	}
}
.border-cap-left-focus-success {
	&:focus { 
		border-color: $theme_success rgba(255, 255, 255, 0) $theme_success $theme_success;		
	}
}
.border-cap-left-focus-success-light {
	&:focus { 
		border-color: $theme_success_light rgba(255, 255, 255, 0) $theme_success_light $theme_success_light;		
	}
}
.border-cap-left-focus-success-dark {
	&:focus { 
		border-color: $theme_success_dark rgba(255, 255, 255, 0) $theme_success_dark $theme_success_dark;	
	}
}
.border-cap-bottom-focus-success {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_success $theme_success $theme_success;	
	}
}
.border-cap-bottom-focus-success-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_success_light $theme_success_light $theme_success_light;	
	}
}
.border-cap-bottom-focus-success-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_success_dark $theme_success_dark $theme_success_dark;	
	}
}
.border-cap-right-focus-success {
	&:focus { 
		border-color: $theme_success $theme_success $theme_success rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-success-light {
	&:focus { 
		border-color: $theme_success_light $theme_success_light $theme_success_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-success-dark {
	&:focus { 
		border-color: $theme_success_dark $theme_success_dark $theme_success_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-focus-success {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_success rgba(255, 255, 255, 0) $theme_success;	
	}
}
.border-cap-vertical-focus-success-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_success_light rgba(255, 255, 255, 0) $theme_success_light;	
	}
}
.border-cap-vertical-focus-success-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_success_dark rgba(255, 255, 255, 0) $theme_success_dark;	
	}
}
.border-cap-horizontal-focus-success {
	&:focus { 
		border-color: $theme_success rgba(255, 255, 255, 0) $theme_success rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-success-light {
	&:focus { 
		border-color: $theme_success_light rgba(255, 255, 255, 0) $theme_success_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-success-dark {
	&:focus { 
		border-color: $theme_success_dark rgba(255, 255, 255, 0) $theme_success_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-focus-info {
	&:focus {
		border-color: $theme_info $theme_info rgba(255, 255, 255, 0) $theme_info;		
	}
}
.border-cap-top-focus-info-light {
	&:focus { 
		border-color: $theme_info_light $theme_info_light rgba(255, 255, 255, 0) $theme_info_light;		
	}
}
.border-cap-top-focus-info-dark {
	&:focus { 
		border-color: $theme_info_dark $theme_info_dark rgba(255, 255, 255, 0) $theme_info_dark;	
	}
}
.border-cap-left-focus-info {
	&:focus { 
		border-color: $theme_info rgba(255, 255, 255, 0) $theme_info $theme_info;		
	}
}
.border-cap-left-focus-info-light {
	&:focus { 
		border-color: $theme_info_light rgba(255, 255, 255, 0) $theme_info_light $theme_info_light;		
	}
}
.border-cap-left-focus-info-dark {
	&:focus { 
		border-color: $theme_info_dark rgba(255, 255, 255, 0) $theme_info_dark $theme_info_dark;	
	}
}
.border-cap-bottom-focus-info {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_info $theme_info $theme_info;	
	}
}
.border-cap-bottom-focus-info-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_info_light $theme_info_light $theme_info_light;	
	}
}
.border-cap-bottom-focus-info-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_info_dark $theme_info_dark $theme_info_dark;	
	}
}
.border-cap-right-focus-info {
	&:focus { 
		border-color: $theme_info $theme_info $theme_info rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-info-light {
	&:focus { 
		border-color: $theme_info_light $theme_info_light $theme_info_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-info-dark {
	&:focus { 
		border-color: $theme_info_dark $theme_info_dark $theme_info_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-focus-info {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_info rgba(255, 255, 255, 0) $theme_info;	
	}
}
.border-cap-vertical-focus-info-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_info_light rgba(255, 255, 255, 0) $theme_info_light;	
	}
}
.border-cap-vertical-focus-info-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_info_dark rgba(255, 255, 255, 0) $theme_info_dark;	
	}
}
.border-cap-horizontal-focus-info {
	&:focus { 
		border-color: $theme_info rgba(255, 255, 255, 0) $theme_info rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-info-light {
	&:focus { 
		border-color: $theme_info_light rgba(255, 255, 255, 0) $theme_info_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-info-dark {
	&:focus { 
		border-color: $theme_info_dark rgba(255, 255, 255, 0) $theme_info_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-focus-warning {
	&:focus {
		border-color: $theme_warning $theme_warning rgba(255, 255, 255, 0) $theme_warning;		
	}
}
.border-cap-top-focus-warning-light {
	&:focus { 
		border-color: $theme_warning_light $theme_warning_light rgba(255, 255, 255, 0) $theme_warning_light;		
	}
}
.border-cap-top-focus-warning-dark {
	&:focus { 
		border-color: $theme_warning_dark $theme_warning_dark rgba(255, 255, 255, 0) $theme_warning_dark;	
	}
}
.border-cap-left-focus-warning {
	&:focus { 
		border-color: $theme_warning rgba(255, 255, 255, 0) $theme_warning $theme_warning;		
	}
}
.border-cap-left-focus-warning-light {
	&:focus { 
		border-color: $theme_warning_light rgba(255, 255, 255, 0) $theme_warning_light $theme_warning_light;		
	}
}
.border-cap-left-focus-warning-dark {
	&:focus { 
		border-color: $theme_warning_dark rgba(255, 255, 255, 0) $theme_warning_dark $theme_warning_dark;	
	}
}
.border-cap-bottom-focus-warning {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_warning $theme_warning $theme_warning;	
	}
}
.border-cap-bottom-focus-warning-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_warning_light $theme_warning_light $theme_warning_light;	
	}
}
.border-cap-bottom-focus-warning-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_warning_dark $theme_warning_dark $theme_warning_dark;	
	}
}
.border-cap-right-focus-warning {
	&:focus { 
		border-color: $theme_warning $theme_warning $theme_warning rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-warning-light {
	&:focus { 
		border-color: $theme_warning_light $theme_warning_light $theme_warning_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-warning-dark {
	&:focus { 
		border-color: $theme_warning_dark $theme_warning_dark $theme_warning_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-focus-warning {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_warning rgba(255, 255, 255, 0) $theme_warning;	
	}
}
.border-cap-vertical-focus-warning-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_warning_light rgba(255, 255, 255, 0) $theme_warning_light;	
	}
}
.border-cap-vertical-focus-warning-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_warning_dark rgba(255, 255, 255, 0) $theme_warning_dark;	
	}
}
.border-cap-horizontal-focus-warning {
	&:focus { 
		border-color: $theme_warning rgba(255, 255, 255, 0) $theme_warning rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-warning-light {
	&:focus { 
		border-color: $theme_warning_light rgba(255, 255, 255, 0) $theme_warning_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-warning-dark {
	&:focus { 
		border-color: $theme_warning_dark rgba(255, 255, 255, 0) $theme_warning_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-focus-danger {
	&:focus {
		border-color: $theme_danger $theme_danger rgba(255, 255, 255, 0) $theme_danger;		
	}
}
.border-cap-top-focus-danger-light {
	&:focus { 
		border-color: $theme_danger_light $theme_danger_light rgba(255, 255, 255, 0) $theme_danger_light;		
	}
}
.border-cap-top-focus-danger-dark {
	&:focus { 
		border-color: $theme_danger_dark $theme_danger_dark rgba(255, 255, 255, 0) $theme_danger_dark;	
	}
}
.border-cap-left-focus-danger {
	&:focus { 
		border-color: $theme_danger rgba(255, 255, 255, 0) $theme_danger $theme_danger;		
	}
}
.border-cap-left-focus-danger-light {
	&:focus { 
		border-color: $theme_danger_light rgba(255, 255, 255, 0) $theme_danger_light $theme_danger_light;		
	}
}
.border-cap-left-focus-danger-dark {
	&:focus { 
		border-color: $theme_danger_dark rgba(255, 255, 255, 0) $theme_danger_dark $theme_danger_dark;	
	}
}
.border-cap-bottom-focus-danger {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_danger $theme_danger $theme_danger;	
	}
}
.border-cap-bottom-focus-danger-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_danger_light $theme_danger_light $theme_danger_light;	
	}
}
.border-cap-bottom-focus-danger-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_danger_dark $theme_danger_dark $theme_danger_dark;	
	}
}
.border-cap-right-focus-danger {
	&:focus { 
		border-color: $theme_danger $theme_danger $theme_danger rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-danger-light {
	&:focus { 
		border-color: $theme_danger_light $theme_danger_light $theme_danger_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-focus-danger-dark {
	&:focus { 
		border-color: $theme_danger_dark $theme_danger_dark $theme_danger_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-focus-danger {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_danger rgba(255, 255, 255, 0) $theme_danger;	
	}
}
.border-cap-vertical-focus-danger-light {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_danger_light rgba(255, 255, 255, 0) $theme_danger_light;	
	}
}
.border-cap-vertical-focus-danger-dark {
	&:focus { 
		border-color: rgba(255, 255, 255, 0) $theme_danger_dark rgba(255, 255, 255, 0) $theme_danger_dark;	
	}
}
.border-cap-horizontal-focus-danger {
	&:focus { 
		border-color: $theme_danger rgba(255, 255, 255, 0) $theme_danger rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-danger-light {
	&:focus { 
		border-color: $theme_danger_light rgba(255, 255, 255, 0) $theme_danger_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-focus-danger-dark {
	&:focus { 
		border-color: $theme_danger_dark rgba(255, 255, 255, 0) $theme_danger_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-hover-accent-1 {
	&:hover {
		border-color: $theme_accent_1 $theme_accent_1 rgba(255, 255, 255, 0) $theme_accent_1;		
	}
}
.border-cap-top-hover-accent-1-light {
	&:hover { 
		border-color: $theme_accent_1_light $theme_accent_1_light rgba(255, 255, 255, 0) $theme_accent_1_light;		
	}
}
.border-cap-top-hover-accent-1-dark {
	&:hover { 
		border-color: $theme_accent_1_dark $theme_accent_1_dark rgba(255, 255, 255, 0) $theme_accent_1_dark;	
	}
}
.border-cap-left-hover-accent-1 {
	&:hover { 
		border-color: $theme_accent_1 rgba(255, 255, 255, 0) $theme_accent_1 $theme_accent_1;		
	}
}
.border-cap-left-hover-accent-1-light {
	&:hover { 
		border-color: $theme_accent_1_light rgba(255, 255, 255, 0) $theme_accent_1_light $theme_accent_1_light;		
	}
}
.border-cap-left-hover-accent-1-dark {
	&:hover { 
		border-color: $theme_accent_1_dark rgba(255, 255, 255, 0) $theme_accent_1_dark $theme_accent_1_dark;	
	}
}
.border-cap-bottom-hover-accent-1 {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_1 $theme_accent_1 $theme_accent_1;	
	}
}
.border-cap-bottom-hover-accent-1-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_1_light $theme_accent_1_light $theme_accent_1_light;	
	}
}
.border-cap-bottom-hover-accent-1-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_1_dark $theme_accent_1_dark $theme_accent_1_dark;	
	}
}
.border-cap-right-hover-accent-1 {
	&:hover { 
		border-color: $theme_accent_1 $theme_accent_1 $theme_accent_1 rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-accent-1-light {
	&:hover { 
		border-color: $theme_accent_1_light $theme_accent_1_light $theme_accent_1_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-accent-1-dark {
	&:hover { 
		border-color: $theme_accent_1_dark $theme_accent_1_dark $theme_accent_1_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-hover-accent-1 {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_1 rgba(255, 255, 255, 0) $theme_accent_1;	
	}
}
.border-cap-vertical-hover-accent-1-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_1_light rgba(255, 255, 255, 0) $theme_accent_1_light;	
	}
}
.border-cap-vertical-hover-accent-1-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_1_dark rgba(255, 255, 255, 0) $theme_accent_1_dark;	
	}
}
.border-cap-horizontal-hover-accent-1 {
	&:hover { 
		border-color: $theme_accent_1 rgba(255, 255, 255, 0) $theme_accent_1 rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-accent-1-light {
	&:hover { 
		border-color: $theme_accent_1_light rgba(255, 255, 255, 0) $theme_accent_1_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-accent-1-dark {
	&:hover { 
		border-color: $theme_accent_1_dark rgba(255, 255, 255, 0) $theme_accent_1_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-hover-accent-2 {
	&:hover {
		border-color: $theme_accent_2 $theme_accent_2 rgba(255, 255, 255, 0) $theme_accent_2;		
	}
}
.border-cap-top-hover-accent-2-light {
	&:hover { 
		border-color: $theme_accent_2_light $theme_accent_2_light rgba(255, 255, 255, 0) $theme_accent_2_light;		
	}
}
.border-cap-top-hover-accent-2-dark {
	&:hover { 
		border-color: $theme_accent_2_dark $theme_accent_2_dark rgba(255, 255, 255, 0) $theme_accent_2_dark;	
	}
}
.border-cap-left-hover-accent-2 {
	&:hover { 
		border-color: $theme_accent_2 rgba(255, 255, 255, 0) $theme_accent_2 $theme_accent_2;		
	}
}
.border-cap-left-hover-accent-2-light {
	&:hover { 
		border-color: $theme_accent_2_light rgba(255, 255, 255, 0) $theme_accent_2_light $theme_accent_2_light;		
	}
}
.border-cap-left-hover-accent-2-dark {
	&:hover { 
		border-color: $theme_accent_2_dark rgba(255, 255, 255, 0) $theme_accent_2_dark $theme_accent_2_dark;	
	}
}
.border-cap-bottom-hover-accent-2 {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_2 $theme_accent_2 $theme_accent_2;	
	}
}
.border-cap-bottom-hover-accent-2-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_2_light $theme_accent_2_light $theme_accent_2_light;	
	}
}
.border-cap-bottom-hover-accent-2-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_2_dark $theme_accent_2_dark $theme_accent_2_dark;	
	}
}
.border-cap-right-hover-accent-2 {
	&:hover { 
		border-color: $theme_accent_2 $theme_accent_2 $theme_accent_2 rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-accent-2-light {
	&:hover { 
		border-color: $theme_accent_2_light $theme_accent_2_light $theme_accent_2_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-accent-2-dark {
	&:hover { 
		border-color: $theme_accent_2_dark $theme_accent_2_dark $theme_accent_2_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-hover-accent-2 {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_2 rgba(255, 255, 255, 0) $theme_accent_2;	
	}
}
.border-cap-vertical-hover-accent-2-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_2_light rgba(255, 255, 255, 0) $theme_accent_2_light;	
	}
}
.border-cap-vertical-hover-accent-2-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_2_dark rgba(255, 255, 255, 0) $theme_accent_2_dark;	
	}
}
.border-cap-horizontal-hover-accent-2 {
	&:hover { 
		border-color: $theme_accent_2 rgba(255, 255, 255, 0) $theme_accent_2 rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-accent-2-light {
	&:hover { 
		border-color: $theme_accent_2_light rgba(255, 255, 255, 0) $theme_accent_2_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-accent-2-dark {
	&:hover { 
		border-color: $theme_accent_2_dark rgba(255, 255, 255, 0) $theme_accent_2_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-hover-accent-3 {
	&:hover {
		border-color: $theme_accent_3 $theme_accent_3 rgba(255, 255, 255, 0) $theme_accent_3;		
	}
}
.border-cap-top-hover-accent-3-light {
	&:hover { 
		border-color: $theme_accent_3_light $theme_accent_3_light rgba(255, 255, 255, 0) $theme_accent_3_light;		
	}
}
.border-cap-top-hover-accent-3-dark {
	&:hover { 
		border-color: $theme_accent_3_dark $theme_accent_3_dark rgba(255, 255, 255, 0) $theme_accent_3_dark;	
	}
}
.border-cap-left-hover-accent-3 {
	&:hover { 
		border-color: $theme_accent_3 rgba(255, 255, 255, 0) $theme_accent_3 $theme_accent_3;		
	}
}
.border-cap-left-hover-accent-3-light {
	&:hover { 
		border-color: $theme_accent_3_light rgba(255, 255, 255, 0) $theme_accent_3_light $theme_accent_3_light;		
	}
}
.border-cap-left-hover-accent-3-dark {
	&:hover { 
		border-color: $theme_accent_3_dark rgba(255, 255, 255, 0) $theme_accent_3_dark $theme_accent_3_dark;	
	}
}
.border-cap-bottom-hover-accent-3 {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_3 $theme_accent_3 $theme_accent_3;	
	}
}
.border-cap-bottom-hover-accent-3-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_3_light $theme_accent_3_light $theme_accent_3_light;	
	}
}
.border-cap-bottom-hover-accent-3-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_3_dark $theme_accent_3_dark $theme_accent_3_dark;	
	}
}
.border-cap-right-hover-accent-3 {
	&:hover { 
		border-color: $theme_accent_3 $theme_accent_3 $theme_accent_3 rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-accent-3-light {
	&:hover { 
		border-color: $theme_accent_3_light $theme_accent_3_light $theme_accent_3_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-accent-3-dark {
	&:hover { 
		border-color: $theme_accent_3_dark $theme_accent_3_dark $theme_accent_3_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-hover-accent-3 {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_3 rgba(255, 255, 255, 0) $theme_accent_3;	
	}
}
.border-cap-vertical-hover-accent-3-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_3_light rgba(255, 255, 255, 0) $theme_accent_3_light;	
	}
}
.border-cap-vertical-hover-accent-3-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_3_dark rgba(255, 255, 255, 0) $theme_accent_3_dark;	
	}
}
.border-cap-horizontal-hover-accent-3 {
	&:hover { 
		border-color: $theme_accent_3 rgba(255, 255, 255, 0) $theme_accent_3 rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-accent-3-light {
	&:hover { 
		border-color: $theme_accent_3_light rgba(255, 255, 255, 0) $theme_accent_3_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-accent-3-dark {
	&:hover { 
		border-color: $theme_accent_3_dark rgba(255, 255, 255, 0) $theme_accent_3_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-hover-accent-4 {
	&:hover {
		border-color: $theme_accent_4 $theme_accent_4 rgba(255, 255, 255, 0) $theme_accent_4;		
	}
}
.border-cap-top-hover-accent-4-light {
	&:hover { 
		border-color: $theme_accent_4_light $theme_accent_4_light rgba(255, 255, 255, 0) $theme_accent_4_light;		
	}
}
.border-cap-top-hover-accent-4-dark {
	&:hover { 
		border-color: $theme_accent_4_dark $theme_accent_4_dark rgba(255, 255, 255, 0) $theme_accent_4_dark;	
	}
}
.border-cap-left-hover-accent-4 {
	&:hover { 
		border-color: $theme_accent_4 rgba(255, 255, 255, 0) $theme_accent_4 $theme_accent_4;		
	}
}
.border-cap-left-hover-accent-4-light {
	&:hover { 
		border-color: $theme_accent_4_light rgba(255, 255, 255, 0) $theme_accent_4_light $theme_accent_4_light;		
	}
}
.border-cap-left-hover-accent-4-dark {
	&:hover { 
		border-color: $theme_accent_4_dark rgba(255, 255, 255, 0) $theme_accent_4_dark $theme_accent_4_dark;	
	}
}
.border-cap-bottom-hover-accent-4 {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_4 $theme_accent_4 $theme_accent_4;	
	}
}
.border-cap-bottom-hover-accent-4-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_4_light $theme_accent_4_light $theme_accent_4_light;	
	}
}
.border-cap-bottom-hover-accent-4-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_4_dark $theme_accent_4_dark $theme_accent_4_dark;	
	}
}
.border-cap-right-hover-accent-4 {
	&:hover { 
		border-color: $theme_accent_4 $theme_accent_4 $theme_accent_4 rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-accent-4-light {
	&:hover { 
		border-color: $theme_accent_4_light $theme_accent_4_light $theme_accent_4_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-accent-4-dark {
	&:hover { 
		border-color: $theme_accent_4_dark $theme_accent_4_dark $theme_accent_4_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-hover-accent-4 {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_4 rgba(255, 255, 255, 0) $theme_accent_4;	
	}
}
.border-cap-vertical-hover-accent-4-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_4_light rgba(255, 255, 255, 0) $theme_accent_4_light;	
	}
}
.border-cap-vertical-hover-accent-4-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_4_dark rgba(255, 255, 255, 0) $theme_accent_4_dark;	
	}
}
.border-cap-horizontal-hover-accent-4 {
	&:hover { 
		border-color: $theme_accent_4 rgba(255, 255, 255, 0) $theme_accent_4 rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-accent-4-light {
	&:hover { 
		border-color: $theme_accent_4_light rgba(255, 255, 255, 0) $theme_accent_4_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-accent-4-dark {
	&:hover { 
		border-color: $theme_accent_4_dark rgba(255, 255, 255, 0) $theme_accent_4_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-hover-accent-5 {
	&:hover {
		border-color: $theme_accent_5 $theme_accent_5 rgba(255, 255, 255, 0) $theme_accent_5;		
	}
}
.border-cap-top-hover-accent-5-light {
	&:hover { 
		border-color: $theme_accent_5_light $theme_accent_5_light rgba(255, 255, 255, 0) $theme_accent_5_light;		
	}
}
.border-cap-top-hover-accent-5-dark {
	&:hover { 
		border-color: $theme_accent_5_dark $theme_accent_5_dark rgba(255, 255, 255, 0) $theme_accent_5_dark;	
	}
}
.border-cap-left-hover-accent-5 {
	&:hover { 
		border-color: $theme_accent_5 rgba(255, 255, 255, 0) $theme_accent_5 $theme_accent_5;		
	}
}
.border-cap-left-hover-accent-5-light {
	&:hover { 
		border-color: $theme_accent_5_light rgba(255, 255, 255, 0) $theme_accent_5_light $theme_accent_5_light;		
	}
}
.border-cap-left-hover-accent-5-dark {
	&:hover { 
		border-color: $theme_accent_5_dark rgba(255, 255, 255, 0) $theme_accent_5_dark $theme_accent_5_dark;	
	}
}
.border-cap-bottom-hover-accent-5 {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_5 $theme_accent_5 $theme_accent_5;	
	}
}
.border-cap-bottom-hover-accent-5-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_5_light $theme_accent_5_light $theme_accent_5_light;	
	}
}
.border-cap-bottom-hover-accent-5-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_5_dark $theme_accent_5_dark $theme_accent_5_dark;	
	}
}
.border-cap-right-hover-accent-5 {
	&:hover { 
		border-color: $theme_accent_5 $theme_accent_5 $theme_accent_5 rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-accent-5-light {
	&:hover { 
		border-color: $theme_accent_5_light $theme_accent_5_light $theme_accent_5_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-accent-5-dark {
	&:hover { 
		border-color: $theme_accent_5_dark $theme_accent_5_dark $theme_accent_5_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-hover-accent-5 {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_5 rgba(255, 255, 255, 0) $theme_accent_5;	
	}
}
.border-cap-vertical-hover-accent-5-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_5_light rgba(255, 255, 255, 0) $theme_accent_5_light;	
	}
}
.border-cap-vertical-hover-accent-5-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_accent_5_dark rgba(255, 255, 255, 0) $theme_accent_5_dark;	
	}
}
.border-cap-horizontal-hover-accent-5 {
	&:hover { 
		border-color: $theme_accent_5 rgba(255, 255, 255, 0) $theme_accent_5 rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-accent-5-light {
	&:hover { 
		border-color: $theme_accent_5_light rgba(255, 255, 255, 0) $theme_accent_5_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-accent-5-dark {
	&:hover { 
		border-color: $theme_accent_5_dark rgba(255, 255, 255, 0) $theme_accent_5_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-hover-success {
	&:hover {
		border-color: $theme_success $theme_success rgba(255, 255, 255, 0) $theme_success;		
	}
}
.border-cap-top-hover-success-light {
	&:hover { 
		border-color: $theme_success_light $theme_success_light rgba(255, 255, 255, 0) $theme_success_light;		
	}
}
.border-cap-top-hover-success-dark {
	&:hover { 
		border-color: $theme_success_dark $theme_success_dark rgba(255, 255, 255, 0) $theme_success_dark;	
	}
}
.border-cap-left-hover-success {
	&:hover { 
		border-color: $theme_success rgba(255, 255, 255, 0) $theme_success $theme_success;		
	}
}
.border-cap-left-hover-success-light {
	&:hover { 
		border-color: $theme_success_light rgba(255, 255, 255, 0) $theme_success_light $theme_success_light;		
	}
}
.border-cap-left-hover-success-dark {
	&:hover { 
		border-color: $theme_success_dark rgba(255, 255, 255, 0) $theme_success_dark $theme_success_dark;	
	}
}
.border-cap-bottom-hover-success {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_success $theme_success $theme_success;	
	}
}
.border-cap-bottom-hover-success-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_success_light $theme_success_light $theme_success_light;	
	}
}
.border-cap-bottom-hover-success-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_success_dark $theme_success_dark $theme_success_dark;	
	}
}
.border-cap-right-hover-success {
	&:hover { 
		border-color: $theme_success $theme_success $theme_success rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-success-light {
	&:hover { 
		border-color: $theme_success_light $theme_success_light $theme_success_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-success-dark {
	&:hover { 
		border-color: $theme_success_dark $theme_success_dark $theme_success_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-hover-success {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_success rgba(255, 255, 255, 0) $theme_success;	
	}
}
.border-cap-vertical-hover-success-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_success_light rgba(255, 255, 255, 0) $theme_success_light;	
	}
}
.border-cap-vertical-hover-success-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_success_dark rgba(255, 255, 255, 0) $theme_success_dark;	
	}
}
.border-cap-horizontal-hover-success {
	&:hover { 
		border-color: $theme_success rgba(255, 255, 255, 0) $theme_success rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-success-light {
	&:hover { 
		border-color: $theme_success_light rgba(255, 255, 255, 0) $theme_success_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-success-dark {
	&:hover { 
		border-color: $theme_success_dark rgba(255, 255, 255, 0) $theme_success_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-hover-info {
	&:hover {
		border-color: $theme_info $theme_info rgba(255, 255, 255, 0) $theme_info;		
	}
}
.border-cap-top-hover-info-light {
	&:hover { 
		border-color: $theme_info_light $theme_info_light rgba(255, 255, 255, 0) $theme_info_light;		
	}
}
.border-cap-top-hover-info-dark {
	&:hover { 
		border-color: $theme_info_dark $theme_info_dark rgba(255, 255, 255, 0) $theme_info_dark;	
	}
}
.border-cap-left-hover-info {
	&:hover { 
		border-color: $theme_info rgba(255, 255, 255, 0) $theme_info $theme_info;		
	}
}
.border-cap-left-hover-info-light {
	&:hover { 
		border-color: $theme_info_light rgba(255, 255, 255, 0) $theme_info_light $theme_info_light;		
	}
}
.border-cap-left-hover-info-dark {
	&:hover { 
		border-color: $theme_info_dark rgba(255, 255, 255, 0) $theme_info_dark $theme_info_dark;	
	}
}
.border-cap-bottom-hover-info {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_info $theme_info $theme_info;	
	}
}
.border-cap-bottom-hover-info-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_info_light $theme_info_light $theme_info_light;	
	}
}
.border-cap-bottom-hover-info-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_info_dark $theme_info_dark $theme_info_dark;	
	}
}
.border-cap-right-hover-info {
	&:hover { 
		border-color: $theme_info $theme_info $theme_info rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-info-light {
	&:hover { 
		border-color: $theme_info_light $theme_info_light $theme_info_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-info-dark {
	&:hover { 
		border-color: $theme_info_dark $theme_info_dark $theme_info_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-hover-info {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_info rgba(255, 255, 255, 0) $theme_info;	
	}
}
.border-cap-vertical-hover-info-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_info_light rgba(255, 255, 255, 0) $theme_info_light;	
	}
}
.border-cap-vertical-hover-info-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_info_dark rgba(255, 255, 255, 0) $theme_info_dark;	
	}
}
.border-cap-horizontal-hover-info {
	&:hover { 
		border-color: $theme_info rgba(255, 255, 255, 0) $theme_info rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-info-light {
	&:hover { 
		border-color: $theme_info_light rgba(255, 255, 255, 0) $theme_info_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-info-dark {
	&:hover { 
		border-color: $theme_info_dark rgba(255, 255, 255, 0) $theme_info_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-hover-warning {
	&:hover {
		border-color: $theme_warning $theme_warning rgba(255, 255, 255, 0) $theme_warning;		
	}
}
.border-cap-top-hover-warning-light {
	&:hover { 
		border-color: $theme_warning_light $theme_warning_light rgba(255, 255, 255, 0) $theme_warning_light;		
	}
}
.border-cap-top-hover-warning-dark {
	&:hover { 
		border-color: $theme_warning_dark $theme_warning_dark rgba(255, 255, 255, 0) $theme_warning_dark;	
	}
}
.border-cap-left-hover-warning {
	&:hover { 
		border-color: $theme_warning rgba(255, 255, 255, 0) $theme_warning $theme_warning;		
	}
}
.border-cap-left-hover-warning-light {
	&:hover { 
		border-color: $theme_warning_light rgba(255, 255, 255, 0) $theme_warning_light $theme_warning_light;		
	}
}
.border-cap-left-hover-warning-dark {
	&:hover { 
		border-color: $theme_warning_dark rgba(255, 255, 255, 0) $theme_warning_dark $theme_warning_dark;	
	}
}
.border-cap-bottom-hover-warning {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_warning $theme_warning $theme_warning;	
	}
}
.border-cap-bottom-hover-warning-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_warning_light $theme_warning_light $theme_warning_light;	
	}
}
.border-cap-bottom-hover-warning-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_warning_dark $theme_warning_dark $theme_warning_dark;	
	}
}
.border-cap-right-hover-warning {
	&:hover { 
		border-color: $theme_warning $theme_warning $theme_warning rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-warning-light {
	&:hover { 
		border-color: $theme_warning_light $theme_warning_light $theme_warning_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-warning-dark {
	&:hover { 
		border-color: $theme_warning_dark $theme_warning_dark $theme_warning_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-hover-warning {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_warning rgba(255, 255, 255, 0) $theme_warning;	
	}
}
.border-cap-vertical-hover-warning-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_warning_light rgba(255, 255, 255, 0) $theme_warning_light;	
	}
}
.border-cap-vertical-hover-warning-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_warning_dark rgba(255, 255, 255, 0) $theme_warning_dark;	
	}
}
.border-cap-horizontal-hover-warning {
	&:hover { 
		border-color: $theme_warning rgba(255, 255, 255, 0) $theme_warning rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-warning-light {
	&:hover { 
		border-color: $theme_warning_light rgba(255, 255, 255, 0) $theme_warning_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-warning-dark {
	&:hover { 
		border-color: $theme_warning_dark rgba(255, 255, 255, 0) $theme_warning_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-top-hover-danger {
	&:hover {
		border-color: $theme_danger $theme_danger rgba(255, 255, 255, 0) $theme_danger;		
	}
}
.border-cap-top-hover-danger-light {
	&:hover { 
		border-color: $theme_danger_light $theme_danger_light rgba(255, 255, 255, 0) $theme_danger_light;		
	}
}
.border-cap-top-hover-danger-dark {
	&:hover { 
		border-color: $theme_danger_dark $theme_danger_dark rgba(255, 255, 255, 0) $theme_danger_dark;	
	}
}
.border-cap-left-hover-danger {
	&:hover { 
		border-color: $theme_danger rgba(255, 255, 255, 0) $theme_danger $theme_danger;		
	}
}
.border-cap-left-hover-danger-light {
	&:hover { 
		border-color: $theme_danger_light rgba(255, 255, 255, 0) $theme_danger_light $theme_danger_light;		
	}
}
.border-cap-left-hover-danger-dark {
	&:hover { 
		border-color: $theme_danger_dark rgba(255, 255, 255, 0) $theme_danger_dark $theme_danger_dark;	
	}
}
.border-cap-bottom-hover-danger {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_danger $theme_danger $theme_danger;	
	}
}
.border-cap-bottom-hover-danger-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_danger_light $theme_danger_light $theme_danger_light;	
	}
}
.border-cap-bottom-hover-danger-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_danger_dark $theme_danger_dark $theme_danger_dark;	
	}
}
.border-cap-right-hover-danger {
	&:hover { 
		border-color: $theme_danger $theme_danger $theme_danger rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-danger-light {
	&:hover { 
		border-color: $theme_danger_light $theme_danger_light $theme_danger_light rgba(255, 255, 255, 0);		
	}
}
.border-cap-right-hover-danger-dark {
	&:hover { 
		border-color: $theme_danger_dark $theme_danger_dark $theme_danger_dark rgba(255, 255, 255, 0);	
	}
}
.border-cap-vertical-hover-danger {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_danger rgba(255, 255, 255, 0) $theme_danger;	
	}
}
.border-cap-vertical-hover-danger-light {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_danger_light rgba(255, 255, 255, 0) $theme_danger_light;	
	}
}
.border-cap-vertical-hover-danger-dark {
	&:hover { 
		border-color: rgba(255, 255, 255, 0) $theme_danger_dark rgba(255, 255, 255, 0) $theme_danger_dark;	
	}
}
.border-cap-horizontal-hover-danger {
	&:hover { 
		border-color: $theme_danger rgba(255, 255, 255, 0) $theme_danger rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-danger-light {
	&:hover { 
		border-color: $theme_danger_light rgba(255, 255, 255, 0) $theme_danger_light rgba(255, 255, 255, 0);	
	}
}
.border-cap-horizontal-hover-danger-dark {
	&:hover { 
		border-color: $theme_danger_dark rgba(255, 255, 255, 0) $theme_danger_dark rgba(255, 255, 255, 0);	
	}
}
*[class*="border-cap-top"] {
	border-bottom: none;
}
*[class*="border-cap-left"] {
	border-right: none;
}
*[class*="border-cap-bottom"] {
	border-top: none;
}
*[class*="border-cap-right"] {
	border-left: none;
}
*[class*="border-cap-vertical"] {
	border-top: none;
	border-bottom: none;
}
*[class*="border-cap-horizontal"] {
	border-left: none;
	border-right: none;
}
.height-control-xs {
	&.border-cap, .border-translucent, .border-transparent {
		height: 1.656rem;
	}
	&.border-xs {
		height: 1.626rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 1.563rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 1.626rem;
		}			
	}
	&.border-sm {
		height: 1.656rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 1.578rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 1.656rem;
		}
	}
	&.border-md {
		height: 1.75rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 1.625rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 1.75rem;
		}
	}
	&.border-lg {
		height: 1.876rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 1.688rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 1.876rem;
		}
	}
	&.border-xl {
		height: 2rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 1.75rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2rem;
		}
	}
	&[class*="border-cap-vertical"] {
		height: 1.5rem;
	}
}
.height-control-sm {
	&.border-cap, .border-translucent, .border-transparent {
		height: 1.906rem;
	}
	&.border-xs {
		height: 1.876rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 1.813rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 1.876rem;
		}			
	}
	&.border-sm {
		height: 1.906rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 1.828rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 1.906rem;
		}
	}
	&.border-md {
		height: 2rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 1.875rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2rem;
		}
	}
	&.border-lg {
		height: 2.126rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 1.938rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.126rem;
		}
	}
	&.border-xl {
		height: 2.25rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.25rem;
		}
	}
	&[class*="border-cap-vertical"] {
		height: 1.75rem;
	}
}
.height-control-md {
	&.border-cap, .border-translucent, .border-transparent {
		height: 2.281rem;
	}
	&.border-xs {
		height: 2.251rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.188rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.251rem;
		}
	}
	&.border-sm {
		height: 2.281rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.203rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.281rem;
		}
	}
	&.border-md {
		height: 2.375rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.25rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.375rem;
		}
	}
	&.border-lg {
		height: 2.501rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.313rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.501rem;
		}
	}
	&.border-xl {
		height: 2.625rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.375rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.625rem;
		}
	}
	&[class*="border-cap-vertical"] {
		height: 2.125rem;
	}
}
.height-control-lg {
	&.border-cap, .border-translucent, .border-transparent {
		height: 2.531rem;
	}
	&.border-xs {
		height: 2.501rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.438rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.501rem;
		}
	}
	&.border-sm {
		height: 2.531rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.453rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.531rem;
		}
	}
	&.border-md {
		height: 2.625rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.5rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.625rem;
		}
	}
	&.border-lg {
		height: 2.751rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.563rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.751rem;
		}
	}
	&.border-xl {
		height: 2.875rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.625rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.875rem;
		}
	}
	&[class*="border-cap-vertical"] {
		height: 2.375rem;
	}
}
.height-control-xl {
	&.border-cap, .border-translucent, .border-transparent {
		height: 2.906rem;
	}
	&.border-xs {
		height: 2.876rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.813rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.876rem;
		}
	}
	&.border-sm {
		height: 2.906rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.828rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 2.906rem;
		}
	}
	&.border-md {
		height: 3rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.875rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 3rem;
		}
	}
	&.border-lg {
		height: 3.126rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 2.938rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 3.126rem;
		}
	}
	&.border-xl {
		height: 3.25rem;
		&[class*="border-cap-top"], &[class*="border-cap-bottom"] {
			height: 3rem;
		}
		&[class*="border-cap-left"], &[class*="border-cap-right"], &[class*="border-cap-horizontal"] {
			height: 3.25rem;
		}
	}
	&[class*="border-cap-vertical"] {
		height: 2.75rem;
	}
}










