
.carousel {
	position: relative;
	overflow: hidden;
	display: block;
	height: 0;
}
.carousel-item-holder {
	position: absolute;
	display: block;
	border: none;
	padding: 0;
	margin: 0;
}
.carousel-item,
.carousel-item > * {
	display: block;
	border: none;
	padding: 0;
	margin: 0;
}