
.columns-auto {
  column-count: auto;
}
.columns-1 {
  column-count: 1;
}
.columns-2 {
  column-count: 2; 
}
.columns-3 {
  column-count: 3; 
}
.columns-4 {
  column-count: 4; 
}
.columns-5 {
  column-count: 5; 
}
.columns-6 {
  column-count: 6; 
}
.columns-7 {
  column-count: 7; 
}
.columns-8 {
  column-count: 8; 
}
.columns-9 {
  column-count: 9; 
}
.columns-10 {
  column-count: 10; 
}
.columns-11 {
  column-count: 11; 
}
.columns-12 {
  column-count: 12; 
}
.columns-13 {
  column-count: 13; 
}
.columns-14 {
  column-count: 14; 
}
.columns-15 {
  column-count: 15; 
}
.columns-16 {
  column-count: 16; 
}
.columns-17 {
  column-count: 17; 
}
.columns-18 {
  column-count: 18; 
}
.columns-19 {
  column-count: 19; 
}
.columns-20 {
  column-count: 20; 
}
.columns-21 {
  column-count: 21; 
}
.columns-22 {
  column-count: 22; 
}
.columns-23 {
  column-count: 23; 
}
.columns-24 {
  column-count: 24; 
}
*[class*="columns-"] {
  column-width: 20rem;
	column-gap: 1.25rem;
}
