
.column-width-xs {
	column-width: 10rem;
}
.column-width-sm {
	column-width: 15rem;
}
.column-width-md {
	column-width: 20rem;
}
.column-width-lg {
	column-width: 25rem;
}
.column-width-xl {
	column-width: 30rem;
}
.column-rule-default {
	column-rule: 0.078rem solid $theme_default;
}
.column-rule-light {
	column-rule: 0.078rem solid $theme_light;
}
.column-rule-dark {
	column-rule: 0.078rem solid $theme_dark;
}
.column-rule-accent-1 {
	column-rule: 0.078rem solid $theme_accent_1;
}
.column-rule-accent-2 {
	column-rule: 0.078rem solid $theme_accent_2;
}
.column-rule-accent-3 {
	column-rule: 0.078rem solid $theme_accent_3;
}
.column-rule-accent-4 {
	column-rule: 0.078rem solid $theme_accent_4;
}
.column-rule-accent-5 {
	column-rule: 0.078rem solid $theme_accent_5;
}
.column-rule-success {
	column-rule: 0.078rem solid $theme_success;
}
.column-rule-info {
	column-rule: 0.078rem solid $theme_info;
}
.column-rule-warning {
	column-rule: 0.078rem solid $theme_warning;
}
.column-rule-danger {
	column-rule: 0.078rem solid $theme_danger;
}
.column-span-none {
	column-span: none;
}
.column-span-all {
	column-span: all;
}
.column-fill-auto {
	column-fill: auto;
}
.column-fill-balance {
	column-fill: balance;
}

