
.flow-col-1 {
  columns: 1; 
}
.flow-col-2 {
  columns: 2; 
}
.flow-col-3 {
  columns: 3; 
}
.flow-col-4 {
  columns: 4; 
}
.flow-col-5 {
  columns: 5; 
}
.flow-col-6 {
  columns: 6; 
}
.flow-col-7 {
  columns: 7; 
}
.flow-col-8 {
  columns: 8; 
}
.flow-col-9 {
  columns: 9; 
}
.flow-col-10 {
  columns: 10; 
}
.flow-col-11 {
  columns: 11; 
}
.flow-col-12 {
  columns: 12; 
}
.flow-col-13 {
  columns: 13; 
}
.flow-col-14 {
  columns: 14; 
}
.flow-col-15 {
  columns: 15; 
}
.flow-col-16 {
  columns: 16; 
}
.flow-col-17 {
  columns: 17; 
}
.flow-col-18 {
  columns: 18; 
}
.flow-col-19 {
  columns: 19; 
}
.flow-col-20 {
  columns: 20; 
}
*[class*="flow-col-"] {
	padding: 0.313rem;
	box-sizing: border-box;
  perspective: 1;
}