
.flow-col-1 {
  columns: 1; 
}
.flow-col-2 {
  columns: 2; 
}
.flow-col-3 {
  columns: 3; 
}
.flow-col-4 {
  columns: 4; 
}
.flow-col-5 {
  columns: 5; 
}
.flow-col-6 {
  columns: 6; 
}
.flow-col-7 {
  columns: 7; 
}
.flow-col-8 {
  columns: 8; 
}
.flow-col-9 {
  columns: 9; 
}
.flow-col-10 {
  columns: 10; 
}
.flow-col-11 {
  columns: 11; 
}
.flow-col-12 {
  columns: 12; 
}
.flow-col-13 {
  columns: 13; 
}
.flow-col-14 {
  columns: 14; 
}
.flow-col-15 {
  columns: 15; 
}
.flow-col-16 {
  columns: 16; 
}
.flow-col-17 {
  columns: 17; 
}
.flow-col-18 {
  columns: 18; 
}
.flow-col-19 {
  columns: 19; 
}
.flow-col-20 {
  columns: 20; 
}
*[class*="flow-col-"] {
	padding: 0.313rem;
  perspective: 1;
}
@media all and (min-width: $settings_bp_1_over) {
  .flow-col-1-bp-1-over {
    columns: 1; 
  }
  .flow-col-2-bp-1-over {
    columns: 2; 
  }
  .flow-col-3-bp-1-over {
    columns: 3; 
  }
  .flow-col-4-bp-1-over {
    columns: 4; 
  }
  .flow-col-5-bp-1-over {
    columns: 5; 
  }
  .flow-col-6-bp-1-over {
    columns: 6; 
  }
  .flow-col-7-bp-1-over {
    columns: 7; 
  }
  .flow-col-8-bp-1-over {
    columns: 8; 
  }
  .flow-col-9-bp-1-over {
    columns: 9; 
  }
  .flow-col-10-bp-1-over {
    columns: 10; 
  }
  .flow-col-11-bp-1-over {
    columns: 11; 
  }
  .flow-col-12-bp-1-over {
    columns: 12; 
  }
  .flow-col-13-bp-1-over {
    columns: 13; 
  }
  .flow-col-14-bp-1-over {
    columns: 14; 
  }
  .flow-col-15-bp-1-over {
    columns: 15; 
  }
  .flow-col-16-bp-1-over {
    columns: 16; 
  }
  .flow-col-17-bp-1-over {
    columns: 17; 
  }
  .flow-col-18-bp-1-over {
    columns: 18; 
  }
  .flow-col-19-bp-1-over {
    columns: 19; 
  }
  .flow-col-20-bp-1-over {
    columns: 20; 
  }
}
@media all and (min-width: $settings_bp_2_over) {
  .flow-col-1-bp-2-over {
    columns: 1; 
  }
  .flow-col-2-bp-2-over {
    columns: 2; 
  }
  .flow-col-3-bp-2-over {
    columns: 3; 
  }
  .flow-col-4-bp-2-over {
    columns: 4; 
  }
  .flow-col-5-bp-2-over {
    columns: 5; 
  }
  .flow-col-6-bp-2-over {
    columns: 6; 
  }
  .flow-col-7-bp-2-over {
    columns: 7; 
  }
  .flow-col-8-bp-2-over {
    columns: 8; 
  }
  .flow-col-9-bp-2-over {
    columns: 9; 
  }
  .flow-col-10-bp-2-over {
    columns: 10; 
  }
  .flow-col-11-bp-2-over {
    columns: 11; 
  }
  .flow-col-12-bp-2-over {
    columns: 12; 
  }
  .flow-col-13-bp-2-over {
    columns: 13; 
  }
  .flow-col-14-bp-2-over {
    columns: 14; 
  }
  .flow-col-15-bp-2-over {
    columns: 15; 
  }
  .flow-col-16-bp-2-over {
    columns: 16; 
  }
  .flow-col-17-bp-2-over {
    columns: 17; 
  }
  .flow-col-18-bp-2-over {
    columns: 18; 
  }
  .flow-col-19-bp-2-over {
    columns: 19; 
  }
  .flow-col-20-bp-2-over {
    columns: 20; 
  }
}
@media all and (min-width: $settings_bp_3_over) {
  .flow-col-1-bp-3-over {
    columns: 1; 
  }
  .flow-col-2-bp-3-over {
    columns: 2; 
  }
  .flow-col-3-bp-3-over {
    columns: 3; 
  }
  .flow-col-4-bp-3-over {
    columns: 4; 
  }
  .flow-col-5-bp-3-over {
    columns: 5; 
  }
  .flow-col-6-bp-3-over {
    columns: 6; 
  }
  .flow-col-7-bp-3-over {
    columns: 7; 
  }
  .flow-col-8-bp-3-over {
    columns: 8; 
  }
  .flow-col-9-bp-3-over {
    columns: 9; 
  }
  .flow-col-10-bp-3-over {
    columns: 10; 
  }
  .flow-col-11-bp-3-over {
    columns: 11; 
  }
  .flow-col-12-bp-3-over {
    columns: 12; 
  }
  .flow-col-13-bp-3-over {
    columns: 13; 
  }
  .flow-col-14-bp-3-over {
    columns: 14; 
  }
  .flow-col-15-bp-3-over {
    columns: 15; 
  }
  .flow-col-16-bp-3-over {
    columns: 16; 
  }
  .flow-col-17-bp-3-over {
    columns: 17; 
  }
  .flow-col-18-bp-3-over {
    columns: 18; 
  }
  .flow-col-19-bp-3-over {
    columns: 19; 
  }
  .flow-col-20-bp-3-over {
    columns: 20; 
  }
}
@media all and (min-width: $settings_bp_4_over) {
  .flow-col-1-bp-4-over {
    columns: 1; 
  }
  .flow-col-2-bp-4-over {
    columns: 2; 
  }
  .flow-col-3-bp-4-over {
    columns: 3; 
  }
  .flow-col-4-bp-4-over {
    columns: 4; 
  }
  .flow-col-5-bp-4-over {
    columns: 5; 
  }
  .flow-col-6-bp-4-over {
    columns: 6; 
  }
  .flow-col-7-bp-4-over {
    columns: 7; 
  }
  .flow-col-8-bp-4-over {
    columns: 8; 
  }
  .flow-col-9-bp-4-over {
    columns: 9; 
  }
  .flow-col-10-bp-4-over {
    columns: 10; 
  }
  .flow-col-11-bp-4-over {
    columns: 11; 
  }
  .flow-col-12-bp-4-over {
    columns: 12; 
  }
  .flow-col-13-bp-4-over {
    columns: 13; 
  }
  .flow-col-14-bp-4-over {
    columns: 14; 
  }
  .flow-col-15-bp-4-over {
    columns: 15; 
  }
  .flow-col-16-bp-4-over {
    columns: 16; 
  }
  .flow-col-17-bp-4-over {
    columns: 17; 
  }
  .flow-col-18-bp-4-over {
    columns: 18; 
  }
  .flow-col-19-bp-4-over {
    columns: 19; 
  }
  .flow-col-20-bp-4-over {
    columns: 20; 
  }
}
@media all and (min-width: $settings_bp_5_over) {
  .flow-col-1-bp-5-over {
    columns: 1; 
  }
  .flow-col-2-bp-5-over {
    columns: 2; 
  }
  .flow-col-3-bp-5-over {
    columns: 3; 
  }
  .flow-col-4-bp-5-over {
    columns: 4; 
  }
  .flow-col-5-bp-5-over {
    columns: 5; 
  }
  .flow-col-6-bp-5-over {
    columns: 6; 
  }
  .flow-col-7-bp-5-over {
    columns: 7; 
  }
  .flow-col-8-bp-5-over {
    columns: 8; 
  }
  .flow-col-9-bp-5-over {
    columns: 9; 
  }
  .flow-col-10-bp-5-over {
    columns: 10; 
  }
  .flow-col-11-bp-5-over {
    columns: 11; 
  }
  .flow-col-12-bp-5-over {
    columns: 12; 
  }
  .flow-col-13-bp-5-over {
    columns: 13; 
  }
  .flow-col-14-bp-5-over {
    columns: 14; 
  }
  .flow-col-15-bp-5-over {
    columns: 15; 
  }
  .flow-col-16-bp-5-over {
    columns: 16; 
  }
  .flow-col-17-bp-5-over {
    columns: 17; 
  }
  .flow-col-18-bp-5-over {
    columns: 18; 
  }
  .flow-col-19-bp-5-over {
    columns: 19; 
  }
  .flow-col-20-bp-5-over {
    columns: 20; 
  }
}
@media all and (max-width: $settings_bp_5_under) {
  .flow-col-1-bp-5-under {
    columns: 1; 
  }
  .flow-col-2-bp-5-under {
    columns: 2; 
  }
  .flow-col-3-bp-5-under {
    columns: 3; 
  }
  .flow-col-4-bp-5-under {
    columns: 4; 
  }
  .flow-col-5-bp-5-under {
    columns: 5; 
  }
  .flow-col-6-bp-5-under {
    columns: 6; 
  }
  .flow-col-7-bp-5-under {
    columns: 7; 
  }
  .flow-col-8-bp-5-under {
    columns: 8; 
  }
  .flow-col-9-bp-5-under {
    columns: 9; 
  }
  .flow-col-10-bp-5-under {
    columns: 10; 
  }
  .flow-col-11-bp-5-under {
    columns: 11; 
  }
  .flow-col-12-bp-5-under {
    columns: 12; 
  }
  .flow-col-13-bp-5-under {
    columns: 13; 
  }
  .flow-col-14-bp-5-under {
    columns: 14; 
  }
  .flow-col-15-bp-5-under {
    columns: 15; 
  }
  .flow-col-16-bp-5-under {
    columns: 16; 
  }
  .flow-col-17-bp-5-under {
    columns: 17; 
  }
  .flow-col-18-bp-5-under {
    columns: 18; 
  }
  .flow-col-19-bp-5-under {
    columns: 19; 
  }
  .flow-col-20-bp-5-under {
    columns: 20; 
  }
}
@media all and (max-width: $settings_bp_4_under) {
  .flow-col-1-bp-4-under {
    columns: 1; 
  }
  .flow-col-2-bp-4-under {
    columns: 2; 
  }
  .flow-col-3-bp-4-under {
    columns: 3; 
  }
  .flow-col-4-bp-4-under {
    columns: 4; 
  }
  .flow-col-5-bp-4-under {
    columns: 5; 
  }
  .flow-col-6-bp-4-under {
    columns: 6; 
  }
  .flow-col-7-bp-4-under {
    columns: 7; 
  }
  .flow-col-8-bp-4-under {
    columns: 8; 
  }
  .flow-col-9-bp-4-under {
    columns: 9; 
  }
  .flow-col-10-bp-4-under {
    columns: 10; 
  }
  .flow-col-11-bp-4-under {
    columns: 11; 
  }
  .flow-col-12-bp-4-under {
    columns: 12; 
  }
  .flow-col-13-bp-4-under {
    columns: 13; 
  }
  .flow-col-14-bp-4-under {
    columns: 14; 
  }
  .flow-col-15-bp-4-under {
    columns: 15; 
  }
  .flow-col-16-bp-4-under {
    columns: 16; 
  }
  .flow-col-17-bp-4-under {
    columns: 17; 
  }
  .flow-col-18-bp-4-under {
    columns: 18; 
  }
  .flow-col-19-bp-4-under {
    columns: 19; 
  }
  .flow-col-20-bp-4-under {
    columns: 20; 
  }
}
@media all and (max-width: $settings_bp_3_under) {
  .flow-col-1-bp-3-under {
    columns: 1; 
  }
  .flow-col-2-bp-3-under {
    columns: 2; 
  }
  .flow-col-3-bp-3-under {
    columns: 3; 
  }
  .flow-col-4-bp-3-under {
    columns: 4; 
  }
  .flow-col-5-bp-3-under {
    columns: 5; 
  }
  .flow-col-6-bp-3-under {
    columns: 6; 
  }
  .flow-col-7-bp-3-under {
    columns: 7; 
  }
  .flow-col-8-bp-3-under {
    columns: 8; 
  }
  .flow-col-9-bp-3-under {
    columns: 9; 
  }
  .flow-col-10-bp-3-under {
    columns: 10; 
  }
  .flow-col-11-bp-3-under {
    columns: 11; 
  }
  .flow-col-12-bp-3-under {
    columns: 12; 
  }
  .flow-col-13-bp-3-under {
    columns: 13; 
  }
  .flow-col-14-bp-3-under {
    columns: 14; 
  }
  .flow-col-15-bp-3-under {
    columns: 15; 
  }
  .flow-col-16-bp-3-under {
    columns: 16; 
  }
  .flow-col-17-bp-3-under {
    columns: 17; 
  }
  .flow-col-18-bp-3-under {
    columns: 18; 
  }
  .flow-col-19-bp-3-under {
    columns: 19; 
  }
  .flow-col-20-bp-3-under {
    columns: 20; 
  }
}
@media all and (max-width: $settings_bp_2_under) {
  .flow-col-1-bp-2-under {
    columns: 1; 
  }
  .flow-col-2-bp-2-under {
    columns: 2; 
  }
  .flow-col-3-bp-2-under {
    columns: 3; 
  }
  .flow-col-4-bp-2-under {
    columns: 4; 
  }
  .flow-col-5-bp-2-under {
    columns: 5; 
  }
  .flow-col-6-bp-2-under {
    columns: 6; 
  }
  .flow-col-7-bp-2-under {
    columns: 7; 
  }
  .flow-col-8-bp-2-under {
    columns: 8; 
  }
  .flow-col-9-bp-2-under {
    columns: 9; 
  }
  .flow-col-10-bp-2-under {
    columns: 10; 
  }
  .flow-col-11-bp-2-under {
    columns: 11; 
  }
  .flow-col-12-bp-2-under {
    columns: 12; 
  }
  .flow-col-13-bp-2-under {
    columns: 13; 
  }
  .flow-col-14-bp-2-under {
    columns: 14; 
  }
  .flow-col-15-bp-2-under {
    columns: 15; 
  }
  .flow-col-16-bp-2-under {
    columns: 16; 
  }
  .flow-col-17-bp-2-under {
    columns: 17; 
  }
  .flow-col-18-bp-2-under {
    columns: 18; 
  }
  .flow-col-19-bp-2-under {
    columns: 19; 
  }
  .flow-col-20-bp-2-under {
    columns: 20; 
  }
}
@media all and (max-width: $settings_bp_1_under) {
  .flow-col-1-bp-1-under {
    columns: 1; 
  }
  .flow-col-2-bp-1-under {
    columns: 2; 
  }
  .flow-col-3-bp-1-under {
    columns: 3; 
  }
  .flow-col-4-bp-1-under {
    columns: 4; 
  }
  .flow-col-5-bp-1-under {
    columns: 5; 
  }
  .flow-col-6-bp-1-under {
    columns: 6; 
  }
  .flow-col-7-bp-1-under {
    columns: 7; 
  }
  .flow-col-8-bp-1-under {
    columns: 8; 
  }
  .flow-col-9-bp-1-under {
    columns: 9; 
  }
  .flow-col-10-bp-1-under {
    columns: 10; 
  }
  .flow-col-11-bp-1-under {
    columns: 11; 
  }
  .flow-col-12-bp-1-under {
    columns: 12; 
  }
  .flow-col-13-bp-1-under {
    columns: 13; 
  }
  .flow-col-14-bp-1-under {
    columns: 14; 
  }
  .flow-col-15-bp-1-under {
    columns: 15; 
  }
  .flow-col-16-bp-1-under {
    columns: 16; 
  }
  .flow-col-17-bp-1-under {
    columns: 17; 
  }
  .flow-col-18-bp-1-under {
    columns: 18; 
  }
  .flow-col-19-bp-1-under {
    columns: 19; 
  }
  .flow-col-20-bp-1-under {
    columns: 20; 
  }
}
