
.flex-container {
	display: flex;
	position: relative;
	padding: 0;
}
.flex-row {
	display: flex;
	flex-flow: row wrap;
	white-space: normal;
}
.flex-row-reverse {
	display: flex;
	flex-flow: row-reverse wrap;
	white-space: normal;
}
*[class*="flex-row"] > * {
  flex-basis: 100%;
  max-width: 100%;
}
.flex-col {
	display: flex;
	flex-flow: column nowrap;
	white-space: normal;
}
.flex-col-reverse {
	display: flex;
	flex-flow: column-reverse nowrap;
	white-space: normal;
}
.flex-items-auto > * {
	flex: 1 1 auto;
}
.flex-items-initial > * {
	flex: 0 1 auto;
}
.flex-items-expand > * {
	flex: 1 0 auto;
}
.flex-items-fit > * {
	flex: 1 0 0%;
}
.flex-items-none > * {
	flex: 0 0 auto;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-initial {
  flex: 0 1 auto;
}
.flex-expand {
  flex: 1 0 auto;
}
.flex-fit {
	flex: 1 0 0%;
}
.flex-none {
  flex: 0 0 auto;
}
.flex-size-1 {
  flex: 0 0 4.1666666667%;
}
.flex-size-2 {
  flex: 0 0 8.3333333333%;
}
.flex-size-3 {
  flex: 0 0 12.5%;
}
.flex-size-4 {
  flex: 0 0 16.6666666666%;
}
.flex-size-5 {
  flex: 0 0 20.8333333333%;
}
.flex-size-6 {
  flex: 0 0 25%;
}
.flex-size-7 {
  flex: 0 0 29.1666666666%;
}
.flex-size-8 {
  flex: 0 0 33.3333333333%;
}
.flex-size-9 {
  flex: 0 0 37.5%;
}
.flex-size-10 {
  flex: 0 0 41.6666666666%;
}
.flex-size-11 {
  flex: 0 0 45.8333333333%;
}
.flex-size-12 {
  flex: 0 0 50%;
}
.flex-size-13 {
  flex: 0 0 54.1666666666%;
}
.flex-size-14 {
  flex: 0 0 58.3333333333%;
}
.flex-size-15 {
  flex: 0 0 62.5%;
}
.flex-size-16 {
  flex: 0 0 66.6666666666%;
}
.flex-size-17 {
  flex: 0 0 70.8333333333%;
}
.flex-size-18 {
  flex: 0 0 75%;
}
.flex-size-19 {
	flex: 0 0 79.1666666666%;
}
.flex-size-20 {
  flex: 0 0 83.3333333333%;
}
.flex-size-21 {
  flex: 0 0 87.5%;
}
.flex-size-22 {
  flex: 0 0 91.6666666666%;
}
.flex-size-23 {
  flex: 0 0 95.8333333333%;
}
.flex-size-24 {
  flex: 0 0 100%;
}
@media all and (min-width: $settings_bp_1_over) {
	.flex-respond-bp-1-over {
		flex-basis: 100%;
	}
	.flex-auto-bp-1-over {
		flex: 1 1 auto;
	}
	.flex-initial-bp-1-over {
		flex: 0 1 auto;
	}
	.flex-expand-bp-1-over {
		flex: 1 0 auto;
	}
	.flex-fit-bp-1-over {
		flex: 1 0 0%;
	}
	.flex-none-bp-1-over {
		flex: 0 0 auto;
	}
	.flex-size-1-bp-1-over {
		flex: 0 0 4.1666666667%;
	}
	.flex-size-2-bp-1-over {
		flex: 0 0 8.3333333333%;
	}
	.flex-size-3-bp-1-over {
		flex: 0 0 12.5%;
	}
	.flex-size-4-bp-1-over {
		flex: 0 0 16.6666666666%;
	}
	.flex-size-5-bp-1-over {
		flex: 0 0 20.8333333333%;
	}
	.flex-size-6-bp-1-over {
		flex: 0 0 25%;
	}
	.flex-size-7-bp-1-over {
		flex: 0 0 29.1666666666%;
	}
	.flex-size-8-bp-1-over {
		flex: 0 0 33.3333333333%;
	}
	.flex-size-9-bp-1-over {
		flex: 0 0 37.5%;
	}
	.flex-size-10-bp-1-over {
		flex: 0 0 41.6666666666%;
	}
	.flex-size-11-bp-1-over {
		flex: 0 0 45.8333333333%;
	}
	.flex-size-12-bp-1-over {
		flex: 0 0 50%;
	}
	.flex-size-13-bp-1-over {
		flex: 0 0 54.1666666666%;
	}
	.flex-size-14-bp-1-over {
		flex: 0 0 58.3333333333%;
	}
	.flex-size-15-bp-1-over {
		flex: 0 0 62.5%;
	}
	.flex-size-16-bp-1-over {
		flex: 0 0 66.6666666666%;
	}
	.flex-size-17-bp-1-over {
		flex: 0 0 70.8333333333%;
	}
	.flex-size-18-bp-1-over {
		flex: 0 0 75%;
	}
	.flex-size-19-bp-1-over {
		flex: 0 0 79.1666666666%;
	}
	.flex-size-20-bp-1-over {
		flex: 0 0 83.3333333333%;
	}
	.flex-size-21-bp-1-over {
		flex: 0 0 87.5%;
	}
	.flex-size-22-bp-1-over {
		flex: 0 0 91.6666666666%;
	}
	.flex-size-23-bp-1-over {
		flex: 0 0 95.8333333333%;
	}
	.flex-size-24-bp-1-over {
		flex: 0 0 100%;
	}
}
@media all and (min-width: $settings_bp_2_over) {
	.flex-respond-bp-2-over {
		flex-basis: 100%;
	}
	.flex-auto-bp-2-over {
		flex: 1 1 auto;
	}
	.flex-initial-bp-2-over {
		flex: 0 1 auto;
	}
	.flex-expand-bp-2-over {
		flex: 1 0 auto;
	}
	.flex-fit-bp-2-over {
		flex: 1 0 0%;
	}
	.flex-none-bp-2-over {
		flex: 0 0 auto;
	}
	.flex-size-1-bp-2-over {
		flex: 0 0 4.1666666667%;
	}
	.flex-size-2-bp-2-over {
		flex: 0 0 8.3333333333%;
	}
	.flex-size-3-bp-2-over {
		flex: 0 0 12.5%;
	}
	.flex-size-4-bp-2-over {
		flex: 0 0 16.6666666666%;
	}
	.flex-size-5-bp-2-over {
		flex: 0 0 20.8333333333%;
	}
	.flex-size-6-bp-2-over {
		flex: 0 0 25%;
	}
	.flex-size-7-bp-2-over {
		flex: 0 0 29.1666666666%;
	}
	.flex-size-8-bp-2-over {
		flex: 0 0 33.3333333333%;
	}
	.flex-size-9-bp-2-over {
		flex: 0 0 37.5%;
	}
	.flex-size-10-bp-2-over {
		flex: 0 0 41.6666666666%;
	}
	.flex-size-11-bp-2-over {
		flex: 0 0 45.8333333333%;
	}
	.flex-size-12-bp-2-over {
		flex: 0 0 50%;
	}
	.flex-size-13-bp-2-over {
		flex: 0 0 54.1666666666%;
	}
	.flex-size-14-bp-2-over {
		flex: 0 0 58.3333333333%;
	}
	.flex-size-15-bp-2-over {
		flex: 0 0 62.5%;
	}
	.flex-size-16-bp-2-over {
		flex: 0 0 66.6666666666%;
	}
	.flex-size-17-bp-2-over {
		flex: 0 0 70.8333333333%;
	}
	.flex-size-18-bp-2-over {
		flex: 0 0 75%;
	}
	.flex-size-19-bp-2-over {
		flex: 0 0 79.1666666666%;
	}
	.flex-size-20-bp-2-over {
		flex: 0 0 83.3333333333%;
	}
	.flex-size-21-bp-2-over {
		flex: 0 0 87.5%;
	}
	.flex-size-22-bp-2-over {
		flex: 0 0 91.6666666666%;
	}
	.flex-size-23-bp-2-over {
		flex: 0 0 95.8333333333%;
	}
	.flex-size-24-bp-2-over {
		flex: 0 0 100%;
	}	
}
@media all and (min-width: $settings_bp_3_over) {
	.flex-respond-bp-3-over {
		flex-basis: 100%;
	}
	.flex-auto-bp-3-over {
		flex: 1 1 auto;
	}
	.flex-initial-bp-3-over {
		flex: 0 1 auto;
	}
	.flex-expand-bp-3-over {
		flex: 1 0 auto;
	}
	.flex-fit-bp-3-over {
		flex: 1 0 0%;
	}
	.flex-none-bp-3-over {
		flex: 0 0 auto;
	}
	.flex-size-1-bp-3-over {
		flex: 0 0 4.1666666667%;
	}
	.flex-size-2-bp-3-over {
		flex: 0 0 8.3333333333%;
	}
	.flex-size-3-bp-3-over {
		flex: 0 0 12.5%;
	}
	.flex-size-4-bp-3-over {
		flex: 0 0 16.6666666666%;
	}
	.flex-size-5-bp-3-over {
		flex: 0 0 20.8333333333%;
	}
	.flex-size-6-bp-3-over {
		flex: 0 0 25%;
	}
	.flex-size-7-bp-3-over {
		flex: 0 0 29.1666666666%;
	}
	.flex-size-8-bp-3-over {
		flex: 0 0 33.3333333333%;
	}
	.flex-size-9-bp-3-over {
		flex: 0 0 37.5%;
	}
	.flex-size-10-bp-3-over {
		flex: 0 0 41.6666666666%;
	}
	.flex-size-11-bp-3-over {
		flex: 0 0 45.8333333333%;
	}
	.flex-size-12-bp-3-over {
		flex: 0 0 50%;
	}
	.flex-size-13-bp-3-over {
		flex: 0 0 54.1666666666%;
	}
	.flex-size-14-bp-3-over {
		flex: 0 0 58.3333333333%;
	}
	.flex-size-15-bp-3-over {
		flex: 0 0 62.5%;
	}
	.flex-size-16-bp-3-over {
		flex: 0 0 66.6666666666%;
	}
	.flex-size-17-bp-3-over {
		flex: 0 0 70.8333333333%;
	}
	.flex-size-18-bp-3-over {
		flex: 0 0 75%;
	}
	.flex-size-19-bp-3-over {
		flex: 0 0 79.1666666666%;
	}
	.flex-size-20-bp-3-over {
		flex: 0 0 83.3333333333%;
	}
	.flex-size-21-bp-3-over {
		flex: 0 0 87.5%;
	}
	.flex-size-22-bp-3-over {
		flex: 0 0 91.6666666666%;
	}
	.flex-size-23-bp-3-over {
		flex: 0 0 95.8333333333%;
	}
	.flex-size-24-bp-3-over {
		flex: 0 0 100%;
	}	
}
@media all and (min-width: $settings_bp_4_over) {
	.flex-respond-bp-4-over {
		flex-basis: 100%;
	}
	.flex-auto-bp-4-over {
		flex: 1 1 auto;
	}
	.flex-initial-bp-4-over {
		flex: 0 1 auto;
	}
	.flex-expand-bp-4-over {
		flex: 1 0 auto;
	}
	.flex-fit-bp-4-over {
		flex: 1 0 0%;
	}
	.flex-none-bp-4-over {
		flex: 0 0 auto;
	}
	.flex-size-1-bp-4-over {
		flex: 0 0 4.1666666667%;
	}
	.flex-size-2-bp-4-over {
		flex: 0 0 8.3333333333%;
	}
	.flex-size-3-bp-4-over {
		flex: 0 0 12.5%;
	}
	.flex-size-4-bp-4-over {
		flex: 0 0 16.6666666666%;
	}
	.flex-size-5-bp-4-over {
		flex: 0 0 20.8333333333%;
	}
	.flex-size-6-bp-4-over {
		flex: 0 0 25%;
	}
	.flex-size-7-bp-4-over {
		flex: 0 0 29.1666666666%;
	}
	.flex-size-8-bp-4-over {
		flex: 0 0 33.3333333333%;
	}
	.flex-size-9-bp-4-over {
		flex: 0 0 37.5%;
	}
	.flex-size-10-bp-4-over {
		flex: 0 0 41.6666666666%;
	}
	.flex-size-11-bp-4-over {
		flex: 0 0 45.8333333333%;
	}
	.flex-size-12-bp-4-over {
		flex: 0 0 50%;
	}
	.flex-size-13-bp-4-over {
		flex: 0 0 54.1666666666%;
	}
	.flex-size-14-bp-4-over {
		flex: 0 0 58.3333333333%;
	}
	.flex-size-15-bp-4-over {
		flex: 0 0 62.5%;
	}
	.flex-size-16-bp-4-over {
		flex: 0 0 66.6666666666%;
	}
	.flex-size-17-bp-4-over {
		flex: 0 0 70.8333333333%;
	}
	.flex-size-18-bp-4-over {
		flex: 0 0 75%;
	}
	.flex-size-19-bp-4-over {
		flex: 0 0 79.1666666666%;
	}
	.flex-size-20-bp-4-over {
		flex: 0 0 83.3333333333%;
	}
	.flex-size-21-bp-4-over {
		flex: 0 0 87.5%;
	}
	.flex-size-22-bp-4-over {
		flex: 0 0 91.6666666666%;
	}
	.flex-size-23-bp-4-over {
		flex: 0 0 95.8333333333%;
	}
	.flex-size-24-bp-4-over {
		flex: 0 0 100%;
	}	
}
@media all and (min-width: $settings_bp_5_over) {
	.flex-respond-bp-5-over {
		flex-basis: 100%;
	}
	.flex-auto-bp-5-over {
		flex: 1 1 auto;
	}
	.flex-initial-bp-5-over {
		flex: 0 1 auto;
	}
	.flex-expand-bp-5-over {
		flex: 1 0 auto;
	}
	.flex-fit-bp-5-over {
		flex: 1 0 0%;
	}
	.flex-none-bp-5-over {
		flex: 0 0 auto;
	}
	.flex-size-1-bp-5-over {
		flex: 0 0 4.1666666667%;
	}
	.flex-size-2-bp-5-over {
		flex: 0 0 8.3333333333%;
	}
	.flex-size-3-bp-5-over {
		flex: 0 0 12.5%;
	}
	.flex-size-4-bp-5-over {
		flex: 0 0 16.6666666666%;
	}
	.flex-size-5-bp-5-over {
		flex: 0 0 20.8333333333%;
	}
	.flex-size-6-bp-5-over {
		flex: 0 0 25%;
	}
	.flex-size-7-bp-5-over {
		flex: 0 0 29.1666666666%;
	}
	.flex-size-8-bp-5-over {
		flex: 0 0 33.3333333333%;
	}
	.flex-size-9-bp-5-over {
		flex: 0 0 37.5%;
	}
	.flex-size-10-bp-5-over {
		flex: 0 0 41.6666666666%;
	}
	.flex-size-11-bp-5-over {
		flex: 0 0 45.8333333333%;
	}
	.flex-size-12-bp-5-over {
		flex: 0 0 50%;
	}
	.flex-size-13-bp-5-over {
		flex: 0 0 54.1666666666%;
	}
	.flex-size-14-bp-5-over {
		flex: 0 0 58.3333333333%;
	}
	.flex-size-15-bp-5-over {
		flex: 0 0 62.5%;
	}
	.flex-size-16-bp-5-over {
		flex: 0 0 66.6666666666%;
	}
	.flex-size-17-bp-5-over {
		flex: 0 0 70.8333333333%;
	}
	.flex-size-18-bp-5-over {
		flex: 0 0 75%;
	}
	.flex-size-19-bp-5-over {
		flex: 0 0 79.1666666666%;
	}
	.flex-size-20-bp-5-over {
		flex: 0 0 83.3333333333%;
	}
	.flex-size-21-bp-5-over {
		flex: 0 0 87.5%;
	}
	.flex-size-22-bp-5-over {
		flex: 0 0 91.6666666666%;
	}
	.flex-size-23-bp-5-over {
		flex: 0 0 95.8333333333%;
	}
	.flex-size-24-bp-5-over {
		flex: 0 0 100%;
	}
}
@media all and (max-width: $settings_bp_5_under) {
	.flex-respond-bp-5-under {
		flex-basis: 100%;
	}
	.flex-auto-bp-5-under {
		flex: 1 1 auto;
	}
	.flex-initial-bp-5-under {
		flex: 0 1 auto;
	}
	.flex-expand-bp-5-under {
		flex: 1 0 auto;
	}
	.flex-fit-bp-5-under {
		flex: 1 0 0%;
	}
	.flex-none-bp-5-under {
		flex: 0 0 auto;
	}
	.flex-size-1-bp-5-under {
		flex: 0 0 4.1666666667%;
	}
	.flex-size-2-bp-5-under {
		flex: 0 0 8.3333333333%;
	}
	.flex-size-3-bp-5-under {
		flex: 0 0 12.5%;
	}
	.flex-size-4-bp-5-under {
		flex: 0 0 16.6666666666%;
	}
	.flex-size-5-bp-5-under {
		flex: 0 0 20.8333333333%;
	}
	.flex-size-6-bp-5-under {
		flex: 0 0 25%;
	}
	.flex-size-7-bp-5-under {
		flex: 0 0 29.1666666666%;
	}
	.flex-size-8-bp-5-under {
		flex: 0 0 33.3333333333%;
	}
	.flex-size-9-bp-5-under {
		flex: 0 0 37.5%;
	}
	.flex-size-10-bp-5-under {
		flex: 0 0 41.6666666666%;
	}
	.flex-size-11-bp-5-under {
		flex: 0 0 45.8333333333%;
	}
	.flex-size-12-bp-5-under {
		flex: 0 0 50%;
	}
	.flex-size-13-bp-5-under {
		flex: 0 0 54.1666666666%;
	}
	.flex-size-14-bp-5-under {
		flex: 0 0 58.3333333333%;
	}
	.flex-size-15-bp-5-under {
		flex: 0 0 62.5%;
	}
	.flex-size-16-bp-5-under {
		flex: 0 0 66.6666666666%;
	}
	.flex-size-17-bp-5-under {
		flex: 0 0 70.8333333333%;
	}
	.flex-size-18-bp-5-under {
		flex: 0 0 75%;
	}
	.flex-size-19-bp-5-under {
		flex: 0 0 79.1666666666%;
	}
	.flex-size-20-bp-5-under {
		flex: 0 0 83.3333333333%;
	}
	.flex-size-21-bp-5-under {
		flex: 0 0 87.5%;
	}
	.flex-size-22-bp-5-under {
		flex: 0 0 91.6666666666%;
	}
	.flex-size-23-bp-5-under {
		flex: 0 0 95.8333333333%;
	}
	.flex-size-24-bp-5-under {
		flex: 0 0 100%;
	}
}
@media all and (max-width: $settings_bp_4_under) {
	.flex-respond-bp-4-under {
		flex-basis: 100%;
	}
	.flex-auto-bp-4-under {
		flex: 1 1 auto;
	}
	.flex-initial-bp-4-under {
		flex: 0 1 auto;
	}
	.flex-expand-bp-4-under {
		flex: 1 0 auto;
	}
	.flex-fit-bp-4-under {
		flex: 1 0 0%;
	}
	.flex-none-bp-4-under {
		flex: 0 0 auto;
	}
	.flex-size-1-bp-4-under {
		flex: 0 0 4.1666666667%;
	}
	.flex-size-2-bp-4-under {
		flex: 0 0 8.3333333333%;
	}
	.flex-size-3-bp-4-under {
		flex: 0 0 12.5%;
	}
	.flex-size-4-bp-4-under {
		flex: 0 0 16.6666666666%;
	}
	.flex-size-5-bp-4-under {
		flex: 0 0 20.8333333333%;
	}
	.flex-size-6-bp-4-under {
		flex: 0 0 25%;
	}
	.flex-size-7-bp-4-under {
		flex: 0 0 29.1666666666%;
	}
	.flex-size-8-bp-4-under {
		flex: 0 0 33.3333333333%;
	}
	.flex-size-9-bp-4-under {
		flex: 0 0 37.5%;
	}
	.flex-size-10-bp-4-under {
		flex: 0 0 41.6666666666%;
	}
	.flex-size-11-bp-4-under {
		flex: 0 0 45.8333333333%;
	}
	.flex-size-12-bp-4-under {
		flex: 0 0 50%;
	}
	.flex-size-13-bp-4-under {
		flex: 0 0 54.1666666666%;
	}
	.flex-size-14-bp-4-under {
		flex: 0 0 58.3333333333%;
	}
	.flex-size-15-bp-4-under {
		flex: 0 0 62.5%;
	}
	.flex-size-16-bp-4-under {
		flex: 0 0 66.6666666666%;
	}
	.flex-size-17-bp-4-under {
		flex: 0 0 70.8333333333%;
	}
	.flex-size-18-bp-4-under {
		flex: 0 0 75%;
	}
	.flex-size-19-bp-4-under {
		flex: 0 0 79.1666666666%;
	}
	.flex-size-20-bp-4-under {
		flex: 0 0 83.3333333333%;
	}
	.flex-size-21-bp-4-under {
		flex: 0 0 87.5%;
	}
	.flex-size-22-bp-4-under {
		flex: 0 0 91.6666666666%;
	}
	.flex-size-23-bp-4-under {
		flex: 0 0 95.8333333333%;
	}
	.flex-size-24-bp-4-under {
		flex: 0 0 100%;
	}
}
@media all and (max-width: $settings_bp_3_under) {
	.flex-respond-bp-3-under {
		flex-basis: 100%;
	}
	.flex-auto-bp-3-under {
		flex: 1 1 auto;
	}
	.flex-initial-bp-3-under {
		flex: 0 1 auto;
	}
	.flex-expand-bp-3-under {
		flex: 1 0 auto;
	}
	.flex-fit-bp-3-under {
		flex: 1 0 0%;
	}
	.flex-none-bp-3-under {
		flex: 0 0 auto;
	}
	.flex-size-1-bp-3-under {
		flex: 0 0 4.1666666667%;
	}
	.flex-size-2-bp-3-under {
		flex: 0 0 8.3333333333%;
	}
	.flex-size-3-bp-3-under {
		flex: 0 0 12.5%;
	}
	.flex-size-4-bp-3-under {
		flex: 0 0 16.6666666666%;
	}
	.flex-size-5-bp-3-under {
		flex: 0 0 20.8333333333%;
	}
	.flex-size-6-bp-3-under {
		flex: 0 0 25%;
	}
	.flex-size-7-bp-3-under {
		flex: 0 0 29.1666666666%;
	}
	.flex-size-8-bp-3-under {
		flex: 0 0 33.3333333333%;
	}
	.flex-size-9-bp-3-under {
		flex: 0 0 37.5%;
	}
	.flex-size-10-bp-3-under {
		flex: 0 0 41.6666666666%;
	}
	.flex-size-11-bp-3-under {
		flex: 0 0 45.8333333333%;
	}
	.flex-size-12-bp-3-under {
		flex: 0 0 50%;
	}
	.flex-size-13-bp-3-under {
		flex: 0 0 54.1666666666%;
	}
	.flex-size-14-bp-3-under {
		flex: 0 0 58.3333333333%;
	}
	.flex-size-15-bp-3-under {
		flex: 0 0 62.5%;
	}
	.flex-size-16-bp-3-under {
		flex: 0 0 66.6666666666%;
	}
	.flex-size-17-bp-3-under {
		flex: 0 0 70.8333333333%;
	}
	.flex-size-18-bp-3-under {
		flex: 0 0 75%;
	}
	.flex-size-19-bp-3-under {
		flex: 0 0 79.1666666666%;
	}
	.flex-size-20-bp-3-under {
		flex: 0 0 83.3333333333%;
	}
	.flex-size-21-bp-3-under {
		flex: 0 0 87.5%;
	}
	.flex-size-22-bp-3-under {
		flex: 0 0 91.6666666666%;
	}
	.flex-size-23-bp-3-under {
		flex: 0 0 95.8333333333%;
	}
	.flex-size-24-bp-3-under {
		flex: 0 0 100%;
	}
}
@media all and (max-width: $settings_bp_2_under) {
	.flex-respond-bp-2-under {
		flex-basis: 100%;
	}
	.flex-auto-bp-2-under {
		flex: 1 1 auto;
	}
	.flex-initial-bp-2-under {
		flex: 0 1 auto;
	}
	.flex-expand-bp-2-under {
		flex: 1 0 auto;
	}
	.flex-fit-bp-2-under {
		flex: 1 0 0%;
	}
	.flex-none-bp-2-under {
		flex: 0 0 auto;
	}
	.flex-size-1-bp-2-under {
		flex: 0 0 4.1666666667%;
	}
	.flex-size-2-bp-2-under {
		flex: 0 0 8.3333333333%;
	}
	.flex-size-3-bp-2-under {
		flex: 0 0 12.5%;
	}
	.flex-size-4-bp-2-under {
		flex: 0 0 16.6666666666%;
	}
	.flex-size-5-bp-2-under {
		flex: 0 0 20.8333333333%;
	}
	.flex-size-6-bp-2-under {
		flex: 0 0 25%;
	}
	.flex-size-7-bp-2-under {
		flex: 0 0 29.1666666666%;
	}
	.flex-size-8-bp-2-under {
		flex: 0 0 33.3333333333%;
	}
	.flex-size-9-bp-2-under {
		flex: 0 0 37.5%;
	}
	.flex-size-10-bp-2-under {
		flex: 0 0 41.6666666666%;
	}
	.flex-size-11-bp-2-under {
		flex: 0 0 45.8333333333%;
	}
	.flex-size-12-bp-2-under {
		flex: 0 0 50%;
	}
	.flex-size-13-bp-2-under {
		flex: 0 0 54.1666666666%;
	}
	.flex-size-14-bp-2-under {
		flex: 0 0 58.3333333333%;
	}
	.flex-size-15-bp-2-under {
		flex: 0 0 62.5%;
	}
	.flex-size-16-bp-2-under {
		flex: 0 0 66.6666666666%;
	}
	.flex-size-17-bp-2-under {
		flex: 0 0 70.8333333333%;
	}
	.flex-size-18-bp-2-under {
		flex: 0 0 75%;
	}
	.flex-size-19-bp-2-under {
		flex: 0 0 79.1666666666%;
	}
	.flex-size-20-bp-2-under {
		flex: 0 0 83.3333333333%;
	}
	.flex-size-21-bp-2-under {
		flex: 0 0 87.5%;
	}
	.flex-size-22-bp-2-under {
		flex: 0 0 91.6666666666%;
	}
	.flex-size-23-bp-2-under {
		flex: 0 0 95.8333333333%;
	}
	.flex-size-24-bp-2-under {
		flex: 0 0 100%;
	}
}
@media all and (max-width: $settings_bp_1_under) {
	.flex-respond-bp-1-under {
		flex-basis: 100%;
	}
	.flex-auto-bp-1-under {
		flex: 1 1 auto;
	}
	.flex-initial-bp-1-under {
		flex: 0 1 auto;
	}
	.flex-expand-bp-1-under {
		flex: 1 0 auto;
	}
	.flex-fit-bp-1-under {
		flex: 1 0 0%;
	}
	.flex-none-bp-1-under {
		flex: 0 0 auto;
	}
	.flex-size-1-bp-1-under {
		flex: 0 0 4.1666666667%;
	}
	.flex-size-2-bp-1-under {
		flex: 0 0 8.3333333333%;
	}
	.flex-size-3-bp-1-under {
		flex: 0 0 12.5%;
	}
	.flex-size-4-bp-1-under {
		flex: 0 0 16.6666666666%;
	}
	.flex-size-5-bp-1-under {
		flex: 0 0 20.8333333333%;
	}
	.flex-size-6-bp-1-under {
		flex: 0 0 25%;
	}
	.flex-size-7-bp-1-under {
		flex: 0 0 29.1666666666%;
	}
	.flex-size-8-bp-1-under {
		flex: 0 0 33.3333333333%;
	}
	.flex-size-9-bp-1-under {
		flex: 0 0 37.5%;
	}
	.flex-size-10-bp-1-under {
		flex: 0 0 41.6666666666%;
	}
	.flex-size-11-bp-1-under {
		flex: 0 0 45.8333333333%;
	}
	.flex-size-12-bp-1-under {
		flex: 0 0 50%;
	}
	.flex-size-13-bp-1-under {
		flex: 0 0 54.1666666666%;
	}
	.flex-size-14-bp-1-under {
		flex: 0 0 58.3333333333%;
	}
	.flex-size-15-bp-1-under {
		flex: 0 0 62.5%;
	}
	.flex-size-16-bp-1-under {
		flex: 0 0 66.6666666666%;
	}
	.flex-size-17-bp-1-under {
		flex: 0 0 70.8333333333%;
	}
	.flex-size-18-bp-1-under {
		flex: 0 0 75%;
	}
	.flex-size-19-bp-1-under {
		flex: 0 0 79.1666666666%;
	}
	.flex-size-20-bp-1-under {
		flex: 0 0 83.3333333333%;
	}
	.flex-size-21-bp-1-under {
		flex: 0 0 87.5%;
	}
	.flex-size-22-bp-1-under {
		flex: 0 0 91.6666666666%;
	}
	.flex-size-23-bp-1-under {
		flex: 0 0 95.8333333333%;
	}
	.flex-size-24-bp-1-under {
		flex: 0 0 100%;
	}
}
