
.flex {
	display: flex;
}
.flex-inline {
	display: inline-flex;
}
.flex-direction-row {
	flex-direction: row;
}
.flex-direction-row-reverse {
	flex-direction: row-reverse;
}
.flex-direction-column {
	flex-direction: column;
}
.flex-direction-column-reverse {
	flex-direction: column-reverse;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.flex-inherit {
	flex: inherit;
}
.flex-grow {
  flex-grow: 1;
}
.flex-shrink {
	flex-shrink: 1;
}
.flex-basis-auto {
	flex-basis: auto;
}
.flex-basis-content {
	flex-basis: content;
}
.flex-basis-min-content {
	flex-basis: min-content;
}
.flex-basis-max-content {
	flex-basis: max-content;
}
.flex-basis-fit-content {
	flex-basis: fit-content;
}
@media all and (min-width: $settings_bp_1_over) {
	.flex-bp-1-over {
		display: flex;
	}
	.flex-inline-bp-1-over {
		display: inline-flex;
	}
	.flex-direction-row-bp-1-over {
		flex-direction: row;
	}
	.flex-direction-row-reverse-bp-1-over {
		flex-direction: row-reverse;
	}
	.flex-direction-column-bp-1-over {
		flex-direction: column;
	}
	.flex-direction-column-reverse-bp-1-over {
		flex-direction: column-reverse;
	}
	.flex-wrap-bp-1-over {
		flex-wrap: wrap;
	}
	.flex-wrap-reverse-bp-1-over {
		flex-wrap: wrap-reverse;
	}
	.flex-nowrap-bp-1-over {
		flex-wrap: nowrap;
	}
	.flex-inherit-bp-1-over {
		flex: inherit;
	}
	.flex-grow-bp-1-over {
		flex-grow: 1;
	}
	.flex-shrink-bp-1-over {
		flex-shrink: 1;
	}
	.flex-basis-auto-bp-1-over {
		flex-basis: auto;
	}
	.flex-basis-content-bp-1-over {
		flex-basis: content;
	}
	.flex-basis-min-content-bp-1-over {
		flex-basis: min-content;
	}
	.flex-basis-max-content-bp-1-over {
		flex-basis: max-content;
	}
	.flex-basis-fit-content-bp-1-over {
		flex-basis: fit-content;
	}
}
@media all and (min-width: $settings_bp_2_over) {
	.flex-bp-2-over {
		display: flex;
	}
	.flex-inline-bp-2-over {
		display: inline-flex;
	}
	.flex-direction-row-bp-2-over {
		flex-direction: row;
	}
	.flex-direction-row-reverse-bp-2-over {
		flex-direction: row-reverse;
	}
	.flex-direction-column-bp-2-over {
		flex-direction: column;
	}
	.flex-direction-column-reverse-bp-2-over {
		flex-direction: column-reverse;
	}
	.flex-wrap-bp-2-over {
		flex-wrap: wrap;
	}
	.flex-wrap-reverse-bp-2-over {
		flex-wrap: wrap-reverse;
	}
	.flex-nowrap-bp-2-over {
		flex-wrap: nowrap;
	}
	.flex-inherit-bp-2-over {
		flex: inherit;
	}
	.flex-grow-bp-2-over {
		flex-grow: 1;
	}
	.flex-shrink-bp-2-over {
		flex-shrink: 1;
	}
	.flex-basis-auto-bp-2-over {
		flex-basis: auto;
	}
	.flex-basis-content-bp-2-over {
		flex-basis: content;
	}
	.flex-basis-min-content-bp-2-over {
		flex-basis: min-content;
	}
	.flex-basis-max-content-bp-2-over {
		flex-basis: max-content;
	}
	.flex-basis-fit-content-bp-2-over {
		flex-basis: fit-content;
	}
}
@media all and (min-width: $settings_bp_3_over) {
	.flex-bp-3-over {
		display: flex;
	}
	.flex-inline-bp-3-over {
		display: inline-flex;
	}
	.flex-direction-row-bp-3-over {
		flex-direction: row;
	}
	.flex-direction-row-reverse-bp-3-over {
		flex-direction: row-reverse;
	}
	.flex-direction-column-bp-3-over {
		flex-direction: column;
	}
	.flex-direction-column-reverse-bp-3-over {
		flex-direction: column-reverse;
	}
	.flex-wrap-bp-3-over {
		flex-wrap: wrap;
	}
	.flex-wrap-reverse-bp-3-over {
		flex-wrap: wrap-reverse;
	}
	.flex-nowrap-bp-3-over {
		flex-wrap: nowrap;
	}
	.flex-inherit-bp-3-over {
		flex: inherit;
	}
	.flex-grow-bp-3-over {
		flex-grow: 1;
	}
	.flex-shrink-bp-3-over {
		flex-shrink: 1;
	}
	.flex-basis-auto-bp-3-over {
		flex-basis: auto;
	}
	.flex-basis-content-bp-3-over {
		flex-basis: content;
	}
	.flex-basis-min-content-bp-3-over {
		flex-basis: min-content;
	}
	.flex-basis-max-content-bp-3-over {
		flex-basis: max-content;
	}
	.flex-basis-fit-content-bp-3-over {
		flex-basis: fit-content;
	}
}
@media all and (min-width: $settings_bp_4_over) {
	.flex-bp-4-over {
		display: flex;
	}
	.flex-inline-bp-4-over {
		display: inline-flex;
	}
	.flex-direction-row-bp-4-over {
		flex-direction: row;
	}
	.flex-direction-row-reverse-bp-4-over {
		flex-direction: row-reverse;
	}
	.flex-direction-column-bp-4-over {
		flex-direction: column;
	}
	.flex-direction-column-reverse-bp-4-over {
		flex-direction: column-reverse;
	}
	.flex-wrap-bp-4-over {
		flex-wrap: wrap;
	}
	.flex-wrap-reverse-bp-4-over {
		flex-wrap: wrap-reverse;
	}
	.flex-nowrap-bp-4-over {
		flex-wrap: nowrap;
	}
	.flex-inherit-bp-4-over {
		flex: inherit;
	}
	.flex-grow-bp-4-over {
		flex-grow: 1;
	}
	.flex-shrink-bp-4-over {
		flex-shrink: 1;
	}
	.flex-basis-auto-bp-4-over {
		flex-basis: auto;
	}
	.flex-basis-content-bp-4-over {
		flex-basis: content;
	}
	.flex-basis-min-content-bp-4-over {
		flex-basis: min-content;
	}
	.flex-basis-max-content-bp-4-over {
		flex-basis: max-content;
	}
	.flex-basis-fit-content-bp-4-over {
		flex-basis: fit-content;
	}
}
@media all and (min-width: $settings_bp_5_over) {
	.flex-bp-5-over {
		display: flex;
	}
	.flex-inline-bp-5-over {
		display: inline-flex;
	}
	.flex-direction-row-bp-5-over {
		flex-direction: row;
	}
	.flex-direction-row-reverse-bp-5-over {
		flex-direction: row-reverse;
	}
	.flex-direction-column-bp-5-over {
		flex-direction: column;
	}
	.flex-direction-column-reverse-bp-5-over {
		flex-direction: column-reverse;
	}
	.flex-wrap-bp-5-over {
		flex-wrap: wrap;
	}
	.flex-wrap-reverse-bp-5-over {
		flex-wrap: wrap-reverse;
	}
	.flex-nowrap-bp-5-over {
		flex-wrap: nowrap;
	}
	.flex-inherit-bp-5-over {
		flex: inherit;
	}
	.flex-grow-bp-5-over {
		flex-grow: 1;
	}
	.flex-shrink-bp-5-over {
		flex-shrink: 1;
	}
	.flex-basis-auto-bp-5-over {
		flex-basis: auto;
	}
	.flex-basis-content-bp-5-over {
		flex-basis: content;
	}
	.flex-basis-min-content-bp-5-over {
		flex-basis: min-content;
	}
	.flex-basis-max-content-bp-5-over {
		flex-basis: max-content;
	}
	.flex-basis-fit-content-bp-5-over {
		flex-basis: fit-content;
	}
}
@media all and (max-width: $settings_bp_5_under) {
	.flex-bp-5-under {
		display: flex;
	}
	.flex-inline-bp-5-under {
		display: inline-flex;
	}
	.flex-direction-row-bp-5-under {
		flex-direction: row;
	}
	.flex-direction-row-reverse-bp-5-under {
		flex-direction: row-reverse;
	}
	.flex-direction-column-bp-5-under {
		flex-direction: column;
	}
	.flex-direction-column-reverse-bp-5-under {
		flex-direction: column-reverse;
	}
	.flex-wrap-bp-5-under {
		flex-wrap: wrap;
	}
	.flex-wrap-reverse-bp-5-under {
		flex-wrap: wrap-reverse;
	}
	.flex-nowrap-bp-5-under {
		flex-wrap: nowrap;
	}
	.flex-inherit-bp-5-under {
		flex: inherit;
	}
	.flex-grow-bp-5-under {
		flex-grow: 1;
	}
	.flex-shrink-bp-5-under {
		flex-shrink: 1;
	}
	.flex-basis-auto-bp-5-under {
		flex-basis: auto;
	}
	.flex-basis-content-bp-5-under {
		flex-basis: content;
	}
	.flex-basis-min-content-bp-5-under {
		flex-basis: min-content;
	}
	.flex-basis-max-content-bp-5-under {
		flex-basis: max-content;
	}
	.flex-basis-fit-content-bp-5-under {
		flex-basis: fit-content;
	}
}
@media all and (max-width: $settings_bp_4_under) {
	.flex-bp-4-under {
		display: flex;
	}
	.flex-inline-bp-4-under {
		display: inline-flex;
	}
	.flex-direction-row-bp-4-under {
		flex-direction: row;
	}
	.flex-direction-row-reverse-bp-4-under {
		flex-direction: row-reverse;
	}
	.flex-direction-column-bp-4-under {
		flex-direction: column;
	}
	.flex-direction-column-reverse-bp-4-under {
		flex-direction: column-reverse;
	}
	.flex-wrap-bp-4-under {
		flex-wrap: wrap;
	}
	.flex-wrap-reverse-bp-4-under {
		flex-wrap: wrap-reverse;
	}
	.flex-nowrap-bp-4-under {
		flex-wrap: nowrap;
	}
	.flex-inherit-bp-4-under {
		flex: inherit;
	}
	.flex-grow-bp-4-under {
		flex-grow: 1;
	}
	.flex-shrink-bp-4-under {
		flex-shrink: 1;
	}
	.flex-basis-auto-bp-4-under {
		flex-basis: auto;
	}
	.flex-basis-content-bp-4-under {
		flex-basis: content;
	}
	.flex-basis-min-content-bp-4-under {
		flex-basis: min-content;
	}
	.flex-basis-max-content-bp-4-under {
		flex-basis: max-content;
	}
	.flex-basis-fit-content-bp-4-under {
		flex-basis: fit-content;
	}
}
@media all and (max-width: $settings_bp_3_under) {
	.flex-bp-3-under {
		display: flex;
	}
	.flex-inline-bp-3-under {
		display: inline-flex;
	}
	.flex-direction-row-bp-3-under {
		flex-direction: row;
	}
	.flex-direction-row-reverse-bp-3-under {
		flex-direction: row-reverse;
	}
	.flex-direction-column-bp-3-under {
		flex-direction: column;
	}
	.flex-direction-column-reverse-bp-3-under {
		flex-direction: column-reverse;
	}
	.flex-wrap-bp-3-under {
		flex-wrap: wrap;
	}
	.flex-wrap-reverse-bp-3-under {
		flex-wrap: wrap-reverse;
	}
	.flex-nowrap-bp-3-under {
		flex-wrap: nowrap;
	}
	.flex-inherit-bp-3-under {
		flex: inherit;
	}
	.flex-grow-bp-3-under {
		flex-grow: 1;
	}
	.flex-shrink-bp-3-under {
		flex-shrink: 1;
	}
	.flex-basis-auto-bp-3-under {
		flex-basis: auto;
	}
	.flex-basis-content-bp-3-under {
		flex-basis: content;
	}
	.flex-basis-min-content-bp-3-under {
		flex-basis: min-content;
	}
	.flex-basis-max-content-bp-3-under {
		flex-basis: max-content;
	}
	.flex-basis-fit-content-bp-3-under {
		flex-basis: fit-content;
	}
}
@media all and (max-width: $settings_bp_2_under) {
	.flex-bp-2-under {
		display: flex;
	}
	.flex-inline-bp-2-under {
		display: inline-flex;
	}
	.flex-direction-row-bp-2-under {
		flex-direction: row;
	}
	.flex-direction-row-reverse-bp-2-under {
		flex-direction: row-reverse;
	}
	.flex-direction-column-bp-2-under {
		flex-direction: column;
	}
	.flex-direction-column-reverse-bp-2-under {
		flex-direction: column-reverse;
	}
	.flex-wrap-bp-2-under {
		flex-wrap: wrap;
	}
	.flex-wrap-reverse-bp-2-under {
		flex-wrap: wrap-reverse;
	}
	.flex-nowrap-bp-2-under {
		flex-wrap: nowrap;
	}
	.flex-inherit-bp-2-under {
		flex: inherit;
	}
	.flex-grow-bp-2-under {
		flex-grow: 1;
	}
	.flex-shrink-bp-2-under {
		flex-shrink: 1;
	}
	.flex-basis-auto-bp-2-under {
		flex-basis: auto;
	}
	.flex-basis-content-bp-2-under {
		flex-basis: content;
	}
	.flex-basis-min-content-bp-2-under {
		flex-basis: min-content;
	}
	.flex-basis-max-content-bp-2-under {
		flex-basis: max-content;
	}
	.flex-basis-fit-content-bp-2-under {
		flex-basis: fit-content;
	}
}
@media all and (max-width: $settings_bp_1_under) {
	.flex-bp-1-under {
		display: flex;
	}
	.flex-inline-bp-1-under {
		display: inline-flex;
	}
	.flex-direction-row-bp-1-under {
		flex-direction: row;
	}
	.flex-direction-row-reverse-bp-1-under {
		flex-direction: row-reverse;
	}
	.flex-direction-column-bp-1-under {
		flex-direction: column;
	}
	.flex-direction-column-reverse-bp-1-under {
		flex-direction: column-reverse;
	}
	.flex-wrap-bp-1-under {
		flex-wrap: wrap;
	}
	.flex-wrap-reverse-bp-1-under {
		flex-wrap: wrap-reverse;
	}
	.flex-nowrap-bp-1-under {
		flex-wrap: nowrap;
	}
	.flex-inherit-bp-1-under {
		flex: inherit;
	}
	.flex-grow-bp-1-under {
		flex-grow: 1;
	}
	.flex-shrink-bp-1-under {
		flex-shrink: 1;
	}
	.flex-basis-auto-bp-1-under {
		flex-basis: auto;
	}
	.flex-basis-content-bp-1-under {
		flex-basis: content;
	}
	.flex-basis-min-content-bp-1-under {
		flex-basis: min-content;
	}
	.flex-basis-max-content-bp-1-under {
		flex-basis: max-content;
	}
	.flex-basis-fit-content-bp-1-under {
		flex-basis: fit-content;
	}
}
