
.grid {
	display: grid;
}
.grid-inline {
	display: inline-grid;
}
.grid-auto-flow-row {
	grid-auto-flow: row;
}
.grid-auto-flow-column {
	grid-auto-flow: column;
}
@media all and (min-width: $settings_bp_1_over) {
	.grid-bp-1-over {
		display: grid;
	}
	.grid-inline-bp-1-over {
		display: inline-grid;
	}
	.grid-auto-flow-row-bp-1-over {
		grid-auto-flow: row;
	}
	.grid-auto-flow-column-bp-1-over {
		grid-auto-flow: column;
	}			
}
@media all and (min-width: $settings_bp_2_over) {
	.grid-bp-2-over {
		display: grid;
	}
	.grid-inline-bp-2-over {
		display: inline-grid;
	}
	.grid-auto-flow-row-bp-2-over {
		grid-auto-flow: row;
	}
	.grid-auto-flow-column-bp-2-over {
		grid-auto-flow: column;
	}	
}
@media all and (min-width: $settings_bp_3_over) {
	.grid-bp-3-over {
		display: grid;
	}
	.grid-inline-bp-3-over {
		display: inline-grid;
	}
	.grid-auto-flow-row-bp-3-over {
		grid-auto-flow: row;
	}
	.grid-auto-flow-column-bp-3-over {
		grid-auto-flow: column;
	}	
}
@media all and (min-width: $settings_bp_4_over) {
	.grid-bp-4-over {
		display: grid;
	}
	.grid-inline-bp-4-over {
		display: inline-grid;
	}
	.grid-auto-flow-row-bp-4-over {
		grid-auto-flow: row;
	}
	.grid-auto-flow-column-bp-4-over {
		grid-auto-flow: column;
	}	
}
@media all and (min-width: $settings_bp_5_over) {
	.grid-bp-5-over {
		display: grid;
	}
	.grid-inline-bp-5-over {
		display: inline-grid;
	}
	.grid-auto-flow-row-bp-5-over {
		grid-auto-flow: row;
	}
	.grid-auto-flow-column-bp-5-over {
		grid-auto-flow: column;
	}	
}
@media all and (max-width: $settings_bp_5_under) {
	.grid-bp-5-under {
		display: grid;
	}
	.grid-inline-bp-5-under {
		display: inline-grid;
	}
	.grid-auto-flow-row-bp-5-under {
		grid-auto-flow: row;
	}
	.grid-auto-flow-column-bp-5-under {
		grid-auto-flow: column;
	}
}
@media all and (max-width: $settings_bp_4_under) {
	.grid-bp-4-under {
		display: grid;
	}
	.grid-inline-bp-4-under {
		display: inline-grid;
	}
	.grid-auto-flow-row-bp-4-under {
		grid-auto-flow: row;
	}
	.grid-auto-flow-column-bp-4-under {
		grid-auto-flow: column;
	}
}
@media all and (max-width: $settings_bp_3_under) {
	.grid-bp-3-under {
		display: grid;
	}
	.grid-inline-bp-3-under {
		display: inline-grid;
	}
	.grid-auto-flow-row-bp-3-under {
		grid-auto-flow: row;
	}
	.grid-auto-flow-column-bp-3-under {
		grid-auto-flow: column;
	}
}
@media all and (max-width: $settings_bp_2_under) {
	.grid-bp-2-under {
		display: grid;
	}
	.grid-inline-bp-2-under {
		display: inline-grid;
	}
	.grid-auto-flow-row-bp-2-under {
		grid-auto-flow: row;
	}
	.grid-auto-flow-column-bp-2-under {
		grid-auto-flow: column;
	}
}
@media all and (max-width: $settings_bp_1_under) {
	.grid-bp-1-under {
		display: grid;
	}
	.grid-inline-bp-1-under {
		display: inline-grid;
	}
	.grid-auto-flow-row-bp-1-under {
		grid-auto-flow: row;
	}
	.grid-auto-flow-column-bp-1-under {
		grid-auto-flow: column;
	}
}
