
.content-row {
	white-space: normal;
	clear: both;
}
.content-row-empty {
	height: 36px;
	white-space: nowrap;
	clear: both;
}
.content-row-empty-sm {
	height: 28px;
	white-space: nowrap;
	clear: both;
}
.content-col {
	float: left;
	vertical-align: middle;
	padding: 0;
	background-color: inherit;
	min-height: 1px;
}
.content-col-1 {
	width: 5%;
}
.content-col-2 {
	width: 10%;
}
.content-col-3 {
	width: 15%;
}
.content-col-4 {
	width: 20%;
}
.content-col-5 {
	width: 25%;
}
.content-col-6 {
	width: 30%;
}
.content-col-7 {
	width: 35%;
}
.content-col-8 {
	width: 40%;
}
.content-col-9 {
	width: 45%;
}
.content-col-10 {
	width: 50%;
}
.content-col-11 {
	width: 55%;
}
.content-col-12 {
	width: 60%;
}
.content-col-13 {
	width: 65%;
}
.content-col-14 {
	width: 70%;
}
.content-col-15 {
	width: 75%;
}
.content-col-16 {
	width: 80%;
}
.content-col-17 {
	width: 85%;
}
.content-col-18 {
	width: 90%;
}
.content-col-19 {
	width: 95%;
}
.content-col-20 {
	width: 100%;
}
.content-col-eq-3 {
	width: 33.33333333%;
}
.content-col-eq-6 {
	width: 16.66666666%;
}
.content-col-eq-7 {
	width: 14.28571428%;
}
.content-col-eq-8 {
	width: 12.5%;
}
.content-col-eq-9 {
	width: 11.11111111%;
}
.content-col-eq-11 {
	width: 9.090909090%;
}
.content-col-eq-12 {
	width: 8.333333333%;
}
.content-col-eq-13 {
	width: 7.692307692%;
}
.content-col-eq-14 {
	width: 7.142857142%;
}
.content-col-eq-15 {
	width: 6.666666666%;
}
.content-col-eq-16 {
	width: 6.25%;
}
.content-col-eq-17 {
	width: 5.882352941%;
}
.content-col-eq-18 {
	width: 5.555555555%;
}
.content-col-eq-19 {
	width: 5.263157894%;
}
*[class^="content-col-"] {
	float: left;
	vertical-align: middle;
	padding: 0;
	box-sizing: border-box;
	background-color: inherit;
	min-height: 1px;
}
.content-col-align-sm {
	padding-top: 5px;
	height: 28px;
	box-sizing: border-box;
}
.content-col-align-md {
	padding-top: 9px;
	height: 36px;
	box-sizing: border-box;
}
.content-col-align-lg {
	padding-top: 14px;
	height: 60px;
	box-sizing: border-box;
}
.content-adjust-img-16 div {
	height: 16px;
}
.content-adjust-img-32 div {
	height: 32px;
}
.content-adjust-img-64 div {
	height: 64px;
}
.content-col-label {
	padding-top: 9px;
	font-weight: normal;
	height: 36px;
	box-sizing: border-box;
}
.content-col-label-sm {
	padding-top: 5px;
	font-weight: normal;
	height: 28px;
	box-sizing: border-box;	
}
.content-col-label-bold {
	padding-top: 9px;
	font-weight: bold;
	height: 36px;
	box-sizing: border-box;
}
.content-col-label-bold-sm {
	padding-top: 5px;
	font-weight: bold;
	height: 28px;
	box-sizing: border-box;	
}
.form-row {
	white-space: nowrap;
	clear: both;
}
.form-row-empty {
	height: 46px;
	white-space: nowrap;
	clear: both;
}
.form-row-empty-sm {
	height: 38px;
	white-space: nowrap;
	clear: both;
}
.form-col {
	float: left;
	vertical-align: middle;
	padding: 5px;
	background-color: inherit;
}
.form-col-1 {
	width: 5%;
}
.form-col-2 {
	width: 10%;
}
.form-col-3 {
	width: 15%;
}
.form-col-4 {
	width: 20%;
}
.form-col-5 {
	width: 25%;
}
.form-col-6 {
	width: 30%;
}
.form-col-7 {
	width: 35%;
}
.form-col-8 {
	width: 40%;
}
.form-col-9 {
	width: 45%;
}
.form-col-10 {
	width: 50%;
}
.form-col-11 {
	width: 55%;
}
.form-col-12 {
	width: 60%;
}
.form-col-13 {
	width: 65%;
}
.form-col-14 {
	width: 70%;
}
.form-col-15 {
	width: 75%;
}
.form-col-16 {
	width: 80%;
}
.form-col-17 {
	width: 85%;
}
.form-col-18 {
	width: 90%;
}
.form-col-19 {
	width: 95%;
}
.form-col-20 {
	width: 100%;
}
.form-col-eq-3 {
	width: 33.33333333%;
}
.form-col-eq-6 {
	width: 16.66666666%;
}
.form-col-eq-7 {
	width: 14.28571428%;
}
.form-col-eq-8 {
	width: 12.5%;
}
.form-col-eq-9 {
	width: 11.11111111%;
}
.form-col-eq-11 {
	width: 9.090909090%;
}
.form-col-eq-12 {
	width: 8.333333333%;
}
.form-col-eq-13 {
	width: 7.692307692%;
}
.form-col-eq-14 {
	width: 7.142857142%;
}
.form-col-eq-15 {
	width: 6.666666666%;
}
.form-col-eq-16 {
	width: 6.25%;
}
.form-col-eq-17 {
	width: 5.882352941%;
}
.form-col-eq-18 {
	width: 5.555555555%;
}
.form-col-eq-19 {
	width: 5.263157894%;
}
*[class^="form-col-"] {
	float: left;
	vertical-align: middle;
	padding: 5px;
	box-sizing: border-box;
	background-color: inherit;
}
.form-col-align-sm {
	padding-top: 10px;
	height: 38px;
	box-sizing: border-box;
}
.form-col-align-md {
	padding-top: 14px;
	height: 46px;
	box-sizing: border-box;
}
.form-col-align-lg {
	padding-top: 24px;
	height: 60px;
	box-sizing: border-box;
}
.form-adjust-img-16 div {
	height: 26px;
}
.form-adjust-img-32 div {
	height: 42px;
}
.form-adjust-img-64 div {
	height: 74px;
}
.form-col-label {
	padding-top: 14px;
	font-weight: normal;
	height: 46px;
	box-sizing: border-box;
}
.form-col-label-sm {
	padding-top: 10px;
	font-weight: normal;
	height: 38px;
	box-sizing: border-box;	
}
.form-col-label-bold {
	padding-top: 14px;
	font-weight: bold;
	height: 46px;
	box-sizing: border-box;	
}
.form-col-label-bold-sm {
	padding-top: 10px;
	font-weight: bold; 
	height: 38px;
	box-sizing: border-box;
}
.table-row {
	white-space: nowrap;
	clear: both;
}
.table-row > *[class^="table-col-"] {
  border-top: 1px solid $theme_default_border;
}
.table-row:last-of-type > *[class^="table-col-"] {
  border-bottom: 1px solid $theme_default_border;
}
.table-group > *[class^="table-col-"] {
  border-bottom: 1px solid $theme_default_border;
}
.table-col-1 {
	width: 5%;
}
.table-col-2 {
	width: 10%;
}
.table-col-3 {
	width: 15%;
}
.table-col-4 {
	width: 20%;
}
.table-col-5 {
	width: 25%;
}
.table-col-6 {
	width: 30%;
}
.table-col-7 {
	width: 35%;
}
.table-col-8 {
	width: 40%;
}
.table-col-9 {
	width: 45%;
}
.table-col-10 {
	width: 50%;
}
.table-col-11 {
	width: 55%;
}
.table-col-12 {
	width: 60%;
}
.table-col-13 {
	width: 65%;
}
.table-col-14 {
	width: 70%;
}
.table-col-15 {
	width: 75%;
}
.table-col-16 {
	width: 80%;
}
.table-col-17 {
	width: 85%;
}
.table-col-18 {
	width: 90%;
}
.table-col-19 {
	width: 95%;
}
.table-col-20 {
	width: 100%;
}
.table-col-eq-3 {
	width: 33.33333333%;
}
.table-col-eq-6 {
	width: 16.66666666%;
}
.table-col-eq-7 {
	width: 14.28571428%;
}
.table-col-eq-8 {
	width: 12.5%;
}
.table-col-eq-9 {
	width: 11.11111111%;
}
.table-col-eq-11 {
	width: 9.090909090%;
}
.table-col-eq-12 {
	width: 8.333333333%;
}
.table-col-eq-13 {
	width: 7.692307692%;
}
.table-col-eq-14 {
	width: 7.142857142%;
}
.table-col-eq-15 {
	width: 6.666666666%;
}
.table-col-eq-16 {
	width: 6.25%;
}
.table-col-eq-17 {
	width: 5.882352941%;
}
.table-col-eq-18 {
	width: 5.555555555%;
}
.table-col-eq-19 {
	width: 5.263157894%;
}
*[class^="table-col-"] {
	float: left;
	vertical-align: middle;
	padding: 5px;
	overflow: hidden;
	box-sizing: border-box;
	background-color: inherit;
}
*[class^="table-col-"]:first-of-type {
	border-left: 1px solid $theme_default_border;
}
*[class^="table-col-"]:last-of-type {
	border-right: 1px solid $theme_default_border;
}
*[class^="table-col-"]:not(:first-of-type):not(:last-of-type) {
	border-left: 1px solid $theme_default_border;
}
*[class^="table-col-"]:nth-last-child(2) {
	border-right: 1px solid $theme_default_border;
}
.table-col-align-sm {
	padding-top: 10px;
	height: 38px;
	box-sizing: border-box;
}
.table-col-align-md {
	padding-top: 14px;
	height: 46px;
	box-sizing: border-box;
}
.table-col-align-lg {
	padding-top: 24px;
	height: 60px;
	box-sizing: border-box;
}
.table-adjust-img-16 div {
	height: 26px;
}
.table-adjust-img-32 div {
	height: 42px;
}
.table-adjust-img-64 div {
	height: 74px;
}
.table-col-label {
	padding-top: 14px;
	font-weight: normal;
	height: 46px;
	box-sizing: border-box;
}
.table-col-label-sm {
	padding-top: 10px;
	font-weight: normal;
	height: 38px;
	box-sizing: border-box;	
}
.table-col-label-bold {
	padding-top: 14px;
	font-weight: bold;
	height: 46px;
	box-sizing: border-box;	
}
.table-col-label-bold-sm {
	padding-top: 10px;
	font-weight: bold; 
	height: 38px;
	box-sizing: border-box;
}
.row-align {
  display: flex;
  align-items: center;
}
.row-spacing-xs {
	height: 5px;
}
.row-spacing-sm {
	height: 10px;
}
.row-spacing-md {
	height: 20px;
}
.row-spacing-lg {
	height: 30px;
}
.row-spacing-xl {
	height: 50px;
}
*[class^="row-spacing-"] {
	clear: both;
}
.col-spacing-left-xs {
	padding-left: 5px;
}
.col-spacing-left-sm {
	padding-left: 10px;
}
.col-spacing-left-md {
	padding-left: 20px;
}
.col-spacing-left-lg {
	padding-left: 40px;
}
.col-spacing-left-xl {
	padding-left: 80px;
}
.col-spacing-right-xs {
	padding-right: 5px;
}
.col-spacing-right-sm {
	padding-right: 10px;
}
.col-spacing-right-md {
	padding-right: 20px;
}
.col-spacing-right-lg {
	padding-right: 40px;
}
.col-spacing-right-xl {
	padding-right: 80px;
}
.col-spacing-xs {
	padding-left: 5px;
	padding-right: 5px;
}
.col-spacing-sm {
	padding-left: 10px;
	padding-right: 10px;
}
.col-spacing-md {
	padding-left: 20px;
	padding-right: 20px;
}
.col-spacing-lg {
	padding-left: 40px;
	padding-right: 40px;
}
.col-spacing-xl {
	padding-left: 80px;
	padding-right: 80px;
}
@media screen and (max-width: 479px) {
	.row-align {
		display: block;
	}
	*[class^="table-col-"].xs {
	  border-left: 1px solid $theme_default_border;
	  border-right: 1px solid $theme_default_border;
	}
	.table-row > *[class^="table-col-"]:not(:last-of-type).xs {
		border-bottom: none;
	}
}
@media screen and (max-width: 767px) {
	.row-align {
		display: block;
	}
	*[class^="table-col-"].sm {
	  border-left: 1px solid $theme_default_border;
	  border-right: 1px solid $theme_default_border;
	}
	.table-row > *[class^="table-col-"]:not(:last-of-type).sm {
		border-bottom: none;
	}
}
@media screen and (max-width: 991px) {
	.row-align {
		display: block;
	}
	*[class^="table-col-"].md {
	  border-left: 1px solid $theme_default_border;
	  border-right: 1px solid $theme_default_border;
	}
	.table-row > *[class^="table-col-"]:not(:last-of-type).md {
		border-bottom: none;
	}
}
@media screen and (max-width: 1199px) {
	.row-align {
		display: block;
	}
	*[class^="table-col-"].lg {
	  border-left: 1px solid $theme_default_border;
	  border-right: 1px solid $theme_default_border;
	}
	.table-row > *[class^="table-col-"]:not(:last-of-type).lg {
		border-bottom: none;
	}
}
@media screen and (max-width: 1365px) {
	.row-align {
		display: block;
	}
	*[class^="table-col-"].xl {
	  border-left: 1px solid $theme_default_border;
	  border-right: 1px solid $theme_default_border;
	}
	.table-row > *[class^="table-col-"]:not(:last-of-type).xl {
		border-bottom: none;
	}
}
