
.row {
	display: flex;
	flex-wrap: wrap;
	white-space: normal;
}
.row-inline {
	display: inline-flex;
	flex-wrap: wrap;
	white-space: normal;
}
*[class*="row"] > * {
  width: 100%;
  max-width: 100%;
}
.cols > * {
	flex: 1 0 0%;
}
.cols-fixed > * {
	flex: 0 0 auto;
	width: auto;
}
.col {
	flex: 1 0 0%;
}
.col-fixed {
	flex: 0 0 auto;
	width: auto;
}
.col-1 {
	flex: 0 0 auto;
	width: 4.16666666666%;
}
.col-2 {
	flex: 0 0 auto;
	width: 8.33333333333%;
}
.col-3 {
	flex: 0 0 auto;
	width: 12.5%;
}
.col-4 {
	flex: 0 0 auto;
	width: 16.6666666666%;
}
.col-5 {
	flex: 0 0 auto;
	width: 20.8333333333%;
}
.col-6 {
	flex: 0 0 auto;
	width: 25%;
}
.col-7 {
	flex: 0 0 auto;
	width: 29.1666666666%;
}
.col-8 {
	flex: 0 0 auto;
	width: 33.3333333333%;
}
.col-9 {
	flex: 0 0 auto;
	width: 37.5%;
}
.col-10 {
	flex: 0 0 auto;
	width: 41.6666666666%;
}
.col-11 {
	flex: 0 0 auto;
	width: 45.8333333333%;
}
.col-12 {
	flex: 0 0 auto;
	width: 50%;
}
.col-13 {
	flex: 0 0 auto;
	width: 54.1666666666%;
}
.col-14 {
	flex: 0 0 auto;
	width: 58.3333333333%;
}
.col-15 {
	flex: 0 0 auto;
	width: 62.5%;
}
.col-16 {
	flex: 0 0 auto;
	width: 66.6666666666%;
}
.col-17 {
	flex: 0 0 auto;
	width: 70.8333333333%;
}
.col-18 {
	flex: 0 0 auto;
	width: 75%;
}
.col-19 {
	flex: 0 0 auto;
	width: 79.1666666666%;
}
.col-20 {
	flex: 0 0 auto;
	width: 83.3333333333%;
}
.col-21 {
	flex: 0 0 auto;
	width: 87.5%;
}
.col-22 {
	flex: 0 0 auto;
	width: 91.6666666666%;
}
.col-23 {
	flex: 0 0 auto;
	width: 95.8333333333%;
}
.col-24 {
	flex: 0 0 auto;
	width: 100%;
}
.row-spacing-xs {
	height: 0.313rem;
}
.row-spacing-sm {
	height: 0.625rem;
}
.row-spacing-md {
	height: 1.25rem;
}
.row-spacing-lg {
	height: 1.875rem;
}
.row-spacing-xl {
	height: 3.125rem;
}
*[class*="row-spacing-"] {
	clear: both;
}
@media all and (min-width: $settings_bp_1_over) {
	.cols-bp-1-over > * {
		flex: 1 0 0%;
	}
	.cols-fixed-bp-1-over > * {
		flex: 0 0 auto;
		width: auto;
	}
	.col-bp-1-over {
		flex: 1 0 0%;
	}
	.col-fixed-bp-1-over {
		flex: 0 0 auto;
		width: auto;
	}
	.col-1-bp-1-over {
		flex: 0 0 auto;
		width: 4.16666666666%;
	}
	.col-2-bp-1-over {
		flex: 0 0 auto;
		width: 8.33333333333%;
	}
	.col-3-bp-1-over {
		flex: 0 0 auto;
		width: 12.5%;
	}
	.col-4-bp-1-over {
		flex: 0 0 auto;
		width: 16.6666666666%;
	}
	.col-5-bp-1-over {
		flex: 0 0 auto;
		width: 20.8333333333%;
	}
	.col-6-bp-1-over {
		flex: 0 0 auto;
		width: 25%;
	}
	.col-7-bp-1-over {
		flex: 0 0 auto;
		width: 29.1666666666%;
	}
	.col-8-bp-1-over {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.col-9-bp-1-over {
		flex: 0 0 auto;
		width: 37.5%;
	}
	.col-10-bp-1-over {
		flex: 0 0 auto;
		width: 41.6666666666%;
	}
	.col-11-bp-1-over {
		flex: 0 0 auto;
		width: 45.8333333333%;
	}
	.col-12-bp-1-over {
		flex: 0 0 auto;
		width: 50%;
	}
	.col-13-bp-1-over {
		flex: 0 0 auto;
		width: 54.1666666666%;
	}
	.col-14-bp-1-over {
		flex: 0 0 auto;
		width: 58.3333333333%;
	}
	.col-15-bp-1-over {
		flex: 0 0 auto;
		width: 62.5%;
	}
	.col-16-bp-1-over {
		flex: 0 0 auto;
		width: 66.6666666666%;
	}
	.col-17-bp-1-over {
		flex: 0 0 auto;
		width: 70.8333333333%;
	}
	.col-18-bp-1-over {
		flex: 0 0 auto;
		width: 75%;
	}
	.col-19-bp-1-over {
		flex: 0 0 auto;
		width: 79.1666666666%;
	}
	.col-20-bp-1-over {
		flex: 0 0 auto;
		width: 83.3333333333%;
	}
	.col-21-bp-1-over {
		flex: 0 0 auto;
		width: 87.5%;
	}
	.col-22-bp-1-over {
		flex: 0 0 auto;
		width: 91.6666666666%;
	}
	.col-23-bp-1-over {
		flex: 0 0 auto;
		width: 95.8333333333%;
	}
	.col-24-bp-1-over {
		flex: 0 0 auto;
		width: 100%;
	}
	.row-spacing-xs-bp-1-over {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-1-over {
		height: 0.625rem;
	}
	.row-spacing-md-bp-1-over {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-1-over {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-1-over {
		height: 3.125rem;
	}
}
@media all and (min-width: $settings_bp_2_over) {
	.cols-bp-2-over > * {
		flex: 1 0 0%;
	}
	.cols-fixed-bp-2-over > * {
		flex: 0 0 auto;
		width: auto;
	}
	.col-bp-2-over {
		flex: 1 0 0%;
	}
	.col-fixed-bp-2-over {
		flex: 0 0 auto;
		width: auto;
	}
	.col-1-bp-2-over {
		flex: 0 0 auto;
		width: 4.16666666666%;
	}
	.col-2-bp-2-over {
		flex: 0 0 auto;
		width: 8.33333333333%;
	}
	.col-3-bp-2-over {
		flex: 0 0 auto;
		width: 12.5%;
	}
	.col-4-bp-2-over {
		flex: 0 0 auto;
		width: 16.6666666666%;
	}
	.col-5-bp-2-over {
		flex: 0 0 auto;
		width: 20.8333333333%;
	}
	.col-6-bp-2-over {
		flex: 0 0 auto;
		width: 25%;
	}
	.col-7-bp-2-over {
		flex: 0 0 auto;
		width: 29.1666666666%;
	}
	.col-8-bp-2-over {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.col-9-bp-2-over {
		flex: 0 0 auto;
		width: 37.5%;
	}
	.col-10-bp-2-over {
		flex: 0 0 auto;
		width: 41.6666666666%;
	}
	.col-11-bp-2-over {
		flex: 0 0 auto;
		width: 45.8333333333%;
	}
	.col-12-bp-2-over {
		flex: 0 0 auto;
		width: 50%;
	}
	.col-13-bp-2-over {
		flex: 0 0 auto;
		width: 54.1666666666%;
	}
	.col-14-bp-2-over {
		flex: 0 0 auto;
		width: 58.3333333333%;
	}
	.col-15-bp-2-over {
		flex: 0 0 auto;
		width: 62.5%;
	}
	.col-16-bp-2-over {
		flex: 0 0 auto;
		width: 66.6666666666%;
	}
	.col-17-bp-2-over {
		flex: 0 0 auto;
		width: 70.8333333333%;
	}
	.col-18-bp-2-over {
		flex: 0 0 auto;
		width: 75%;
	}
	.col-19-bp-2-over {
		flex: 0 0 auto;
		width: 79.1666666666%;
	}
	.col-20-bp-2-over {
		flex: 0 0 auto;
		width: 83.3333333333%;
	}
	.col-21-bp-2-over {
		flex: 0 0 auto;
		width: 87.5%;
	}
	.col-22-bp-2-over {
		flex: 0 0 auto;
		width: 91.6666666666%;
	}
	.col-23-bp-2-over {
		flex: 0 0 auto;
		width: 95.8333333333%;
	}
	.col-24-bp-2-over {
		flex: 0 0 auto;
		width: 100%;
	}
	.row-spacing-xs-bp-2-over {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-2-over {
		height: 0.625rem;
	}
	.row-spacing-md-bp-2-over {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-2-over {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-2-over {
		height: 3.125rem;
	}
}
@media all and (min-width: $settings_bp_3_over) {
	.cols-bp-3-over > * {
		flex: 1 0 0%;
	}
	.cols-fixed-bp-3-over > * {
		flex: 0 0 auto;
		width: auto;
	}
	.col-bp-3-over {
		flex: 1 0 0%;
	}
	.col-fixed-bp-3-over {
		flex: 0 0 auto;
		width: auto;
	}
	.col-1-bp-3-over {
		flex: 0 0 auto;
		width: 4.16666666666%;
	}
	.col-2-bp-3-over {
		flex: 0 0 auto;
		width: 8.33333333333%;
	}
	.col-3-bp-3-over {
		flex: 0 0 auto;
		width: 12.5%;
	}
	.col-4-bp-3-over {
		flex: 0 0 auto;
		width: 16.6666666666%;
	}
	.col-5-bp-3-over {
		flex: 0 0 auto;
		width: 20.8333333333%;
	}
	.col-6-bp-3-over {
		flex: 0 0 auto;
		width: 25%;
	}
	.col-7-bp-3-over {
		flex: 0 0 auto;
		width: 29.1666666666%;
	}
	.col-8-bp-3-over {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.col-9-bp-3-over {
		flex: 0 0 auto;
		width: 37.5%;
	}
	.col-10-bp-3-over {
		flex: 0 0 auto;
		width: 41.6666666666%;
	}
	.col-11-bp-3-over {
		flex: 0 0 auto;
		width: 45.8333333333%;
	}
	.col-12-bp-3-over {
		flex: 0 0 auto;
		width: 50%;
	}
	.col-13-bp-3-over {
		flex: 0 0 auto;
		width: 54.1666666666%;
	}
	.col-14-bp-3-over {
		flex: 0 0 auto;
		width: 58.3333333333%;
	}
	.col-15-bp-3-over {
		flex: 0 0 auto;
		width: 62.5%;
	}
	.col-16-bp-3-over {
		flex: 0 0 auto;
		width: 66.6666666666%;
	}
	.col-17-bp-3-over {
		flex: 0 0 auto;
		width: 70.8333333333%;
	}
	.col-18-bp-3-over {
		flex: 0 0 auto;
		width: 75%;
	}
	.col-19-bp-3-over {
		flex: 0 0 auto;
		width: 79.1666666666%;
	}
	.col-20-bp-3-over {
		flex: 0 0 auto;
		width: 83.3333333333%;
	}
	.col-21-bp-3-over {
		flex: 0 0 auto;
		width: 87.5%;
	}
	.col-22-bp-3-over {
		flex: 0 0 auto;
		width: 91.6666666666%;
	}
	.col-23-bp-3-over {
		flex: 0 0 auto;
		width: 95.8333333333%;
	}
	.col-24-bp-3-over {
		flex: 0 0 auto;
		width: 100%;
	}
	.row-spacing-xs-bp-3-over {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-3-over {
		height: 0.625rem;
	}
	.row-spacing-md-bp-3-over {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-3-over {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-3-over {
		height: 3.125rem;
	}
}
@media all and (min-width: $settings_bp_4_over) {
	.cols-bp-4-over > * {
		flex: 1 0 0%;
	}
	.cols-fixed-bp-4-over > * {
		flex: 0 0 auto;
		width: auto;
	}
	.col-bp-4-over {
		flex: 1 0 0%;
	}
	.col-fixed-bp-4-over {
		flex: 0 0 auto;
		width: auto;
	}
	.col-1-bp-4-over {
		flex: 0 0 auto;
		width: 4.16666666666%;
	}
	.col-2-bp-4-over {
		flex: 0 0 auto;
		width: 8.33333333333%;
	}
	.col-3-bp-4-over {
		flex: 0 0 auto;
		width: 12.5%;
	}
	.col-4-bp-4-over {
		flex: 0 0 auto;
		width: 16.6666666666%;
	}
	.col-5-bp-4-over {
		flex: 0 0 auto;
		width: 20.8333333333%;
	}
	.col-6-bp-4-over {
		flex: 0 0 auto;
		width: 25%;
	}
	.col-7-bp-4-over {
		flex: 0 0 auto;
		width: 29.1666666666%;
	}
	.col-8-bp-4-over {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.col-9-bp-4-over {
		flex: 0 0 auto;
		width: 37.5%;
	}
	.col-10-bp-4-over {
		flex: 0 0 auto;
		width: 41.6666666666%;
	}
	.col-11-bp-4-over {
		flex: 0 0 auto;
		width: 45.8333333333%;
	}
	.col-12-bp-4-over {
		flex: 0 0 auto;
		width: 50%;
	}
	.col-13-bp-4-over {
		flex: 0 0 auto;
		width: 54.1666666666%;
	}
	.col-14-bp-4-over {
		flex: 0 0 auto;
		width: 58.3333333333%;
	}
	.col-15-bp-4-over {
		flex: 0 0 auto;
		width: 62.5%;
	}
	.col-16-bp-4-over {
		flex: 0 0 auto;
		width: 66.6666666666%;
	}
	.col-17-bp-4-over {
		flex: 0 0 auto;
		width: 70.8333333333%;
	}
	.col-18-bp-4-over {
		flex: 0 0 auto;
		width: 75%;
	}
	.col-19-bp-4-over {
		flex: 0 0 auto;
		width: 79.1666666666%;
	}
	.col-20-bp-4-over {
		flex: 0 0 auto;
		width: 83.3333333333%;
	}
	.col-21-bp-4-over {
		flex: 0 0 auto;
		width: 87.5%;
	}
	.col-22-bp-4-over {
		flex: 0 0 auto;
		width: 91.6666666666%;
	}
	.col-23-bp-4-over {
		flex: 0 0 auto;
		width: 95.8333333333%;
	}
	.col-24-bp-4-over {
		flex: 0 0 auto;
		width: 100%;
	}
	.row-spacing-xs-bp-4-over {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-4-over {
		height: 0.625rem;
	}
	.row-spacing-md-bp-4-over {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-4-over {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-4-over {
		height: 3.125rem;
	}
}
@media all and (min-width: $settings_bp_5_over) {
	.cols-bp-5-over > * {
		flex: 1 0 0%;
	}
	.cols-fixed-bp-5-over > * {
		flex: 0 0 auto;
		width: auto;
	}
	.col-bp-5-over {
		flex: 1 0 0%;
	}
	.col-fixed-bp-5-over {
		flex: 0 0 auto;
		width: auto;
	}
	.col-1-bp-5-over {
		flex: 0 0 auto;
		width: 4.16666666666%;
	}
	.col-2-bp-5-over {
		flex: 0 0 auto;
		width: 8.33333333333%;
	}
	.col-3-bp-5-over {
		flex: 0 0 auto;
		width: 12.5%;
	}
	.col-4-bp-5-over {
		flex: 0 0 auto;
		width: 16.6666666666%;
	}
	.col-5-bp-5-over {
		flex: 0 0 auto;
		width: 20.8333333333%;
	}
	.col-6-bp-5-over {
		flex: 0 0 auto;
		width: 25%;
	}
	.col-7-bp-5-over {
		flex: 0 0 auto;
		width: 29.1666666666%;
	}
	.col-8-bp-5-over {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.col-9-bp-5-over {
		flex: 0 0 auto;
		width: 37.5%;
	}
	.col-10-bp-5-over {
		flex: 0 0 auto;
		width: 41.6666666666%;
	}
	.col-11-bp-5-over {
		flex: 0 0 auto;
		width: 45.8333333333%;
	}
	.col-12-bp-5-over {
		flex: 0 0 auto;
		width: 50%;
	}
	.col-13-bp-5-over {
		flex: 0 0 auto;
		width: 54.1666666666%;
	}
	.col-14-bp-5-over {
		flex: 0 0 auto;
		width: 58.3333333333%;
	}
	.col-15-bp-5-over {
		flex: 0 0 auto;
		width: 62.5%;
	}
	.col-16-bp-5-over {
		flex: 0 0 auto;
		width: 66.6666666666%;
	}
	.col-17-bp-5-over {
		flex: 0 0 auto;
		width: 70.8333333333%;
	}
	.col-18-bp-5-over {
		flex: 0 0 auto;
		width: 75%;
	}
	.col-19-bp-5-over {
		flex: 0 0 auto;
		width: 79.1666666666%;
	}
	.col-20-bp-5-over {
		flex: 0 0 auto;
		width: 83.3333333333%;
	}
	.col-21-bp-5-over {
		flex: 0 0 auto;
		width: 87.5%;
	}
	.col-22-bp-5-over {
		flex: 0 0 auto;
		width: 91.6666666666%;
	}
	.col-23-bp-5-over {
		flex: 0 0 auto;
		width: 95.8333333333%;
	}
	.col-24-bp-5-over {
		flex: 0 0 auto;
		width: 100%;
	}
	.row-spacing-xs-bp-5-over {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-5-over {
		height: 0.625rem;
	}
	.row-spacing-md-bp-5-over {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-5-over {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-5-over {
		height: 3.125rem;
	}
}
@media all and (max-width: $settings_bp_5_under) {
	.cols-bp-5-under > * {
		flex: 1 0 0%;
	}
	.cols-fixed-bp-5-under > * {
		flex: 0 0 auto;
		width: auto;
	}
	.col-bp-5-under {
		flex: 1 0 0%;
	}
	.col-fixed-bp-5-under {
		flex: 0 0 auto;
		width: auto;
	}
	.col-1-bp-5-under {
		flex: 0 0 auto;
		width: 4.16666666666%;
	}
	.col-2-bp-5-under {
		flex: 0 0 auto;
		width: 8.33333333333%;
	}
	.col-3-bp-5-under {
		flex: 0 0 auto;
		width: 12.5%;
	}
	.col-4-bp-5-under {
		flex: 0 0 auto;
		width: 16.6666666666%;
	}
	.col-5-bp-5-under {
		flex: 0 0 auto;
		width: 20.8333333333%;
	}
	.col-6-bp-5-under {
		flex: 0 0 auto;
		width: 25%;
	}
	.col-7-bp-5-under {
		flex: 0 0 auto;
		width: 29.1666666666%;
	}
	.col-8-bp-5-under {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.col-9-bp-5-under {
		flex: 0 0 auto;
		width: 37.5%;
	}
	.col-10-bp-5-under {
		flex: 0 0 auto;
		width: 41.6666666666%;
	}
	.col-11-bp-5-under {
		flex: 0 0 auto;
		width: 45.8333333333%;
	}
	.col-12-bp-5-under {
		flex: 0 0 auto;
		width: 50%;
	}
	.col-13-bp-5-under {
		flex: 0 0 auto;
		width: 54.1666666666%;
	}
	.col-14-bp-5-under {
		flex: 0 0 auto;
		width: 58.3333333333%;
	}
	.col-15-bp-5-under {
		flex: 0 0 auto;
		width: 62.5%;
	}
	.col-16-bp-5-under {
		flex: 0 0 auto;
		width: 66.6666666666%;
	}
	.col-17-bp-5-under {
		flex: 0 0 auto;
		width: 70.8333333333%;
	}
	.col-18-bp-5-under {
		flex: 0 0 auto;
		width: 75%;
	}
	.col-19-bp-5-under {
		flex: 0 0 auto;
		width: 79.1666666666%;
	}
	.col-20-bp-5-under {
		flex: 0 0 auto;
		width: 83.3333333333%;
	}
	.col-21-bp-5-under {
		flex: 0 0 auto;
		width: 87.5%;
	}
	.col-22-bp-5-under {
		flex: 0 0 auto;
		width: 91.6666666666%;
	}
	.col-23-bp-5-under {
		flex: 0 0 auto;
		width: 95.8333333333%;
	}
	.col-24-bp-5-under {
		flex: 0 0 auto;
		width: 100%;
	}
	.row-spacing-xs-bp-5-under {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-5-under {
		height: 0.625rem;
	}
	.row-spacing-md-bp-5-under {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-5-under {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-5-under {
		height: 3.125rem;
	}
}
@media all and (max-width: $settings_bp_4_under) {
	.cols-bp-4-under > * {
		flex: 1 0 0%;
	}
	.cols-fixed-bp-4-under > * {
		flex: 0 0 auto;
		width: auto;
	}
	.col-bp-4-under {
		flex: 1 0 0%;
	}
	.col-fixed-bp-4-under {
		flex: 0 0 auto;
		width: auto;
	}
	.col-1-bp-4-under {
		flex: 0 0 auto;
		width: 4.16666666666%;
	}
	.col-2-bp-4-under {
		flex: 0 0 auto;
		width: 8.33333333333%;
	}
	.col-3-bp-4-under {
		flex: 0 0 auto;
		width: 12.5%;
	}
	.col-4-bp-4-under {
		flex: 0 0 auto;
		width: 16.6666666666%;
	}
	.col-5-bp-4-under {
		flex: 0 0 auto;
		width: 20.8333333333%;
	}
	.col-6-bp-4-under {
		flex: 0 0 auto;
		width: 25%;
	}
	.col-7-bp-4-under {
		flex: 0 0 auto;
		width: 29.1666666666%;
	}
	.col-8-bp-4-under {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.col-9-bp-4-under {
		flex: 0 0 auto;
		width: 37.5%;
	}
	.col-10-bp-4-under {
		flex: 0 0 auto;
		width: 41.6666666666%;
	}
	.col-11-bp-4-under {
		flex: 0 0 auto;
		width: 45.8333333333%;
	}
	.col-12-bp-4-under {
		flex: 0 0 auto;
		width: 50%;
	}
	.col-13-bp-4-under {
		flex: 0 0 auto;
		width: 54.1666666666%;
	}
	.col-14-bp-4-under {
		flex: 0 0 auto;
		width: 58.3333333333%;
	}
	.col-15-bp-4-under {
		flex: 0 0 auto;
		width: 62.5%;
	}
	.col-16-bp-4-under {
		flex: 0 0 auto;
		width: 66.6666666666%;
	}
	.col-17-bp-4-under {
		flex: 0 0 auto;
		width: 70.8333333333%;
	}
	.col-18-bp-4-under {
		flex: 0 0 auto;
		width: 75%;
	}
	.col-19-bp-4-under {
		flex: 0 0 auto;
		width: 79.1666666666%;
	}
	.col-20-bp-4-under {
		flex: 0 0 auto;
		width: 83.3333333333%;
	}
	.col-21-bp-4-under {
		flex: 0 0 auto;
		width: 87.5%;
	}
	.col-22-bp-4-under {
		flex: 0 0 auto;
		width: 91.6666666666%;
	}
	.col-23-bp-4-under {
		flex: 0 0 auto;
		width: 95.8333333333%;
	}
	.col-24-bp-4-under {
		flex: 0 0 auto;
		width: 100%;
	}
	.row-spacing-xs-bp-4-under {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-4-under {
		height: 0.625rem;
	}
	.row-spacing-md-bp-4-under {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-4-under {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-4-under {
		height: 3.125rem;
	}
}
@media all and (max-width: $settings_bp_3_under) {
	.cols-bp-3-under > * {
		flex: 1 0 0%;
	}
	.cols-fixed-bp-3-under > * {
		flex: 0 0 auto;
		width: auto;
	}
	.col-bp-3-under {
		flex: 1 0 0%;
	}
	.col-fixed-bp-3-under {
		flex: 0 0 auto;
		width: auto;
	}
	.col-1-bp-3-under {
		flex: 0 0 auto;
		width: 4.16666666666%;
	}
	.col-2-bp-3-under {
		flex: 0 0 auto;
		width: 8.33333333333%;
	}
	.col-3-bp-3-under {
		flex: 0 0 auto;
		width: 12.5%;
	}
	.col-4-bp-3-under {
		flex: 0 0 auto;
		width: 16.6666666666%;
	}
	.col-5-bp-3-under {
		flex: 0 0 auto;
		width: 20.8333333333%;
	}
	.col-6-bp-3-under {
		flex: 0 0 auto;
		width: 25%;
	}
	.col-7-bp-3-under {
		flex: 0 0 auto;
		width: 29.1666666666%;
	}
	.col-8-bp-3-under {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.col-9-bp-3-under {
		flex: 0 0 auto;
		width: 37.5%;
	}
	.col-10-bp-3-under {
		flex: 0 0 auto;
		width: 41.6666666666%;
	}
	.col-11-bp-3-under {
		flex: 0 0 auto;
		width: 45.8333333333%;
	}
	.col-12-bp-3-under {
		flex: 0 0 auto;
		width: 50%;
	}
	.col-13-bp-3-under {
		flex: 0 0 auto;
		width: 54.1666666666%;
	}
	.col-14-bp-3-under {
		flex: 0 0 auto;
		width: 58.3333333333%;
	}
	.col-15-bp-3-under {
		flex: 0 0 auto;
		width: 62.5%;
	}
	.col-16-bp-3-under {
		flex: 0 0 auto;
		width: 66.6666666666%;
	}
	.col-17-bp-3-under {
		flex: 0 0 auto;
		width: 70.8333333333%;
	}
	.col-18-bp-3-under {
		flex: 0 0 auto;
		width: 75%;
	}
	.col-19-bp-3-under {
		flex: 0 0 auto;
		width: 79.1666666666%;
	}
	.col-20-bp-3-under {
		flex: 0 0 auto;
		width: 83.3333333333%;
	}
	.col-21-bp-3-under {
		flex: 0 0 auto;
		width: 87.5%;
	}
	.col-22-bp-3-under {
		flex: 0 0 auto;
		width: 91.6666666666%;
	}
	.col-23-bp-3-under {
		flex: 0 0 auto;
		width: 95.8333333333%;
	}
	.col-24-bp-3-under {
		flex: 0 0 auto;
		width: 100%;
	}
	.row-spacing-xs-bp-3-under {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-3-under {
		height: 0.625rem;
	}
	.row-spacing-md-bp-3-under {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-3-under {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-3-under {
		height: 3.125rem;
	}
}
@media all and (max-width: $settings_bp_2_under) {
	.cols-bp-2-under > * {
		flex: 1 0 0%;
	}
	.cols-fixed-bp-2-under > * {
		flex: 0 0 auto;
		width: auto;
	}
	.col-bp-2-under {
		flex: 1 0 0%;
	}
	.col-fixed-bp-2-under {
		flex: 0 0 auto;
		width: auto;
	}
	.col-1-bp-2-under {
		flex: 0 0 auto;
		width: 4.16666666666%;
	}
	.col-2-bp-2-under {
		flex: 0 0 auto;
		width: 8.33333333333%;
	}
	.col-3-bp-2-under {
		flex: 0 0 auto;
		width: 12.5%;
	}
	.col-4-bp-2-under {
		flex: 0 0 auto;
		width: 16.6666666666%;
	}
	.col-5-bp-2-under {
		flex: 0 0 auto;
		width: 20.8333333333%;
	}
	.col-6-bp-2-under {
		flex: 0 0 auto;
		width: 25%;
	}
	.col-7-bp-2-under {
		flex: 0 0 auto;
		width: 29.1666666666%;
	}
	.col-8-bp-2-under {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.col-9-bp-2-under {
		flex: 0 0 auto;
		width: 37.5%;
	}
	.col-10-bp-2-under {
		flex: 0 0 auto;
		width: 41.6666666666%;
	}
	.col-11-bp-2-under {
		flex: 0 0 auto;
		width: 45.8333333333%;
	}
	.col-12-bp-2-under {
		flex: 0 0 auto;
		width: 50%;
	}
	.col-13-bp-2-under {
		flex: 0 0 auto;
		width: 54.1666666666%;
	}
	.col-14-bp-2-under {
		flex: 0 0 auto;
		width: 58.3333333333%;
	}
	.col-15-bp-2-under {
		flex: 0 0 auto;
		width: 62.5%;
	}
	.col-16-bp-2-under {
		flex: 0 0 auto;
		width: 66.6666666666%;
	}
	.col-17-bp-2-under {
		flex: 0 0 auto;
		width: 70.8333333333%;
	}
	.col-18-bp-2-under {
		flex: 0 0 auto;
		width: 75%;
	}
	.col-19-bp-2-under {
		flex: 0 0 auto;
		width: 79.1666666666%;
	}
	.col-20-bp-2-under {
		flex: 0 0 auto;
		width: 83.3333333333%;
	}
	.col-21-bp-2-under {
		flex: 0 0 auto;
		width: 87.5%;
	}
	.col-22-bp-2-under {
		flex: 0 0 auto;
		width: 91.6666666666%;
	}
	.col-23-bp-2-under {
		flex: 0 0 auto;
		width: 95.8333333333%;
	}
	.col-24-bp-2-under {
		flex: 0 0 auto;
		width: 100%;
	}
	.row-spacing-xs-bp-2-under {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-2-under {
		height: 0.625rem;
	}
	.row-spacing-md-bp-2-under {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-2-under {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-2-under {
		height: 3.125rem;
	}
}
@media all and (max-width: $settings_bp_1_under) {
	.cols-bp-1-under > * {
		flex: 1 0 0%;
	}
	.cols-fixed-bp-1-under > * {
		flex: 0 0 auto;
		width: auto;
	}
	.col-bp-1-under {
		flex: 1 0 0%;
	}
	.col-fixed-bp-1-under {
		flex: 0 0 auto;
		width: auto;
	}
	.col-1-bp-1-under {
		flex: 0 0 auto;
		width: 4.16666666666%;
	}
	.col-2-bp-1-under {
		flex: 0 0 auto;
		width: 8.33333333333%;
	}
	.col-3-bp-1-under {
		flex: 0 0 auto;
		width: 12.5%;
	}
	.col-4-bp-1-under {
		flex: 0 0 auto;
		width: 16.6666666666%;
	}
	.col-5-bp-1-under {
		flex: 0 0 auto;
		width: 20.8333333333%;
	}
	.col-6-bp-1-under {
		flex: 0 0 auto;
		width: 25%;
	}
	.col-7-bp-1-under {
		flex: 0 0 auto;
		width: 29.1666666666%;
	}
	.col-8-bp-1-under {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.col-9-bp-1-under {
		flex: 0 0 auto;
		width: 37.5%;
	}
	.col-10-bp-1-under {
		flex: 0 0 auto;
		width: 41.6666666666%;
	}
	.col-11-bp-1-under {
		flex: 0 0 auto;
		width: 45.8333333333%;
	}
	.col-12-bp-1-under {
		flex: 0 0 auto;
		width: 50%;
	}
	.col-13-bp-1-under {
		flex: 0 0 auto;
		width: 54.1666666666%;
	}
	.col-14-bp-1-under {
		flex: 0 0 auto;
		width: 58.3333333333%;
	}
	.col-15-bp-1-under {
		flex: 0 0 auto;
		width: 62.5%;
	}
	.col-16-bp-1-under {
		flex: 0 0 auto;
		width: 66.6666666666%;
	}
	.col-17-bp-1-under {
		flex: 0 0 auto;
		width: 70.8333333333%;
	}
	.col-18-bp-1-under {
		flex: 0 0 auto;
		width: 75%;
	}
	.col-19-bp-1-under {
		flex: 0 0 auto;
		width: 79.1666666666%;
	}
	.col-20-bp-1-under {
		flex: 0 0 auto;
		width: 83.3333333333%;
	}
	.col-21-bp-1-under {
		flex: 0 0 auto;
		width: 87.5%;
	}
	.col-22-bp-1-under {
		flex: 0 0 auto;
		width: 91.6666666666%;
	}
	.col-23-bp-1-under {
		flex: 0 0 auto;
		width: 95.8333333333%;
	}
	.col-24-bp-1-under {
		flex: 0 0 auto;
		width: 100%;
	}
	.row-spacing-xs-bp-1-under {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-1-under {
		height: 0.625rem;
	}
	.row-spacing-md-bp-1-under {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-1-under {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-1-under {
		height: 3.125rem;
	}
}
.col-padding-initial > *[class*="col"]:not([class*="pad-"]),
.col-padding-initial > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
.col-padding-initial > *[class*="col"]:not([class*="pad-"]) *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
.col-padding-initial > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]) > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
*[class*="columns"].col-padding-initial > *,
.col-padding-initial th:not([class*="pad-"]),
.col-padding-initial td:not([class*="pad-"]) {
	padding: 0;
}
.col-padding-xs > *[class*="col"]:not([class*="pad-"]),
.col-padding-xs > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
.col-padding-xs > *[class*="col"]:not([class*="pad-"]) *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
.col-padding-xs > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]) > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
*[class*="columns"].col-padding-xs > *,
.col-padding-xs th:not([class*="pad-"]),
.col-padding-xs td:not([class*="pad-"]) {
	padding: 0.313rem;
}
.col-padding-sm > *[class*="col"]:not([class*="pad-"]),
.col-padding-sm > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
.col-padding-sm > *[class*="col"]:not([class*="pad-"]) *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
.col-padding-sm > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]) > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
*[class*="columns"].col-padding-sm > *,
.col-padding-sm th:not([class*="pad-"]),
.col-padding-sm td:not([class*="pad-"]) {
	padding: 0.625rem;
}
.col-padding-md > *[class*="col"]:not([class*="pad-"]),
.col-padding-md > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
.col-padding-md > *[class*="col"]:not([class*="pad-"]) *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
.col-padding-md > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]) > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
*[class*="columns"].col-padding-md > *,
.col-padding-md th:not([class*="pad-"]),
.col-padding-md td:not([class*="pad-"]) {
	padding: 0.938rem;
}
.col-padding-lg > *[class*="col"]:not([class*="pad-"]),
.col-padding-lg > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
.col-padding-lg > *[class*="col"]:not([class*="pad-"]) *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
.col-padding-lg > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]) > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
*[class*="columns"].col-padding-lg > *,
.col-padding-lg th:not([class*="pad-"]),
.col-padding-lg td:not([class*="pad-"]) {
	padding: 1.25rem;
}
.col-padding-xl > *[class*="col"]:not([class*="pad-"]),
.col-padding-xl > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
.col-padding-xl > *[class*="col"]:not([class*="pad-"]) *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
.col-padding-xl > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]) > *[class*="row"]:not([class*="col-padding-"]) > *[class*="col"]:not([class*="pad-"]),
*[class*="columns"].col-padding-xl > *,
.col-padding-xl th:not([class*="pad-"]),
.col-padding-xl td:not([class*="pad-"]) {
	padding: 1.563rem;
}
