
.content-row {
	white-space: normal;
	clear: both;
}
.content-row-inline {
	display: inline-block;
	white-space: normal;
	clear: both;
}
.content-col-1 {
	width: 5%;
}
.content-col-2 {
	width: 10%;
}
.content-col-3 {
	width: 15%;
}
.content-col-4 {
	width: 20%;
}
.content-col-5 {
	width: 25%;
}
.content-col-6 {
	width: 30%;
}
.content-col-7 {
	width: 35%;
}
.content-col-8 {
	width: 40%;
}
.content-col-9 {
	width: 45%;
}
.content-col-10 {
	width: 50%;
}
.content-col-11 {
	width: 55%;
}
.content-col-12 {
	width: 60%;
}
.content-col-13 {
	width: 65%;
}
.content-col-14 {
	width: 70%;
}
.content-col-15 {
	width: 75%;
}
.content-col-16 {
	width: 80%;
}
.content-col-17 {
	width: 85%;
}
.content-col-18 {
	width: 90%;
}
.content-col-19 {
	width: 95%;
}
.content-col-20 {
	width: 100%;
}
.content-col-eq-3 {
	width: 33.33333333%;
}
.content-col-eq-6 {
	width: 16.66666666%;
}
.content-col-eq-7 {
	width: 14.28571428%;
}
.content-col-eq-8 {
	width: 12.5%;
}
.content-col-eq-9 {
	width: 11.11111111%;
}
.content-col-eq-11 {
	width: 9.090909090%;
}
.content-col-eq-12 {
	width: 8.333333333%;
}
.content-col-eq-13 {
	width: 7.692307692%;
}
.content-col-eq-14 {
	width: 7.142857142%;
}
.content-col-eq-15 {
	width: 6.666666666%;
}
.content-col-eq-16 {
	width: 6.25%;
}
.content-col-eq-17 {
	width: 5.882352941%;
}
.content-col-eq-18 {
	width: 5.555555555%;
}
.content-col-eq-19 {
	width: 5.263157894%;
}
.content-col, *[class*="content-col-"] {
	float: left;
	padding: 0;
	min-height: 0.078rem;
}
.form-row {
	white-space: normal;
	clear: both;
}
.form-row-inline {
	white-space: normal;
	display: inline-block;
	clear: both;
}
.form-col-1 {
	width: 5%;
}
.form-col-2 {
	width: 10%;
}
.form-col-3 {
	width: 15%;
}
.form-col-4 {
	width: 20%;
}
.form-col-5 {
	width: 25%;
}
.form-col-6 {
	width: 30%;
}
.form-col-7 {
	width: 35%;
}
.form-col-8 {
	width: 40%;
}
.form-col-9 {
	width: 45%;
}
.form-col-10 {
	width: 50%;
}
.form-col-11 {
	width: 55%;
}
.form-col-12 {
	width: 60%;
}
.form-col-13 {
	width: 65%;
}
.form-col-14 {
	width: 70%;
}
.form-col-15 {
	width: 75%;
}
.form-col-16 {
	width: 80%;
}
.form-col-17 {
	width: 85%;
}
.form-col-18 {
	width: 90%;
}
.form-col-19 {
	width: 95%;
}
.form-col-20 {
	width: 100%;
}
.form-col-eq-3 {
	width: 33.33333333%;
}
.form-col-eq-6 {
	width: 16.66666666%;
}
.form-col-eq-7 {
	width: 14.28571428%;
}
.form-col-eq-8 {
	width: 12.5%;
}
.form-col-eq-9 {
	width: 11.11111111%;
}
.form-col-eq-11 {
	width: 9.090909090%;
}
.form-col-eq-12 {
	width: 8.333333333%;
}
.form-col-eq-13 {
	width: 7.692307692%;
}
.form-col-eq-14 {
	width: 7.142857142%;
}
.form-col-eq-15 {
	width: 6.666666666%;
}
.form-col-eq-16 {
	width: 6.25%;
}
.form-col-eq-17 {
	width: 5.882352941%;
}
.form-col-eq-18 {
	width: 5.555555555%;
}
.form-col-eq-19 {
	width: 5.263157894%;
}
.form-col, *[class*="form-col-"] {
	float: left;
	padding: 0.313rem;
}
.table-row {
	white-space: normal;
	display: flex;
	flex-wrap: wrap;
}
.table-row-inline {
	white-space: normal;
	display: inline-flex;
	flex-wrap: wrap;
}
.table-row > *[class*="table-col-"] {
  	border-top: 0.078rem solid $theme_default_border;
}
.table-row:last-of-type > *[class*="table-col-"] {
  	border-bottom: 0.078rem solid $theme_default_border;
}
.table-group > *[class*="table-col-"] {
  	border-bottom: 0.078rem solid $theme_default_border;
}
.table-col {
	flex: 0 0 auto;
}
.table-col-auto {
	flex: 1 1 auto;
}
.table-col-1 {
	width: 5%;
}
.table-col-2 {
	width: 10%;
}
.table-col-3 {
	width: 15%;
}
.table-col-4 {
	width: 20%;
}
.table-col-5 {
	width: 25%;
}
.table-col-6 {
	width: 30%;
}
.table-col-7 {
	width: 35%;
}
.table-col-8 {
	width: 40%;
}
.table-col-9 {
	width: 45%;
}
.table-col-10 {
	width: 50%;
}
.table-col-11 {
	width: 55%;
}
.table-col-12 {
	width: 60%;
}
.table-col-13 {
	width: 65%;
}
.table-col-14 {
	width: 70%;
}
.table-col-15 {
	width: 75%;
}
.table-col-16 {
	width: 80%;
}
.table-col-17 {
	width: 85%;
}
.table-col-18 {
	width: 90%;
}
.table-col-19 {
	width: 95%;
}
.table-col-20 {
	width: 100%;
}
.table-col, *[class*="table-col-"] {
	padding: 0.313rem;
	display: flex;
	flex-direction: column;
}
*[class*="table-col-"]:not(.table-col-auto) {
	flex-basis: 1;
}
*[class*="table-col-"]:first-of-type {
	border-left: 0.078rem solid $theme_default_border;
}
*[class*="table-col-"]:last-of-type {
	border-right: 0.078rem solid $theme_default_border;
}
*[class*="table-col-"]:not(:first-of-type):not(:last-of-type) {
	border-left: 0.078rem solid $theme_default_border;
}
*[class*="table-col-"]:nth-last-child(2) {
	border-right: 0.078rem solid $theme_default_border;
}
.col-padding-xs *[class*="content-col"],
.col-padding-xs *[class*="form-col"],
.col-padding-xs *[class*="table-col"] {
	padding: 0.313rem;
}
.col-padding-sm *[class*="content-col"],
.col-padding-sm *[class*="form-col"],
.col-padding-sm *[class*="table-col"] {
	padding: 0.625rem;
}
.col-padding-md *[class*="content-col"],
.col-padding-md *[class*="form-col"],
.col-padding-md *[class*="table-col"] {
	padding: 0.938rem;
}
.col-padding-lg *[class*="content-col"],
.col-padding-lg *[class*="form-col"],
.col-padding-lg *[class*="table-col"] {
	padding: 1.25rem;
}
.col-padding-xl *[class*="content-col"],
.col-padding-xl *[class*="form-col"],
.col-padding-xl *[class*="table-col"] {
	padding: 1.563rem;
}
.row-spacing-xs {
	height: 0.313rem;
}
.row-spacing-sm {
	height: 0.625rem;
}
.row-spacing-md {
	height: 1.25rem;
}
.row-spacing-lg {
	height: 1.875rem;
}
.row-spacing-xl {
	height: 3.125rem;
}
*[class*="row-spacing-"] {
	clear: both;
}
@media all and (min-width: $settings_bp_1_over) {
	*[class*="table-col-"].respond-bp-1-over {
	  border-left: 0.078rem solid $theme_default_border;
	  border-right: 0.078rem solid $theme_default_border;
	}
	.table-row > *[class*="table-col-"]:not(:last-of-type).respond-bp-1-over {
		border-bottom: none;
	}
	.col-padding-xs-bp-1-over *[class*="content-col"],
	.col-padding-xs-bp-1-over *[class*="form-col"],
	.col-padding-xs-bp-1-over *[class*="table-col"] {
		padding: 0.313rem;
	}
	.col-padding-sm-bp-1-over *[class*="content-col"],
	.col-padding-sm-bp-1-over *[class*="form-col"],
	.col-padding-sm-bp-1-over *[class*="table-col"] {
		padding: 0.625rem;
	}
	.col-padding-md-bp-1-over *[class*="content-col"],
	.col-padding-md-bp-1-over *[class*="form-col"],
	.col-padding-md-bp-1-over *[class*="table-col"] {
		padding: 0.938rem;
	}
	.col-padding-lg-bp-1-over *[class*="content-col"],
	.col-padding-lg-bp-1-over *[class*="form-col"],
	.col-padding-lg-bp-1-over *[class*="table-col"] {
		padding: 1.25rem;
	}
	.col-padding-xl-bp-1-over *[class*="content-col"],
	.col-padding-xl-bp-1-over *[class*="form-col"],
	.col-padding-xl-bp-1-over *[class*="table-col"] {
		padding: 1.563rem;
	}
	.row-spacing-xs-bp-1-over {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-1-over {
		height: 0.625rem;
	}
	.row-spacing-md-bp-1-over {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-1-over {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-1-over {
		height: 3.125rem;
	}
}
@media all and (min-width: $settings_bp_2_over) {
	*[class*="table-col-"].respond-bp-2-over {
	  border-left: 0.078rem solid $theme_default_border;
	  border-right: 0.078rem solid $theme_default_border;
	}
	.table-row > *[class*="table-col-"]:not(:last-of-type).respond-bp-2-over {
		border-bottom: none;
	}
	.col-padding-xs-bp-2-over *[class*="content-col"],
	.col-padding-xs-bp-2-over *[class*="form-col"],
	.col-padding-xs-bp-2-over *[class*="table-col"] {
		padding: 0.313rem;
	}
	.col-padding-sm-bp-2-over *[class*="content-col"],
	.col-padding-sm-bp-2-over *[class*="form-col"],
	.col-padding-sm-bp-2-over *[class*="table-col"] {
		padding: 0.625rem;
	}
	.col-padding-md-bp-2-over *[class*="content-col"],
	.col-padding-md-bp-2-over *[class*="form-col"],
	.col-padding-md-bp-2-over *[class*="table-col"] {
		padding: 0.938rem;
	}
	.col-padding-lg-bp-2-over *[class*="content-col"],
	.col-padding-lg-bp-2-over *[class*="form-col"],
	.col-padding-lg-bp-2-over *[class*="table-col"] {
		padding: 1.25rem;
	}
	.col-padding-xl-bp-2-over *[class*="content-col"],
	.col-padding-xl-bp-2-over *[class*="form-col"],
	.col-padding-xl-bp-2-over *[class*="table-col"] {
		padding: 1.563rem;
	}
	.row-spacing-xs-bp-2-over {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-2-over {
		height: 0.625rem;
	}
	.row-spacing-md-bp-2-over {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-2-over {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-2-over {
		height: 3.125rem;
	}
}
@media all and (min-width: $settings_bp_3_over) {
	*[class*="table-col-"].respond-bp-3-over {
	  border-left: 0.078rem solid $theme_default_border;
	  border-right: 0.078rem solid $theme_default_border;
	}
	.table-row > *[class*="table-col-"]:not(:last-of-type).respond-bp-3-over {
		border-bottom: none;
	}
	.col-padding-xs-bp-3-over *[class*="content-col"],
	.col-padding-xs-bp-3-over *[class*="form-col"],
	.col-padding-xs-bp-3-over *[class*="table-col"] {
		padding: 0.313rem;
	}
	.col-padding-sm-bp-3-over *[class*="content-col"],
	.col-padding-sm-bp-3-over *[class*="form-col"],
	.col-padding-sm-bp-3-over *[class*="table-col"] {
		padding: 0.625rem;
	}
	.col-padding-md-bp-3-over *[class*="content-col"],
	.col-padding-md-bp-3-over *[class*="form-col"],
	.col-padding-md-bp-3-over *[class*="table-col"] {
		padding: 0.938rem;
	}
	.col-padding-lg-bp-3-over *[class*="content-col"],
	.col-padding-lg-bp-3-over *[class*="form-col"],
	.col-padding-lg-bp-3-over *[class*="table-col"] {
		padding: 1.25rem;
	}
	.col-padding-xl-bp-3-over *[class*="content-col"],
	.col-padding-xl-bp-3-over *[class*="form-col"],
	.col-padding-xl-bp-3-over *[class*="table-col"] {
		padding: 1.563rem;
	}
	.row-spacing-xs-bp-3-over {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-3-over {
		height: 0.625rem;
	}
	.row-spacing-md-bp-3-over {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-3-over {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-3-over {
		height: 3.125rem;
	}
}
@media all and (min-width: $settings_bp_4_over) {
	*[class*="table-col-"].respond-bp-4-over {
	  border-left: 0.078rem solid $theme_default_border;
	  border-right: 0.078rem solid $theme_default_border;
	}
	.table-row > *[class*="table-col-"]:not(:last-of-type).respond-bp-4-over {
		border-bottom: none;
	}
	.col-padding-xs-bp-4-over *[class*="content-col"],
	.col-padding-xs-bp-4-over *[class*="form-col"],
	.col-padding-xs-bp-4-over *[class*="table-col"] {
		padding: 0.313rem;
	}
	.col-padding-sm-bp-4-over *[class*="content-col"],
	.col-padding-sm-bp-4-over *[class*="form-col"],
	.col-padding-sm-bp-4-over *[class*="table-col"] {
		padding: 0.625rem;
	}
	.col-padding-md-bp-4-over *[class*="content-col"],
	.col-padding-md-bp-4-over *[class*="form-col"],
	.col-padding-md-bp-4-over *[class*="table-col"] {
		padding: 0.938rem;
	}
	.col-padding-lg-bp-4-over *[class*="content-col"],
	.col-padding-lg-bp-4-over *[class*="form-col"],
	.col-padding-lg-bp-4-over *[class*="table-col"] {
		padding: 1.25rem;
	}
	.col-padding-xl-bp-4-over *[class*="content-col"],
	.col-padding-xl-bp-4-over *[class*="form-col"],
	.col-padding-xl-bp-4-over *[class*="table-col"] {
		padding: 1.563rem;
	}
	.row-spacing-xs-bp-4-over {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-4-over {
		height: 0.625rem;
	}
	.row-spacing-md-bp-4-over {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-4-over {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-4-over {
		height: 3.125rem;
	}
}
@media all and (min-width: $settings_bp_5_over) {
	*[class*="table-col-"].respond-bp-5-over {
	  border-left: 0.078rem solid $theme_default_border;
	  border-right: 0.078rem solid $theme_default_border;
	}
	.table-row > *[class*="table-col-"]:not(:last-of-type).respond-bp-5-over {
		border-bottom: none;
	}
	.col-padding-xs-bp-5-over *[class*="content-col"],
	.col-padding-xs-bp-5-over *[class*="form-col"],
	.col-padding-xs-bp-5-over *[class*="table-col"] {
		padding: 0.313rem;
	}
	.col-padding-sm-bp-5-over *[class*="content-col"],
	.col-padding-sm-bp-5-over *[class*="form-col"],
	.col-padding-sm-bp-5-over *[class*="table-col"] {
		padding: 0.625rem;
	}
	.col-padding-md-bp-5-over *[class*="content-col"],
	.col-padding-md-bp-5-over *[class*="form-col"],
	.col-padding-md-bp-5-over *[class*="table-col"] {
		padding: 0.938rem;
	}
	.col-padding-lg-bp-5-over *[class*="content-col"],
	.col-padding-lg-bp-5-over *[class*="form-col"],
	.col-padding-lg-bp-5-over *[class*="table-col"] {
		padding: 1.25rem;
	}
	.col-padding-xl-bp-5-over *[class*="content-col"],
	.col-padding-xl-bp-5-over *[class*="form-col"],
	.col-padding-xl-bp-5-over *[class*="table-col"] {
		padding: 1.563rem;
	}
	.row-spacing-xs-bp-5-over {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-5-over {
		height: 0.625rem;
	}
	.row-spacing-md-bp-5-over {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-5-over {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-5-over {
		height: 3.125rem;
	}
}
@media all and (max-width: $settings_bp_5_under) {
	*[class*="table-col-"].respond-bp-5-under {
	  border-left: 0.078rem solid $theme_default_border;
	  border-right: 0.078rem solid $theme_default_border;
	}
	.table-row > *[class*="table-col-"]:not(:last-of-type).respond-bp-5-under {
		border-bottom: none;
	}
	.col-padding-xs-bp-5-under *[class*="content-col"],
	.col-padding-xs-bp-5-under *[class*="form-col"],
	.col-padding-xs-bp-5-under *[class*="table-col"] {
		padding: 0.313rem;
	}
	.col-padding-sm-bp-5-under *[class*="content-col"],
	.col-padding-sm-bp-5-under *[class*="form-col"],
	.col-padding-sm-bp-5-under *[class*="table-col"] {
		padding: 0.625rem;
	}
	.col-padding-md-bp-5-under *[class*="content-col"],
	.col-padding-md-bp-5-under *[class*="form-col"],
	.col-padding-md-bp-5-under *[class*="table-col"] {
		padding: 0.938rem;
	}
	.col-padding-lg-bp-5-under *[class*="content-col"],
	.col-padding-lg-bp-5-under *[class*="form-col"],
	.col-padding-lg-bp-5-under *[class*="table-col"] {
		padding: 1.25rem;
	}
	.col-padding-xl-bp-5-under *[class*="content-col"],
	.col-padding-xl-bp-5-under *[class*="form-col"],
	.col-padding-xl-bp-5-under *[class*="table-col"] {
		padding: 1.563rem;
	}
	.row-spacing-xs-bp-5-under {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-5-under {
		height: 0.625rem;
	}
	.row-spacing-md-bp-5-under {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-5-under {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-5-under {
		height: 3.125rem;
	}
}
@media all and (max-width: $settings_bp_4_under) {
	*[class*="table-col-"].respond-bp-4-under {
	  border-left: 0.078rem solid $theme_default_border;
	  border-right: 0.078rem solid $theme_default_border;
	}
	.table-row > *[class*="table-col-"]:not(:last-of-type).respond-bp-4-under {
		border-bottom: none;
	}
	.col-padding-xs-bp-4-under *[class*="content-col"],
	.col-padding-xs-bp-4-under *[class*="form-col"],
	.col-padding-xs-bp-4-under *[class*="table-col"] {
		padding: 0.313rem;
	}
	.col-padding-sm-bp-4-under *[class*="content-col"],
	.col-padding-sm-bp-4-under *[class*="form-col"],
	.col-padding-sm-bp-4-under *[class*="table-col"] {
		padding: 0.625rem;
	}
	.col-padding-md-bp-4-under *[class*="content-col"],
	.col-padding-md-bp-4-under *[class*="form-col"],
	.col-padding-md-bp-4-under *[class*="table-col"] {
		padding: 0.938rem;
	}
	.col-padding-lg-bp-4-under *[class*="content-col"],
	.col-padding-lg-bp-4-under *[class*="form-col"],
	.col-padding-lg-bp-4-under *[class*="table-col"] {
		padding: 1.25rem;
	}
	.col-padding-xl-bp-4-under *[class*="content-col"],
	.col-padding-xl-bp-4-under *[class*="form-col"],
	.col-padding-xl-bp-4-under *[class*="table-col"] {
		padding: 1.563rem;
	}
	.row-spacing-xs-bp-4-under {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-4-under {
		height: 0.625rem;
	}
	.row-spacing-md-bp-4-under {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-4-under {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-4-under {
		height: 3.125rem;
	}
}
@media all and (max-width: $settings_bp_3_under) {
	*[class*="table-col-"].respond-bp-3-under {
	  border-left: 0.078rem solid $theme_default_border;
	  border-right: 0.078rem solid $theme_default_border;
	}
	.table-row > *[class*="table-col-"]:not(:last-of-type).respond-bp-3-under {
		border-bottom: none;
	}
	.col-padding-xs-bp-3-under *[class*="content-col"],
	.col-padding-xs-bp-3-under *[class*="form-col"],
	.col-padding-xs-bp-3-under *[class*="table-col"] {
		padding: 0.313rem;
	}
	.col-padding-sm-bp-3-under *[class*="content-col"],
	.col-padding-sm-bp-3-under *[class*="form-col"],
	.col-padding-sm-bp-3-under *[class*="table-col"] {
		padding: 0.625rem;
	}
	.col-padding-md-bp-3-under *[class*="content-col"],
	.col-padding-md-bp-3-under *[class*="form-col"],
	.col-padding-md-bp-3-under *[class*="table-col"] {
		padding: 0.938rem;
	}
	.col-padding-lg-bp-3-under *[class*="content-col"],
	.col-padding-lg-bp-3-under *[class*="form-col"],
	.col-padding-lg-bp-3-under *[class*="table-col"] {
		padding: 1.25rem;
	}
	.col-padding-xl-bp-3-under *[class*="content-col"],
	.col-padding-xl-bp-3-under *[class*="form-col"],
	.col-padding-xl-bp-3-under *[class*="table-col"] {
		padding: 1.563rem;
	}
	.row-spacing-xs-bp-3-under {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-3-under {
		height: 0.625rem;
	}
	.row-spacing-md-bp-3-under {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-3-under {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-3-under {
		height: 3.125rem;
	}
}
@media all and (max-width: $settings_bp_2_under) {
	*[class*="table-col-"].respond-bp-2-under {
	  border-left: 0.078rem solid $theme_default_border;
	  border-right: 0.078rem solid $theme_default_border;
	}
	.table-row > *[class*="table-col-"]:not(:last-of-type).respond-bp-2-under {
		border-bottom: none;
	}
	.col-padding-xs-bp-2-under *[class*="content-col"],
	.col-padding-xs-bp-2-under *[class*="form-col"],
	.col-padding-xs-bp-2-under *[class*="table-col"] {
		padding: 0.313rem;
	}
	.col-padding-sm-bp-2-under *[class*="content-col"],
	.col-padding-sm-bp-2-under *[class*="form-col"],
	.col-padding-sm-bp-2-under *[class*="table-col"] {
		padding: 0.625rem;
	}
	.col-padding-md-bp-2-under *[class*="content-col"],
	.col-padding-md-bp-2-under *[class*="form-col"],
	.col-padding-md-bp-2-under *[class*="table-col"] {
		padding: 0.938rem;
	}
	.col-padding-lg-bp-2-under *[class*="content-col"],
	.col-padding-lg-bp-2-under *[class*="form-col"],
	.col-padding-lg-bp-2-under *[class*="table-col"] {
		padding: 1.25rem;
	}
	.col-padding-xl-bp-2-under *[class*="content-col"],
	.col-padding-xl-bp-2-under *[class*="form-col"],
	.col-padding-xl-bp-2-under *[class*="table-col"] {
		padding: 1.563rem;
	}
	.row-spacing-xs-bp-2-under {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-2-under {
		height: 0.625rem;
	}
	.row-spacing-md-bp-2-under {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-2-under {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-2-under {
		height: 3.125rem;
	}
}
@media all and (max-width: $settings_bp_1_under) {
	*[class*="table-col-"].respond-bp-1-under {
	  border-left: 0.078rem solid $theme_default_border;
	  border-right: 0.078rem solid $theme_default_border;
	}
	.table-row > *[class*="table-col-"]:not(:last-of-type).respond-bp-1-under {
		border-bottom: none;
	}
	.col-padding-xs-bp-1-under *[class*="content-col"],
	.col-padding-xs-bp-1-under *[class*="form-col"],
	.col-padding-xs-bp-1-under *[class*="table-col"] {
		padding: 0.313rem;
	}
	.col-padding-sm-bp-1-under *[class*="content-col"],
	.col-padding-sm-bp-1-under *[class*="form-col"],
	.col-padding-sm-bp-1-under *[class*="table-col"] {
		padding: 0.625rem;
	}
	.col-padding-md-bp-1-under *[class*="content-col"],
	.col-padding-md-bp-1-under *[class*="form-col"],
	.col-padding-md-bp-1-under *[class*="table-col"] {
		padding: 0.938rem;
	}
	.col-padding-lg-bp-1-under *[class*="content-col"],
	.col-padding-lg-bp-1-under *[class*="form-col"],
	.col-padding-lg-bp-1-under *[class*="table-col"] {
		padding: 1.25rem;
	}
	.col-padding-xl-bp-1-under *[class*="content-col"],
	.col-padding-xl-bp-1-under *[class*="form-col"],
	.col-padding-xl-bp-1-under *[class*="table-col"] {
		padding: 1.563rem;
	}
	.row-spacing-xs-bp-1-under {
		height: 0.313rem;
	}
	.row-spacing-sm-bp-1-under {
		height: 0.625rem;
	}
	.row-spacing-md-bp-1-under {
		height: 1.25rem;
	}
	.row-spacing-lg-bp-1-under {
		height: 1.875rem;
	}
	.row-spacing-xl-bp-1-under {
		height: 3.125rem;
	}
}
