
.align-self-start {
	align-self: start;
}
.align-self-flex-start {
	align-self: flex-start;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
	align-self: end;
}
.align-self-flex-end {
	align-self: flex-end;
}
.align-self-stretch {
  align-self: stretch;
}
.align-self-baseline {
  align-self: baseline;
}
.align-items-start {
	align-items: start;
}
.align-items-flex-start {
	align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
	align-items: end;
}
.align-items-flex-end {
	align-items: flex-end;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-baseline {
  align-items: baseline;
}
.align-content-start {
  align-content: start;
}
.align-content-flex-start {
  align-content: flex-start;
}
.align-content-center {
	align-content: center;
}
.align-content-end {
	align-content: end;
}
.align-content-flex-end {
	align-content: flex-end;
}
.align-content-stretch {
	align-content: stretch;
}
.align-content-baseline {
	align-content: baseline;
}
.align-content-space-between {
  align-content: space-between;
}
.align-content-space-around {
  align-content: space-around;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-flex-start {
  justify-content: flex-start;
}
.justify-content-left {
  justify-content: left;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-end {
	justify-content: end;
}
.justify-content-flex-end {
	justify-content: flex-end;
}
.justify-content-right {
	justify-content: right;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}
.gap-xs {
	gap: 0.313rem;
}
.gap-sm {
	gap: 0.625rem;
}
.gap-md {
	gap: 1.25rem;
}
.gap-lg {
	gap: 1.875rem;
}
.gap-xl {
	gap: 3.125rem;
}
.row-gap-xs {
	row-gap: 0.313rem;
}
.row-gap-sm {
	row-gap: 0.625rem;
}
.row-gap-md {
	row-gap: 1.25rem;
}
.row-gap-lg {
	row-gap: 1.875rem;
}
.row-gap-xl {
	row-gap: 3.125rem;
}
.column-gap-xs {
	column-gap: 0.313rem;
}
.column-gap-sm {
	column-gap: 0.625rem;
}
.column-gap-md {
	column-gap: 1.25rem;
}
.column-gap-lg {
	column-gap: 1.875rem;
}
.column-gap-xl {
	column-gap: 3.125rem;
}
@include css-order();

@media all and (min-width: $settings_bp_1_over) {
	.gap-xs-bp-1-over {
		gap: 0.313rem;
	}
	.gap-sm-bp-1-over {
		gap: 0.625rem;
	}
	.gap-md-bp-1-over {
		gap: 1.25rem;
	}
	.gap-lg-bp-1-over {
		gap: 1.875rem;
	}
	.gap-xl-bp-1-over {
		gap: 3.125rem;
	}
	.row-gap-xs-bp-1-over {
		row-gap: 0.313rem;
	}
	.row-gap-sm-bp-1-over {
		row-gap: 0.625rem;
	}
	.row-gap-md-bp-1-over {
		row-gap: 1.25rem;
	}
	.row-gap-lg-bp-1-over {
		row-gap: 1.875rem;
	}
	.row-gap-xl-bp-1-over {
		row-gap: 3.125rem;
	}
	.column-gap-xs-bp-1-over {
		column-gap: 0.313rem;
	}
	.column-gap-sm-bp-1-over {
		column-gap: 0.625rem;
	}
	.column-gap-md-bp-1-over {
		column-gap: 1.25rem;
	}
	.column-gap-lg-bp-1-over {
		column-gap: 1.875rem;
	}
	.column-gap-xl-bp-1-over {
		column-gap: 3.125rem;
	}
	@include css-order-bp-1-over();	
}
@media all and (min-width: $settings_bp_2_over) {
	.gap-xs-bp-2-over {
		gap: 0.313rem;
	}
	.gap-sm-bp-2-over {
		gap: 0.625rem;
	}
	.gap-md-bp-2-over {
		gap: 1.25rem;
	}
	.gap-lg-bp-2-over {
		gap: 1.875rem;
	}
	.gap-xl-bp-2-over {
		gap: 3.125rem;
	}	
	.row-gap-xs-bp-2-over {
		row-gap: 0.313rem;
	}
	.row-gap-sm-bp-2-over {
		row-gap: 0.625rem;
	}
	.row-gap-md-bp-2-over {
		row-gap: 1.25rem;
	}
	.row-gap-lg-bp-2-over {
		row-gap: 1.875rem;
	}
	.row-gap-xl-bp-2-over {
		row-gap: 3.125rem;
	}
	.column-gap-xs-bp-2-over {
		column-gap: 0.313rem;
	}
	.column-gap-sm-bp-2-over {
		column-gap: 0.625rem;
	}
	.column-gap-md-bp-2-over {
		column-gap: 1.25rem;
	}
	.column-gap-lg-bp-2-over {
		column-gap: 1.875rem;
	}
	.column-gap-xl-bp-2-over {
		column-gap: 3.125rem;
	}
	@include css-order-bp-2-over();
}
@media all and (min-width: $settings_bp_3_over) {
	.gap-xs-bp-3-over {
		gap: 0.313rem;
	}
	.gap-sm-bp-3-over {
		gap: 0.625rem;
	}
	.gap-md-bp-3-over {
		gap: 1.25rem;
	}
	.gap-lg-bp-3-over {
		gap: 1.875rem;
	}
	.gap-xl-bp-3-over {
		gap: 3.125rem;
	}
	.row-gap-xs-bp-3-over {
		row-gap: 0.313rem;
	}
	.row-gap-sm-bp-3-over {
		row-gap: 0.625rem;
	}
	.row-gap-md-bp-3-over {
		row-gap: 1.25rem;
	}
	.row-gap-lg-bp-3-over {
		row-gap: 1.875rem;
	}
	.row-gap-xl-bp-3-over {
		row-gap: 3.125rem;
	}
	.column-gap-xs-bp-3-over {
		column-gap: 0.313rem;
	}
	.column-gap-sm-bp-3-over {
		column-gap: 0.625rem;
	}
	.column-gap-md-bp-3-over {
		column-gap: 1.25rem;
	}
	.column-gap-lg-bp-3-over {
		column-gap: 1.875rem;
	}
	.column-gap-xl-bp-3-over {
		column-gap: 3.125rem;
	}
	@include css-order-bp-3-over();	
}
@media all and (min-width: $settings_bp_4_over) {
	.gap-xs-bp-4-over {
		gap: 0.313rem;
	}
	.gap-sm-bp-4-over {
		gap: 0.625rem;
	}
	.gap-md-bp-4-over {
		gap: 1.25rem;
	}
	.gap-lg-bp-4-over {
		gap: 1.875rem;
	}
	.gap-xl-bp-4-over {
		gap: 3.125rem;
	}
	.row-gap-xs-bp-4-over {
		row-gap: 0.313rem;
	}
	.row-gap-sm-bp-4-over {
		row-gap: 0.625rem;
	}
	.row-gap-md-bp-4-over {
		row-gap: 1.25rem;
	}
	.row-gap-lg-bp-4-over {
		row-gap: 1.875rem;
	}
	.row-gap-xl-bp-4-over {
		row-gap: 3.125rem;
	}
	.column-gap-xs-bp-4-over {
		column-gap: 0.313rem;
	}
	.column-gap-sm-bp-4-over {
		column-gap: 0.625rem;
	}
	.column-gap-md-bp-4-over {
		column-gap: 1.25rem;
	}
	.column-gap-lg-bp-4-over {
		column-gap: 1.875rem;
	}
	.column-gap-xl-bp-4-over {
		column-gap: 3.125rem;
	}
	@include css-order-bp-4-over();
}
@media all and (min-width: $settings_bp_5_over) {
	.gap-xs-bp-5-over {
		gap: 0.313rem;
	}
	.gap-sm-bp-5-over {
		gap: 0.625rem;
	}
	.gap-md-bp-5-over {
		gap: 1.25rem;
	}
	.gap-lg-bp-5-over {
		gap: 1.875rem;
	}
	.gap-xl-bp-5-over {
		gap: 3.125rem;
	}
	.row-gap-xs-bp-5-over {
		row-gap: 0.313rem;
	}
	.row-gap-sm-bp-5-over {
		row-gap: 0.625rem;
	}
	.row-gap-md-bp-5-over {
		row-gap: 1.25rem;
	}
	.row-gap-lg-bp-5-over {
		row-gap: 1.875rem;
	}
	.row-gap-xl-bp-5-over {
		row-gap: 3.125rem;
	}
	.column-gap-xs-bp-5-over {
		column-gap: 0.313rem;
	}
	.column-gap-sm-bp-5-over {
		column-gap: 0.625rem;
	}
	.column-gap-md-bp-5-over {
		column-gap: 1.25rem;
	}
	.column-gap-lg-bp-5-over {
		column-gap: 1.875rem;
	}
	.column-gap-xl-bp-5-over {
		column-gap: 3.125rem;
	}
	@include css-order-bp-5-over();
}
@media all and (min-width: $settings_bp_5_under) {
	.gap-xs-bp-5-under {
		gap: 0.313rem;
	}
	.gap-sm-bp-5-under {
		gap: 0.625rem;
	}
	.gap-md-bp-5-under {
		gap: 1.25rem;
	}
	.gap-lg-bp-5-under {
		gap: 1.875rem;
	}
	.gap-xl-bp-5-under {
		gap: 3.125rem;
	}	
	.row-gap-xs-bp-5-under {
		row-gap: 0.313rem;
	}
	.row-gap-sm-bp-5-under {
		row-gap: 0.625rem;
	}
	.row-gap-md-bp-5-under {
		row-gap: 1.25rem;
	}
	.row-gap-lg-bp-5-under {
		row-gap: 1.875rem;
	}
	.row-gap-xl-bp-5-under {
		row-gap: 3.125rem;
	}
	.column-gap-xs-bp-5-under {
		column-gap: 0.313rem;
	}
	.column-gap-sm-bp-5-under {
		column-gap: 0.625rem;
	}
	.column-gap-md-bp-5-under {
		column-gap: 1.25rem;
	}
	.column-gap-lg-bp-5-under {
		column-gap: 1.875rem;
	}
	.column-gap-xl-bp-5-under {
		column-gap: 3.125rem;
	}
	@include css-order-bp-5-under();
}
@media all and (min-width: $settings_bp_4_under) {
	.gap-xs-bp-4-under {
		gap: 0.313rem;
	}
	.gap-sm-bp-4-under {
		gap: 0.625rem;
	}
	.gap-md-bp-4-under {
		gap: 1.25rem;
	}
	.gap-lg-bp-4-under {
		gap: 1.875rem;
	}
	.gap-xl-bp-4-under {
		gap: 3.125rem;
	}
	.row-gap-xs-bp-4-under {
		row-gap: 0.313rem;
	}
	.row-gap-sm-bp-4-under {
		row-gap: 0.625rem;
	}
	.row-gap-md-bp-4-under {
		row-gap: 1.25rem;
	}
	.row-gap-lg-bp-4-under {
		row-gap: 1.875rem;
	}
	.row-gap-xl-bp-4-under {
		row-gap: 3.125rem;
	}
	.column-gap-xs-bp-4-under {
		column-gap: 0.313rem;
	}
	.column-gap-sm-bp-4-under {
		column-gap: 0.625rem;
	}
	.column-gap-md-bp-4-under {
		column-gap: 1.25rem;
	}
	.column-gap-lg-bp-4-under {
		column-gap: 1.875rem;
	}
	.column-gap-xl-bp-4-under {
		column-gap: 3.125rem;
	}
	@include css-order-bp-4-under();
}
@media all and (min-width: $settings_bp_3_under) {
	.gap-xs-bp-3-under {
		gap: 0.313rem;
	}
	.gap-sm-bp-3-under {
		gap: 0.625rem;
	}
	.gap-md-bp-3-under {
		gap: 1.25rem;
	}
	.gap-lg-bp-3-under {
		gap: 1.875rem;
	}
	.gap-xl-bp-3-under {
		gap: 3.125rem;
	}	
	.row-gap-xs-bp-3-under {
		row-gap: 0.313rem;
	}
	.row-gap-sm-bp-3-under {
		row-gap: 0.625rem;
	}
	.row-gap-md-bp-3-under {
		row-gap: 1.25rem;
	}
	.row-gap-lg-bp-3-under {
		row-gap: 1.875rem;
	}
	.row-gap-xl-bp-3-under {
		row-gap: 3.125rem;
	}
	.column-gap-xs-bp-3-under {
		column-gap: 0.313rem;
	}
	.column-gap-sm-bp-3-under {
		column-gap: 0.625rem;
	}
	.column-gap-md-bp-3-under {
		column-gap: 1.25rem;
	}
	.column-gap-lg-bp-3-under {
		column-gap: 1.875rem;
	}
	.column-gap-xl-bp-3-under {
		column-gap: 3.125rem;
	}
	@include css-order-bp-3-under();
}
@media all and (min-width: $settings_bp_2_under) {
	.gap-xs-bp-2-under {
		gap: 0.313rem;
	}
	.gap-sm-bp-2-under {
		gap: 0.625rem;
	}
	.gap-md-bp-2-under {
		gap: 1.25rem;
	}
	.gap-lg-bp-2-under {
		gap: 1.875rem;
	}
	.gap-xl-bp-2-under {
		gap: 3.125rem;
	}
	.row-gap-xs-bp-2-under {
		row-gap: 0.313rem;
	}
	.row-gap-sm-bp-2-under {
		row-gap: 0.625rem;
	}
	.row-gap-md-bp-2-under {
		row-gap: 1.25rem;
	}
	.row-gap-lg-bp-2-under {
		row-gap: 1.875rem;
	}
	.row-gap-xl-bp-2-under {
		row-gap: 3.125rem;
	}
	.column-gap-xs-bp-2-under {
		column-gap: 0.313rem;
	}
	.column-gap-sm-bp-2-under {
		column-gap: 0.625rem;
	}
	.column-gap-md-bp-2-under {
		column-gap: 1.25rem;
	}
	.column-gap-lg-bp-2-under {
		column-gap: 1.875rem;
	}
	.column-gap-xl-bp-2-under {
		column-gap: 3.125rem;
	}
	@include css-order-bp-2-under();
}
@media all and (min-width: $settings_bp_1_under) {
	.gap-xs-bp-1-under {
		gap: 0.313rem;
	}
	.gap-sm-bp-1-under {
		gap: 0.625rem;
	}
	.gap-md-bp-1-under {
		gap: 1.25rem;
	}
	.gap-lg-bp-1-under {
		gap: 1.875rem;
	}
	.gap-xl-bp-1-under {
		gap: 3.125rem;
	}
	.row-gap-xs-bp-1-under {
		row-gap: 0.313rem;
	}
	.row-gap-sm-bp-1-under {
		row-gap: 0.625rem;
	}
	.row-gap-md-bp-1-under {
		row-gap: 1.25rem;
	}
	.row-gap-lg-bp-1-under {
		row-gap: 1.875rem;
	}
	.row-gap-xl-bp-1-under {
		row-gap: 3.125rem;
	}
	.column-gap-xs-bp-1-under {
		column-gap: 0.313rem;
	}
	.column-gap-sm-bp-1-under {
		column-gap: 0.625rem;
	}
	.column-gap-md-bp-1-under {
		column-gap: 1.25rem;
	}
	.column-gap-lg-bp-1-under {
		column-gap: 1.875rem;
	}
	.column-gap-xl-bp-1-under {
		column-gap: 3.125rem;
	}
	@include css-order-bp-1-under();
}

