
html {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	color: $theme_primary_foreground;
	background-color: $theme_primary;
}
body,
button,
input,
select,
textarea {
	font: inherit;
	font-family: inherit;
	line-height: inherit;
	font-size: 14px !important;
	box-sizing: border-box;
	border-radius: 0;
}
a.accessibility:focus, textarea.accessibility:focus {
	outline: 3px solid $theme_accessibility;
}
input[type=checkbox], 
input[type=radio] {
	vertical-align: -2px !important;
	margin-top: -1px !important;
}
h1 {
	font-size: 1.7em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.3em;
}
blockquote {
  border-left: 7px solid $theme_default;
  margin: 15px 0 15px 0;
  padding: 10px 0 10px 20px;
}
:focus {
	outline: none;
}
::-moz-focus-inner {
	border:0;
}
.image {
  display: block;
  max-width: 100%;
  height: auto;
}
.text {
	line-height: 1.5em;
}
.text-xs {
	font-size: 0.6em;
}
.text-sm {
	font-size: 0.8em;
}
.text-md {
	font-size: 1em;
}
.text-lg {
	font-size: 1.3em;
}
.text-xl {
	font-size: 1.5em;
}
.text-italic {
	font-style: italic;
}
.text-bold {
	font-weight: bold;
}
.text-upper {
    text-transform: uppercase;
}
.text-lower {
    text-transform: lowercase;
}
.text-capital {
    text-transform: capitalize;
}
*[class^="text-"] {
	text-decoration: none;
	white-space: normal;
}
.label {
	padding-top: 9px;
	font-weight: normal;
}
.label-bold {
	padding-top: 9px;
	font-weight: bold;
}	
.label-sm {
	padding-top: 4px;
	font-weight: normal;
}
.label-bold-sm {
	padding-top: 4px;
	font-weight: bold;	
}
*[class^="label-"] {
	display: block;
	box-sizing: border-box;
}
.list, .list-inline {
	padding: 0;
	margin: 0;
  	list-style-type: none;
}
.list-inline > * {
	float: left;
}
.list-bullet {
	padding-left: 15px;
  	list-style-type: disc;
}
.list-alpha {
	padding-left: 15px;
  	list-style-type: lower-alpha;
}
.list-number {
	padding-left: 15px;
  	list-style-type: decimal;
}
.list-spacing-sm li {
  	padding-bottom: 5px;
}
.list-spacing-md li {
  	padding-bottom: 10px;
}
.list-spacing-lg li {
  	padding-bottom: 15px;
}
.list-inline-spacing-sm li:not(:last-of-type) {
	padding-right: 5px;
}
.list-inline-spacing-md li:not(:last-of-type) {
	padding-right: 10px;
}
.list-inline-spacing-lg li:not(:last-of-type) {
	padding-right: 15px;
}
.breadcrumb a {
	text-decoration: none;
}
.breadcrumb > :not(:last-child):after {
	content: "/";
	padding-left: 10px;
	padding-right: 10px;
	color: $theme_muted;
}
.breadcrumb-default > :not(:last-child) a {
	color: $theme_default;
}
.breadcrumb-primary > :not(:last-child) a {
	color: $theme_primary;
}
.breadcrumb-secondary > :not(:last-child) a {
	color: $theme_secondary;
}
.breadcrumb-dark > :not(:last-child) a {
	color: $theme_dark;
}
.breadcrumb-accent-1 > :not(:last-child) a {
	color: $theme_accent-1;
}
.breadcrumb-accent-2 > :not(:last-child) a {
	color: $theme_accent-2;
}
.breadcrumb-accent-3 > :not(:last-child) a {
	color: $theme_accent-3;
}
.breadcrumb-accent-4 > :not(:last-child) a {
	color: $theme_accent-4;
}
.breadcrumb-accent-5 > :not(:last-child) a {
	color: $theme_accent-5;
}
.breadcrumb-success > :not(:last-child) a {
	color: $theme_success;
}
.breadcrumb-info > :not(:last-child) a {
	color: $theme_info;
}
.breadcrumb-warning > :not(:last-child) a {
	color: $theme_warning;
}
.breadcrumb-danger > :not(:last-child) a {
	color: $theme_danger;
}
*[class*="breadcrumb-"] > :last-child {
	color: $theme_muted;
}
.container {
	padding: 0;
}
.body {
	padding: 10px;
}
.box {
	padding: 0;
}
.panel {
	padding: 10px;
}
.area {
	padding: 30px;
}
.container, .body, .box, .panel, .area {
	display: block;
}
.box, .panel, .area {
	overflow: hidden;
}
.container:after, .body:after {
	content: "";
	display: block;
	clear: both;
}
.input {
	color: $theme_primary_foreground;
	background-color: $theme_primary;
	border: 1px solid $theme_default_border;
	padding: 0 5px;
	height: 34px;
	max-height: 34px;
}
.input-sm {
	color: $theme_primary_foreground;
	background-color: $theme_primary;
	border: 1px solid $theme_default_border;
	padding: 0 5px;
	height: 26px;
	max-height: 26px;
}
.input-highlight {
	color: $theme_highlight_foreground;
	background-color: $theme_highlight;
	border: 1px solid $theme_danger_border;
}
.input-disabled {
	color: $theme_disabled_foreground;
	background-color: $theme_disabled;
	border: 1px solid $theme_disabled_border;
}
.control {
	color: $theme_primary_foreground;
	background-color: $theme_primary;
	border: 1px solid $theme_default_border;
	padding: 5px;
}
.control-highlight {
	color: $theme_highlight_foreground;
	background-color: $theme_highlight;
	border: 1px solid $theme_danger_border;
}
.control-disabled {
	color: $theme_disabled_foreground;
	background-color: $theme_disabled;
	border: 1px solid $theme_disabled_border;
}
.control-append {
	letter-spacing: normal;
	word-spacing: -0.43em;
	width: inherit;
}
*[class*="input"].accessibility:focus, *[class*="control"].accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_accessibility;
}
.checkbox-sm {
	width: 14px;
	height: 14px;
	position: relative;
	border: 1px solid $theme_default_border;
	label {
		width: 10px;
		height: 10px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $theme_primary;
		margin: 2px;
		&:after {
			content: '';
			width: 7px;
			height: 4px;
			position: absolute;
			top: 0;
			left: 0;
			border: 3px solid $theme_primary_foreground;
			border-top: none;
			border-right: none;
			background: transparent;
			opacity: 0;
			transform: rotate(-45deg);
		}
	}
  	input[type=checkbox] {
		visibility: hidden;
		&:checked + label:after {
			opacity: 1;
		}
		&:not(:checked) + label:after {
			opacity: 1;
			content: '';
			width: 10px;
			height: 10px;
			position: absolute;
			top: 0;
			left: 0;
			border: none;
			background-color: $theme_primary;
			transform: rotate(0deg);
		}
  	} 
}
*[class*="checkbox"].accessibility label:focus {
	border: 2px solid $theme_accessibility;
	margin: 0;	
}
.radio-sm {
	width: 16px;
	height: 16px;
	position: relative;
	border: 1px solid $theme_default_border;
	border-radius: 50%;
	label {
		width: 8px;
		height: 8px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $theme_primary;
		border-radius: 50%;
		margin: 4px;
		&:after {
			content: '';
			width: 8px;
			height: 8px;
			position: absolute;
			top: 0;
			left: 0;
			background-color: $theme_primary_foreground;
			border-radius: 50%;
			opacity: 0;
		}
  	}
	input[type=radio] {
		visibility: hidden;
		&:checked + label:after {
			opacity: 1;
		}   
	} 
}
*[class*="radio"].accessibility label:focus {
	border: 4px solid $theme_accessibility;
	margin: 0;
}
.button {
	padding: 0 12px;
	height: 34px;
	max-height: 34px;	
}
.button-sm {
	padding: 0 8px;
	height: 26px;
	max-height: 26px;	
}
.button,
.button-sm {
	text-decoration: none;
	white-space: nowrap;
	outline: none;
	color: $theme_default_foreground;
	background-color: $theme_default;
	border: 1px solid $theme_default_border;
}
.button-flex {
	text-decoration: none;
	white-space: normal;
	outline: none;
	padding: 4px 8px;
	color: $theme_default_foreground;
	background-color: $theme_default;
	border: 1px solid $theme_default_border;
}
.button-default {
	color: $theme_default_foreground;
	background-color: $theme_default;
	border: 1px solid $theme_default_border;
	&:hover {
		background-color: $theme_default_hover;
		border-color: $theme_default_hover;
	}
	&:active {
		background-color: $theme_default_active;
		border-color: $theme_default_active;
	}
}
.button-default.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_default_border;
	background-color: $theme_primary;
	color: $theme_default_border;
}
.button-primary {
	color: $theme_primary_foreground;
	background-color: $theme_primary;
	border: 1px solid $theme_primary_border;
	&:hover {
		background-color: $theme_primary_hover;
		border-color: $theme_primary_hover;
	}
	&:active {
		background-color: $theme_primary_active;
		border-color: $theme_primary_active;
	}
}
.button-primary.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_primary_border;
	background-color: $theme_primary;
	color: $theme_primary_border;
}
.button-secondary {
	color: $theme_secondary_foreground;
	background-color: $theme_secondary;
	border: 1px solid $theme_secondary_border;
	&:hover {
		background-color: $theme_secondary_hover;
		border-color: $theme_secondary_hover;
	}
	&:active {
		background-color: $theme_secondary_active;
		border-color: $theme_secondary_active;
	}
}
.button-secondary.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_secondary_border;
	background-color: $theme_primary;
	color: $theme_secondary_border;
}
.button-dark {
	color: $theme_dark_foreground;
	background-color: $theme_dark;
	border: 1px solid $theme_dark_border;
	&:hover {
		background-color: $theme_dark_hover;
	}
	&:active {
		background-color: $theme_dark_active;
	}
}
.button-dark.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_dark_border;
	background-color: $theme_primary;
	color: $theme_dark_border;
}
.button-accent-1 {
	color: $theme_accent_1_foreground;
	background-color: $theme_accent_1;
	border: 1px solid $theme_accent_1_border;
	&:hover {
		background-color: $theme_accent_1_hover;
	}
	&:active {
		background-color: $theme_accent_1_active;
	}
}
.button-accent-1.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_accent_1_border;
	background-color: $theme_primary;
	color: $theme_accent_1_border;
}
.button-accent-2 {
	color: $theme_accent_2_foreground;
	background-color: $theme_accent_2;
	border: 1px solid $theme_accent_2_border;
	&:hover {
		background-color: $theme_accent_2_hover;
	}
	&:active {
		background-color: $theme_accent_2_active;
	}
}
.button-accent-2.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_accent_2_border;
	background-color: $theme_primary;
	color: $theme_accent_2_border;
}
.button-accent-3 {
	color: $theme_accent_3_foreground;
	background-color: $theme_accent_3;
	border: 1px solid $theme_accent_3_border;
	&:hover {
		background-color: $theme_accent_3_hover;
	}
	&:active {
		background-color: $theme_accent_3_active;
	}
}
.button-accent-3.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_accent_3_border;
	background-color: $theme_primary;
	color: $theme_accent_3_border;
}
.button-accent-4 {
	color: $theme_accent_4_foreground;
	background-color: $theme_accent_4;
	border: 1px solid $theme_accent_4_border;
	&:hover {
		background-color: $theme_accent_4_hover;
	}
	&:active {
		background-color: $theme_accent_4_active;
	}
}
.button-accent-4.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_accent_4_border;
	background-color: $theme_primary;
	color: $theme_accent_4_border;
}
.button-accent-5 {
	color: $theme_accent_5_foreground;
	background-color: $theme_accent_5;
	border: 1px solid $theme_accent_5_border;
	&:hover {
		background-color: $theme_accent_5_hover;
	}
	&:active {
		background-color: $theme_accent_5_active;
	}
}
.button-accent-5.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_accent_5_border;
	background-color: $theme_primary;
	color: $theme_accent_5_border;
}
.button-success {
	color: $theme_success_foreground;
	background-color: $theme_success;
	border: 1px solid $theme_success_border;
	&:hover {
		background-color: $theme_success_hover;
	}
	&:active {
		background-color: $theme_success_active;
	}
}
.button-success.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_success_border;
	background-color: $theme_primary;
	color: $theme_success_border;
}
.button-info {
	color: $theme_info_foreground;
	background-color: $theme_info;
	border: 1px solid $theme_info_border;
	&:hover {
		background-color: $theme_info_hover;
	}
	&:active {
		background-color: $theme_info_active;
	}
}
.button-info.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_info_border;
	background-color: $theme_primary;
	color: $theme_info_border;
}
.button-warning {
	color: $theme_warning_foreground;
	background-color: $theme_warning;
	border: 1px solid $theme_warning_border;
	&:hover {
		background-color: $theme_warning_hover;
	}
	&:active {
		background-color: $theme_warning_active;
	}
}
.button-warning.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_warning_border;
	background-color: $theme_primary;
	color: $theme_warning_border;
}
.button-danger {
	color: $theme_danger_foreground;
	background-color: $theme_danger;
	border: 1px solid $theme_danger_border;
	&:hover {
		background-color: $theme_danger_hover;
	}
	&:active {
		background-color: $theme_danger_active;
	}
}
.button-danger.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_danger_border;
	background-color: $theme_primary;
	color: $theme_danger_border;
}
.button-transparent {
	color: $theme_transparent_foreground;
	background-color: $theme_transparent;
	border: 1px solid $theme_transparent_border;
	&:hover {
		color: $theme_transparent_hover;
		background-color: $theme_transparent;
	}
	&:active {
		color: $theme_transparent_active;
		background-color: $theme_transparent;
	}
}
.button-transparent.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_transparent_border;
	background-color: $theme_primary;
	color: $theme_transparent_border;
}
.button-disabled {
	color: $theme_disabled_foreground;
	background-color: $theme_disabled;
	border: 1px solid $theme_disabled_border;
}
.menu-button {
	padding: 0 17px;
	height: 44px;
	max-height: 44px;
}
.menu-button-sm {
	padding: 0 13px;
	height: 36px;
	max-height: 36px;
}
.menu-button,
.menu-button-sm {
	text-decoration: none;
	white-space: nowrap;
	outline: none;
	cursor: pointer;
	width: 100%;
	min-width: 100%;
	box-sizing: border-box;
	color: $theme_default_foreground;
	background-color: $theme_default;
	border: 1px solid $theme_default_border;
}
.menu-button-default {
	color: $theme_default_foreground;
	background-color: $theme_default;
	border: 1px solid $theme_default_border;
	&:focus {
		background-color: $theme_default_active;
		border-color: $theme_default_active;
	}
}
.menu-button-default.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_default_border;
	background-color: $theme_primary;
	color: $theme_default_border;
}
.menu-button-primary {
	color: $theme_primary_foreground;
	background-color: $theme_primary;
	border: 1px solid $theme_primary_border;
	&:focus {
		background-color: $theme_primary_active;
		border-color: $theme_primary_active;
	}
}
.menu-button-primary.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_primary_border;
	background-color: $theme_primary;
	color: $theme_primary_border;
}
.menu-button-secondary {
	color: $theme_secondary_foreground;
	background-color: $theme_secondary;
	border: 1px solid $theme_secondary_border;
	&:focus {
		background-color: $theme_secondary_active;
		border-color: $theme_secondary_active;
	}
}
.menu-button-secondary.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_secondary_border;
	background-color: $theme_primary;
	color: $theme_secondary_border;
}
.menu-button-dark {
	color: $theme_dark_foreground;
	background-color: $theme_dark;
	border: 1px solid $theme_dark_border;
	&:focus {
		background-color: $theme_dark_active;
	}
}
.menu-button-dark.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_dark_border;
	background-color: $theme_primary;
	color: $theme_dark_border;
}
.menu-button-accent-1 {
	color: $theme_accent_1_foreground;
	background-color: $theme_accent_1;
	border: 1px solid $theme_accent_1_border;
	&:focus {
		background-color: $theme_accent_1_active;
	}
}
.menu-button-accent-1.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_accent_1_border;
	background-color: $theme_primary;
	color: $theme_accent_1_border;
}
.menu-button-accent-2 {
	color: $theme_accent_2_foreground;
	background-color: $theme_accent_2;
	border: 1px solid $theme_accent_2_border;
	&:focus {
		background-color: $theme_accent_2_active;
	}
}
.menu-button-accent-2.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_accent_2_border;
	background-color: $theme_primary;
	color: $theme_accent_2_border;
}
.menu-button-accent-3 {
	color: $theme_accent_3_foreground;
	background-color: $theme_accent_3;
	border: 1px solid $theme_accent_3_border;
	&:focus {
		background-color: $theme_accent_3_active;
	}
}
.menu-button-accent-3.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_accent_3_border;
	background-color: $theme_primary;
	color: $theme_accent_3_border;
}
.menu-button-accent-4 {
	color: $theme_accent_4_foreground;
	background-color: $theme_accent_4;
	border: 1px solid $theme_accent_4_border;
	&:focus {
		background-color: $theme_accent_4_active;
	}
}
.menu-button-accent-4.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_accent_4_border;
	background-color: $theme_primary;
	color: $theme_accent_4_border;
}
.menu-button-accent-5 {
	color: $theme_accent_5_foreground;
	background-color: $theme_accent_5;
	border: 1px solid $theme_accent_5_border;
	&:focus {
		background-color: $theme_accent_5_active;
	}
}
.menu-button-accent-5.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_accent_5_border;
	background-color: $theme_primary;
	color: $theme_accent_5_border;
}
.menu-button-success {
	color: $theme_success_foreground;
	background-color: $theme_success;
	border: 1px solid $theme_success_border;
	&:focus {
		background-color: $theme_success_active;
	}
}
.menu-button-success.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_success_border;
	background-color: $theme_primary;
	color: $theme_success_border;
}
.menu-button-info {
	color: $theme_info_foreground;
	background-color: $theme_info;
	border: 1px solid $theme_info_border;
	&:focus {
		background-color: $theme_info_active;
	}
}
.menu-button-info.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_info_border;
	background-color: $theme_primary;
	color: $theme_info_border;
}
.menu-button-warning {
	color: $theme_warning_foreground;
	background-color: $theme_warning;
	border: 1px solid $theme_warning_border;
	&:focus {
		background-color: $theme_warning_active;
	}
}
.menu-button-warning.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_warning_border;
	background-color: $theme_primary;
	color: $theme_warning_border;
}
.menu-button-danger {
	color: $theme_danger_foreground;
	background-color: $theme_danger;
	border: 1px solid $theme_danger_border;
	&:focus {
		background-color: $theme_danger_active;
	}
}
.menu-button-danger.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_danger_border;
	background-color: $theme_primary;
	color: $theme_danger_border;
}
.menu-button-transparent {
	color: $theme_transparent_foreground;
	background-color: $theme_transparent;
	border: 1px solid $theme_transparent_border;
	&:focus {
		color: $theme_transparent_hover;
		background-color: $theme_transparent;
	}
}
.menu-button-transparent.accessibility:focus {
	box-shadow: inset 0px 0px 0px 2px $theme_transparent_border;
	background-color: $theme_primary;
	color: $theme_transparent_border;
}
.menu-button-disabled {
	color: $theme_disabled_foreground;
	background-color: $theme_disabled;
	border: 1px solid $theme_disabled_border;
}
.menu-bar {
	height: 44px;
	max-height: 44px;
}
.menu-bar-sm {
	height: 36px;
	max-height: 36px;
}
.dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
}
.dropdown-right {
	right: 0;
}
.dropdown-content {
	display: none;
	position: absolute;
	@include layer-2();	
}
.dropdown-content-expand {
	display: none;
	position: relative;
	@include layer-2();	
}
.dropdown-sheet {
	display: none;
	position: absolute; 
	left: 0; 
	width: 100%; 
	background-color: transparent;
	@include layer-2();	
}
.media-block {
	padding: 7px;
	overflow: hidden;
	white-space: normal;
	zoom: 1;
}		
.media-block .media-left {
	float: left;
	margin-right: 10px;
}
.media-block .media-left img, 
.media-block .media-right img {
	display: block;
}
.media-block .media-right {
	float: right;
	margin-left: 10px;
}
.media-nowrap {
	display: table-cell;
}
.table { 
	border: 1px solid $theme_default_border; 
	border-collapse: collapse; 
}
.table caption { 
	padding-bottom: 0.5em; 
}
.table th, 
.table td { 
	border: 1px solid $theme_default_border;
	padding: 0.5rem 2rem;
}
.table th { 
	padding: 0.2em;
	font-weight: normal;  
	vertical-align: middle; 
	text-align: center; 
}
.table tbody td:first-child::after { 
	content: leader(". ");
}
.table td { 
	border-style: none solid; 
	vertical-align: top;
	white-space: nowrap;
}
.dock-top {
	left: 0;
	top: 0;
	width: 100%;
}
.dock-top-left {
	left: 0;
	top: 0;
}
.dock-top-right {
	right: 0;
	top: 0;
}
.dock-bottom {
	left: 0;
	bottom: 0;
	width: 100%;
}
.dock-bottom-left {
	left: 0;
	bottom: 0;
}
.dock-bottom-right {
	right: 0;
	bottom: 0;
}
.dock-top, .dock-top-left, .dock-top-right, .dock-bottom, .dock-bottom-left, .dock-bottom-right {
	position: fixed;
	@include layer-1();
}
.scroll-x {
	overflow-x: auto;
}
.scroll-y {
	overflow-y: auto;
}
.scroll-x-always {
	overflow-x: scroll;
}
.scroll-y-always {
	overflow-y: scroll;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.align-justify {
	text-align: justify;
}
.move-left {
	float: left;
}
.move-left-stacked {
	float: left;
	clear: left;
}
.move-right {
	float: right;
}
.move-right-stacked {
	float: right;
	clear: right;
}
.place-top-left {
	position: absolute;
	top: 0;
	left: 0;
}
.place-top-right {
	position: absolute;
	top: 0;
	right: 0;
}
.place-bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}
.place-bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
}
.top-xs {
	top: 5px;
}
.top-sm {
	top: 10px;
}
.top-md {
	top: 20px;
}
.top-lg {
	top: 40px;
}
.top-xl {
	top: 80px;
}
.left-xs {
	left: 5px;
}
.left-sm {
	left: 10px;
}
.left-md {
	left: 20px;
}
.left-lg {
	left: 40px;
}
.left-xl {
	left: 80px;
}
.bottom-xs {
	bottom: 5px;
}
.bottom-sm {
	bottom: 10px;
}
.bottom-md {
	bottom: 20px;
}
.bottom-lg {
	bottom: 40px;
}
.bottom-xl {
	bottom: 80px;
}
.right-xs {
	right: 5px;
}
.right-sm {
	right: 10px;
}
.right-md {
	right: 20px;
}
.right-lg {
	right: 40px;
}
.right-xl {
	right: 80px;
}
.width-1 {
	width: 1px;
	min-width: 1px;
}
.width-2 {
	width: 2px;
	min-width: 2px;
}
.width-3 {
	width: 4px;
	min-width: 4px;
}
.width-4 {
	width: 8px;
	min-width: 8px;
}
.width-5 {
	width: 16px;
	min-width: 16px;
}
.width-6 {
	width: 32px;
	min-width: 32px;
}
.width-7 {
	width: 64px;
	min-width: 64px;
}
.width-8 {
	width: 128px;
	min-width: 128px;
}
.width-9 {
	width: 256px;
	min-width: 256px;
}
.width-10 {
	width: 512px;
	min-width: 512px;
}
.width-xs {
	width: 20px;
	min-width: 20px;
}
.width-sm {
	width: 40px;
	min-width: 40px;
}
.width-md {
	width: 80px;
	min-width: 80px;
}
.width-lg {
	width: 160px;
	min-width: 160px;
}
.width-xl {
	width: 320px;
	min-width: 320px;
}
.width-full {
	width: 100%;
	min-width: 100%;
	box-sizing: border-box;
}
.width-adjacent-1 {
	width: calc(100% - 1px);
}
.width-adjacent-2 {
	width: calc(100% - 2px);
}
.width-adjacent-3 {
	width: calc(100% - 4px);
}
.width-adjacent-4 {
	width: calc(100% - 8px);
}
.width-adjacent-5 {
	width: calc(100% - 16px);
}
.width-adjacent-6 {
	width: calc(100% - 32px);
}
.width-adjacent-7 {
	width: calc(100% - 64px);
}
.width-adjacent-8 {
	width: calc(100% - 128px);
}
.width-adjacent-9 {
	width: calc(100% - 256px);
}
.width-adjacent-10 {
	width: calc(100% - 512px);
}
.width-adjacent-xs {
	width: calc(100% - 20px);
}
.width-adjacent-sm {
	width: calc(100% - 40px);
}
.width-adjacent-md {
	width: calc(100% - 80px);
}
.width-adjacent-lg {
	width: calc(100% - 160px);
}
.width-adjacent-xl {
	width: calc(100% - 320px);
}
.height-1 {
	height: 1px;
	min-height: 1px;
}
.height-2 {
	height: 2px;
	min-height: 2px;
}
.height-3 {
	height: 4px;
	min-height: 4px;
}
.height-4 {
	height: 8px;
	min-height: 8px;
}
.height-5 {
	height: 16px;
	min-height: 16px;
}
.height-6 {
	height: 32px;
	min-height: 32px;
}
.height-7 {
	height: 64px;
	min-height: 64px;
}
.height-8 {
	height: 128px;
	min-height: 128px;
}
.height-9 {
	height: 256px;
	min-height: 256px;
}
.height-10 {
	height: 512px;
	min-height: 512px;
}
.height-xs {
	height: 20px;
	min-height: 20px;
}
.height-sm {
	height: 40px;
	min-height: 40px;
}
.height-md {
	height: 80px;
	min-height: 80px;
}
.height-lg {
	height: 160px;
	min-height: 160px;
}
.height-xl {
	height: 320px;
	min-height: 320px;
}
.height-full {
	height: 100%;
	min-height: 100%;
	box-sizing: border-box;
}
.pointer-top-sm {
	border-width: 0 5px 7px 5px;
}
.pointer-top-md {
	border-width: 0 7px 10px 7px;
}
.pointer-top-lg {
	border-width: 0 9px 13px 9px;
}
.pointer-right-sm {
	border-width: 5px 0 5px 7px;
}
.pointer-right-md {
	border-width: 7px 0 7px 10px;
}
.pointer-right-lg {
	border-width: 9px 0 9px 13px;
}
.pointer-bottom-sm {
	border-width: 7px 5px 0 5px;
}
.pointer-bottom-md {
	border-width: 10px 7px 0 7px;
}
.pointer-bottom-lg {
	border-width: 13px 9px 0 9px;
}
.pointer-left-sm {
	border-width: 5px 7px 5px 0;
}
.pointer-left-md {
	border-width: 7px 10px 7px 0;
}
.pointer-left-lg {
	border-width: 9px 13px 9px 0;
}
.pointer-top-default {
	@include pointer-top($theme_default);
}
.pointer-right-default {
	@include pointer-right($theme_default);
}
.pointer-bottom-default {
	@include pointer-bottom($theme_default);
}
.pointer-left-default {
	@include pointer-left($theme_default);
}
.pointer-top-primary {
	@include pointer-top($theme_primary);
}
.pointer-right-primary {
	@include pointer-right($theme_primary);
}
.pointer-bottom-primary {
	@include pointer-bottom($theme_primary);
}
.pointer-left-primary {
	@include pointer-left($theme_primary);
}
.pointer-top-secondary {
	@include pointer-top($theme_secondary);
}
.pointer-right-secondary {
	@include pointer-right($theme_secondary);
}
.pointer-bottom-secondary {
	@include pointer-bottom($theme_secondary);
}
.pointer-left-secondary {
	@include pointer-left($theme_secondary);
}
.pointer-top-dark {
	@include pointer-top($theme_dark);
}
.pointer-right-dark {
	@include pointer-right($theme_dark);
}
.pointer-bottom-dark {
	@include pointer-bottom($theme_dark);
}
.pointer-left-dark {
	@include pointer-left($theme_dark);
}
.pointer-top-accent-1 {
	@include pointer-top($theme_accent_1);
}
.pointer-right-accent-1 {
	@include pointer-right($theme_accent_1);
}
.pointer-bottom-accent-1 {
	@include pointer-bottom($theme_accent_1);
}
.pointer-left-accent-1 {
	@include pointer-left($theme_accent_1);
}
.pointer-top-accent-2 {
	@include pointer-top($theme_accent_2);
}
.pointer-right-accent-2 {
	@include pointer-right($theme_accent_2);
}
.pointer-bottom-accent-2 {
	@include pointer-bottom($theme_accent_2);
}
.pointer-left-accent-2 {
	@include pointer-left($theme_accent_2);
}
.pointer-top-accent-3 {
	@include pointer-top($theme_accent_3);
}
.pointer-right-accent-3 {
	@include pointer-right($theme_accent_3);
}
.pointer-bottom-accent-3 {
	@include pointer-bottom($theme_accent_3);
}
.pointer-left-accent-3 {
	@include pointer-left($theme_accent_3);
}
.pointer-top-accent-4 {
	@include pointer-top($theme_accent_4);
}
.pointer-right-accent-4 {
	@include pointer-right($theme_accent_4);
}
.pointer-bottom-accent-4 {
	@include pointer-bottom($theme_accent_4);
}
.pointer-left-accent-4 {
	@include pointer-left($theme_accent_4);
}
.pointer-top-accent-5 {
	@include pointer-top($theme_accent_5);
}
.pointer-right-accent-5 {
	@include pointer-right($theme_accent_5);
}
.pointer-bottom-accent-5 {
	@include pointer-bottom($theme_accent_5);
}
.pointer-left-accent-5 {
	@include pointer-left($theme_accent_5);
}
.pointer-top-success {
	@include pointer-top($theme_success);
}
.pointer-right-success {
	@include pointer-right($theme_success);
}
.pointer-bottom-success {
	@include pointer-bottom($theme_success);
}
.pointer-left-success {
	@include pointer-left($theme_success);
}
.pointer-top-info {
	@include pointer-top($theme_info);
}
.pointer-right-info {
	@include pointer-right($theme_info);
}
.pointer-bottom-info {
	@include pointer-bottom($theme_info);
}
.pointer-left-info {
	@include pointer-left($theme_info);
}
.pointer-top-warning {
	@include pointer-top($theme_warning);
}
.pointer-right-warning {
	@include pointer-right($theme_warning);
}
.pointer-bottom-warning {
	@include pointer-bottom($theme_warning);
}
.pointer-left-warning {
	@include pointer-left($theme_warning);
}
.pointer-top-danger {
	@include pointer-top($theme_danger);
}
.pointer-right-danger {
	@include pointer-right($theme_danger);
}
.pointer-bottom-danger {
	@include pointer-bottom($theme_danger);
}
.pointer-left-danger {
	@include pointer-left($theme_danger);
}
.pointer-top-transparent {
	@include pointer-top($theme_transparent);
}
.pointer-right-transparent {
	@include pointer-right($theme_transparent);
}
.pointer-bottom-transparent {
	@include pointer-bottom($theme_transparent);
}
.pointer-left-transparent {
	@include pointer-left($theme_transparent);
}
*[class^="pointer-"] {
	width: 0;
	height: 0;
	border-style: solid;
}
.default {
	color: $theme_default_foreground;
	background-color: $theme_default;
}
.primary {
	color: $theme_primary_foreground;
	background-color: $theme_primary;
}
.secondary {
	color: $theme_secondary_foreground;
	background-color: $theme_secondary;
}
.dark {
	color: $theme_dark_foreground;
	background-color: $theme_dark;
}
.accent-1 {
	color: $theme_accent_1_foreground;
	background-color: $theme_accent_1;
}
.accent-2 {
	color: $theme_accent_2_foreground;
	background-color: $theme_accent_2;
}
.accent-3 {
	color: $theme_accent_3_foreground;
	background-color: $theme_accent_3;
}
.accent-4 {
	color: $theme_accent_4_foreground;
	background-color: $theme_accent_4;
}
.accent-5 {
	color: $theme_accent_5_foreground;
	background-color: $theme_accent_5;
}
.success {
	color: $theme_success_foreground;
	background-color: $theme_success;
}
.info {
	color: $theme_info_foreground;
	background-color: $theme_info;
}
.warning {
	color: $theme_warning_foreground;
	background-color: $theme_warning;
}
.danger {
	color: $theme_danger_foreground;
	background-color: $theme_danger;
}
.highlight {
	color: $theme_highlight_foreground;
	background-color: $theme_highlight;
}
.muted {
	color: $theme_muted_foreground;
	background-color: $theme_muted;
}
.color-default,
.color-odd-default > div:nth-child(odd),
.color-even-default > div:nth-child(even) {
	color: $theme_default;
}
.color-primary,
.color-odd-primary > div:nth-child(odd),
.color-even-primary > div:nth-child(even) {
	color: $theme_primary;
}
.color-secondary,
.color-odd-secondary > div:nth-child(odd),
.color-even-secondary > div:nth-child(even) {
	color: $theme_secondary;
}
.color-dark,
.color-odd-dark > div:nth-child(odd),
.color-even-dark > div:nth-child(even) {
	color: $theme_dark;
}
.color-accent-1,
.color-odd-accent-1 > div:nth-child(odd),
.color-even-accent-1 > div:nth-child(even) {
	color: $theme_accent_1;
}
.color-accent-2,
.color-odd-accent-2 > div:nth-child(odd),
.color-even-accent-2 > div:nth-child(even) {
	color: $theme_accent_2;
}
.color-accent-3,
.color-odd-accent-3 > div:nth-child(odd),
.color-even-accent-3 > div:nth-child(even) {
	color: $theme_accent_3;
}
.color-accent-4,
.color-odd-accent-4 > div:nth-child(odd),
.color-even-accent-4 > div:nth-child(even) {
	color: $theme_accent_4;
}
.color-accent-5,
.color-odd-accent-5 > div:nth-child(odd),
.color-even-accent-5 > div:nth-child(even) {
	color: $theme_accent_5;
}
.color-success,
.color-odd-success > div:nth-child(odd),
.color-even-success > div:nth-child(even) {
	color: $theme_success;
}
.color-info,
.color-odd-info > div:nth-child(odd),
.color-even-info > div:nth-child(even) {
	color: $theme_info;
}
.color-warning,
.color-odd-warning > div:nth-child(odd),
.color-even-warning > div:nth-child(even) {
	color: $theme_warning;
}
.color-danger,
.color-odd-danger > div:nth-child(odd),
.color-even-danger > div:nth-child(even) {
	color: $theme_danger;
}
.color-transparent,
.color-odd-transparent > div:nth-child(odd),
.color-even-transparent > div:nth-child(even) {
	color: $theme_transparent;
}
.color-highlight,
.color-odd-highlight > div:nth-child(odd),
.color-even-highlight > div:nth-child(even) {
	color: $theme_highlight;
}
.color-muted,
.color-odd-muted > div:nth-child(odd),
.color-even-muted > div:nth-child(even) {
	color: $theme_muted;
}
.color-hover-default {
	&:hover {
		color: $theme_default;
	}
}
.color-hover-primary {
	&:hover {
		color: $theme_primary;
	}
}
.color-hover-secondary {
	&:hover {
		color: $theme_secondary;
	}
}
.color-hover-dark {
	&:hover {
		color: $theme_dark;
	}
}
.color-hover-accent-1 {
	&:hover {
		color: $theme_accent_1;
	}
}
.color-hover-accent-2 {
	&:hover {
		color: $theme_accent_2;
	}
}
.color-hover-accent-3 {
	&:hover {
		color: $theme_accent_3;
	}
}
.color-hover-accent-4 {
	&:hover {
		color: $theme_accent_4;
	}
}
.color-hover-accent-5 {
	&:hover {
		color: $theme_accent_5;
	}
}
.color-hover-success {
	&:hover {
		color: $theme_success;
	}	
}
.color-hover-info {
	&:hover {
		color: $theme_info;
	}	
}
.color-hover-warning {
	&:hover {
		color: $theme_warning;
	}
}
.color-hover-danger {
	&:hover {
		color: $theme_danger;
	}	
}
.color-hover-transparent {
	&:hover {
		color: $theme_transparent;
	}	
}
.color-hover-highlight {
	&:hover {
		color: $theme_highlight;
	}	
}
.color-hover-muted {
	&:hover {
		color: $theme_muted;
	}	
}
.color-translucent-1 {
	color: rgba(204, 204, 204, 0.1);
}
.color-translucent-2 {
	color: rgba(204, 204, 204, 0.2);
}
.color-translucent-3 {
	color: rgba(204, 204, 204, 0.3);
}
.color-translucent-4 {
	color: rgba(204, 204, 204, 0.4);
}
.color-translucent-5 {
	color: rgba(204, 204, 204, 0.5);
}
.color-translucent-6 {
	color: rgba(204, 204, 204, 0.6);
}
.color-translucent-7 {
	color: rgba(204, 204, 204, 0.7);
}
.color-translucent-8 {
	color: rgba(204, 204, 204, 0.8);
}
.color-translucent-9 {
	color: rgba(204, 204, 204, 0.9);
}
.background-default,
.background-odd-default > div:nth-child(odd),
.background-even-default > div:nth-child(even) {
	background-color: $theme_default;
}
.background-primary,
.background-odd-primary > div:nth-child(odd),
.background-even-primary > div:nth-child(even) {
	background-color: $theme_primary;
}
.background-secondary,
.background-odd-secondary > div:nth-child(odd),
.background-even-secondary > div:nth-child(even) {
	background-color: $theme_secondary;
}
.background-dark,
.background-odd-dark > div:nth-child(odd),
.background-even-dark > div:nth-child(even) {
	background-color: $theme_dark;
}
.background-accent-1,
.background-odd-accent-1 > div:nth-child(odd),
.background-even-accent-1 > div:nth-child(even) {
	background-color: $theme_accent_1;
}
.background-accent-2,
.background-odd-accent-2 > div:nth-child(odd),
.background-even-accent-2 > div:nth-child(even) {
	background-color: $theme_accent_2;
}
.background-accent-3,
.background-odd-accent-3 > div:nth-child(odd),
.background-even-accent-3 > div:nth-child(even) {
	background-color: $theme_accent_3;
}
.background-accent-4,
.background-odd-accent-4 > div:nth-child(odd),
.background-even-accent-4 > div:nth-child(even) {
	background-color: $theme_accent_4;
}
.background-accent-5,
.background-odd-accent-5 > div:nth-child(odd),
.background-even-accent-5 > div:nth-child(even) {
	background-color: $theme_accent_5;
}
.background-success,
.background-odd-success > div:nth-child(odd),
.background-even-success > div:nth-child(even) {
	background-color: $theme_success;
}
.background-info,
.background-odd-info > div:nth-child(odd),
.background-even-info > div:nth-child(even) {
	background-color: $theme_info;
}
.background-warning,
.background-odd-warning > div:nth-child(odd),
.background-even-warning > div:nth-child(even) {
	background-color: $theme_warning;
}
.background-danger,
.background-odd-danger > div:nth-child(odd),
.background-even-danger > div:nth-child(even) {
	background-color: $theme_danger;
}
.background-transparent,
.background-odd-transparent > div:nth-child(odd),
.background-even-transparent > div:nth-child(even) {
	background-color: $theme_transparent;
}
.background-highlight,
.background-odd-highlight > div:nth-child(odd),
.background-even-highlight > div:nth-child(even) {
	background-color: $theme_highlight;
}
.background-muted,
.background-odd-muted > div:nth-child(odd),
.background-even-muted > div:nth-child(even) {
	background-color: $theme_muted;
}
.background-hover-default {
	&:hover {
		background-color: $theme_default;
	}
}
.background-hover-primary {
	&:hover {
		background-color: $theme_primary;
	}
}
.background-hover-secondary {
	&:hover {
		background-color: $theme_secondary;
	}
}
.background-hover-dark {
	&:hover {
		background-color: $theme_dark;
	}
}
.background-hover-accent-1 {
	&:hover {
		background-color: $theme_accent_1;
	}
}
.background-hover-accent-2 {
	&:hover {
		background-color: $theme_accent_2;
	}
}
.background-hover-accent-3 {
	&:hover {
		background-color: $theme_accent_3;
	}
}
.background-hover-accent-4 {
	&:hover {
		background-color: $theme_accent_4;
	}
}
.background-hover-accent-5 {
	&:hover {
		background-color: $theme_accent_5;
	}
}
.background-hover-success {
	&:hover {
		background-color: $theme_success;
	}	
}
.background-hover-info {
	&:hover {
		background-color: $theme_info;
	}	
}
.background-hover-warning {
	&:hover {
		background-color: $theme_warning;
	}
}
.background-hover-danger {
	&:hover {
		background-color: $theme_danger;
	}	
}
.background-hover-transparent {
	&:hover {
		background-color: $theme_transparent;
	}	
}
.background-hover-highlight {
	&:hover {
		background-color: $theme_highlight;
	}	
}
.background-hover-muted {
	&:hover {
		background-color: $theme_muted;
	}	
}
.background-translucent-1 {
	background: rgba(204, 204, 204, 0.1);
}
.background-translucent-2 {
	background: rgba(204, 204, 204, 0.2);
}
.background-translucent-3 {
	background: rgba(204, 204, 204, 0.3);
}
.background-translucent-4 {
	background: rgba(204, 204, 204, 0.4);
}
.background-translucent-5 {
	background: rgba(204, 204, 204, 0.5);
}
.background-translucent-6 {
	background: rgba(204, 204, 204, 0.6);
}
.background-translucent-7 {
	background: rgba(204, 204, 204, 0.7);
}
.background-translucent-8 {
	background: rgba(204, 204, 204, 0.8);
}
.background-translucent-9 {
	background: rgba(204, 204, 204, 0.9);
}
.border-default {
	border-color: $theme_default;
}
.border-primary {
	border-color: $theme_primary;
}
.border-secondary {
	border-color: $theme_secondary;
}
.border-dark {
	border-color: $theme_dark;
}
.border-accent-1 {
	border-color: $theme_accent_1;
}
.border-accent-2 {
	border-color: $theme_accent_2;
}
.border-accent-3 {
	border-color: $theme_accent_3;
}
.border-accent-4 {
	border-color: $theme_accent_4;
}
.border-accent-5 {
	border-color: $theme_accent_5;
}
.border-success {
	border-color: $theme_success;
}
.border-info {
	border-color: $theme_info;
}
.border-warning {
	border-color: $theme_warning;
}
.border-danger {
	border-color: $theme_danger;
}
.border-transparent {
	border-color: $theme_transparent;
}
.border-highlight {
	border-color: $theme_highlight;
}
.border-muted {
	border-color: $theme_muted;
}
.border-hover-default {
	&:hover {
		border-color: $theme_default;
	}
}
.border-hover-primary {
	&:hover {
		border-color: $theme_primary;
	}
}
.border-hover-secondary {
	&:hover {
		border-color: $theme_secondary;
	}
}
.border-hover-dark {
	&:hover {
		border-color: $theme_dark;
	}
}
.border-hover-accent-1 {
	&:hover {
		border-color: $theme_accent_1;
	}
}
.border-hover-accent-2 {
	&:hover {
		border-color: $theme_accent_2;
	}
}
.border-hover-accent-3 {
	&:hover {
		border-color: $theme_accent_3;
	}
}
.border-hover-accent-4 {
	&:hover {
		border-color: $theme_accent_4;
	}
}
.border-hover-accent-5 {
	&:hover {
		border-color: $theme_accent_5;
	}
}
.border-hover-success {
	&:hover {
		border-color: $theme_success;
	}	
}
.border-hover-info {
	&:hover {
		border-color: $theme_info;
	}	
}
.border-hover-warning {
	&:hover {
		border-color: $theme_warning;
	}
}
.border-hover-danger {
	&:hover {
		border-color: $theme_danger;
	}	
}
.border-hover-transparent {
	&:hover {
		border-color: $theme_transparent;
	}	
}
.border-hover-highlight {
	&:hover {
		border-color: $theme_highlight;
	}	
}
.border-hover-muted {
	&:hover {
		border-color: $theme_muted;
	}	
}
.border-sm {
	border-width: 1px;
}
.border-md {
	border-width: 2px;
}
.border-lg {
	border-width: 3px;
}
.border-sm, .border-md, .border-lg {
	border-style: solid;
}
.rounded-sm {
	border-radius: 3px;
}
.rounded-md {
	border-radius: 6px;
}
.rounded-lg {
	border-radius: 9px;
}
.rounded-full {
	border-radius: 50%;
}
.rounded-left-sm {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.rounded-right-sm {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.rounded-top-sm {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.rounded-bottom-sm {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.rounded-left-md {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.rounded-right-md {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.rounded-top-md {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.rounded-bottom-md {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.rounded-left-lg {
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
}
.rounded-right-lg {
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
}
.rounded-top-lg {
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}
.rounded-bottom-lg {
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}
.raised-sm {
	box-shadow: 1px 1px 10px 1px rgba(102, 102, 102, 0.5);
}
.raised-md {
	box-shadow: 2px 2px 10px 1px rgba(102, 102, 102, 0.5);
}
.raised-lg {
	box-shadow: 4px 4px 10px 1px rgba(102, 102, 102, 0.5);
}
.screen-reader, sr {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xl {
	display: block;
}
.show-inline-xs,
.show-inline-sm,
.show-inline-md,
.show-inline-lg,
.show-inline-xl {
	display: inline;
}
.show-inline-block-xs,
.show-inline-block-sm,
.show-inline-block-md,
.show-inline-block-lg,
.show-inline-block-xl {
	display: inline-block;
}
.hide-xs,
.hide-sm,
.hide-md,
.hide-lg,
.hide-xl,
.hide-inline-xs,
.hide-inline-sm,
.hide-inline-md,
.hide-inline-lg,
.hide-inline-xl,
.hide-inline-block-xs,
.hide-inline-block-sm,
.hide-inline-block-md,
.hide-inline-block-lg,
.hide-inline-block-xl {
  display: none;
}
@media screen and (min-width: 480px) {
	.show-xs,
	.show-inline-xs,
	.show-inline-block-xs {
		display: none;
	}
	.hide-xs {
		display: block;
	}
	.hide-inline-xs {
		display: inline;
	}
	.hide-inline-block-xs {
		display: inline-block;
	}
}
@media screen and (min-width: 768px) {
	.show-sm,
	.show-inline-sm,
	.show-inline-block-sm {
		display: none;
	}
	.hide-sm {
		display: block;
	}
	.hide-inline-sm {
		display: inline;
	}
	.hide-inline-block-sm {
		display: inline-block;
	}
}
@media screen and (min-width: 992px) {
	.show-md,
	.show-inline-md,
	.show-inline-block-md {
		display: none;
	}
	.hide-md {
		display: block;
	}
	.hide-inline-md {
		display: inline;
	}
	.hide-inline-block-md {
		display: inline-block;
	}
}
@media screen and (min-width: 1200px) {
	.show-lg,
	.show-inline-lg,
	.show-inline-block-lg {
		display: none;
	}
	.hide-lg {
		display: block;
	}
	.hide-inline-lg {
		display: inline;
	}
	.hide-inline-block-lg {
		display: inline-block;
	}
}
@media screen and (min-width: 1366px) {
	.show-xl,
	.show-inline-xl,
	.show-inline-block-xl {
		display: none;
	}
	.hide-xl {
		display: block;
	}
	.hide-inline-xl {
		display: inline;
	}
	.hide-inline-block-xl {
		display: inline-block;
	}
}
@media screen and (max-width: 479px) {
	.respond-xs {
		float: none;
		width: 100%;
	}
	.width-respond-xs {
		width: 100%;
		min-width: 100%;
	}
}
@media screen and (max-width: 767px) {
	.respond-sm {
		float: none;
		width: 100%;
	}
	.width-respond-sm {
		width: 100%;
		min-width: 100%;
	}
}
@media screen and (max-width: 991px) {
	.respond-md {
		float: none;
		width: 100%;
	}
	.width-respond-md {
		width: 100%;
		min-width: 100%;
	}
}
@media screen and (max-width: 1199px) {
	.respond-lg {
		float: none;
		width: 100%;
	}
	.width-respond-lg {
		width: 100%;
		min-width: 100%;
	}
}
@media screen and (max-width: 1365px) {
	.respond-xl {
		float: none;
		width: 100%;
	}
	.width-respond-xl {
		width: 100%;
		min-width: 100%;
	}
}
@keyframes animate-fadein {
	from {
		opacity: 0; 
	}
	50% {
		opacity: 0.5;
	}
	to {
		opacity: 1; 
	}		
}
.hidden {
	display: none;
}
