.toolbar-sm {
	height: 2.375rem;
}
.toolbar-lg {
	height: 2.75rem;
}
.dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
}
.dropdown-right {
	right: 0;
}
.dropdown-content {
	display: none;
	position: absolute;
	@include layer-3();	
}
.dropdown-content-expand {
	display: none;
	position: relative;
	@include layer-3();	
}
.dropdown-sheet {
	display: none;
	position: absolute; 
	left: 0; 
	width: 100%; 
	background-color: transparent;
	@include layer-3();	
}
