
@mixin navbar-mq-styles() {
	.nav-menu {
		position: absolute;
		left: 0;
		display: none;
		@include layer-3();
    & > * {
			display: none;
			margin-left: 0;
			& > .nav-menu {
				position: static;
				display: initial;
			}	
		} 
	}
  .nav-menu, .nav-menu > *, .nav-menu > * a {
		float: left;
		width: 100%;
  }
	.nav-menu > * a {
    padding: 0;
	}
}