
@mixin pointer-top($color) {
	border-color: transparent transparent $color transparent;
}
@mixin pointer-right($color) {
	border-color: transparent transparent transparent $color;
}
@mixin pointer-bottom($color) {
	border-color: $color transparent transparent transparent;
}
@mixin pointer-left($color) {
	border-color: transparent $color transparent transparent;
}
@mixin layer-initial() {
	z-index: auto;
}
@mixin layer-1() {
	z-index: 110;
}
@mixin layer-2() {
	z-index: 120;
}
@mixin layer-3() {
	z-index: 130;
}
@mixin layer-4() {
	z-index: 140;
}
@mixin layer-5() {
	z-index: 150;
}
@mixin layer-6() {
	z-index: 160;
}
@mixin layer-7() {
	z-index: 170;
}
@mixin layer-8() {
	z-index: 180;
}
@mixin layer-9() {
	z-index: 190;
}
@mixin layer-top() {
	z-index: 200;
}
@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
	& {
		@each $property in $properties {
			#{$property}: $min-value;
		}

		@media all and (min-width: $min-screen) {
			@each $property in $properties {
				#{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value); 
			}
		}

		@media all and (min-width: $max-screen) {
			@each $property in $properties {
				#{$property}: $max-value;
			}
		}
	}
}
@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
	$a: ($max-value - $min-value) / ($max-screen - $min-screen);
	$b: $min-value - $a * $min-screen; 

	$sign: "+";
	@if ($b < 0) {
		$sign: "-";
		$b: abs($b);
	}
	@return calc(#{$a*100}vw #{$sign} #{$b});
}
