
@mixin flex-order() {
	@for $i from 1 to 11 {
		.flex-order-#{$i} { order: $i; }
	}
	.flex-order-first { order: -1; }
}
@mixin flex-order-bp-1-over() {
	@for $i from 1 to 11 {
		.flex-order-#{$i}-bp-1-over { order: $i; }
	}
	.flex-order-first-bp-1-over { order: -1; }
}
@mixin flex-order-bp-2-over() {
	@for $i from 1 to 11 {
		.flex-order-#{$i}-bp-2-over { order: $i; }
	}
	.flex-order-first-bp-2-over { order: -1; }
}
@mixin flex-order-bp-3-over() {
	@for $i from 1 to 11 {
		.flex-order-#{$i}-bp-3-over { order: $i; }
	}
	.flex-order-first-bp-3-over { order: -1; }
}
@mixin flex-order-bp-4-over() {
	@for $i from 1 to 11 {
		.flex-order-#{$i}-bp-4-over { order: $i; }
	}
	.flex-order-first-bp-4-over { order: -1; }
}
@mixin flex-order-bp-5-over() {
	@for $i from 1 to 11 {
		.flex-order-#{$i}-bp-5-over { order: $i; }
	}
	.flex-order-first-bp-5-over { order: -1; }
}
@mixin flex-order-bp-5-under() {
	@for $i from 1 to 11 {
		.flex-order-#{$i}-bp-5-under { order: $i; }
	}
	.flex-order-first-bp-5-under { order: -1; }
}
@mixin flex-order-bp-4-under() {
	@for $i from 1 to 11 {
		.flex-order-#{$i}-bp-4-under { order: $i; }
	}
	.flex-order-first-bp-4-under { order: -1; }
}
@mixin flex-order-bp-3-under() {
	@for $i from 1 to 11 {
		.flex-order-#{$i}-bp-3-under { order: $i; }
	}
	.flex-order-first-bp-3-under { order: -1; }
}
@mixin flex-order-bp-2-under() {
	@for $i from 1 to 11 {
		.flex-order-#{$i}-bp-2-under { order: $i; }
	}
	.flex-order-first-bp-2-under { order: -1; }
}
@mixin flex-order-bp-1-under() {
	@for $i from 1 to 11 {
		.flex-order-#{$i}-bp-1-under { order: $i; }
	}
	.flex-order-first-bp-1-under { order: -1; }
}
