
.modal {
	position: fixed;
	left: 0;
	top: 0;	
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .4);
	display: none;
	@include layer-4();
}
.modal-sm {
	top: calc(50% - 12.5rem);	
	left: 75%;
	width: 25%;
	margin-left: -37.5%;
	height: 25vh;
}
.modal-md {
	top: calc(50% - 17.188rem);	
	left: 50%;
	width: 50%;
	margin-left: -25%;
	height: 50vh
}
.modal-lg {
	top: calc(50% - 21.875rem);
	left: 25%;
	width: 75%;
	margin-left: -12.5%;
	height: 75vh;
}
.modal-top-left {
	top: 5%;
	left: 5%;
	margin: 0;
}
.modal-top-center {
	top: 5%;
}
.modal-top-right {
	top: 5%;
	margin-left: -5%;	
}
.modal-middle-left {
	left: 5%;
	margin-right: -5%;
	margin: 0;
}
.modal-middle-right {
	right: 5%;
	margin-left: -5%;	
}
.modal-bottom-left {
	top: auto;
	bottom: 5%;
	left: 5%;
	margin: 0;	
}
.modal-bottom-center {
	top: auto;
	bottom: 5%;
}
.modal-bottom-right {
	top: auto;
	bottom: 5%;
	right: 5%;
	margin-left: -5%;
}
.modal-sm,
.modal-md,
.modal-lg {
	position: fixed;
	display: inherit;
	overflow-x: hidden;
	background-color: transparent;
	@include layer-5();		
}
.modal-scroll-body {
	overflow-y: scroll;
	height: 100%;
}
.modal-animate {
	animation: animate-fadein 0.5s ease-in-out;
}

@media all and (min-width: $settings_modal_bp_3_over) and (max-width: $settings_modal_bp_4_under) {
	.modal-sm {
		left: 65%;
		width: 35%;
		margin-left: -32.5%;
	}
	.modal-md {
		left: 40%;
		width: 60%;
		margin-left: -20%;
	}
}
@media all and (min-width: $settings_modal_bp_2_over) and (max-width: $settings_modal_bp_3_under) {
	.modal-sm {
		left: 50%;
		width: 50%;
		margin-left: -25%;
	}
	.modal-md {
		left: 30%;
		width: 70%;
		margin-left: -15%;
	}
}
@media all and (max-width: $settings_modal_bp_2_under) {
	.modal-sm, .modal-md, .modal-lg {
		left: 20%;
		width: 80%;
		margin-left: -10%;
		&.modal-auto-stretch {
			height: 90vh;
		}
	}
}