
*[class*="nav-indicator"] {
	position: relative;
	& .indicator-item {
		position: absolute;
		top: 0;
		left: 0;
		width: 1.25rem;
		height: 1.25rem;
		transform-origin: center;
		background-position: center;
		background-repeat: no-repeat;	
	}
}

.nav-indicator-left .indicator-item {
	transform: rotate(-90deg);
}
.nav-indicator-right .indicator-item {
	transform: rotate(90deg);
}
.nav-indicator-up .indicator-item {
	transform: rotate(180deg);
}

.nav-indicator.active .indicator-item {
	transform: rotate(180deg);
}
.nav-indicator-left.active .indicator-item {
	transform: rotate(90deg);
}
.nav-indicator-right.active .indicator-item {
	transform: rotate(-90deg);
}
.nav-indicator-up.active .indicator-item {
	transform: rotate(0deg);
}


	
