
.notification-container {
	width: 300px;
	position: absolute;
	@include layer-6();
}
.notification-item {
	color: $theme_default_foreground;
	background: $theme_default;
	height: auto;	
	opacity: 0.8;
	border: none;
	display: block;
	position: relative;
	margin: 0 0 12px 0;
}
.notification-type-success {
	color: $theme_success_foreground;
	background-color: $theme_success;
}
.notification-icon-success {
	width: 32px;
	height: 32px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAANlBMVEUAAADi4uK0tLTAwMC9vb2vr6/Y2NjOzs7Nzc3c3Nzb29vT09PDw8P////4+vj29vbw8PD6/fpkbv00AAAADXRSTlMAlpaWlpaWlpaWlpaWhX4f8AAAAHNJREFUOMvdkEkOgCAQBAeRxWVY/v9ZHRI1EWju1IlQzTRAU+PUAv3OzCix8o0FAWY8IYlXfW/Fh1EB8EG8+23q+FZu4lNjaoAFsplJiLI8q0B+zvm6oGC4YPovWPnDE05EarOIrAvqe6jxH+OEJsihaUouczAG0dQdENcAAAAASUVORK5CYII=");
}
.notification-type-info {
	color: $theme_info_foreground;
	background-color: $theme_info;
}
.notification-icon-info {
	width: 32px;
	height: 32px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAARVBMVEUAAADl5eXZ2dnHx8ezs7Ompqbr6+vLy8u6urqtra2YmJiSkpLR0dHAwMCbm5v////5+fvw8PT8/P309Pnz8/nt7fXz8/Qkkl3IAAAAD3RSTlMAlpaWlpaWlpaWlpaWlpbmGmAkAAAAc0lEQVQ4y82SSw6AIAwFQUEQ1IK/+x9Vn67bLowJs51JSxNMi+RCFKSAQOR9IjBoE3ohGG9vzc8kz6rY7QQyFwT7+FU9UgsEP8NvQlAQuA8bOnirDVh477UNB/ykP/HsGe/ewFbhBlCEvwSq4XGFBm8a5AJ3FQb1d/PiQAAAAABJRU5ErkJggg==");
}
.notification-type-warning {
	color: $theme_warning_foreground;
	background-color: $theme_warning;
}
.notification-icon-warning {
	width: 32px;
	height: 32px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAJ1BMVEUAAADy8vLNzc3u7u7m5ubf39/b29vp6enZ2dnExMTR0dH////9+/dlH2AaAAAAC3RSTlMAlpaWlpaWlpaWlktu3awAAABnSURBVCjPY6AiCDZF5XPv3r0BRcB79+6NKALV6ALZu3dvQRGYvXv3JvyGMqILcOzenYDqkN27GQgIWG9GE9DehSbAvYFkAU4FQiHGhKaCffduAVRnoIdH9+7dqE7lQfc+Q6IoFeMUAJ0oI9Vr2zVmAAAAAElFTkSuQmCC");
}
.notification-type-danger {
	color: $theme_danger_foreground;
	background-color: $theme_danger;
}
.notification-icon-danger {
	width: 32px;
	height: 32px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAP1BMVEUAAADz8/Pt7e20tLTe3t7b29vLy8vExMSWlpbq6uri4uLU1NTIyMjBwcGmpqaHh4eBgYH////+/f39+fn19fWD8W5cAAAAEXRSTlMAlpaWlpaWlpaWlpaWlpaWlsP0b/YAAACUSURBVDjL3ZJbDoQgDEWr4Nt5HJz9r3ViWhIixQV4fppwby+kVJ5IhHindwBdWx8A7jJgExmhpfegpXFJgPWsGwTxOOx9Kxye/gIwI5PUJIBZ5AuQan0E7QycjH4AiPxwI3aUKaDsTkDGiwgY/YIRLkNU3iJztkpJeRhRPMNS/CnVItigPgmctcCIQyoCvAxy/6P4Awg8DsW0E8aTAAAAAElFTkSuQmCC");
}
.notification-icon-cancel {
	width: 24px;
	height: 24px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAFVBMVEUAAAD////29vrz8/ns7Pb7+/34+Pv0UPyQAAAAAXRSTlMAQObYZgAAAFRJREFUGNOtjMENgDAMxK4h4t0L4h82CCMwQjdg/ykoUpQJ6p9lyVhOC0B7Cg/gYcrFUFqK0G46KlUAdo63ZCNL5moOE+U5GBVcKtH+YUpzQDpW8wGC7gXAOppkhAAAAABJRU5ErkJggg==");
}
.notification-top-left {
    position: fixed;
    left: 20px;
    top: 20px;
}
.notification-top-center {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -150px;
}
.notification-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}
.notification-bottom-left {
    position: fixed;
    left: 20px;
    bottom: 20px;
}
.notification-bottom-center {
    position: fixed;
    left: 50%;
	bottom: 20px;
    margin-left: -150px;
}
.notification-bottom-right {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
