
.place-top-left {
	top: 0;
	left: 0;
}
.place-top-center {
	left: 50%; 
	top: 0; 
	transform: translate(-50%, 0);
}
.place-top-right {
	top: 0;
	right: 0;
}
.place-middle-left {
	left: 0; 
	top: 50%; 
	transform: translate(0, -50%);
}
.place-middle-center {
	left: 50%; 
	top: 50%; 
	transform: translate(-50%, -50%);
}
.place-middle-right {
	right: 0; 
	top: 50%; 
	transform: translate(0, -50%);
}
.place-bottom-left {
	bottom: 0;
	left: 0;
}
.place-bottom-center {
	left: 50%; 
	bottom: 0; 
	transform: translate(-50%, 0);
}
.place-bottom-right {
	bottom: 0;
	right: 0;
}
*[class*="place-"] {
	position: absolute;
}
.dock-top-left {
	left: 0;
	top: 0;
}
.dock-top-center {
	left: 50%; 
	top: 0; 
	transform: translate(-50%, 0);
}
.dock-top-right {
	right: 0;
	top: 0;
}
.dock-middle-left {
	left: 0; 
	top: 50%; 
	transform: translate(0, -50%);
}
.dock-middle-center {
	left: 50%; 
	top: 50%; 
	transform: translate(-50%, -50%);
}
.dock-middle-right {
	right: 0; 
	top: 50%; 
	transform: translate(0, -50%);
}
.dock-bottom-left {
	left: 0;
	bottom: 0;
}
.dock-bottom-center {
	left: 50%; 
	bottom: 0;
	transform: translate(-50%, 0);
}
.dock-bottom-right {
	right: 0;
	bottom: 0;
}
*[class*="dock-"] {
	position: fixed;
	@include layer-1();
}
.top-initial {
	top: 0;
}
.top-xxs {
	top: 0.625rem;
}
.top-xxs-xs {
	top: 0.938rem;
}
.top-xs {
	top: 1.25rem;
}
.top-xs-sm {
	top: 1.875rem;
}
.top-sm {
	top: 2.5rem;
}
.top-sm-md {
	top: 3.75rem;
}
.top-md {
	top: 5rem;
}
.top-md-lg {
	top: 7.5rem;
}
.top-lg {
	top: 10rem;
}
.top-lg-xl {
	top: 15rem;
}
.top-xl {
	top: 20rem;
}
.top-xl-xxl {
	top: 30rem;
}
.top-xxl {
	top: 40rem;
}
.top-minus-xxs {
	top: -0.625rem;
}
.top-minus-xxs-xs {
	top: -0.938rem;
}
.top-minus-xs {
	top: -1.25rem;
}
.top-minus-xs-sm {
	top: -1.875rem;
}
.top-minus-sm {
	top: -2.5rem;
}
.top-minus-sm-md {
	top: -3.75rem;
}
.top-minus-md {
	top: -5rem;
}
.top-minus-md-lg {
	top: -7.5rem;
}
.top-minus-lg {
	top: -10rem;
}
.top-minus-lg-xl {
	top: -15rem;
}
.top-minus-xl {
	top: -20rem;
}
.top-minus-xl-xxl {
	top: -30rem;
}
.top-minus-xxl {
	top: -40rem;
}
.left-initial {
	left: 0;
}
.left-xxs {
	left: 0.625rem;
}
.left-xxs-xs {
	left: 0.938rem;
}
.left-xs {
	left: 1.25rem;
}
.left-xs-sm {
	left: 1.875rem;
}
.left-sm {
	left: 2.5rem;
}
.left-sm-md {
	left: 3.75rem;
}
.left-md {
	left: 5rem;
}
.left-md-lg {
	left: 7.5rem;
}
.left-lg {
	left: 10rem;
}
.left-lg-xl {
	left: 15rem;
}
.left-xl {
	left: 20rem;
}
.left-xl-xxl {
	left: 30rem;
}
.left-xxl {
	left: 40rem;
}
.left-minus-xxs {
	left: -0.625rem;
}
.left-minus-xxs-xs {
	left: -0.938rem;
}
.left-minus-xs {
	left: -1.25rem;
}
.left-minus-xs-sm {
	left: -1.875rem;
}
.left-minus-sm {
	left: -2.5rem;
}
.left-minus-sm-md {
	left: -3.75rem;
}
.left-minus-md {
	left: -5rem;
}
.left-minus-md-lg {
	left: -7.5rem;
}
.left-minus-lg {
	left: -10rem;
}
.left-minus-lg-xl {
	left: -15rem;
}
.left-minus-xl {
	left: -20rem;
}
.left-minus-xl-xxl {
	left: -30rem;
}
.left-minus-xxl {
	left: -40rem;
}
.bottom-initial {
	bottom: 0;
}
.bottom-xxs {
	bottom: 0.625rem;
}
.bottom-xxs-xs {
	bottom: 0.938rem;
}
.bottom-xs {
	bottom: 1.25rem;
}
.bottom-xs-sm {
	bottom: 1.875rem;
}
.bottom-sm {
	bottom: 2.5rem;
}
.bottom-sm-md {
	bottom: 3.75rem;
}
.bottom-md {
	bottom: 5rem;
}
.bottom-md-lg {
	bottom: 7.5rem;
}
.bottom-lg {
	bottom: 10rem;
}
.bottom-lg-xl {
	bottom: 15rem;
}
.bottom-xl {
	bottom: 20rem;
}
.bottom-xl-xxl {
	bottom: 30rem;
}
.bottom-xxl {
	bottom: 40rem;
}
.bottom-minus-xxs {
	bottom: -0.625rem;
}
.bottom-minus-xxs-xs {
	bottom: -0.938rem;
}
.bottom-minus-xs {
	bottom: -1.25rem;
}
.bottom-minus-xs-sm {
	bottom: -1.875rem;
}
.bottom-minus-sm {
	bottom: -2.5rem;
}
.bottom-minus-sm-md {
	bottom: -3.75rem;
}
.bottom-minus-md {
	bottom: -5rem;
}
.bottom-minus-md-lg {
	bottom: -7.5rem;
}
.bottom-minus-lg {
	bottom: -10rem;
}
.bottom-minus-lg-xl {
	bottom: -15rem;
}
.bottom-minus-xl {
	bottom: -20rem;
}
.bottom-minus-xl-xxl {
	bottom: -30rem;
}
.bottom-minus-xxl {
	bottom: -40rem;
}
.right-initial {
	right: 0;
}
.right-xxs {
	right: 0.625rem;
}
.right-xxs-xs {
	right: 0.938rem;
}
.right-xs {
	right: 1.25rem;
}
.right-xs-sm {
	right: 1.875rem;
}
.right-sm {
	right: 2.5rem;
}
.right-sm-md {
	right: 3.75rem;
}
.right-md {
	right: 5rem;
}
.right-md-lg {
	right: 7.5rem;
}
.right-lg {
	right: 10rem;
}
.right-lg-xl {
	right: 15rem;
}
.right-xl {
	right: 20rem;
}
.right-xl-xxl {
	right: 30rem;
}
.right-xxl {
	right: 40rem;
}
.right-minus-xxs {
	right: -0.625rem;
}
.right-minus-xxs-xs {
	right: -0.938rem;
}
.right-minus-xs {
	right: -1.25rem;
}
.right-minus-xs-sm {
	right: -1.875rem;
}
.right-minus-sm {
	right: -2.5rem;
}
.right-minus-sm-md {
	right: -3.75rem;
}
.right-minus-md {
	right: -5rem;
}
.right-minus-md-lg {
	right: -7.5rem;
}
.right-minus-lg {
	right: -10rem;
}
.right-minus-lg-xl {
	right: -15rem;
}
.right-minus-xl {
	right: -20rem;
}
.right-minus-xl-xxl {
	right: -30rem;
}
.right-minus-xxl {
	right: -40rem;
}