
@media print {
    body {
      font-size: 12pt;
    }
    h1 {
      font-size: 24pt;
    }
    h2 {
      font-size: 20pt;
    }
    h3 {
      font-size: 16pt;
    }
    h4 {
      font-size: 14pt;
    }
    h1, h2, h3, h4 {
      break-after: avoid;
    }
    a {
      text-decoration: underline;
    }
    a[href^="http://"]::after {
      content: " <" attr(href) ">";
    }
    table,
    article,
    meter,
    progress,
    blockquote {
      break-inside: avoid;
    }
    figure,
    caption {
      break-inside: avoid;
      break-before: avoid;
      break-after: avoid;
    }
    img,
    pre,
    code {
      border: 0.063rem solid $theme_muted;
      break-inside: avoid;
    }
    img {
      max-width: 18cm;
    }
    video, 
    audio, 
    object, 
    embed,
    iframe,
    aside,
    nav,
    button,
    input[type=button], 
    input[type=submit],
    *[class*="button-link"],
    *[class*="view-button-link"],
    *[class*="menu-button-link"],
    *[class*="menu"], 
    *[class*="dropdown-"] {
      display: none;
    }
    *[class*="columns-"] {
      perspective: 1;
    }
}

@page {
  margin: 1cm;
}