
@media all and (min-width: $settings_bp_1_over) {
	.text-bp-1-over {
		line-height: 1.5em;
	}
	.text-xs-bp-1-over {
		font-size: 0.75em;
	}
	.text-sm-bp-1-over {
		font-size: 0.875em;
	}
	.text-md-bp-1-over {
		font-size: 1em;
	}
	.text-lg-bp-1-over {
		font-size: 1.125em;
	}
	.text-xl-bp-1-over {
		font-size: 1.25em;
	}
	.text-mega-bp-1-over {
		font-size: 2.5em;
	}
	.width-auto-bp-1-over {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-1-over {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-1-over {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-1-over {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-1-over {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-1-over {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-1-over {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-1-over {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-1-over {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-1-over {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-1-over {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-1-over {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-1-over {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-1-over {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-1-over {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-1-over {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-1-over {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-1-over {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-1-over {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-1-over {
		width: 100%;
		min-width: 100%;
	}
	.width-viewport-bp-1-over {
		width: 100vw;
	}
	.height-auto-bp-1-over {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-1-over {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-1-over {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-1-over {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-1-over {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-1-over {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-1-over {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-1-over {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-1-over {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-1-over {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-1-over {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-1-over {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-1-over {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-1-over {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-1-over {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-1-over {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-1-over {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-1-over {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-1-over {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-1-over {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-1-over {
		height: 100vh;
	}
	.text-left-bp-1-over {
		text-align: left;
	}
	.text-center-bp-1-over {
		text-align: center;
	}
	.text-right-bp-1-over {
		text-align: right;
	}
	.text-justify-bp-1-over {
		text-align: justify;
	}
	.align-left-bp-1-over {
		display: table;
		margin: 0 auto 0 0;	
	}
	.align-center-bp-1-over {
		display: table;
		margin: 0 auto;
	}
	.align-right-bp-1-over {
		display: table;
		margin: 0 0 0 auto;	
	}
	.move-left-bp-1-over {
		float: left;
	}
	.move-left-stacked-bp-1-over {
		float: left;
		clear: left;
	}
	.move-right-bp-1-over {
		float: right;
	}
	.move-right-stacked-bp-1-over {
		float: right;
		clear: right;
	}
	.place-top-left-bp-1-over {
		top: 0;
		left: 0;
	}
	.place-top-center-bp-1-over {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.place-top-right-bp-1-over {
		top: 0;
		right: 0;
	}
	.place-middle-left-bp-1-over {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-middle-center-bp-1-over {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.place-middle-right-bp-1-over {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-bottom-left-bp-1-over {
		bottom: 0;
		left: 0;
	}
	.place-bottom-center-bp-1-over {
		left: 50%; 
		bottom: 0; 
		transform: translate(-50%, 0);
	}
	.place-bottom-right-bp-1-over {
		bottom: 0;
		right: 0;
	}
	.dock-top-left-bp-1-over {
		left: 0;
		top: 0;
	}
	.dock-top-center-bp-1-over {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.dock-top-right-bp-1-over {
		right: 0;
		top: 0;
	}
	.dock-middle-left-bp-1-over {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-middle-center-bp-1-over {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.dock-middle-right-bp-1-over {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-bottom-left-bp-1-over {
		left: 0;
		bottom: 0;
	}
	.dock-bottom-center-bp-1-over {
		left: 50%; 
		bottom: 0;
		transform: translate(-50%, 0);
	}
	.dock-bottom-right-bp-1-over {
		right: 0;
		bottom: 0;
	}
}
@media all and (min-width: $settings_bp_2_over) {
	.text-bp-2-over {
		line-height: 1.5em;
	}
	.text-xs-bp-2-over {
		font-size: 0.75em;
	}
	.text-sm-bp-2-over {
		font-size: 0.875em;
	}
	.text-md-bp-2-over {
		font-size: 1em;
	}
	.text-lg-bp-2-over {
		font-size: 1.125em;
	}
	.text-xl-bp-2-over {
		font-size: 1.25em;
	}
	.text-mega-bp-2-over {
		font-size: 2.5em;
	}
	.width-auto-bp-2-over {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-2-over {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-2-over {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-2-over {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-2-over {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-2-over {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-2-over {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-2-over {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-2-over {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-2-over {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-2-over {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-2-over {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-2-over {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-2-over {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-2-over {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-2-over {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-2-over {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-2-over {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-2-over {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-2-over {
		width: 100%;
		min-width: 100%;
	}
	.width-viewport-bp-2-over {
		width: 100vw;
	}
	.height-auto-bp-2-over {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-2-over {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-2-over {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-2-over {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-2-over {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-2-over {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-2-over {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-2-over {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-2-over {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-2-over {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-2-over {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-2-over {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-2-over {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-2-over {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-2-over {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-2-over {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-2-over {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-2-over {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-2-over {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-2-over {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-2-over {
		height: 100vh;
	}
	.pad-xs-bp-2-over {
		padding: 0.313rem;
	}
	.text-left-bp-2-over {
		text-align: left;
	}
	.text-center-bp-2-over {
		text-align: center;
	}
	.text-right-bp-2-over {
		text-align: right;
	}
	.text-justify-bp-2-over {
		text-align: justify;
	}
	.align-left-bp-2-over {
		display: table;
		margin: 0 auto 0 0;	
	}
	.align-center-bp-2-over {
		display: table;
		margin: 0 auto;
	}
	.align-right-bp-2-over {
		display: table;
		margin: 0 0 0 auto;	
	}
	.move-left-bp-2-over {
		float: left;
	}
	.move-left-stacked-bp-2-over {
		float: left;
		clear: left;
	}
	.move-right-bp-2-over {
		float: right;
	}
	.move-right-stacked-bp-2-over {
		float: right;
		clear: right;
	}
	.place-top-left-bp-2-over {
		top: 0;
		left: 0;
	}
	.place-top-center-bp-2-over {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.place-top-right-bp-2-over {
		top: 0;
		right: 0;
	}
	.place-middle-left-bp-2-over {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-middle-center-bp-2-over {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.place-middle-right-bp-2-over {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-bottom-left-bp-2-over {
		bottom: 0;
		left: 0;
	}
	.place-bottom-center-bp-2-over {
		left: 50%; 
		bottom: 0; 
		transform: translate(-50%, 0);
	}
	.place-bottom-right-bp-2-over {
		bottom: 0;
		right: 0;
	}
	.dock-top-left-bp-2-over {
		left: 0;
		top: 0;
	}
	.dock-top-center-bp-2-over {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.dock-top-right-bp-2-over {
		right: 0;
		top: 0;
	}
	.dock-middle-left-bp-2-over {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-middle-center-bp-2-over {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.dock-middle-right-bp-2-over {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-bottom-left-bp-2-over {
		left: 0;
		bottom: 0;
	}
	.dock-bottom-center-bp-2-over {
		left: 50%; 
		bottom: 0;
		transform: translate(-50%, 0);
	}
	.dock-bottom-right-bp-2-over {
		right: 0;
		bottom: 0;
	}
}
@media all and (min-width: $settings_bp_3_over) {
	.text-bp-3-over {
		line-height: 1.5em;
	}
	.text-xs-bp-3-over {
		font-size: 0.75em;
	}
	.text-sm-bp-3-over {
		font-size: 0.875em;
	}
	.text-md-bp-3-over {
		font-size: 1em;
	}
	.text-lg-bp-3-over {
		font-size: 1.125em;
	}
	.text-xl-bp-3-over {
		font-size: 1.25em;
	}
	.text-mega-bp-3-over {
		font-size: 2.5em;
	}
	.width-auto-bp-3-over {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-3-over {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-3-over {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-3-over {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-3-over {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-3-over {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-3-over {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-3-over {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-3-over {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-3-over {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-3-over {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-3-over {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-3-over {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-3-over {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-3-over {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-3-over {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-3-over {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-3-over {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-3-over {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-3-over {
		width: 100%;
		min-width: 100%;
	}
	.width-viewport-bp-3-over {
		width: 100vw;
	}
	.height-auto-bp-3-over {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-3-over {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-3-over {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-3-over {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-3-over {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-3-over {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-3-over {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-3-over {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-3-over {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-3-over {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-3-over {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-3-over {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-3-over {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-3-over {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-3-over {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-3-over {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-3-over {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-3-over {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-3-over {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-3-over {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-3-over {
		height: 100vh;
	}
	.text-left-bp-3-over {
		text-align: left;
	}
	.text-center-bp-3-over {
		text-align: center;
	}
	.text-right-bp-3-over {
		text-align: right;
	}
	.text-justify-bp-3-over {
		text-align: justify;
	}
	.align-left-bp-3-over {
		display: table;
		margin: 0 auto 0 0;	
	}
	.align-center-bp-3-over {
		display: table;
		margin: 0 auto;
	}
	.align-right-bp-3-over {
		display: table;
		margin: 0 0 0 auto;	
	}
	.move-left-bp-3-over {
		float: left;
	}
	.move-left-stacked-bp-3-over {
		float: left;
		clear: left;
	}
	.move-right-bp-3-over {
		float: right;
	}
	.move-right-stacked-bp-3-over {
		float: right;
		clear: right;
	}
	.place-top-left-bp-3-over {
		top: 0;
		left: 0;
	}
	.place-top-center-bp-3-over {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.place-top-right-bp-3-over {
		top: 0;
		right: 0;
	}
	.place-middle-left-bp-3-over {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-middle-center-bp-3-over {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.place-middle-right-bp-3-over {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-bottom-left-bp-3-over {
		bottom: 0;
		left: 0;
	}
	.place-bottom-center-bp-3-over {
		left: 50%; 
		bottom: 0; 
		transform: translate(-50%, 0);
	}
	.place-bottom-right-bp-3-over {
		bottom: 0;
		right: 0;
	}
	.dock-top-left-bp-3-over {
		left: 0;
		top: 0;
	}
	.dock-top-center-bp-3-over {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.dock-top-right-bp-3-over {
		right: 0;
		top: 0;
	}
	.dock-middle-left-bp-3-over {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-middle-center-bp-3-over {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.dock-middle-right-bp-3-over {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-bottom-left-bp-3-over {
		left: 0;
		bottom: 0;
	}
	.dock-bottom-center-bp-3-over {
		left: 50%; 
		bottom: 0;
		transform: translate(-50%, 0);
	}
	.dock-bottom-right-bp-3-over {
		right: 0;
		bottom: 0;
	}
}
@media all and (min-width: $settings_bp_4_over) {
	.text-bp-4-over {
		line-height: 1.5em;
	}
	.text-xs-bp-4-over {
		font-size: 0.75em;
	}
	.text-sm-bp-4-over {
		font-size: 0.875em;
	}
	.text-md-bp-4-over {
		font-size: 1em;
	}
	.text-lg-bp-4-over {
		font-size: 1.125em;
	}
	.text-xl-bp-4-over {
		font-size: 1.25em;
	}
	.text-mega-bp-4-over {
		font-size: 2.5em;
	}
	.width-auto-bp-4-over {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-4-over {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-4-over {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-4-over {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-4-over {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-4-over {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-4-over {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-4-over {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-4-over {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-4-over {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-4-over {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-4-over {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-4-over {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-4-over {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-4-over {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-4-over {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-4-over {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-4-over {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-4-over {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-4-over {
		width: 100%;
		min-width: 100%;
	}
	.width-viewport-bp-4-over {
		width: 100vw;
	}
	.height-auto-bp-4-over {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-4-over {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-4-over {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-4-over {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-4-over {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-4-over {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-4-over {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-4-over {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-4-over {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-4-over {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-4-over {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-4-over {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-4-over {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-4-over {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-4-over {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-4-over {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-4-over {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-4-over {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-4-over {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-4-over {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-4-over {
		height: 100vh;
	}
	.text-left-bp-4-over {
		text-align: left;
	}
	.text-center-bp-4-over {
		text-align: center;
	}
	.text-right-bp-4-over {
		text-align: right;
	}
	.text-justify-bp-4-over {
		text-align: justify;
	}
	.align-left-bp-4-over {
		display: table;
		margin: 0 auto 0 0;	
	}
	.align-center-bp-4-over {
		display: table;
		margin: 0 auto;
	}
	.align-right-bp-4-over {
		display: table;
		margin: 0 0 0 auto;	
	}
	.move-left-bp-4-over {
		float: left;
	}
	.move-left-stacked-bp-4-over {
		float: left;
		clear: left;
	}
	.move-right-bp-4-over {
		float: right;
	}
	.move-right-stacked-bp-4-over {
		float: right;
		clear: right;
	}
	.place-top-left-bp-4-over {
		top: 0;
		left: 0;
	}
	.place-top-center-bp-4-over {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.place-top-right-bp-4-over {
		top: 0;
		right: 0;
	}
	.place-middle-left-bp-4-over {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-middle-center-bp-4-over {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.place-middle-right-bp-4-over {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-bottom-left-bp-4-over {
		bottom: 0;
		left: 0;
	}
	.place-bottom-center-bp-4-over {
		left: 50%; 
		bottom: 0; 
		transform: translate(-50%, 0);
	}
	.place-bottom-right-bp-4-over {
		bottom: 0;
		right: 0;
	}
	.dock-top-left-bp-4-over {
		left: 0;
		top: 0;
	}
	.dock-top-center-bp-4-over {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.dock-top-right-bp-4-over {
		right: 0;
		top: 0;
	}
	.dock-middle-left-bp-4-over {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-middle-center-bp-4-over {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.dock-middle-right-bp-4-over {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-bottom-left-bp-4-over {
		left: 0;
		bottom: 0;
	}
	.dock-bottom-center-bp-4-over {
		left: 50%; 
		bottom: 0;
		transform: translate(-50%, 0);
	}
	.dock-bottom-right-bp-4-over {
		right: 0;
		bottom: 0;
	}
}
@media all and (min-width: $settings_bp_5_over) {
	.text-bp-5-over {
		line-height: 1.5em;
	}
	.text-xs-bp-5-over {
		font-size: 0.75em;
	}
	.text-sm-bp-5-over {
		font-size: 0.875em;
	}
	.text-md-bp-5-over {
		font-size: 1em;
	}
	.text-lg-bp-5-over {
		font-size: 1.125em;
	}
	.text-xl-bp-5-over {
		font-size: 1.25em;
	}
	.text-mega-bp-5-over {
		font-size: 2.5em;
	}
	.width-auto-bp-5-over {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-5-over {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-5-over {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-5-over {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-5-over {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-5-over {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-5-over {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-5-over {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-5-over {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-5-over {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-5-over {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-5-over {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-5-over {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-5-over {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-5-over {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-5-over {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-5-over {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-5-over {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-5-over {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-5-over {
		width: 100%;
		min-width: 100%;
	}
	.width-viewport-bp-5-over {
		width: 100vw;
	}
	.height-auto-bp-5-over {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-5-over {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-5-over {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-5-over {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-5-over {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-5-over {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-5-over {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-5-over {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-5-over {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-5-over {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-5-over {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-5-over {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-5-over {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-5-over {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-5-over {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-5-over {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-5-over {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-5-over {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-5-over {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-5-over {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-5-over {
		height: 100vh;
	}
	.text-left-bp-5-over {
		text-align: left;
	}
	.text-center-bp-5-over {
		text-align: center;
	}
	.text-right-bp-5-over {
		text-align: right;
	}
	.text-justify-bp-5-over {
		text-align: justify;
	}
	.align-left-bp-5-over {
		display: table;
		margin: 0 auto 0 0;	
	}
	.align-center-bp-5-over {
		display: table;
		margin: 0 auto;
	}
	.align-right-bp-5-over {
		display: table;
		margin: 0 0 0 auto;	
	}
	.move-left-bp-5-over {
		float: left;
	}
	.move-left-stacked-bp-5-over {
		float: left;
		clear: left;
	}
	.move-right-bp-5-over {
		float: right;
	}
	.move-right-stacked-bp-5-over {
		float: right;
		clear: right;
	}
	.place-top-left-bp-5-over {
		top: 0;
		left: 0;
	}
	.place-top-center-bp-5-over {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.place-top-right-bp-5-over {
		top: 0;
		right: 0;
	}
	.place-middle-left-bp-5-over {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-middle-center-bp-5-over {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.place-middle-right-bp-5-over {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-bottom-left-bp-5-over {
		bottom: 0;
		left: 0;
	}
	.place-bottom-center-bp-5-over {
		left: 50%; 
		bottom: 0; 
		transform: translate(-50%, 0);
	}
	.place-bottom-right-bp-5-over {
		bottom: 0;
		right: 0;
	}
	.dock-top-left-bp-5-over {
		left: 0;
		top: 0;
	}
	.dock-top-center-bp-5-over {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.dock-top-right-bp-5-over {
		right: 0;
		top: 0;
	}
	.dock-middle-left-bp-5-over {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-middle-center-bp-5-over {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.dock-middle-right-bp-5-over {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-bottom-left-bp-5-over {
		left: 0;
		bottom: 0;
	}
	.dock-bottom-center-bp-5-over {
		left: 50%; 
		bottom: 0;
		transform: translate(-50%, 0);
	}
	.dock-bottom-right-bp-5-over {
		right: 0;
		bottom: 0;
	}
}
@media all and (max-width: $settings_bp_5_under) {
	.text-bp-5-under {
		line-height: 1.5em;
	}
	.text-xs-bp-5-under {
		font-size: 0.75em;
	}
	.text-sm-bp-5-under {
		font-size: 0.875em;
	}
	.text-md-bp-5-under {
		font-size: 1em;
	}
	.text-lg-bp-5-under {
		font-size: 1.125em;
	}
	.text-xl-bp-5-under {
		font-size: 1.25em;
	}
	.text-mega-bp-5-under {
		font-size: 2.5em;
	}
	.width-auto-bp-5-under {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-5-under {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-5-under {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-5-under {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-5-under {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-5-under {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-5-under {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-5-under {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-5-under {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-5-under {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-5-under {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-5-under {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-5-under {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-5-under {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-5-under {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-5-under {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-5-under {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-5-under {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-5-under {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-5-under {
		width: 100%;
		min-width: 100%;
	}
	.width-viewport-bp-5-under {
		width: 100vw;
	}
	.height-auto-bp-5-under {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-5-under {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-5-under {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-5-under {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-5-under {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-5-under {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-5-under {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-5-under {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-5-under {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-5-under {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-5-under {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-5-under {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-5-under {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-5-under {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-5-under {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-5-under {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-5-under {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-5-under {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-5-under {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-5-under {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-5-under {
		height: 100vh;
	}
	.text-left-bp-5-under {
		text-align: left;
	}
	.text-center-bp-5-under {
		text-align: center;
	}
	.text-right-bp-5-under {
		text-align: right;
	}
	.text-justify-bp-5-under {
		text-align: justify;
	}
	.align-left-bp-5-under {
		display: table;
		margin: 0 auto 0 0;	
	}
	.align-center-bp-5-under {
		display: table;
		margin: 0 auto;
	}
	.align-right-bp-5-under {
		display: table;
		margin: 0 0 0 auto;	
	}
	.move-left-bp-5-under {
		float: left;
	}
	.move-left-stacked-bp-5-under {
		float: left;
		clear: left;
	}
	.move-right-bp-5-under {
		float: right;
	}
	.move-right-stacked-bp-5-under {
		float: right;
		clear: right;
	}
	.place-top-left-bp-5-under {
		top: 0;
		left: 0;
	}
	.place-top-center-bp-5-under {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.place-top-right-bp-5-under {
		top: 0;
		right: 0;
	}
	.place-middle-left-bp-5-under {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-middle-center-bp-5-under {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.place-middle-right-bp-5-under {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-bottom-left-bp-5-under {
		bottom: 0;
		left: 0;
	}
	.place-bottom-center-bp-5-under {
		left: 50%; 
		bottom: 0; 
		transform: translate(-50%, 0);
	}
	.place-bottom-right-bp-5-under {
		bottom: 0;
		right: 0;
	}
	.dock-top-left-bp-5-under {
		left: 0;
		top: 0;
	}
	.dock-top-center-bp-5-under {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.dock-top-right-bp-5-under {
		right: 0;
		top: 0;
	}
	.dock-middle-left-bp-5-under {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-middle-center-bp-5-under {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.dock-middle-right-bp-5-under {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-bottom-left-bp-5-under {
		left: 0;
		bottom: 0;
	}
	.dock-bottom-center-bp-5-under {
		left: 50%; 
		bottom: 0;
		transform: translate(-50%, 0);
	}
	.dock-bottom-right-bp-5-under {
		right: 0;
		bottom: 0;
	}
}
@media all and (max-width: $settings_bp_4_under) {
	.text-bp-4-under {
		line-height: 1.5em;
	}
	.text-xs-bp-4-under {
		font-size: 0.75em;
	}
	.text-sm-bp-4-under {
		font-size: 0.875em;
	}
	.text-md-bp-4-under {
		font-size: 1em;
	}
	.text-lg-bp-4-under {
		font-size: 1.125em;
	}
	.text-xl-bp-4-under {
		font-size: 1.25em;
	}
	.text-mega-bp-4-under {
		font-size: 2.5em;
	}
	.width-auto-bp-4-under {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-4-under {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-4-under {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-4-under {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-4-under {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-4-under {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-4-under {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-4-under {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-4-under {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-4-under {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-4-under {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-4-under {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-4-under {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-4-under {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-4-under {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-4-under {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-4-under {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-4-under {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-4-under {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-4-under {
		width: 100%;
		min-width: 100%;
	}
	.width-viewport-bp-4-under {
		width: 100vw;
	}
	.height-auto-bp-4-under {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-4-under {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-4-under {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-4-under {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-4-under {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-4-under {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-4-under {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-4-under {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-4-under {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-4-under {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-4-under {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-4-under {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-4-under {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-4-under {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-4-under {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-4-under {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-4-under {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-4-under {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-4-under {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-4-under {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-4-under {
		height: 100vh;
	}
	.text-left-bp-4-under {
		text-align: left;
	}
	.text-center-bp-4-under {
		text-align: center;
	}
	.text-right-bp-4-under {
		text-align: right;
	}
	.text-justify-bp-4-under {
		text-align: justify;
	}
	.align-left-bp-4-under {
		display: table;
		margin: 0 auto 0 0;	
	}
	.align-center-bp-4-under {
		display: table;
		margin: 0 auto;
	}
	.align-right-bp-4-under {
		display: table;
		margin: 0 0 0 auto;	
	}
	.move-left-bp-4-under {
		float: left;
	}
	.move-left-stacked-bp-4-under {
		float: left;
		clear: left;
	}
	.move-right-bp-4-under {
		float: right;
	}
	.move-right-stacked-bp-4-under {
		float: right;
		clear: right;
	}
	.place-top-left-bp-4-under {
		top: 0;
		left: 0;
	}
	.place-top-center-bp-4-under {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.place-top-right-bp-4-under {
		top: 0;
		right: 0;
	}
	.place-middle-left-bp-4-under {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-middle-center-bp-4-under {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.place-middle-right-bp-4-under {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-bottom-left-bp-4-under {
		bottom: 0;
		left: 0;
	}
	.place-bottom-center-bp-4-under {
		left: 50%; 
		bottom: 0; 
		transform: translate(-50%, 0);
	}
	.place-bottom-right-bp-4-under {
		bottom: 0;
		right: 0;
	}
	.dock-top-left-bp-4-under {
		left: 0;
		top: 0;
	}
	.dock-top-center-bp-4-under {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.dock-top-right-bp-4-under {
		right: 0;
		top: 0;
	}
	.dock-middle-left-bp-4-under {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-middle-center-bp-4-under {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.dock-middle-right-bp-4-under {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-bottom-left-bp-4-under {
		left: 0;
		bottom: 0;
	}
	.dock-bottom-center-bp-4-under {
		left: 50%; 
		bottom: 0;
		transform: translate(-50%, 0);
	}
	.dock-bottom-right-bp-4-under {
		right: 0;
		bottom: 0;
	}
}
@media all and (max-width: $settings_bp_3_under) {
	.text-bp-3-under {
		line-height: 1.5em;
	}
	.text-xs-bp-3-under {
		font-size: 0.75em;
	}
	.text-sm-bp-3-under {
		font-size: 0.875em;
	}
	.text-md-bp-3-under {
		font-size: 1em;
	}
	.text-lg-bp-3-under {
		font-size: 1.125em;
	}
	.text-xl-bp-3-under {
		font-size: 1.25em;
	}
	.text-mega-bp-3-under {
		font-size: 2.5em;
	}
	.width-auto-bp-3-under {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-3-under {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-3-under {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-3-under {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-3-under {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-3-under {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-3-under {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-3-under {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-3-under {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-3-under {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-3-under {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-3-under {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-3-under {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-3-under {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-3-under {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-3-under {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-3-under {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-3-under {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-3-under {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-3-under {
		width: 100%;
		min-width: 100%;
	}
	.width-viewport-bp-3-under {
		width: 100vw;
	}
	.height-auto-bp-3-under {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-3-under {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-3-under {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-3-under {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-3-under {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-3-under {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-3-under {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-3-under {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-3-under {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-3-under {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-3-under {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-3-under {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-3-under {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-3-under {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-3-under {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-3-under {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-3-under {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-3-under {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-3-under {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-3-under {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-3-under {
		height: 100vh;
	}
	.text-left-bp-3-under {
		text-align: left;
	}
	.text-center-bp-3-under {
		text-align: center;
	}
	.text-right-bp-3-under {
		text-align: right;
	}
	.text-justify-bp-3-under {
		text-align: justify;
	}
	.align-left-bp-3-under {
		display: table;
		margin: 0 auto 0 0;	
	}
	.align-center-bp-3-under {
		display: table;
		margin: 0 auto;
	}
	.align-right-bp-3-under {
		display: table;
		margin: 0 0 0 auto;	
	}
	.move-left-bp-3-under {
		float: left;
	}
	.move-left-stacked-bp-3-under {
		float: left;
		clear: left;
	}
	.move-right-bp-3-under {
		float: right;
	}
	.move-right-stacked-bp-3-under {
		float: right;
		clear: right;
	}
	.place-top-left-bp-3-under {
		top: 0;
		left: 0;
	}
	.place-top-center-bp-3-under {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.place-top-right-bp-3-under {
		top: 0;
		right: 0;
	}
	.place-middle-left-bp-3-under {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-middle-center-bp-3-under {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.place-middle-right-bp-3-under {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-bottom-left-bp-3-under {
		bottom: 0;
		left: 0;
	}
	.place-bottom-center-bp-3-under {
		left: 50%; 
		bottom: 0; 
		transform: translate(-50%, 0);
	}
	.place-bottom-right-bp-3-under {
		bottom: 0;
		right: 0;
	}
	.dock-top-left-bp-3-under {
		left: 0;
		top: 0;
	}
	.dock-top-center-bp-3-under {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.dock-top-right-bp-3-under {
		right: 0;
		top: 0;
	}
	.dock-middle-left-bp-3-under {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-middle-center-bp-3-under {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.dock-middle-right-bp-3-under {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-bottom-left-bp-3-under {
		left: 0;
		bottom: 0;
	}
	.dock-bottom-center-bp-3-under {
		left: 50%; 
		bottom: 0;
		transform: translate(-50%, 0);
	}
	.dock-bottom-right-bp-3-under {
		right: 0;
		bottom: 0;
	}
}
@media all and (max-width: $settings_bp_2_under) {
	.text-bp-2-under {
		line-height: 1.5em;
	}
	.text-xs-bp-2-under {
		font-size: 0.75em;
	}
	.text-sm-bp-2-under {
		font-size: 0.875em;
	}
	.text-md-bp-2-under {
		font-size: 1em;
	}
	.text-lg-bp-2-under {
		font-size: 1.125em;
	}
	.text-xl-bp-2-under {
		font-size: 1.25em;
	}
	.text-mega-bp-2-under {
		font-size: 2.5em;
	}
	.width-auto-bp-2-under {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-2-under {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-2-under {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-2-under {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-2-under {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-2-under {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-2-under {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-2-under {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-2-under {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-2-under {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-2-under {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-2-under {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-2-under {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-2-under {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-2-under {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-2-under {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-2-under {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-2-under {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-2-under {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-2-under {
		width: 100%;
		min-width: 100%;
	}
	.width-viewport-bp-2-under {
		width: 100vw;
	}
	.height-auto-bp-2-under {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-2-under {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-2-under {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-2-under {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-2-under {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-2-under {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-2-under {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-2-under {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-2-under {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-2-under {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-2-under {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-2-under {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-2-under {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-2-under {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-2-under {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-2-under {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-2-under {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-2-under {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-2-under {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-2-under {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-2-under {
		height: 100vh;
	}
	.text-left-bp-2-under {
		text-align: left;
	}
	.text-center-bp-2-under {
		text-align: center;
	}
	.text-right-bp-2-under {
		text-align: right;
	}
	.text-justify-bp-2-under {
		text-align: justify;
	}
	.align-left-bp-2-under {
		display: table;
		margin: 0 auto 0 0;	
	}
	.align-center-bp-2-under {
		display: table;
		margin: 0 auto;
	}
	.align-right-bp-2-under {
		display: table;
		margin: 0 0 0 auto;	
	}
	.move-left-bp-2-under {
		float: left;
	}
	.move-left-stacked-bp-2-under {
		float: left;
		clear: left;
	}
	.move-right-bp-2-under {
		float: right;
	}
	.move-right-stacked-bp-2-under {
		float: right;
		clear: right;
	}
	.place-top-left-bp-2-under {
		top: 0;
		left: 0;
	}
	.place-top-center-bp-2-under {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.place-top-right-bp-2-under {
		top: 0;
		right: 0;
	}
	.place-middle-left-bp-2-under {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-middle-center-bp-2-under {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.place-middle-right-bp-2-under {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-bottom-left-bp-2-under {
		bottom: 0;
		left: 0;
	}
	.place-bottom-center-bp-2-under {
		left: 50%; 
		bottom: 0; 
		transform: translate(-50%, 0);
	}
	.place-bottom-right-bp-2-under {
		bottom: 0;
		right: 0;
	}
	.dock-top-left-bp-2-under {
		left: 0;
		top: 0;
	}
	.dock-top-center-bp-2-under {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.dock-top-right-bp-2-under {
		right: 0;
		top: 0;
	}
	.dock-middle-left-bp-2-under {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-middle-center-bp-2-under {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.dock-middle-right-bp-2-under {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-bottom-left-bp-2-under {
		left: 0;
		bottom: 0;
	}
	.dock-bottom-center-bp-2-under {
		left: 50%; 
		bottom: 0;
		transform: translate(-50%, 0);
	}
	.dock-bottom-right-bp-2-under {
		right: 0;
		bottom: 0;
	}
}
@media all and (max-width: $settings_bp_1_under) {
	.text-bp-1-under {
		line-height: 1.5em;
	}
	.text-xs-bp-1-under {
		font-size: 0.75em;
	}
	.text-sm-bp-1-under {
		font-size: 0.875em;
	}
	.text-md-bp-1-under {
		font-size: 1em;
	}
	.text-lg-bp-1-under {
		font-size: 1.125em;
	}
	.text-xl-bp-1-under {
		font-size: 1.25em;
	}
	.text-mega-bp-1-under {
		font-size: 2.5em;
	}
	.width-auto-bp-1-under {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-1-under {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-1-under {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-1-under {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-1-under {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-1-under {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-1-under {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-1-under {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-1-under {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-1-under {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-1-under {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-1-under {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-1-under {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-1-under {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-1-under {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-1-under {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-1-under {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-1-under {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-1-under {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-1-under {
		width: 100%;
		min-width: 100%;
	}
	.width-viewport-bp-1-under {
		width: 100vw;
	}
	.height-auto-bp-1-under {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-1-under {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-1-under {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-1-under {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-1-under {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-1-under {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-1-under {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-1-under {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-1-under {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-1-under {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-1-under {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-1-under {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-1-under {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-1-under {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-1-under {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-1-under {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-1-under {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-1-under {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-1-under {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-1-under {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-1-under {
		height: 100vh;
	}
	.text-left-bp-1-under {
		text-align: left;
	}
	.text-center-bp-1-under {
		text-align: center;
	}
	.text-right-bp-1-under {
		text-align: right;
	}
	.text-justify-bp-1-under {
		text-align: justify;
	}
	.align-left-bp-1-under {
		display: table;
		margin: 0 auto 0 0;	
	}
	.align-center-bp-1-under {
		display: table;
		margin: 0 auto;
	}
	.align-right-bp-1-under {
		display: table;
		margin: 0 0 0 auto;	
	}
	.move-left-bp-1-under {
		float: left;
	}
	.move-left-stacked-bp-1-under {
		float: left;
		clear: left;
	}
	.move-right-bp-1-under {
		float: right;
	}
	.move-right-stacked-bp-1-under {
		float: right;
		clear: right;
	}
	.place-top-left-bp-1-under {
		top: 0;
		left: 0;
	}
	.place-top-center-bp-1-under {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.place-top-right-bp-1-under {
		top: 0;
		right: 0;
	}
	.place-middle-left-bp-1-under {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-middle-center-bp-1-under {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.place-middle-right-bp-1-under {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.place-bottom-left-bp-1-under {
		bottom: 0;
		left: 0;
	}
	.place-bottom-center-bp-1-under {
		left: 50%; 
		bottom: 0; 
		transform: translate(-50%, 0);
	}
	.place-bottom-right-bp-1-under {
		bottom: 0;
		right: 0;
	}
	.dock-top-left-bp-1-under {
		left: 0;
		top: 0;
	}
	.dock-top-center-bp-1-under {
		left: 50%; 
		top: 0; 
		transform: translate(-50%, 0);
	}
	.dock-top-right-bp-1-under {
		right: 0;
		top: 0;
	}
	.dock-middle-left-bp-1-under {
		left: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-middle-center-bp-1-under {
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
	}
	.dock-middle-right-bp-1-under {
		right: 0; 
		top: 50%; 
		transform: translate(0, -50%);
	}
	.dock-bottom-left-bp-1-under {
		left: 0;
		bottom: 0;
	}
	.dock-bottom-center-bp-1-under {
		left: 50%; 
		bottom: 0;
		transform: translate(-50%, 0);
	}
	.dock-bottom-right-bp-1-under {
		right: 0;
		bottom: 0;
	}
}
