
@media all and (min-width: $settings_bp_1_over) {
	*[class*="responsive-gutter-"],
	*[class*="responsive-gutter-left-"],
	*[class*="responsive-gutter-right-"] {
		margin-left: 0;
		margin-right: 0;		
	}
	.text-bp-1-over {
		line-height: 1.5em;
	}
	.text-xs-bp-1-over {
		font-size: 0.75em;
	}
	.text-sm-bp-1-over {
		font-size: 0.875em;
	}
	.text-md-bp-1-over {
		font-size: 1em;
	}
	.text-lg-bp-1-over {
		font-size: 1.125em;
	}
	.text-xl-bp-1-over {
		font-size: 1.25em;
	}
	.text-mega-bp-1-over {
		font-size: 2.5em;
	}
	.text-width-50-bp-1-over {
		width: 50ch;
	}
	.text-width-75-bp-1-over {
		width: 75ch;
	}
	.text-width-100-bp-1-over {
		width: 100ch;
	}
	.text-left-bp-1-over {
		text-align: left;
	}
	.text-center-bp-1-over {
		text-align: center;
	}
	.text-right-bp-1-over {
		text-align: right;
	}
	.text-justify-bp-1-over {
		text-align: justify;
	}
	.width-one-quarter-bp-1-over {
		width: 25%;
	}
	.width-one-third-bp-1-over {
		width: 33.33333333%;
	}
	.width-one-half-bp-1-over {
		width: 50%;
	}
	.width-two-thirds-bp-1-over {
		width: 66.66666666%;
	}
	.width-three-quarters-bp-1-over {
		width: 75%;
	}
	.width-full-bp-1-over {
		width: 100%;
	}
	.width-viewport-one-quarter-bp-1-over {
		width: 25vw;
	}
	.width-viewport-one-third-bp-1-over {
		width: 33.33333333vw;
	}
	.width-viewport-one-half-bp-1-over {
		width: 50vw;
	}
	.width-viewport-two-thirds-bp-1-over {
		width: 66.66666666vw;
	}
	.width-viewport-three-quarters-bp-1-over {
		width: 75vw;
	}
	.width-viewport-bp-1-over {
		width: 100vw;
	}
	.width-auto-bp-1-over {
		width: auto;
	}
	.width-inherit-bp-1-over {
		width: inherit;
	}
	.width-min-content-bp-1-over {
		width: min-content;
	}
	.width-max-content-bp-1-over {
		width: max-content;
	}
	.width-fit-content-bp-1-over {
		width: fit-content;
	}
	.height-one-quarter-bp-1-over {
		height: 25%;
	}
	.height-one-third-bp-1-over {
		height: 33.33333333%;
	}
	.height-one-half-bp-1-over {
		height: 50%;
	}
	.height-two-thirds-bp-1-over {
		height: 66.66666666%;
	}
	.height-three-quarters-bp-1-over {
		height: 75%;
	}
	.height-full-bp-1-over {
		height: 100%;
	}
	.height-viewport-one-quarter-bp-1-over {
		height: 25vh;
	}
	.height-viewport-one-third-bp-1-over {
		height: 33.33333333vh;
	}
	.height-viewport-one-half-bp-1-over {
		height: 50vh;
	}
	.height-viewport-two-thirds-bp-1-over {
		height: 66.66666666vh;
	}
	.height-viewport-three-quarters-bp-1-over {
		height: 75vh;
	}
	.height-viewport-bp-1-over {
		height: 100vh;
	}
	.height-auto-bp-1-over {
		height: auto;
	}
	.height-inherit-bp-1-over {
		height: inherit;
	}
	.height-min-content-bp-1-over {
		height: min-content;
	}
	.height-max-content-bp-1-over {
		height: max-content;
	}
	.height-fit-content-bp-1-over {
		height: fit-content;
	}
}
@media all and (min-width: $settings_bp_2_over) {
	.responsive-gutter-xs {
		margin-left: 2%;
		margin-right: 2%;
	}
	.responsive-gutter-left-xs {
		margin-left: 4%;
	}
	.responsive-gutter-right-xs {
		margin-right: 4%;
	}
	.responsive-gutter-sm {
		margin-left: 4%;
		margin-right: 4%;		
	}
	.responsive-gutter-left-sm {
		margin-left: 8%;
	}
	.responsive-gutter-right-sm {
		margin-right: 8%;
	}
	.responsive-gutter-md {
		margin-left: 6%;
		margin-right: 6%;		
	}
	.responsive-gutter-left-md {
		margin-left: 12%;
	}
	.responsive-gutter-right-md {
		margin-right: 12%;
	}
	.responsive-gutter-lg {
		margin-left: 8%;
		margin-right: 8%;		
	}
	.responsive-gutter-left-lg {
		margin-left: 16%;
	}
	.responsive-gutter-right-lg {
		margin-right: 16%;
	}
	.responsive-gutter-xl {
		margin-left: 10%;
		margin-right: 10%;
	}
	.responsive-gutter-left-xl {
		margin-left: 20%;
	}
	.responsive-gutter-right-xl {
		margin-right: 20%;
	}
	.text-bp-2-over {
		line-height: 1.5em;
	}
	.text-xs-bp-2-over {
		font-size: 0.75em;
	}
	.text-sm-bp-2-over {
		font-size: 0.875em;
	}
	.text-md-bp-2-over {
		font-size: 1em;
	}
	.text-lg-bp-2-over {
		font-size: 1.125em;
	}
	.text-xl-bp-2-over {
		font-size: 1.25em;
	}
	.text-mega-bp-2-over {
		font-size: 2.5em;
	}
	.text-width-50-bp-2-over {
		width: 50ch;
	}
	.text-width-75-bp-2-over {
		width: 75ch;
	}
	.text-width-100-bp-2-over {
		width: 100ch;
	}
	.text-left-bp-2-over {
		text-align: left;
	}
	.text-center-bp-2-over {
		text-align: center;
	}
	.text-right-bp-2-over {
		text-align: right;
	}
	.text-justify-bp-2-over {
		text-align: justify;
	}
	.width-one-quarter-bp-2-over {
		width: 25%;
	}
	.width-one-third-bp-2-over {
		width: 33.33333333%;
	}
	.width-one-half-bp-2-over {
		width: 50%;
	}
	.width-two-thirds-bp-2-over {
		width: 66.66666666%;
	}
	.width-three-quarters-bp-2-over {
		width: 75%;
	}
	.width-full-bp-2-over {
		width: 100%;
	}
	.width-viewport-one-quarter-bp-2-over {
		width: 25vw;
	}
	.width-viewport-one-third-bp-2-over {
		width: 33.33333333vw;
	}
	.width-viewport-one-half-bp-2-over {
		width: 50vw;
	}
	.width-viewport-two-thirds-bp-2-over {
		width: 66.66666666vw;
	}
	.width-viewport-three-quarters-bp-2-over {
		width: 75vw;
	}
	.width-viewport-bp-2-over {
		width: 100vw;
	}
	.width-auto-bp-2-over {
		width: auto;
	}
	.width-inherit-bp-2-over {
		width: inherit;
	}
	.width-min-content-bp-2-over {
		width: min-content;
	}
	.width-max-content-bp-2-over {
		width: max-content;
	}
	.width-fit-content-bp-2-over {
		width: fit-content;
	}
	.height-one-quarter-bp-2-over {
		height: 25%;
	}
	.height-one-third-bp-2-over {
		height: 33.33333333%;
	}
	.height-one-half-bp-2-over {
		height: 50%;
	}
	.height-two-thirds-bp-2-over {
		height: 66.66666666%;
	}
	.height-three-quarters-bp-2-over {
		height: 75%;
	}
	.height-full-bp-2-over {
		height: 100%;
	}
	.height-viewport-one-quarter-bp-2-over {
		height: 25vh;
	}
	.height-viewport-one-third-bp-2-over {
		height: 33.33333333vh;
	}
	.height-viewport-one-half-bp-2-over {
		height: 50vh;
	}
	.height-viewport-two-thirds-bp-2-over {
		height: 66.66666666vh;
	}
	.height-viewport-three-quarters-bp-2-over {
		height: 75vh;
	}
	.height-viewport-bp-2-over {
		height: 100vh;
	}
	.height-auto-bp-2-over {
		height: auto;
	}
	.height-inherit-bp-2-over {
		height: inherit;
	}
	.height-min-content-bp-2-over {
		height: min-content;
	}
	.height-max-content-bp-2-over {
		height: max-content;
	}
	.height-fit-content-bp-2-over {
		height: fit-content;
	}
}
@media all and (min-width: $settings_bp_3_over) {
	.responsive-gutter-xs {
		margin-left: 3%;
		margin-right: 3%;
	}
	.responsive-gutter-left-xs {
		margin-left: 6%;
	}
	.responsive-gutter-right-xs {
		margin-right: 6%;
	}
	.responsive-gutter-sm {
		margin-left: 6%;
		margin-right: 6%;		
	}
	.responsive-gutter-left-sm {
		margin-left: 12%;
	}
	.responsive-gutter-right-sm {
		margin-right: 12%;
	}
	.responsive-gutter-md {
		margin-left: 9%;
		margin-right: 9%;		
	}
	.responsive-gutter-left-md {
		margin-left: 18%;
	}
	.responsive-gutter-right-md {
		margin-right: 18%;
	}
	.responsive-gutter-lg {
		margin-left: 12%;
		margin-right: 12%;		
	}
	.responsive-gutter-left-lg {
		margin-left: 24%;
	}
	.responsive-gutter-right-lg {
		margin-right: 24%;
	}
	.responsive-gutter-xl {
		margin-left: 15%;
		margin-right: 15%;
	}
	.responsive-gutter-left-xl {
		margin-left: 30%;
	}
	.responsive-gutter-right-xl {
		margin-right: 30%;
	}
	.text-bp-3-over {
		line-height: 1.5em;
	}
	.text-xs-bp-3-over {
		font-size: 0.75em;
	}
	.text-sm-bp-3-over {
		font-size: 0.875em;
	}
	.text-md-bp-3-over {
		font-size: 1em;
	}
	.text-lg-bp-3-over {
		font-size: 1.125em;
	}
	.text-xl-bp-3-over {
		font-size: 1.25em;
	}
	.text-mega-bp-3-over {
		font-size: 2.5em;
	}
	.text-width-50-bp-3-over {
		width: 50ch;
	}
	.text-width-75-bp-3-over {
		width: 75ch;
	}
	.text-width-100-bp-3-over {
		width: 100ch;
	}
	.text-left-bp-3-over {
		text-align: left;
	}
	.text-center-bp-3-over {
		text-align: center;
	}
	.text-right-bp-3-over {
		text-align: right;
	}
	.text-justify-bp-3-over {
		text-align: justify;
	}
	.width-one-quarter-bp-3-over {
		width: 25%;
	}
	.width-one-third-bp-3-over {
		width: 33.33333333%;
	}
	.width-one-half-bp-3-over {
		width: 50%;
	}
	.width-two-thirds-bp-3-over {
		width: 66.66666666%;
	}
	.width-three-quarters-bp-3-over {
		width: 75%;
	}
	.width-full-bp-3-over {
		width: 100%;
	}
	.width-viewport-one-quarter-bp-3-over {
		width: 25vw;
	}
	.width-viewport-one-third-bp-3-over {
		width: 33.33333333vw;
	}
	.width-viewport-one-half-bp-3-over {
		width: 50vw;
	}
	.width-viewport-two-thirds-bp-3-over {
		width: 66.66666666vw;
	}
	.width-viewport-three-quarters-bp-3-over {
		width: 75vw;
	}
	.width-viewport-bp-3-over {
		width: 100vw;
	}
	.width-auto-bp-3-over {
		width: auto;
	}
	.width-inherit-bp-3-over {
		width: inherit;
	}
	.width-min-content-bp-3-over {
		width: min-content;
	}
	.width-max-content-bp-3-over {
		width: max-content;
	}
	.width-fit-content-bp-3-over {
		width: fit-content;
	}
	.height-one-quarter-bp-3-over {
		height: 25%;
	}
	.height-one-third-bp-3-over {
		height: 33.33333333%;
	}
	.height-one-half-bp-3-over {
		height: 50%;
	}
	.height-two-thirds-bp-3-over {
		height: 66.66666666%;
	}
	.height-three-quarters-bp-3-over {
		height: 75%;
	}
	.height-full-bp-3-over {
		height: 100%;
	}
	.height-viewport-one-quarter-bp-3-over {
		height: 25vh;
	}
	.height-viewport-one-third-bp-3-over {
		height: 33.33333333vh;
	}
	.height-viewport-one-half-bp-3-over {
		height: 50vh;
	}
	.height-viewport-two-thirds-bp-3-over {
		height: 66.66666666vh;
	}
	.height-viewport-three-quarters-bp-3-over {
		height: 75vh;
	}
	.height-viewport-bp-3-over {
		height: 100vh;
	}
	.height-auto-bp-3-over {
		height: auto;
	}
	.height-inherit-bp-3-over {
		height: inherit;
	}
	.height-min-content-bp-3-over {
		height: min-content;
	}
	.height-max-content-bp-3-over {
		height: max-content;
	}
	.height-fit-content-bp-3-over {
		height: fit-content;
	}
}
@media all and (min-width: $settings_bp_4_over) {
	.responsive-gutter-xs {
		margin-left: 4%;
		margin-right: 4%;
	}
	.responsive-gutter-left-xs {
		margin-left: 8%;
	}
	.responsive-gutter-right-xs {
		margin-right: 8%;
	}
	.responsive-gutter-sm {
		margin-left: 8%;
		margin-right: 8%;		
	}
	.responsive-gutter-left-sm {
		margin-left: 16%;
	}
	.responsive-gutter-right-sm {
		margin-right: 16%;
	}
	.responsive-gutter-md {
		margin-left: 12%;
		margin-right: 12%;		
	}
	.responsive-gutter-left-md {
		margin-left: 24%;
	}
	.responsive-gutter-right-md {
		margin-right: 24%;
	}
	.responsive-gutter-lg {
		margin-left: 16%;
		margin-right: 16%;		
	}
	.responsive-gutter-left-lg {
		margin-left: 32%;
	}
	.responsive-gutter-right-lg {
		margin-right: 32%;
	}
	.responsive-gutter-xl {
		margin-left: 20%;
		margin-right: 20%;
	}
	.responsive-gutter-left-xl {
		margin-left: 40%;
	}
	.responsive-gutter-right-xl {
		margin-right: 40%;
	}
	.text-bp-4-over {
		line-height: 1.5em;
	}
	.text-xs-bp-4-over {
		font-size: 0.75em;
	}
	.text-sm-bp-4-over {
		font-size: 0.875em;
	}
	.text-md-bp-4-over {
		font-size: 1em;
	}
	.text-lg-bp-4-over {
		font-size: 1.125em;
	}
	.text-xl-bp-4-over {
		font-size: 1.25em;
	}
	.text-mega-bp-4-over {
		font-size: 2.5em;
	}
	.text-width-50-bp-4-over {
		width: 50ch;
	}
	.text-width-75-bp-4-over {
		width: 75ch;
	}
	.text-width-100-bp-4-over {
		width: 100ch;
	}
	.text-left-bp-4-over {
		text-align: left;
	}
	.text-center-bp-4-over {
		text-align: center;
	}
	.text-right-bp-4-over {
		text-align: right;
	}
	.text-justify-bp-4-over {
		text-align: justify;
	}
	.width-one-quarter-bp-4-over {
		width: 25%;
	}
	.width-one-third-bp-4-over {
		width: 33.33333333%;
	}
	.width-one-half-bp-4-over {
		width: 50%;
	}
	.width-two-thirds-bp-4-over {
		width: 66.66666666%;
	}
	.width-three-quarters-bp-4-over {
		width: 75%;
	}
	.width-full-bp-4-over {
		width: 100%;
	}
	.width-viewport-one-quarter-bp-4-over {
		width: 25vw;
	}
	.width-viewport-one-third-bp-4-over {
		width: 33.33333333vw;
	}
	.width-viewport-one-half-bp-4-over {
		width: 50vw;
	}
	.width-viewport-two-thirds-bp-4-over {
		width: 66.66666666vw;
	}
	.width-viewport-three-quarters-bp-4-over {
		width: 75vw;
	}
	.width-viewport-bp-4-over {
		width: 100vw;
	}
	.width-auto-bp-4-over {
		width: auto;
	}
	.width-inherit-bp-4-over {
		width: inherit;
	}
	.width-min-content-bp-4-over {
		width: min-content;
	}
	.width-max-content-bp-4-over {
		width: max-content;
	}
	.width-fit-content-bp-4-over {
		width: fit-content;
	}
	.height-one-quarter-bp-4-over {
		height: 25%;
	}
	.height-one-third-bp-4-over {
		height: 33.33333333%;
	}
	.height-one-half-bp-4-over {
		height: 50%;
	}
	.height-two-thirds-bp-4-over {
		height: 66.66666666%;
	}
	.height-three-quarters-bp-4-over {
		height: 75%;
	}
	.height-full-bp-4-over {
		height: 100%;
	}
	.height-viewport-one-quarter-bp-4-over {
		height: 25vh;
	}
	.height-viewport-one-third-bp-4-over {
		height: 33.33333333vh;
	}
	.height-viewport-one-half-bp-4-over {
		height: 50vh;
	}
	.height-viewport-two-thirds-bp-4-over {
		height: 66.66666666vh;
	}
	.height-viewport-three-quarters-bp-4-over {
		height: 75vh;
	}
	.height-viewport-bp-4-over {
		height: 100vh;
	}
	.height-auto-bp-4-over {
		height: auto;
	}
	.height-inherit-bp-4-over {
		height: inherit;
	}
	.height-min-content-bp-4-over {
		height: min-content;
	}
	.height-max-content-bp-4-over {
		height: max-content;
	}
	.height-fit-content-bp-4-over {
		height: fit-content;
	}
}
@media all and (min-width: $settings_bp_5_over) {
	.responsive-gutter-xs {
		margin-left: 5%;
		margin-right: 5%;
	}
	.responsive-gutter-left-xs {
		margin-left: 10%;
	}
	.responsive-gutter-right-xs {
		margin-right: 10%;
	}
	.responsive-gutter-sm {
		margin-left: 10%;
		margin-right: 10%;		
	}
	.responsive-gutter-left-sm {
		margin-left: 20%;
	}
	.responsive-gutter-right-sm {
		margin-right: 20%;
	}
	.responsive-gutter-md {
		margin-left: 15%;
		margin-right: 15%;		
	}
	.responsive-gutter-left-md {
		margin-left: 30%;
	}
	.responsive-gutter-right-md {
		margin-right: 30%;
	}
	.responsive-gutter-lg {
		margin-left: 20%;
		margin-right: 20%;		
	}
	.responsive-gutter-left-lg {
		margin-left: 40%;
	}
	.responsive-gutter-right-lg {
		margin-right: 40%;
	}
	.responsive-gutter-xl {
		margin-left: 25%;
		margin-right: 25%;
	}
	.responsive-gutter-left-xl {
		margin-left: 50%;
	}
	.responsive-gutter-right-xl {
		margin-right: 50%;
	}
	.text-bp-5-over {
		line-height: 1.5em;
	}
	.text-xs-bp-5-over {
		font-size: 0.75em;
	}
	.text-sm-bp-5-over {
		font-size: 0.875em;
	}
	.text-md-bp-5-over {
		font-size: 1em;
	}
	.text-lg-bp-5-over {
		font-size: 1.125em;
	}
	.text-xl-bp-5-over {
		font-size: 1.25em;
	}
	.text-mega-bp-5-over {
		font-size: 2.5em;
	}
	.text-width-50-bp-5-over {
		width: 50ch;
	}
	.text-width-75-bp-5-over {
		width: 75ch;
	}
	.text-width-100-bp-5-over {
		width: 100ch;
	}
	.text-left-bp-5-over {
		text-align: left;
	}
	.text-center-bp-5-over {
		text-align: center;
	}
	.text-right-bp-5-over {
		text-align: right;
	}
	.text-justify-bp-5-over {
		text-align: justify;
	}
	.width-one-quarter-bp-5-over {
		width: 25%;
	}
	.width-one-third-bp-5-over {
		width: 33.33333333%;
	}
	.width-one-half-bp-5-over {
		width: 50%;
	}
	.width-two-thirds-bp-5-over {
		width: 66.66666666%;
	}
	.width-three-quarters-bp-5-over {
		width: 75%;
	}
	.width-full-bp-5-over {
		width: 100%;
	}
	.width-viewport-one-quarter-bp-5-over {
		width: 25vw;
	}
	.width-viewport-one-third-bp-5-over {
		width: 33.33333333vw;
	}
	.width-viewport-one-half-bp-5-over {
		width: 50vw;
	}
	.width-viewport-two-thirds-bp-5-over {
		width: 66.66666666vw;
	}
	.width-viewport-three-quarters-bp-5-over {
		width: 75vw;
	}
	.width-viewport-bp-5-over {
		width: 100vw;
	}
	.width-auto-bp-5-over {
		width: auto;
	}
	.width-inherit-bp-5-over {
		width: inherit;
	}
	.width-min-content-bp-5-over {
		width: min-content;
	}
	.width-max-content-bp-5-over {
		width: max-content;
	}
	.width-fit-content-bp-5-over {
		width: fit-content;
	}
	.height-one-quarter-bp-5-over {
		height: 25%;
	}
	.height-one-third-bp-5-over {
		height: 33.33333333%;
	}
	.height-one-half-bp-5-over {
		height: 50%;
	}
	.height-two-thirds-bp-5-over {
		height: 66.66666666%;
	}
	.height-three-quarters-bp-5-over {
		height: 75%;
	}
	.height-full-bp-5-over {
		height: 100%;
	}
	.height-viewport-one-quarter-bp-5-over {
		height: 25vh;
	}
	.height-viewport-one-third-bp-5-over {
		height: 33.33333333vh;
	}
	.height-viewport-one-half-bp-5-over {
		height: 50vh;
	}
	.height-viewport-two-thirds-bp-5-over {
		height: 66.66666666vh;
	}
	.height-viewport-three-quarters-bp-5-over {
		height: 75vh;
	}
	.height-viewport-bp-5-over {
		height: 100vh;
	}
	.height-auto-bp-5-over {
		height: auto;
	}
	.height-inherit-bp-5-over {
		height: inherit;
	}
	.height-min-content-bp-5-over {
		height: min-content;
	}
	.height-max-content-bp-5-over {
		height: max-content;
	}
	.height-fit-content-bp-5-over {
		height: fit-content;
	}
}
@media all and (max-width: $settings_bp_5_under) {
	.text-bp-5-under {
		line-height: 1.5em;
	}
	.text-xs-bp-5-under {
		font-size: 0.75em;
	}
	.text-sm-bp-5-under {
		font-size: 0.875em;
	}
	.text-md-bp-5-under {
		font-size: 1em;
	}
	.text-lg-bp-5-under {
		font-size: 1.125em;
	}
	.text-xl-bp-5-under {
		font-size: 1.25em;
	}
	.text-mega-bp-5-under {
		font-size: 2.5em;
	}
	.text-width-50-bp-5-under {
		width: 50ch;
	}
	.text-width-75-bp-5-under {
		width: 75ch;
	}
	.text-width-100-bp-5-under {
		width: 100ch;
	}
	.text-left-bp-5-under {
		text-align: left;
	}
	.text-center-bp-5-under {
		text-align: center;
	}
	.text-right-bp-5-under {
		text-align: right;
	}
	.text-justify-bp-5-under {
		text-align: justify;
	}
	.width-one-quarter-bp-5-under {
		width: 25%;
	}
	.width-one-third-bp-5-under {
		width: 33.33333333%;
	}
	.width-one-half-bp-5-under {
		width: 50%;
	}
	.width-two-thirds-bp-5-under {
		width: 66.66666666%;
	}
	.width-three-quarters-bp-5-under {
		width: 75%;
	}
	.width-full-bp-5-under {
		width: 100%;
	}
	.width-viewport-one-quarter-bp-5-under {
		width: 25vw;
	}
	.width-viewport-one-third-bp-5-under {
		width: 33.33333333vw;
	}
	.width-viewport-one-half-bp-5-under {
		width: 50vw;
	}
	.width-viewport-two-thirds-bp-5-under {
		width: 66.66666666vw;
	}
	.width-viewport-three-quarters-bp-5-under {
		width: 75vw;
	}
	.width-viewport-bp-5-under {
		width: 100vw;
	}
	.width-auto-bp-5-under {
		width: auto;
	}
	.width-inherit-bp-5-under {
		width: inherit;
	}
	.width-min-content-bp-5-under {
		width: min-content;
	}
	.width-max-content-bp-5-under {
		width: max-content;
	}
	.width-fit-content-bp-5-under {
		width: fit-content;
	}
	.height-one-quarter-bp-5-under {
		height: 25%;
	}
	.height-one-third-bp-5-under {
		height: 33.33333333%;
	}
	.height-one-half-bp-5-under {
		height: 50%;
	}
	.height-two-thirds-bp-5-under {
		height: 66.66666666%;
	}
	.height-three-quarters-bp-5-under {
		height: 75%;
	}
	.height-full-bp-5-under {
		height: 100%;
	}
	.height-viewport-one-quarter-bp-5-under {
		height: 25vh;
	}
	.height-viewport-one-third-bp-5-under {
		height: 33.33333333vh;
	}
	.height-viewport-one-half-bp-5-under {
		height: 50vh;
	}
	.height-viewport-two-thirds-bp-5-under {
		height: 66.66666666vh;
	}
	.height-viewport-three-quarters-bp-5-under {
		height: 75vh;
	}
	.height-viewport-bp-5-under {
		height: 100vh;
	}
	.height-auto-bp-5-under {
		height: auto;
	}
	.height-inherit-bp-5-under {
		height: inherit;
	}
	.height-min-content-bp-5-under {
		height: min-content;
	}
	.height-max-content-bp-5-under {
		height: max-content;
	}
	.height-fit-content-bp-5-under {
		height: fit-content;
	}
}
@media all and (max-width: $settings_bp_4_under) {
	.text-bp-4-under {
		line-height: 1.5em;
	}
	.text-xs-bp-4-under {
		font-size: 0.75em;
	}
	.text-sm-bp-4-under {
		font-size: 0.875em;
	}
	.text-md-bp-4-under {
		font-size: 1em;
	}
	.text-lg-bp-4-under {
		font-size: 1.125em;
	}
	.text-xl-bp-4-under {
		font-size: 1.25em;
	}
	.text-mega-bp-4-under {
		font-size: 2.5em;
	}
	.text-width-50-bp-4-under {
		width: 50ch;
	}
	.text-width-75-bp-4-under {
		width: 75ch;
	}
	.text-width-100-bp-4-under {
		width: 100ch;
	}
	.text-left-bp-4-under {
		text-align: left;
	}
	.text-center-bp-4-under {
		text-align: center;
	}
	.text-right-bp-4-under {
		text-align: right;
	}
	.text-justify-bp-4-under {
		text-align: justify;
	}
	.width-one-quarter-bp-4-under {
		width: 25%;
	}
	.width-one-third-bp-4-under {
		width: 33.33333333%;
	}
	.width-one-half-bp-4-under {
		width: 50%;
	}
	.width-two-thirds-bp-4-under {
		width: 66.66666666%;
	}
	.width-three-quarters-bp-4-under {
		width: 75%;
	}
	.width-full-bp-4-under {
		width: 100%;
	}
	.width-viewport-one-quarter-bp-4-under {
		width: 25vw;
	}
	.width-viewport-one-third-bp-4-under {
		width: 33.33333333vw;
	}
	.width-viewport-one-half-bp-4-under {
		width: 50vw;
	}
	.width-viewport-two-thirds-bp-4-under {
		width: 66.66666666vw;
	}
	.width-viewport-three-quarters-bp-4-under {
		width: 75vw;
	}
	.width-viewport-bp-4-under {
		width: 100vw;
	}
	.width-auto-bp-4-under {
		width: auto;
	}
	.width-inherit-bp-4-under {
		width: inherit;
	}
	.width-min-content-bp-4-under {
		width: min-content;
	}
	.width-max-content-bp-4-under {
		width: max-content;
	}
	.width-fit-content-bp-4-under {
		width: fit-content;
	}
	.height-one-quarter-bp-4-under {
		height: 25%;
	}
	.height-one-third-bp-4-under {
		height: 33.33333333%;
	}
	.height-one-half-bp-4-under {
		height: 50%;
	}
	.height-two-thirds-bp-4-under {
		height: 66.66666666%;
	}
	.height-three-quarters-bp-4-under {
		height: 75%;
	}
	.height-full-bp-4-under {
		height: 100%;
	}
	.height-viewport-one-quarter-bp-4-under {
		height: 25vh;
	}
	.height-viewport-one-third-bp-4-under {
		height: 33.33333333vh;
	}
	.height-viewport-one-half-bp-4-under {
		height: 50vh;
	}
	.height-viewport-two-thirds-bp-4-under {
		height: 66.66666666vh;
	}
	.height-viewport-three-quarters-bp-4-under {
		height: 75vh;
	}
	.height-viewport-bp-4-under {
		height: 100vh;
	}
	.height-auto-bp-4-under {
		height: auto;
	}
	.height-inherit-bp-4-under {
		height: inherit;
	}
	.height-min-content-bp-4-under {
		height: min-content;
	}
	.height-max-content-bp-4-under {
		height: max-content;
	}
	.height-fit-content-bp-4-under {
		height: fit-content;
	}
}
@media all and (max-width: $settings_bp_3_under) {
	.text-bp-3-under {
		line-height: 1.5em;
	}
	.text-xs-bp-3-under {
		font-size: 0.75em;
	}
	.text-sm-bp-3-under {
		font-size: 0.875em;
	}
	.text-md-bp-3-under {
		font-size: 1em;
	}
	.text-lg-bp-3-under {
		font-size: 1.125em;
	}
	.text-xl-bp-3-under {
		font-size: 1.25em;
	}
	.text-mega-bp-3-under {
		font-size: 2.5em;
	}
	.text-width-50-bp-3-under {
		width: 50ch;
	}
	.text-width-75-bp-3-under {
		width: 75ch;
	}
	.text-width-100-bp-3-under {
		width: 100ch;
	}
	.text-left-bp-3-under {
		text-align: left;
	}
	.text-center-bp-3-under {
		text-align: center;
	}
	.text-right-bp-3-under {
		text-align: right;
	}
	.text-justify-bp-3-under {
		text-align: justify;
	}
	.width-one-quarter-bp-3-under {
		width: 25%;
	}
	.width-one-third-bp-3-under {
		width: 33.33333333%;
	}
	.width-one-half-bp-3-under {
		width: 50%;
	}
	.width-two-thirds-bp-3-under {
		width: 66.66666666%;
	}
	.width-three-quarters-bp-3-under {
		width: 75%;
	}
	.width-full-bp-3-under {
		width: 100%;
	}
	.width-viewport-one-quarter-bp-3-under {
		width: 25vw;
	}
	.width-viewport-one-third-bp-3-under {
		width: 33.33333333vw;
	}
	.width-viewport-one-half-bp-3-under {
		width: 50vw;
	}
	.width-viewport-two-thirds-bp-3-under {
		width: 66.66666666vw;
	}
	.width-viewport-three-quarters-bp-3-under {
		width: 75vw;
	}
	.width-viewport-bp-3-under {
		width: 100vw;
	}
	.width-auto-bp-3-under {
		width: auto;
	}
	.width-inherit-bp-3-under {
		width: inherit;
	}
	.width-min-content-bp-3-under {
		width: min-content;
	}
	.width-max-content-bp-3-under {
		width: max-content;
	}
	.width-fit-content-bp-3-under {
		width: fit-content;
	}
	.height-one-quarter-bp-3-under {
		height: 25%;
	}
	.height-one-third-bp-3-under {
		height: 33.33333333%;
	}
	.height-one-half-bp-3-under {
		height: 50%;
	}
	.height-two-thirds-bp-3-under {
		height: 66.66666666%;
	}
	.height-three-quarters-bp-3-under {
		height: 75%;
	}
	.height-full-bp-3-under {
		height: 100%;
	}
	.height-viewport-one-quarter-bp-3-under {
		height: 25vh;
	}
	.height-viewport-one-third-bp-3-under {
		height: 33.33333333vh;
	}
	.height-viewport-one-half-bp-3-under {
		height: 50vh;
	}
	.height-viewport-two-thirds-bp-3-under {
		height: 66.66666666vh;
	}
	.height-viewport-three-quarters-bp-3-under {
		height: 75vh;
	}
	.height-viewport-bp-3-under {
		height: 100vh;
	}
	.height-auto-bp-3-under {
		height: auto;
	}
	.height-inherit-bp-3-under {
		height: inherit;
	}
	.height-min-content-bp-3-under {
		height: min-content;
	}
	.height-max-content-bp-3-under {
		height: max-content;
	}
	.height-fit-content-bp-3-under {
		height: fit-content;
	}
}
@media all and (max-width: $settings_bp_2_under) {
	.text-bp-2-under {
		line-height: 1.5em;
	}
	.text-xs-bp-2-under {
		font-size: 0.75em;
	}
	.text-sm-bp-2-under {
		font-size: 0.875em;
	}
	.text-md-bp-2-under {
		font-size: 1em;
	}
	.text-lg-bp-2-under {
		font-size: 1.125em;
	}
	.text-xl-bp-2-under {
		font-size: 1.25em;
	}
	.text-mega-bp-2-under {
		font-size: 2.5em;
	}
	.text-width-50-bp-2-under {
		width: 50ch;
	}
	.text-width-75-bp-2-under {
		width: 75ch;
	}
	.text-width-100-bp-2-under {
		width: 100ch;
	}
	.text-left-bp-2-under {
		text-align: left;
	}
	.text-center-bp-2-under {
		text-align: center;
	}
	.text-right-bp-2-under {
		text-align: right;
	}
	.text-justify-bp-2-under {
		text-align: justify;
	}
	.width-one-quarter-bp-2-under {
		width: 25%;
	}
	.width-one-third-bp-2-under {
		width: 33.33333333%;
	}
	.width-one-half-bp-2-under {
		width: 50%;
	}
	.width-two-thirds-bp-2-under {
		width: 66.66666666%;
	}
	.width-three-quarters-bp-2-under {
		width: 75%;
	}
	.width-full-bp-2-under {
		width: 100%;
	}
	.width-viewport-one-quarter-bp-2-under {
		width: 25vw;
	}
	.width-viewport-one-third-bp-2-under {
		width: 33.33333333vw;
	}
	.width-viewport-one-half-bp-2-under {
		width: 50vw;
	}
	.width-viewport-two-thirds-bp-2-under {
		width: 66.66666666vw;
	}
	.width-viewport-three-quarters-bp-2-under {
		width: 75vw;
	}
	.width-viewport-bp-2-under {
		width: 100vw;
	}
	.width-auto-bp-2-under {
		width: auto;
	}
	.width-inherit-bp-2-under {
		width: inherit;
	}
	.width-min-content-bp-2-under {
		width: min-content;
	}
	.width-max-content-bp-2-under {
		width: max-content;
	}
	.width-fit-content-bp-2-under {
		width: fit-content;
	}
	.height-one-quarter-bp-2-under {
		height: 25%;
	}
	.height-one-third-bp-2-under {
		height: 33.33333333%;
	}
	.height-one-half-bp-2-under {
		height: 50%;
	}
	.height-two-thirds-bp-2-under {
		height: 66.66666666%;
	}
	.height-three-quarters-bp-2-under {
		height: 75%;
	}
	.height-full-bp-2-under {
		height: 100%;
	}
	.height-viewport-one-quarter-bp-2-under {
		height: 25vh;
	}
	.height-viewport-one-third-bp-2-under {
		height: 33.33333333vh;
	}
	.height-viewport-one-half-bp-2-under {
		height: 50vh;
	}
	.height-viewport-two-thirds-bp-2-under {
		height: 66.66666666vh;
	}
	.height-viewport-three-quarters-bp-2-under {
		height: 75vh;
	}
	.height-viewport-bp-2-under {
		height: 100vh;
	}
	.height-auto-bp-2-under {
		height: auto;
	}
	.height-inherit-bp-2-under {
		height: inherit;
	}
	.height-min-content-bp-2-under {
		height: min-content;
	}
	.height-max-content-bp-2-under {
		height: max-content;
	}
	.height-fit-content-bp-2-under {
		height: fit-content;
	}
}
@media all and (max-width: $settings_bp_1_under) {
	.text-bp-1-under {
		line-height: 1.5em;
	}
	.text-xs-bp-1-under {
		font-size: 0.75em;
	}
	.text-sm-bp-1-under {
		font-size: 0.875em;
	}
	.text-md-bp-1-under {
		font-size: 1em;
	}
	.text-lg-bp-1-under {
		font-size: 1.125em;
	}
	.text-xl-bp-1-under {
		font-size: 1.25em;
	}
	.text-mega-bp-1-under {
		font-size: 2.5em;
	}
	.text-width-50-bp-1-under {
		width: 50ch;
	}
	.text-width-75-bp-1-under {
		width: 75ch;
	}
	.text-width-100-bp-1-under {
		width: 100ch;
	}
	.text-left-bp-1-under {
		text-align: left;
	}
	.text-center-bp-1-under {
		text-align: center;
	}
	.text-right-bp-1-under {
		text-align: right;
	}
	.text-justify-bp-1-under {
		text-align: justify;
	}
	.width-one-quarter-bp-1-under {
		width: 25%;
	}
	.width-one-third-bp-1-under {
		width: 33.33333333%;
	}
	.width-one-half-bp-1-under {
		width: 50%;
	}
	.width-two-thirds-bp-1-under {
		width: 66.66666666%;
	}
	.width-three-quarters-bp-1-under {
		width: 75%;
	}
	.width-full-bp-1-under {
		width: 100%;
	}
	.width-viewport-one-quarter-bp-1-under {
		width: 25vw;
	}
	.width-viewport-one-third-bp-1-under {
		width: 33.33333333vw;
	}
	.width-viewport-one-half-bp-1-under {
		width: 50vw;
	}
	.width-viewport-two-thirds-bp-1-under {
		width: 66.66666666vw;
	}
	.width-viewport-three-quarters-bp-1-under {
		width: 75vw;
	}
	.width-viewport-bp-1-under {
		width: 100vw;
	}
	.width-auto-bp-1-under {
		width: auto;
	}
	.width-inherit-bp-1-under {
		width: inherit;
	}
	.width-min-content-bp-1-under {
		width: min-content;
	}
	.width-max-content-bp-1-under {
		width: max-content;
	}
	.width-fit-content-bp-1-under {
		width: fit-content;
	}
	.height-one-quarter-bp-1-under {
		height: 25%;
	}
	.height-one-third-bp-1-under {
		height: 33.33333333%;
	}
	.height-one-half-bp-1-under {
		height: 50%;
	}
	.height-two-thirds-bp-1-under {
		height: 66.66666666%;
	}
	.height-three-quarters-bp-1-under {
		height: 75%;
	}
	.height-full-bp-1-under {
		height: 100%;
	}
	.height-viewport-one-quarter-bp-1-under {
		height: 25vh;
	}
	.height-viewport-one-third-bp-1-under {
		height: 33.33333333vh;
	}
	.height-viewport-one-half-bp-1-under {
		height: 50vh;
	}
	.height-viewport-two-thirds-bp-1-under {
		height: 66.66666666vh;
	}
	.height-viewport-three-quarters-bp-1-under {
		height: 75vh;
	}
	.height-viewport-bp-1-under {
		height: 100vh;
	}
	.height-auto-bp-1-under {
		height: auto;
	}
	.height-inherit-bp-1-under {
		height: inherit;
	}
	.height-min-content-bp-1-under {
		height: min-content;
	}
	.height-max-content-bp-1-under {
		height: max-content;
	}
	.height-fit-content-bp-1-under {
		height: fit-content;
	}
}
