
@media all and (min-width: $settings_bp_1_over) {
	*[class*="responsive-gutter-"],
	*[class*="responsive-gutter-left-"],
	*[class*="responsive-gutter-right-"] {
		margin-left: 0;
		margin-right: 0;		
	}
	.text-bp-1-over {
		line-height: 1.5em;
	}
	.text-xs-bp-1-over {
		font-size: 0.75em;
	}
	.text-sm-bp-1-over {
		font-size: 0.875em;
	}
	.text-md-bp-1-over {
		font-size: 1em;
	}
	.text-lg-bp-1-over {
		font-size: 1.125em;
	}
	.text-xl-bp-1-over {
		font-size: 1.25em;
	}
	.text-mega-bp-1-over {
		font-size: 2.5em;
	}
	.width-auto-bp-1-over {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-1-over {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-1-over {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-1-over {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-1-over {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-1-over {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-1-over {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-1-over {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-1-over {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-1-over {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-1-over {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-1-over {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-1-over {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-1-over {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-1-over {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-1-over {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-1-over {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-1-over {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-1-over {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-1-over {
		width: 100%;
		min-width: auto;
	}
	.width-viewport-bp-1-over {
		width: 100vw;
	}
	.height-auto-bp-1-over {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-1-over {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-1-over {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-1-over {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-1-over {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-1-over {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-1-over {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-1-over {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-1-over {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-1-over {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-1-over {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-1-over {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-1-over {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-1-over {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-1-over {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-1-over {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-1-over {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-1-over {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-1-over {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-1-over {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-1-over {
		height: 100vh;
	}
}
@media all and (min-width: $settings_bp_2_over) {
	.responsive-gutter-xs {
		margin-left: 2%;
		margin-right: 2%;
	}
	.responsive-gutter-left-xs {
		margin-left: 4%;
	}
	.responsive-gutter-right-xs {
		margin-right: 4%;
	}
	.responsive-gutter-sm {
		margin-left: 4%;
		margin-right: 4%;		
	}
	.responsive-gutter-left-sm {
		margin-left: 8%;
	}
	.responsive-gutter-right-sm {
		margin-right: 8%;
	}
	.responsive-gutter-md {
		margin-left: 6%;
		margin-right: 6%;		
	}
	.responsive-gutter-left-md {
		margin-left: 12%;
	}
	.responsive-gutter-right-md {
		margin-right: 12%;
	}
	.responsive-gutter-lg {
		margin-left: 8%;
		margin-right: 8%;		
	}
	.responsive-gutter-left-lg {
		margin-left: 16%;
	}
	.responsive-gutter-right-lg {
		margin-right: 16%;
	}
	.responsive-gutter-xl {
		margin-left: 10%;
		margin-right: 10%;
	}
	.responsive-gutter-left-xl {
		margin-left: 20%;
	}
	.responsive-gutter-right-xl {
		margin-right: 20%;
	}
	.text-bp-2-over {
		line-height: 1.5em;
	}
	.text-xs-bp-2-over {
		font-size: 0.75em;
	}
	.text-sm-bp-2-over {
		font-size: 0.875em;
	}
	.text-md-bp-2-over {
		font-size: 1em;
	}
	.text-lg-bp-2-over {
		font-size: 1.125em;
	}
	.text-xl-bp-2-over {
		font-size: 1.25em;
	}
	.text-mega-bp-2-over {
		font-size: 2.5em;
	}
	.width-auto-bp-2-over {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-2-over {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-2-over {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-2-over {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-2-over {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-2-over {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-2-over {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-2-over {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-2-over {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-2-over {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-2-over {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-2-over {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-2-over {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-2-over {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-2-over {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-2-over {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-2-over {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-2-over {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-2-over {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-2-over {
		width: 100%;
		min-width: auto;
	}
	.width-viewport-bp-2-over {
		width: 100vw;
	}
	.height-auto-bp-2-over {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-2-over {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-2-over {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-2-over {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-2-over {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-2-over {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-2-over {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-2-over {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-2-over {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-2-over {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-2-over {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-2-over {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-2-over {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-2-over {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-2-over {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-2-over {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-2-over {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-2-over {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-2-over {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-2-over {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-2-over {
		height: 100vh;
	}
}
@media all and (min-width: $settings_bp_3_over) {
	.responsive-gutter-xs {
		margin-left: 3%;
		margin-right: 3%;
	}
	.responsive-gutter-left-xs {
		margin-left: 6%;
	}
	.responsive-gutter-right-xs {
		margin-right: 6%;
	}
	.responsive-gutter-sm {
		margin-left: 6%;
		margin-right: 6%;		
	}
	.responsive-gutter-left-sm {
		margin-left: 12%;
	}
	.responsive-gutter-right-sm {
		margin-right: 12%;
	}
	.responsive-gutter-md {
		margin-left: 9%;
		margin-right: 9%;		
	}
	.responsive-gutter-left-md {
		margin-left: 18%;
	}
	.responsive-gutter-right-md {
		margin-right: 18%;
	}
	.responsive-gutter-lg {
		margin-left: 12%;
		margin-right: 12%;		
	}
	.responsive-gutter-left-lg {
		margin-left: 24%;
	}
	.responsive-gutter-right-lg {
		margin-right: 24%;
	}
	.responsive-gutter-xl {
		margin-left: 15%;
		margin-right: 15%;
	}
	.responsive-gutter-left-xl {
		margin-left: 30%;
	}
	.responsive-gutter-right-xl {
		margin-right: 30%;
	}
	.text-bp-3-over {
		line-height: 1.5em;
	}
	.text-xs-bp-3-over {
		font-size: 0.75em;
	}
	.text-sm-bp-3-over {
		font-size: 0.875em;
	}
	.text-md-bp-3-over {
		font-size: 1em;
	}
	.text-lg-bp-3-over {
		font-size: 1.125em;
	}
	.text-xl-bp-3-over {
		font-size: 1.25em;
	}
	.text-mega-bp-3-over {
		font-size: 2.5em;
	}
	.width-auto-bp-3-over {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-3-over {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-3-over {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-3-over {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-3-over {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-3-over {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-3-over {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-3-over {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-3-over {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-3-over {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-3-over {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-3-over {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-3-over {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-3-over {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-3-over {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-3-over {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-3-over {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-3-over {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-3-over {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-3-over {
		width: 100%;
		min-width: auto;
	}
	.width-viewport-bp-3-over {
		width: 100vw;
	}
	.height-auto-bp-3-over {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-3-over {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-3-over {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-3-over {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-3-over {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-3-over {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-3-over {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-3-over {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-3-over {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-3-over {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-3-over {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-3-over {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-3-over {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-3-over {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-3-over {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-3-over {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-3-over {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-3-over {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-3-over {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-3-over {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-3-over {
		height: 100vh;
	}
}
@media all and (min-width: $settings_bp_4_over) {
	.responsive-gutter-xs {
		margin-left: 4%;
		margin-right: 4%;
	}
	.responsive-gutter-left-xs {
		margin-left: 8%;
	}
	.responsive-gutter-right-xs {
		margin-right: 8%;
	}
	.responsive-gutter-sm {
		margin-left: 8%;
		margin-right: 8%;		
	}
	.responsive-gutter-left-sm {
		margin-left: 16%;
	}
	.responsive-gutter-right-sm {
		margin-right: 16%;
	}
	.responsive-gutter-md {
		margin-left: 12%;
		margin-right: 12%;		
	}
	.responsive-gutter-left-md {
		margin-left: 24%;
	}
	.responsive-gutter-right-md {
		margin-right: 24%;
	}
	.responsive-gutter-lg {
		margin-left: 16%;
		margin-right: 16%;		
	}
	.responsive-gutter-left-lg {
		margin-left: 32%;
	}
	.responsive-gutter-right-lg {
		margin-right: 32%;
	}
	.responsive-gutter-xl {
		margin-left: 20%;
		margin-right: 20%;
	}
	.responsive-gutter-left-xl {
		margin-left: 40%;
	}
	.responsive-gutter-right-xl {
		margin-right: 40%;
	}
	.text-bp-4-over {
		line-height: 1.5em;
	}
	.text-xs-bp-4-over {
		font-size: 0.75em;
	}
	.text-sm-bp-4-over {
		font-size: 0.875em;
	}
	.text-md-bp-4-over {
		font-size: 1em;
	}
	.text-lg-bp-4-over {
		font-size: 1.125em;
	}
	.text-xl-bp-4-over {
		font-size: 1.25em;
	}
	.text-mega-bp-4-over {
		font-size: 2.5em;
	}
	.width-auto-bp-4-over {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-4-over {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-4-over {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-4-over {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-4-over {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-4-over {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-4-over {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-4-over {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-4-over {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-4-over {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-4-over {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-4-over {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-4-over {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-4-over {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-4-over {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-4-over {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-4-over {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-4-over {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-4-over {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-4-over {
		width: 100%;
		min-width: auto;
	}
	.width-viewport-bp-4-over {
		width: 100vw;
	}
	.height-auto-bp-4-over {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-4-over {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-4-over {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-4-over {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-4-over {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-4-over {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-4-over {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-4-over {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-4-over {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-4-over {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-4-over {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-4-over {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-4-over {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-4-over {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-4-over {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-4-over {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-4-over {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-4-over {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-4-over {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-4-over {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-4-over {
		height: 100vh;
	}
}
@media all and (min-width: $settings_bp_5_over) {
	.responsive-gutter-xs {
		margin-left: 5%;
		margin-right: 5%;
	}
	.responsive-gutter-left-xs {
		margin-left: 10%;
	}
	.responsive-gutter-right-xs {
		margin-right: 10%;
	}
	.responsive-gutter-sm {
		margin-left: 10%;
		margin-right: 10%;		
	}
	.responsive-gutter-left-sm {
		margin-left: 20%;
	}
	.responsive-gutter-right-sm {
		margin-right: 20%;
	}
	.responsive-gutter-md {
		margin-left: 15%;
		margin-right: 15%;		
	}
	.responsive-gutter-left-md {
		margin-left: 30%;
	}
	.responsive-gutter-right-md {
		margin-right: 30%;
	}
	.responsive-gutter-lg {
		margin-left: 20%;
		margin-right: 20%;		
	}
	.responsive-gutter-left-lg {
		margin-left: 40%;
	}
	.responsive-gutter-right-lg {
		margin-right: 40%;
	}
	.responsive-gutter-xl {
		margin-left: 25%;
		margin-right: 25%;
	}
	.responsive-gutter-left-xl {
		margin-left: 50%;
	}
	.responsive-gutter-right-xl {
		margin-right: 50%;
	}
	.text-bp-5-over {
		line-height: 1.5em;
	}
	.text-xs-bp-5-over {
		font-size: 0.75em;
	}
	.text-sm-bp-5-over {
		font-size: 0.875em;
	}
	.text-md-bp-5-over {
		font-size: 1em;
	}
	.text-lg-bp-5-over {
		font-size: 1.125em;
	}
	.text-xl-bp-5-over {
		font-size: 1.25em;
	}
	.text-mega-bp-5-over {
		font-size: 2.5em;
	}
	.width-auto-bp-5-over {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-5-over {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-5-over {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-5-over {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-5-over {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-5-over {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-5-over {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-5-over {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-5-over {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-5-over {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-5-over {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-5-over {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-5-over {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-5-over {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-5-over {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-5-over {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-5-over {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-5-over {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-5-over {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-5-over {
		width: 100%;
		min-width: auto;
	}
	.width-viewport-bp-5-over {
		width: 100vw;
	}
	.height-auto-bp-5-over {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-5-over {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-5-over {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-5-over {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-5-over {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-5-over {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-5-over {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-5-over {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-5-over {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-5-over {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-5-over {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-5-over {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-5-over {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-5-over {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-5-over {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-5-over {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-5-over {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-5-over {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-5-over {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-5-over {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-5-over {
		height: 100vh;
	}
}
@media all and (max-width: $settings_bp_5_under) {
	.text-bp-5-under {
		line-height: 1.5em;
	}
	.text-xs-bp-5-under {
		font-size: 0.75em;
	}
	.text-sm-bp-5-under {
		font-size: 0.875em;
	}
	.text-md-bp-5-under {
		font-size: 1em;
	}
	.text-lg-bp-5-under {
		font-size: 1.125em;
	}
	.text-xl-bp-5-under {
		font-size: 1.25em;
	}
	.text-mega-bp-5-under {
		font-size: 2.5em;
	}
	.width-auto-bp-5-under {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-5-under {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-5-under {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-5-under {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-5-under {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-5-under {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-5-under {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-5-under {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-5-under {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-5-under {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-5-under {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-5-under {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-5-under {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-5-under {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-5-under {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-5-under {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-5-under {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-5-under {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-5-under {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-5-under {
		width: 100%;
		min-width: auto;
	}
	.width-viewport-bp-5-under {
		width: 100vw;
	}
	.height-auto-bp-5-under {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-5-under {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-5-under {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-5-under {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-5-under {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-5-under {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-5-under {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-5-under {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-5-under {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-5-under {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-5-under {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-5-under {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-5-under {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-5-under {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-5-under {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-5-under {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-5-under {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-5-under {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-5-under {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-5-under {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-5-under {
		height: 100vh;
	}
}
@media all and (max-width: $settings_bp_4_under) {
	.text-bp-4-under {
		line-height: 1.5em;
	}
	.text-xs-bp-4-under {
		font-size: 0.75em;
	}
	.text-sm-bp-4-under {
		font-size: 0.875em;
	}
	.text-md-bp-4-under {
		font-size: 1em;
	}
	.text-lg-bp-4-under {
		font-size: 1.125em;
	}
	.text-xl-bp-4-under {
		font-size: 1.25em;
	}
	.text-mega-bp-4-under {
		font-size: 2.5em;
	}
	.width-auto-bp-4-under {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-4-under {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-4-under {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-4-under {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-4-under {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-4-under {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-4-under {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-4-under {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-4-under {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-4-under {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-4-under {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-4-under {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-4-under {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-4-under {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-4-under {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-4-under {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-4-under {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-4-under {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-4-under {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-4-under {
		width: 100%;
		min-width: auto;
	}
	.width-viewport-bp-4-under {
		width: 100vw;
	}
	.height-auto-bp-4-under {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-4-under {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-4-under {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-4-under {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-4-under {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-4-under {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-4-under {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-4-under {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-4-under {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-4-under {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-4-under {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-4-under {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-4-under {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-4-under {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-4-under {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-4-under {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-4-under {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-4-under {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-4-under {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-4-under {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-4-under {
		height: 100vh;
	}
}
@media all and (max-width: $settings_bp_3_under) {
	.text-bp-3-under {
		line-height: 1.5em;
	}
	.text-xs-bp-3-under {
		font-size: 0.75em;
	}
	.text-sm-bp-3-under {
		font-size: 0.875em;
	}
	.text-md-bp-3-under {
		font-size: 1em;
	}
	.text-lg-bp-3-under {
		font-size: 1.125em;
	}
	.text-xl-bp-3-under {
		font-size: 1.25em;
	}
	.text-mega-bp-3-under {
		font-size: 2.5em;
	}
	.width-auto-bp-3-under {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-3-under {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-3-under {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-3-under {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-3-under {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-3-under {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-3-under {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-3-under {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-3-under {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-3-under {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-3-under {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-3-under {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-3-under {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-3-under {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-3-under {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-3-under {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-3-under {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-3-under {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-3-under {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-3-under {
		width: 100%;
		min-width: auto;
	}
	.width-viewport-bp-3-under {
		width: 100vw;
	}
	.height-auto-bp-3-under {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-3-under {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-3-under {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-3-under {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-3-under {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-3-under {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-3-under {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-3-under {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-3-under {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-3-under {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-3-under {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-3-under {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-3-under {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-3-under {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-3-under {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-3-under {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-3-under {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-3-under {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-3-under {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-3-under {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-3-under {
		height: 100vh;
	}
}
@media all and (max-width: $settings_bp_2_under) {
	.text-bp-2-under {
		line-height: 1.5em;
	}
	.text-xs-bp-2-under {
		font-size: 0.75em;
	}
	.text-sm-bp-2-under {
		font-size: 0.875em;
	}
	.text-md-bp-2-under {
		font-size: 1em;
	}
	.text-lg-bp-2-under {
		font-size: 1.125em;
	}
	.text-xl-bp-2-under {
		font-size: 1.25em;
	}
	.text-mega-bp-2-under {
		font-size: 2.5em;
	}
	.width-auto-bp-2-under {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-2-under {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-2-under {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-2-under {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-2-under {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-2-under {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-2-under {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-2-under {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-2-under {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-2-under {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-2-under {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-2-under {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-2-under {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-2-under {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-2-under {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-2-under {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-2-under {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-2-under {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-2-under {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-2-under {
		width: 100%;
		min-width: auto;
	}
	.width-viewport-bp-2-under {
		width: 100vw;
	}
	.height-auto-bp-2-under {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-2-under {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-2-under {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-2-under {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-2-under {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-2-under {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-2-under {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-2-under {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-2-under {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-2-under {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-2-under {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-2-under {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-2-under {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-2-under {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-2-under {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-2-under {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-2-under {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-2-under {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-2-under {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-2-under {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-2-under {
		height: 100vh;
	}
}
@media all and (max-width: $settings_bp_1_under) {
	.text-bp-1-under {
		line-height: 1.5em;
	}
	.text-xs-bp-1-under {
		font-size: 0.75em;
	}
	.text-sm-bp-1-under {
		font-size: 0.875em;
	}
	.text-md-bp-1-under {
		font-size: 1em;
	}
	.text-lg-bp-1-under {
		font-size: 1.125em;
	}
	.text-xl-bp-1-under {
		font-size: 1.25em;
	}
	.text-mega-bp-1-under {
		font-size: 2.5em;
	}
	.width-auto-bp-1-under {
		width: auto;
		min-width: 0;
	}
	.width-xxs-bp-1-under {
		width: 0.625rem;
		min-width: 0.625rem;
	}
	.width-xxs-xs-bp-1-under {
		width: 0.938rem;
		min-width: 0.938rem;
	}
	.width-xs-bp-1-under {
		width: 1.25rem;
		min-width: 1.25rem;
	}
	.width-xs-sm-bp-1-under {
		width: 1.875rem;
		min-width: 1.875rem;
	}
	.width-sm-bp-1-under {
		width: 2.5rem;
		min-width: 2.5rem;
	}
	.width-sm-md-bp-1-under {
		width: 3.75rem;
		min-width: 3.75rem;
	}
	.width-md-bp-1-under {
		width: 5rem;
		min-width: 5rem;
	}
	.width-md-lg-bp-1-under {
		width: 7.5rem;
		min-width: 7.5rem;
	}
	.width-lg-bp-1-under {
		width: 10rem;
		min-width: 10rem;
	}
	.width-lg-xl-bp-1-under {
		width: 15rem;
		min-width: 15rem;
	}
	.width-xl-bp-1-under {
		width: 20rem;
		min-width: 20rem;
	}
	.width-xl-xxl-bp-1-under {
		width: 30rem;
		min-width: 30rem;
	}
	.width-xxl-bp-1-under {
		width: 40rem;
		min-width: 40rem;
	}
	.width-one-quarter-bp-1-under {
		width: 25%;
		min-width: 25%;
	}
	.width-one-third-bp-1-under {
		width: 33.33333333%;
		min-width: 33.33333333%;
	}
	.width-one-half-bp-1-under {
		width: 50%;
		min-width: 50%;
	}
	.width-two-thirds-bp-1-under {
		width: 66.66666666%;
		min-width: 66.66666666%;
	}
	.width-three-quarters-bp-1-under {
		width: 75%;
		min-width: 75%;
	}
	.width-full-bp-1-under {
		width: 100%;
		min-width: auto;
	}
	.width-viewport-bp-1-under {
		width: 100vw;
	}
	.height-auto-bp-1-under {
		height: auto;
		min-height: 0;
	}
	.height-xxs-bp-1-under {
		height: 0.625rem;
		min-height: 0.625rem;
	}
	.height-xxs-xs-bp-1-under {
		height: 0.938rem;
		min-height: 0.938rem;
	}
	.height-xs-bp-1-under {
		height: 1.25rem;
		min-height: 1.25rem;
	}
	.height-xs-sm-bp-1-under {
		height: 1.875rem;
		min-height: 1.875rem;
	}
	.height-sm-bp-1-under {
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.height-sm-md-bp-1-under {
		height: 3.75rem;
		min-height: 3.75rem;
	}
	.height-md-bp-1-under {
		height: 5rem;
		min-height: 5rem;
	}
	.height-md-lg-bp-1-under {
		height: 7.5rem;
		min-height: 7.5rem;
	}
	.height-lg-bp-1-under {
		height: 10rem;
		min-height: 10rem;
	}
	.height-lg-xl-bp-1-under {
		height: 15rem;
		min-height: 15rem;
	}
	.height-xl-bp-1-under {
		height: 20rem;
		min-height: 20rem;
	}
	.height-xl-xxl-bp-1-under {
		height: 30rem;
		min-height: 30rem;
	}
	.height-xxl-bp-1-under {
		height: 40rem;
		min-height: 40rem;
	}
	.height-one-quarter-bp-1-under {
		height: 25%;
		min-height: 25%;
	}
	.height-one-third-bp-1-under {
		height: 33.33333333%;
		min-height: 33.33333333%;
	}
	.height-one-half-bp-1-under {
		height: 50%;
		min-height: 50%;
	}
	.height-two-thirds-bp-1-under {
		height: 66.66666666%;
		min-height: 66.66666666%;
	}
	.height-three-quarters-bp-1-under {
		height: 75%;
		min-height: 75%;
	}
	.height-full-bp-1-under {
		height: 100%;
		min-height: 100%;
	}
	.height-viewport-bp-1-under {
		height: 100vh;
	}
}
