
.scroll-snap {
	scroll-snap-type: both proximity;
}
.scroll-snap-inline {
	scroll-snap-type: inline proximity;
}
.scroll-snap-block {
	scroll-snap-type: block proximity;
}
.scroll-snap-mandatory {
	scroll-snap-type: both mandatory;
}
.scroll-snap-inline-mandatory {
	scroll-snap-type: inline mandatory;
}
.scroll-snap-block-mandatory {
	scroll-snap-type: block mandatory;
}
.scroll-snap-inherit {
	scroll-snap-type: inherit;
}
.scroll-snap-align {
	scroll-snap-align: start end;
}
.scroll-snap-align-start {
	scroll-snap-align: start;
}
.scroll-snap-align-center {
	scroll-snap-align: center;
}
.scroll-snap-align-end {
	scroll-snap-align: end;
}
.scroll-snap-align-inherit {
	scroll-snap-align: inherit;
}
.scroll-snap-stop {
	scroll-snap-stop: always;
}
.scroll-snap-stop-inherit {
	scroll-snap-stop: inherit;
}
.scroll-behavior-smooth {
	scroll-behavior: smooth;
}
.scroll-behavior-inherit {
	scroll-behavior: inherit;
}
.scroll-padding-xs {
	scroll-padding: 0.313rem;
}
.scroll-padding-sm {
	scroll-padding: 0.625rem;
}
.scroll-padding-md {
	scroll-padding: 0.938rem;
}
.scroll-padding-lg {
	scroll-padding: 1.25rem;
}
.scroll-padding-xl {
	scroll-padding: 1.563rem;
}
.scroll-padding-inline-xs {
	scroll-padding-inline: 0.313rem;
}
.scroll-padding-inline-sm {
	scroll-padding-inline: 0.625rem;
}
.scroll-padding-inline-md {
	scroll-padding-inline: 0.938rem;
}
.scroll-padding-inline-lg {
	scroll-padding-inline: 1.25rem;
}
.scroll-padding-inline-xl {
	scroll-padding-inline: 1.563rem;
}
.scroll-padding-inline-start-xs {
	scroll-padding-inline-start: 0.313rem;
}
.scroll-padding-inline-start-sm {
	scroll-padding-inline-start: 0.625rem;
}
.scroll-padding-inline-start-md {
	scroll-padding-inline-start: 0.938rem;
}
.scroll-padding-inline-start-lg {
	scroll-padding-inline-start: 1.25rem;
}
.scroll-padding-inline-start-xl {
	scroll-padding-inline-start: 1.563rem;
}
.scroll-padding-inline-end-xs {
	scroll-padding-inline-end: 0.313rem;
}
.scroll-padding-inline-end-sm {
	scroll-padding-inline-end: 0.625rem;
}
.scroll-padding-inline-end-md {
	scroll-padding-inline-end: 0.938rem;
}
.scroll-padding-inline-end-lg {
	scroll-padding-inline-end: 1.25rem;
}
.scroll-padding-inline-end-xl {
	scroll-padding-inline-end: 1.563rem;
}
.scroll-padding-block-xs {
	scroll-padding-block: 0.313rem;
}
.scroll-padding-block-sm {
	scroll-padding-block: 0.625rem;
}
.scroll-padding-block-md {
	scroll-padding-block: 0.938rem;
}
.scroll-padding-block-lg {
	scroll-padding-block: 1.25rem;
}
.scroll-padding-block-xl {
	scroll-padding-block: 1.563rem;
}
.scroll-padding-block-start-xs {
	scroll-padding-block-start: 0.313rem;
}
.scroll-padding-block-start-sm {
	scroll-padding-block-start: 0.625rem;
}
.scroll-padding-block-start-md {
	scroll-padding-block-start: 0.938rem;
}
.scroll-padding-block-start-lg {
	scroll-padding-block-start: 1.25rem;
}
.scroll-padding-block-start-xl {
	scroll-padding-block-start: 1.563rem;
}
.scroll-padding-block-end-xs {
	scroll-padding-block-end: 0.313rem;
}
.scroll-padding-block-end-sm {
	scroll-padding-block-end: 0.625rem;
}
.scroll-padding-block-end-md {
	scroll-padding-block-end: 0.938rem;
}
.scroll-padding-block-end-lg {
	scroll-padding-block-end: 1.25rem;
}
.scroll-padding-block-end-xl {
	scroll-padding-block-end: 1.563rem;
}
.scroll-margin-xs {
	scroll-margin: 1.25rem;
}
.scroll-margin-sm {
	scroll-margin: 2.5rem;
}
.scroll-margin-md {
	scroll-margin: 5rem;
}
.scroll-margin-lg {
	scroll-margin: 10rem;
}
.scroll-margin-xl {
	scroll-margin: 20rem;
}
.scroll-margin-inline-xs {
	scroll-margin-inline: 1.25rem;
}
.scroll-margin-inline-sm {
	scroll-margin-inline: 2.5rem;
}
.scroll-margin-inline-md {
	scroll-margin-inline: 5rem;
}
.scroll-margin-inline-lg {
	scroll-margin-inline: 10rem;
}
.scroll-margin-inline-xl {
	scroll-margin-inline: 20rem;
}
.scroll-margin-inline-start-xs {
	scroll-margin-inline-start: 1.25rem;
}
.scroll-margin-inline-start-sm {
	scroll-margin-inline-start: 2.5rem;
}
.scroll-margin-inline-start-md {
	scroll-margin-inline-start: 5rem;
}
.scroll-margin-inline-start-lg {
	scroll-margin-inline-start: 10rem;
}
.scroll-margin-inline-start-xl {
	scroll-margin-inline-start: 20rem;
}
.scroll-margin-inline-end-xs {
	scroll-margin-inline-end: 1.25rem;
}
.scroll-margin-inline-end-sm {
	scroll-margin-inline-end: 2.5rem;
}
.scroll-margin-inline-end-md {
	scroll-margin-inline-end: 5rem;
}
.scroll-margin-inline-end-lg {
	scroll-margin-inline-end: 10rem;
}
.scroll-margin-inline-end-xl {
	scroll-margin-inline-end: 20rem;
}
.scroll-margin-block-xs {
	scroll-margin-block: 1.25rem;
}
.scroll-margin-block-sm {
	scroll-margin-block: 2.5rem;
}
.scroll-margin-block-md {
	scroll-margin-block: 5rem;
}
.scroll-margin-block-lg {
	scroll-margin-block: 10rem;
}
.scroll-margin-block-xl {
	scroll-margin-block: 20rem;
}
.scroll-margin-block-start-xs {
	scroll-margin-block-start: 1.25rem;
}
.scroll-margin-block-start-sm {
	scroll-margin-block-start: 2.5rem;
}
.scroll-margin-block-start-md {
	scroll-margin-block-start: 5rem;
}
.scroll-margin-block-start-lg {
	scroll-margin-block-start: 10rem;
}
.scroll-margin-block-start-xl {
	scroll-margin-block-start: 20rem;
}
.scroll-margin-block-end-xs {
	scroll-margin-block-end: 1.25rem;
}
.scroll-margin-block-end-sm {
	scroll-margin-block-end: 2.5rem;
}
.scroll-margin-block-end-md {
	scroll-margin-block-end: 5rem;
}
.scroll-margin-block-end-lg {
	scroll-margin-block-end: 10rem;
}
.scroll-margin-block-end-xl {
	scroll-margin-block-end: 20rem;
}
