
// Main media breakpoints

// NOTE: If using em or rem, please make sure that the converging values have a 0.01 em/rem difference.

$settings_bp_1_under: 29.99rem;
$settings_bp_1_over: 30rem;
$settings_bp_2_under: 39.99rem;
$settings_bp_2_over: 40rem;
$settings_bp_3_under: 49.99rem;
$settings_bp_3_over: 50rem;
$settings_bp_4_under: 69.99rem;
$settings_bp_4_over: 70rem;
$settings_bp_5_under: 89.99rem;
$settings_bp_5_over: 90rem;

// Modal media breakpoints

$settings_modal_bp_2_under: 39.99rem;
$settings_modal_bp_2_over: 40rem;
$settings_modal_bp_3_under: 49.99rem;
$settings_modal_bp_3_over: 50rem;
$settings_modal_bp_4_under: 69.99rem;
