
.pointer-top-sm {
	border-width: 0 0.313rem 0.438rem 0.313rem;
}
.pointer-top-md {
	border-width: 0 0.438rem 0.625rem 0.438rem;
}
.pointer-top-lg {
	border-width: 0 0.563rem 0.813rem 0.563rem;
}
.pointer-right-sm {
	border-width: 0.313rem 0 0.313rem 0.438rem;
}
.pointer-right-md {
	border-width: 0.438rem 0 0.438rem 0.625rem;
}
.pointer-right-lg {
	border-width: 0.563rem 0 0.563rem 0.813rem;
}
.pointer-bottom-sm {
	border-width: 0.438rem 0.313rem 0 0.313rem;
}
.pointer-bottom-md {
	border-width: 0.625rem 0.438rem 0 0.438rem;
}
.pointer-bottom-lg {
	border-width: 0.813rem 0.563rem 0 0.563rem;
}
.pointer-left-sm {
	border-width: 0.313rem 0.438rem 0.313rem 0;
}
.pointer-left-md {
	border-width: 0.438rem 0.625rem 0.438rem 0;
}
.pointer-left-lg {
	border-width: 0.563rem 0.813rem 0.563rem 0;
}
.pointer-top-default {
	@include pointer-top($theme_default);
}
.pointer-right-default {
	@include pointer-right($theme_default);
}
.pointer-bottom-default {
	@include pointer-bottom($theme_default);
}
.pointer-left-default {
	@include pointer-left($theme_default);
}
.pointer-top-light {
	@include pointer-top($theme_light);
}
.pointer-right-light {
	@include pointer-right($theme_light);
}
.pointer-bottom-light {
	@include pointer-bottom($theme_light);
}
.pointer-left-light {
	@include pointer-left($theme_light);
}
.pointer-top-dark {
	@include pointer-top($theme_dark);
}
.pointer-right-dark {
	@include pointer-right($theme_dark);
}
.pointer-bottom-dark {
	@include pointer-bottom($theme_dark);
}
.pointer-left-dark {
	@include pointer-left($theme_dark);
}
.pointer-top-accent-1 {
	@include pointer-top($theme_accent_1);
}
.pointer-right-accent-1 {
	@include pointer-right($theme_accent_1);
}
.pointer-bottom-accent-1 {
	@include pointer-bottom($theme_accent_1);
}
.pointer-left-accent-1 {
	@include pointer-left($theme_accent_1);
}
.pointer-top-accent-2 {
	@include pointer-top($theme_accent_2);
}
.pointer-right-accent-2 {
	@include pointer-right($theme_accent_2);
}
.pointer-bottom-accent-2 {
	@include pointer-bottom($theme_accent_2);
}
.pointer-left-accent-2 {
	@include pointer-left($theme_accent_2);
}
.pointer-top-accent-3 {
	@include pointer-top($theme_accent_3);
}
.pointer-right-accent-3 {
	@include pointer-right($theme_accent_3);
}
.pointer-bottom-accent-3 {
	@include pointer-bottom($theme_accent_3);
}
.pointer-left-accent-3 {
	@include pointer-left($theme_accent_3);
}
.pointer-top-accent-4 {
	@include pointer-top($theme_accent_4);
}
.pointer-right-accent-4 {
	@include pointer-right($theme_accent_4);
}
.pointer-bottom-accent-4 {
	@include pointer-bottom($theme_accent_4);
}
.pointer-left-accent-4 {
	@include pointer-left($theme_accent_4);
}
.pointer-top-accent-5 {
	@include pointer-top($theme_accent_5);
}
.pointer-right-accent-5 {
	@include pointer-right($theme_accent_5);
}
.pointer-bottom-accent-5 {
	@include pointer-bottom($theme_accent_5);
}
.pointer-left-accent-5 {
	@include pointer-left($theme_accent_5);
}
.pointer-top-success {
	@include pointer-top($theme_success);
}
.pointer-right-success {
	@include pointer-right($theme_success);
}
.pointer-bottom-success {
	@include pointer-bottom($theme_success);
}
.pointer-left-success {
	@include pointer-left($theme_success);
}
.pointer-top-info {
	@include pointer-top($theme_info);
}
.pointer-right-info {
	@include pointer-right($theme_info);
}
.pointer-bottom-info {
	@include pointer-bottom($theme_info);
}
.pointer-left-info {
	@include pointer-left($theme_info);
}
.pointer-top-warning {
	@include pointer-top($theme_warning);
}
.pointer-right-warning {
	@include pointer-right($theme_warning);
}
.pointer-bottom-warning {
	@include pointer-bottom($theme_warning);
}
.pointer-left-warning {
	@include pointer-left($theme_warning);
}
.pointer-top-danger {
	@include pointer-top($theme_danger);
}
.pointer-right-danger {
	@include pointer-right($theme_danger);
}
.pointer-bottom-danger {
	@include pointer-bottom($theme_danger);
}
.pointer-left-danger {
	@include pointer-left($theme_danger);
}
.pointer-top-transparent {
	@include pointer-top($theme_transparent);
}
.pointer-right-transparent {
	@include pointer-right($theme_transparent);
}
.pointer-bottom-transparent {
	@include pointer-bottom($theme_transparent);
}
.pointer-left-transparent {
	@include pointer-left($theme_transparent);
}
*[class*="pointer-"] {
	width: 0;
	height: 0;
	border-style: solid;
}
.arrow-extend-sm:after {
	width: 0.5rem;
	height: 0.5rem;
	margin-left: -0.25rem;
	margin-top: -0.25rem;
}
.arrow-extend-md:after {
	width: 1rem;
	height: 1rem;
	margin-left: -0.5rem;
	margin-top: -0.5rem;
}
.arrow-extend-lg:after {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: -0.75rem;
	margin-top: -0.75rem;
}
.arrow-extend-top:after {
	top: 0;
	left: 50%;
	transform: rotate(225deg);
}
.arrow-extend-right:after {
	top: 50%;
	left: 100%;
	transform: rotate(-45deg);
}
.arrow-extend-bottom:after {
	top: 100%;
	left: 50%;
	transform: rotate(45deg);
}
.arrow-extend-left:after {
	top: 50%;
	left: 0;
	transform: rotate(-225deg);
}
*[class*="arrow-extend-"]:after {
	position: absolute;
	content: "";
	background: inherit;
	border-top: 0 inherit inherit;
	border-right: inherit;
	border-bottom: inherit;
	border-left: 0 inherit inherit;
}
.razor-blade-top-left.razor-blade-sm:after,
.razor-blade-bottom-right.razor-blade-sm:after {	
	transform: skewY(1deg);	
}
.razor-blade-top-left.razor-blade-md:after,
.razor-blade-bottom-right.razor-blade-md:after {	
	transform: skewY(2deg);	
}
.razor-blade-top-left.razor-blade-lg:after,
.razor-blade-bottom-right.razor-blade-lg:after {	
	transform: skewY(4deg);	
}
.razor-blade-top-right.razor-blade-sm:after,
.razor-blade-bottom-left.razor-blade-sm:after {	
	transform: skewY(-1deg);	
}
.razor-blade-top-right.razor-blade-md:after,
.razor-blade-bottom-left.razor-blade-md:after {	
	transform: skewY(-2deg);	
}
.razor-blade-top-right.razor-blade-lg:after,
.razor-blade-bottom-left.razor-blade-lg:after {	
	transform: skewY(-4deg);	
}
.razor-blade-top-left:after {
	transform-origin: bottom right;
}
.razor-blade-top-right:after {
	transform-origin: bottom left;
	transform: skewY(-1deg);
}
.razor-blade-bottom-left:after {
	transform-origin: top right;
	transform: skewY(-1deg);
}
.razor-blade-bottom-right:after {
	transform-origin: top left;
}
*[class*="razor-blade-"]:after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	background: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}
