
.pointer-top-sm {
	border-width: 0 0.313rem 0.438rem 0.313rem;
}
.pointer-top-md {
	border-width: 0 0.438rem 0.625rem 0.438rem;
}
.pointer-top-lg {
	border-width: 0 0.563rem 0.813rem 0.563rem;
}
.pointer-right-sm {
	border-width: 0.313rem 0 0.313rem 0.438rem;
}
.pointer-right-md {
	border-width: 0.438rem 0 0.438rem 0.625rem;
}
.pointer-right-lg {
	border-width: 0.563rem 0 0.563rem 0.813rem;
}
.pointer-bottom-sm {
	border-width: 0.438rem 0.313rem 0 0.313rem;
}
.pointer-bottom-md {
	border-width: 0.625rem 0.438rem 0 0.438rem;
}
.pointer-bottom-lg {
	border-width: 0.813rem 0.563rem 0 0.563rem;
}
.pointer-left-sm {
	border-width: 0.313rem 0.438rem 0.313rem 0;
}
.pointer-left-md {
	border-width: 0.438rem 0.625rem 0.438rem 0;
}
.pointer-left-lg {
	border-width: 0.563rem 0.813rem 0.563rem 0;
}
.pointer-top-default {
	@include pointer-top($theme_default);
}
.pointer-right-default {
	@include pointer-right($theme_default);
}
.pointer-bottom-default {
	@include pointer-bottom($theme_default);
}
.pointer-left-default {
	@include pointer-left($theme_default);
}
.pointer-top-light {
	@include pointer-top($theme_light);
}
.pointer-right-light {
	@include pointer-right($theme_light);
}
.pointer-bottom-light {
	@include pointer-bottom($theme_light);
}
.pointer-left-light {
	@include pointer-left($theme_light);
}
.pointer-top-dark {
	@include pointer-top($theme_dark);
}
.pointer-right-dark {
	@include pointer-right($theme_dark);
}
.pointer-bottom-dark {
	@include pointer-bottom($theme_dark);
}
.pointer-left-dark {
	@include pointer-left($theme_dark);
}
.pointer-top-accent-1 {
	@include pointer-top($theme_accent_1);
}
.pointer-right-accent-1 {
	@include pointer-right($theme_accent_1);
}
.pointer-bottom-accent-1 {
	@include pointer-bottom($theme_accent_1);
}
.pointer-left-accent-1 {
	@include pointer-left($theme_accent_1);
}
.pointer-top-accent-2 {
	@include pointer-top($theme_accent_2);
}
.pointer-right-accent-2 {
	@include pointer-right($theme_accent_2);
}
.pointer-bottom-accent-2 {
	@include pointer-bottom($theme_accent_2);
}
.pointer-left-accent-2 {
	@include pointer-left($theme_accent_2);
}
.pointer-top-accent-3 {
	@include pointer-top($theme_accent_3);
}
.pointer-right-accent-3 {
	@include pointer-right($theme_accent_3);
}
.pointer-bottom-accent-3 {
	@include pointer-bottom($theme_accent_3);
}
.pointer-left-accent-3 {
	@include pointer-left($theme_accent_3);
}
.pointer-top-accent-4 {
	@include pointer-top($theme_accent_4);
}
.pointer-right-accent-4 {
	@include pointer-right($theme_accent_4);
}
.pointer-bottom-accent-4 {
	@include pointer-bottom($theme_accent_4);
}
.pointer-left-accent-4 {
	@include pointer-left($theme_accent_4);
}
.pointer-top-accent-5 {
	@include pointer-top($theme_accent_5);
}
.pointer-right-accent-5 {
	@include pointer-right($theme_accent_5);
}
.pointer-bottom-accent-5 {
	@include pointer-bottom($theme_accent_5);
}
.pointer-left-accent-5 {
	@include pointer-left($theme_accent_5);
}
.pointer-top-success {
	@include pointer-top($theme_success);
}
.pointer-right-success {
	@include pointer-right($theme_success);
}
.pointer-bottom-success {
	@include pointer-bottom($theme_success);
}
.pointer-left-success {
	@include pointer-left($theme_success);
}
.pointer-top-info {
	@include pointer-top($theme_info);
}
.pointer-right-info {
	@include pointer-right($theme_info);
}
.pointer-bottom-info {
	@include pointer-bottom($theme_info);
}
.pointer-left-info {
	@include pointer-left($theme_info);
}
.pointer-top-warning {
	@include pointer-top($theme_warning);
}
.pointer-right-warning {
	@include pointer-right($theme_warning);
}
.pointer-bottom-warning {
	@include pointer-bottom($theme_warning);
}
.pointer-left-warning {
	@include pointer-left($theme_warning);
}
.pointer-top-danger {
	@include pointer-top($theme_danger);
}
.pointer-right-danger {
	@include pointer-right($theme_danger);
}
.pointer-bottom-danger {
	@include pointer-bottom($theme_danger);
}
.pointer-left-danger {
	@include pointer-left($theme_danger);
}
.pointer-top-transparent {
	@include pointer-top($theme_transparent);
}
.pointer-right-transparent {
	@include pointer-right($theme_transparent);
}
.pointer-bottom-transparent {
	@include pointer-bottom($theme_transparent);
}
.pointer-left-transparent {
	@include pointer-left($theme_transparent);
}
*[class*="pointer-"] {
	width: 0;
	height: 0;
	border-style: solid;
}
.breadcrumb {
  display: flex;
  overflow: hidden;
}
.breadcrumb-xs {
  height: 1.5rem;
}
.breadcrumb-sm {
  height: 1.75rem;
}
.breadcrumb-md {
  height: 2.125rem;
}
.breadcrumb-lg {
  height: 2.475rem;
}
.breadcrumb-xl {
  height: 2.825rem;
}
.breadcrumb-xs::after {
  top: calc(50% - 0.55rem);
  right: -0.56rem;
  width: 1.1rem;
  height: 1.1rem;
}
.breadcrumb-sm::after {
  top: calc(50% - 0.64rem);
  right: -0.65rem;
  width: 1.28rem;
  height: 1.28rem;
}
.breadcrumb-md::after {
  top: calc(50% - 0.8rem);
  right: -0.8rem;
  width: 1.55rem;
  height: 1.55rem;
}
.breadcrumb-lg::after {
  top: calc(50% - 0.9rem);
  right: -0.88rem;
  width: 1.82rem;
  height: 1.82rem;
}
.breadcrumb-xl::after {
  top: calc(50% - 1.05rem);
  right: -1rem;
  width: 2.1rem;
  height: 2.1rem;
}
.breadcrumb-line-default::after {
  box-shadow: inset -0.125rem 0 0 0 rgb(222, 222, 222), inset 0 0.125rem rgb(222, 222, 222);
}
.breadcrumb-line-light::after {
  box-shadow: inset -0.125rem 0 0 0 rgb(255, 255, 255), inset 0 0.125rem rgb(255, 255, 255);
}
.breadcrumb-line-dark::after {
  box-shadow: inset -0.125rem 0 0 0 rgb(0, 0, 0), inset 0 0.125rem rgb(0, 0, 0);
}
.breadcrumb-line-accent-1::after {
  box-shadow: inset -0.125rem 0 0 0 rgb(108, 122, 198), inset 0 0.125rem rgb(108, 122, 198);
}
.breadcrumb-line-accent-2::after {
  box-shadow: inset -0.125rem 0 0 0 rgb(139, 106, 200), inset 0 0.125rem rgb(139, 106, 200);
}
.breadcrumb-line-accent-3::after {
  box-shadow: inset -0.125rem 0 0 0 rgb(186, 106, 200), inset 0 0.125rem rgb(186, 106, 200);
}
.breadcrumb-line-accent-4::after {
  box-shadow: inset -0.125rem 0 0 0 rgb(153, 153, 153), inset 0 0.125rem rgb(153, 153, 153);
}
.breadcrumb-line-accent-5::after {
  box-shadow: inset -0.125rem 0 0 0 rgb(102, 102, 102), inset 0 0.125rem rgb(102, 102, 102);
}
.breadcrumb-line-success::after {
  box-shadow: inset -0.125rem 0 0 0 rgb(77, 179, 80), inset 0 0.125rem rgb(77, 179, 80);
}
.breadcrumb-line-info::after {
  box-shadow: inset -0.125rem 0 0 0 rgb(14, 143, 241), inset 0 0.125rem rgb(14, 143, 241);
}
.breadcrumb-line-warning::after {
  box-shadow: inset -0.125rem 0 0 0 rgb(255, 140, 0), inset 0 0.125rem rgb(255, 140, 0);
}
.breadcrumb-line-danger::after {
  box-shadow: inset -0.125rem 0 0 0 rgb(255, 60, 0), inset 0 0.125rem rgb(255, 60, 0);
}
.breadcrumb-rounded::after {
  border-top-right-radius: 50%;
}
.breadcrumb > *[class*=breadcrumb-] {
  display: block;
  position: relative;
}
.breadcrumb > *[class*=breadcrumb-]:first-of-type {
	z-index: 1;
}
.breadcrumb > *[class*=breadcrumb-]:not(.breadcrumb-last)::after {
	display: block;
  position: absolute;
  content: " ";
  border: transparent;
  background-color: inherit;
  border-bottom-left-radius: 100%;
  transform: rotate(45deg);
  z-index: 1;
}
.breadcrumb > .breadcrumb-nodivider::after {
	box-shadow: none;
}
.breadcrumb > .breadcrumb-nopointer::after {
	visibility: hidden;
}
.rhombus-clip-shape {
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.rhomboid-clip-shape {
	clip-path: polygon(0% 100%, 30% 0%, 100% 0%, 70% 100%);
}
.kite-clip-shape {
	clip-path: polygon(50% 0%, 100% 30%, 50% 100%, 0% 30%);
}
.equilateral-triangle-clip-shape {
	clip-path: polygon(50% 15%, 100% 100%, 0% 100%);
}
.trapezoid-isosceles-clip-shape {
	clip-path: polygon(0% 100%, 30% 0%, 70% 0%, 100% 100%);
}
.triangle-isosceles-clip-shape {
	clip-path: polygon(0% 100%, 50% 0%, 50% 0%, 100% 100%);
}
.pentagon-clip-shape {
	clip-path: polygon(50% 0%, 100% 40%, 80% 100%, 20% 100%, 0% 40%);
}
.heptagon-clip-shape {
	clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.octagon-clip-shape {
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.star-clip-shape {
	clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
}
*[class*="-clip-shape"] {
	width: 2rem;
	height: 2rem;
	background-color: $theme_default;
}
