
.pointer-top-sm {
	border-width: 0 0.313rem 0.438rem 0.313rem;
}
.pointer-top-md {
	border-width: 0 0.438rem 0.625rem 0.438rem;
}
.pointer-top-lg {
	border-width: 0 0.563rem 0.813rem 0.563rem;
}
.pointer-right-sm {
	border-width: 0.313rem 0 0.313rem 0.438rem;
}
.pointer-right-md {
	border-width: 0.438rem 0 0.438rem 0.625rem;
}
.pointer-right-lg {
	border-width: 0.563rem 0 0.563rem 0.813rem;
}
.pointer-bottom-sm {
	border-width: 0.438rem 0.313rem 0 0.313rem;
}
.pointer-bottom-md {
	border-width: 0.625rem 0.438rem 0 0.438rem;
}
.pointer-bottom-lg {
	border-width: 0.813rem 0.563rem 0 0.563rem;
}
.pointer-left-sm {
	border-width: 0.313rem 0.438rem 0.313rem 0;
}
.pointer-left-md {
	border-width: 0.438rem 0.625rem 0.438rem 0;
}
.pointer-left-lg {
	border-width: 0.563rem 0.813rem 0.563rem 0;
}
.pointer-top-default {
	@include pointer-top($theme_default);
}
.pointer-right-default {
	@include pointer-right($theme_default);
}
.pointer-bottom-default {
	@include pointer-bottom($theme_default);
}
.pointer-left-default {
	@include pointer-left($theme_default);
}
.pointer-top-light {
	@include pointer-top($theme_light);
}
.pointer-right-light {
	@include pointer-right($theme_light);
}
.pointer-bottom-light {
	@include pointer-bottom($theme_light);
}
.pointer-left-light {
	@include pointer-left($theme_light);
}
.pointer-top-dark {
	@include pointer-top($theme_dark);
}
.pointer-right-dark {
	@include pointer-right($theme_dark);
}
.pointer-bottom-dark {
	@include pointer-bottom($theme_dark);
}
.pointer-left-dark {
	@include pointer-left($theme_dark);
}
.pointer-top-accent-1 {
	@include pointer-top($theme_accent_1);
}
.pointer-right-accent-1 {
	@include pointer-right($theme_accent_1);
}
.pointer-bottom-accent-1 {
	@include pointer-bottom($theme_accent_1);
}
.pointer-left-accent-1 {
	@include pointer-left($theme_accent_1);
}
.pointer-top-accent-2 {
	@include pointer-top($theme_accent_2);
}
.pointer-right-accent-2 {
	@include pointer-right($theme_accent_2);
}
.pointer-bottom-accent-2 {
	@include pointer-bottom($theme_accent_2);
}
.pointer-left-accent-2 {
	@include pointer-left($theme_accent_2);
}
.pointer-top-accent-3 {
	@include pointer-top($theme_accent_3);
}
.pointer-right-accent-3 {
	@include pointer-right($theme_accent_3);
}
.pointer-bottom-accent-3 {
	@include pointer-bottom($theme_accent_3);
}
.pointer-left-accent-3 {
	@include pointer-left($theme_accent_3);
}
.pointer-top-accent-4 {
	@include pointer-top($theme_accent_4);
}
.pointer-right-accent-4 {
	@include pointer-right($theme_accent_4);
}
.pointer-bottom-accent-4 {
	@include pointer-bottom($theme_accent_4);
}
.pointer-left-accent-4 {
	@include pointer-left($theme_accent_4);
}
.pointer-top-accent-5 {
	@include pointer-top($theme_accent_5);
}
.pointer-right-accent-5 {
	@include pointer-right($theme_accent_5);
}
.pointer-bottom-accent-5 {
	@include pointer-bottom($theme_accent_5);
}
.pointer-left-accent-5 {
	@include pointer-left($theme_accent_5);
}
.pointer-top-success {
	@include pointer-top($theme_success);
}
.pointer-right-success {
	@include pointer-right($theme_success);
}
.pointer-bottom-success {
	@include pointer-bottom($theme_success);
}
.pointer-left-success {
	@include pointer-left($theme_success);
}
.pointer-top-info {
	@include pointer-top($theme_info);
}
.pointer-right-info {
	@include pointer-right($theme_info);
}
.pointer-bottom-info {
	@include pointer-bottom($theme_info);
}
.pointer-left-info {
	@include pointer-left($theme_info);
}
.pointer-top-warning {
	@include pointer-top($theme_warning);
}
.pointer-right-warning {
	@include pointer-right($theme_warning);
}
.pointer-bottom-warning {
	@include pointer-bottom($theme_warning);
}
.pointer-left-warning {
	@include pointer-left($theme_warning);
}
.pointer-top-danger {
	@include pointer-top($theme_danger);
}
.pointer-right-danger {
	@include pointer-right($theme_danger);
}
.pointer-bottom-danger {
	@include pointer-bottom($theme_danger);
}
.pointer-left-danger {
	@include pointer-left($theme_danger);
}
.pointer-top-transparent {
	@include pointer-top($theme_transparent);
}
.pointer-right-transparent {
	@include pointer-right($theme_transparent);
}
.pointer-bottom-transparent {
	@include pointer-bottom($theme_transparent);
}
.pointer-left-transparent {
	@include pointer-left($theme_transparent);
}
*[class*="pointer-"] {
	width: 0;
	height: 0;
	border-style: solid;
}
.arrow-extend-sm::after {
	width: 0.5rem;
	height: 0.5rem;
	margin-left: -0.25rem;
	margin-top: -0.25rem;
}
.arrow-extend-md::after {
	width: 1rem;
	height: 1rem;
	margin-left: -0.5rem;
	margin-top: -0.5rem;
}
.arrow-extend-lg::after {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: -0.75rem;
	margin-top: -0.75rem;
}
.arrow-extend-top::after {
	top: 0;
	left: 50%;
	transform: rotate(225deg);
}
.arrow-extend-right::after {
	top: 50%;
	left: 100%;
	transform: rotate(-45deg);
}
.arrow-extend-bottom::after {
	top: 100%;
	left: 50%;
	transform: rotate(45deg);
}
.arrow-extend-left::after {
	top: 50%;
	left: 0;
	transform: rotate(-225deg);
}
*[class*="arrow-extend-"]::after {
	position: absolute;
	content: "";
	background: inherit;
	border-top: 0 inherit inherit;
	border-right: inherit;
	border-bottom: inherit;
	border-left: 0 inherit inherit;
}
.bulge-extend-sm::after {
	width: 0.5rem;
	height: 0.5rem;
	margin-left: -0.25rem;
	margin-top: -0.25rem;
}
.bulge-extend-md::after {
	width: 1rem;
	height: 1rem;
	margin-left: -0.5rem;
	margin-top: -0.5rem;
}
.bulge-extend-lg::after {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: -0.75rem;
	margin-top: -0.75rem;
}
.bulge-extend-top::after {
	top: 0;
	left: 50%;
	transform: rotate(225deg);
}
.bulge-extend-right::after {
	top: 50%;
	left: 100%;
	transform: rotate(-45deg);
}
.bulge-extend-bottom::after {
	top: 100%;
	left: 50%;
	transform: rotate(45deg);
}
.bulge-extend-left::after {
	top: 50%;
	left: 0;
	transform: rotate(-225deg);
}
*[class*="bulge-extend-"]::after {
	position: absolute;
	content: "";
	background: inherit;
	border-top: 0 inherit inherit;
	border-right: inherit;
	border-bottom: inherit;
	border-left: 0 inherit inherit;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
}
.breadcrumb {
	display: flex;
	overflow: hidden;	
}
.breadcrumb-xs {
	height: 1.5rem;
}
.breadcrumb-sm {
	height: 1.75rem;
}
.breadcrumb-md {
	height: 2.125rem;
}
.breadcrumb-lg {
	height: 2.375rem;
}
.breadcrumb-xl {
	height: 2.75rem;
}
.breadcrumb-xs::after {
	top: calc(50% - 0.6rem);
	right: -0.5rem;
	width: 1.2rem;
	height: 1.2rem;
}
.breadcrumb-sm::after {
	top: calc(50% - 0.68rem);
	right: -0.61rem;
	width: 1.38rem;
	height: 1.38rem;
}
.breadcrumb-md::after {
	top: calc(50% - 0.825rem);
	right: -0.735rem;
	width: 1.65rem;
	height: 1.65rem;
}
.breadcrumb-lg::after {
	top: calc(50% - 0.9rem);
	right: -0.825rem;
	width: 1.82rem;
	height: 1.82rem;
}
.breadcrumb-xl::after {
	top: calc(50% - 1.05rem);
	right: -0.95rem;
	width: 2.1rem;
	height: 2.1rem;
}
.breadcrumb-line-muted::after {
	box-shadow: inset -0.125rem 0 0 0 $theme_muted, inset 0 0.125rem $theme_muted;	
}
.breadcrumb-line-light::after {
	box-shadow: inset -0.125rem 0 0 0 $theme_light, inset 0 0.125rem $theme_light;	
}
.breadcrumb-line-dark::after {
	box-shadow: inset -0.125rem 0 0 0 $theme_dark, inset 0 0.125rem $theme_dark;	
}
.breadcrumb-line-accent-1::after {
	box-shadow: inset -0.125rem 0 0 0 $theme_accent-1, inset 0 0.125rem $theme_accent-1;	
}
.breadcrumb-line-accent-2::after {
	box-shadow: inset -0.125rem 0 0 0 $theme_accent-2, inset 0 0.125rem $theme_accent-2;	
}
.breadcrumb-line-accent-3::after {
	box-shadow: inset -0.125rem 0 0 0 $theme_accent-3, inset 0 0.125rem $theme_accent-3;	
}
.breadcrumb-line-accent-4::after {
	box-shadow: inset -0.125rem 0 0 0 $theme_accent-4, inset 0 0.125rem $theme_accent-4;	
}
.breadcrumb-line-accent-5::after {
	box-shadow: inset -0.125rem 0 0 0 $theme_accent-5, inset 0 0.125rem $theme_accent-5;	
}
.breadcrumb-line-success::after {
	box-shadow: inset -0.125rem 0 0 0 $theme_success, inset 0 0.125rem $theme_success;	
}
.breadcrumb-line-info::after {
	box-shadow: inset -0.125rem 0 0 0 $theme_info, inset 0 0.125rem $theme_info;	
}
.breadcrumb-line-warning::after {
	box-shadow: inset -0.125rem 0 0 0 $theme_warning, inset 0 0.125rem $theme_warning;	
}
.breadcrumb-line-danger::after {
	box-shadow: inset -0.125rem 0 0 0 $theme_danger, inset 0 0.125rem $theme_danger;	
}
.breadcrumb-rounded::after {
	border-top-right-radius: 50%;
}
*[class*="breadcrumb-"],
*[class*="breadcrumb-"]::after {
	display: block;
	position: relative;
	backface-visibility: hidden;
}
*[class*="breadcrumb-"]:not(.breadcrumb-last)::after {
	position: absolute;
	content: " ";
	border: transparent;
	background-color: inherit;
	border-bottom-left-radius: 100%;
	transform: rotate(45deg);	
	z-index: 1;
}
.razor-top-left-sm {
	width: 25vw;
}
.razor-top-left-sm::after {
	position: absolute;
	top: -2.5rem;
	border-width: 2.5rem 0 0 25vw;
}
.razor-top-left-md {
	width: 50vw;
}
.razor-top-left-md::after {
	position: absolute;
	top: -5rem;
	border-width: 5rem 0 0 50vw;
}
.razor-top-left-lg {
	width: 75vw;
}
.razor-top-left-lg::after {
	position: absolute;
	top: -10rem;
	border-width: 10rem 0 0 75vw;
}
.razor-top-left-full {
	width: 100vw;
}
.razor-top-left-full::after {
	position: absolute;
	top: -10rem;
	border-width: 10rem 0 0 100vw;
}
.razor-top-right-sm {
	width: 25vw;
}
.razor-top-right-sm::after {
	position: absolute;
	top: -2.5rem;
	border-width: 2.5rem 25vw 0 0;
}
.razor-top-right-md {
	width: 50vw;
}
.razor-top-right-md::after {
	position: absolute;
	top: -5rem;
	border-width: 5rem 50vw 0 0;
}
.razor-top-right-lg {
	width: 75vw;
}
.razor-top-right-lg::after {
	position: absolute;
	top: -10rem;
	border-width: 10rem 75vw 0 0;
}
.razor-top-right-full {
	width: 100vw;
}
.razor-top-right-full::after {
	position: absolute;
	top: -10rem;
	border-width: 10rem 100vw 0 0;
}
.razor-bottom-left-sm {
	width: 25vw;
}
.razor-bottom-left-sm::after {
	position: absolute;
	bottom: -2.5rem;
	border-width: 0 0 2.5rem 25vw;
}
.razor-bottom-left-md {
	width: 50vw;
}
.razor-bottom-left-md::after {
	position: absolute;
	bottom: -5rem;
	border-width: 0 0 5rem 50vw;
}
.razor-bottom-left-lg {
	width: 75vw;
}
.razor-bottom-left-lg::after {
	position: absolute;
	bottom: -10rem;
	border-width: 0 0 10rem 75vw;
}
.razor-bottom-left-full {
	width: 100vw;
}
.razor-bottom-left-full::after {
	position: absolute;
	bottom: -10rem;
	border-width: 0 0 10rem 100vw;
}
.razor-bottom-right-sm {
	width: 25vw;
}
.razor-bottom-right-sm::after {
	position: absolute;
	bottom: -2.5rem;
	border-width: 0 25vw 2.5rem 0;
}
.razor-bottom-right-md {
	width: 50vw;
}
.razor-bottom-right-md::after {
	position: absolute;
	bottom: -5rem;
	border-width: 0 50vw 5rem 0;
}
.razor-bottom-right-lg {
	width: 75vw;
}
.razor-bottom-right-lg::after {
	position: absolute;
	bottom: -10rem;
	border-width: 0 75vw 10rem 0;
}
.razor-bottom-right-full {
	width: 100vw;
}
.razor-bottom-right-full::after {
	position: absolute;
	bottom: -10rem;
	border-width: 0 100vw 10rem 0;
}
.razor-left-top-sm {
	height: 25vh;
}
.razor-left-top-sm::after {
	position: absolute;
	left: -2.5rem;
	border-width: 0 2.5rem 25vh 0;
}
.razor-left-top-md {
	height: 50vh;
}
.razor-left-top-md::after {
	position: absolute;
	left: -5rem;
	border-width: 0 5rem 50vh 0;
}
.razor-left-top-lg {
	height: 75vh;
}
.razor-left-top-lg::after {
	position: absolute;
	left: -10rem;
	border-width: 0 10rem 75vh 0;
}
.razor-left-top-full {
	height: 100vh;
}
.razor-left-top-full::after {
	position: absolute;
	left: -10rem;
	border-width: 0 10rem 100vh 0;
}
.razor-left-bottom-sm {
	height: 25vh;
}
.razor-left-bottom-sm::after {
	position: absolute;
	left: -2.50rem;
	border-width: 25vh 2.5rem 0 0;
}
.razor-left-bottom-md {
	height: 50vh;
}
.razor-left-bottom-md::after {
	position: absolute;
	left: -5rem;
	border-width: 50vh 5rem 0 0;
}
.razor-left-bottom-lg {
	height: 75vh;
}
.razor-left-bottom-lg::after {
	position: absolute;
	left: -10rem;
	border-width: 75vh 10rem 0 0;
}
.razor-left-bottom-full {
	height: 100vh;
}
.razor-left-bottom-full::after {
	position: absolute;
	left: -10rem;
	border-width: 100vh 10rem 0 0;
}
.razor-right-top-sm {
	height: 25vh;
}
.razor-right-top-sm::after {
	position: relative;
	right: -100%;
	border-width: 0 0 25vh 2.5rem;
}
.razor-right-top-md {
	height: 50vh;
}
.razor-right-top-md::after {
	position: relative;
	right: -100%;
	border-width: 0 0 50vh 5rem;
}
.razor-right-top-lg {
	height: 75vh;
}
.razor-right-top-lg::after {
	position: relative;
	right: -100%;
	border-width: 0 0 75vh 10rem;
}
.razor-right-top-full {
	height: 100vh;
}
.razor-right-top-full::after {
	position: relative;
	right: -100%;
	border-width: 0 0 100vh 10rem;
}
.razor-right-bottom-sm {
	height: 25vh;
}
.razor-right-bottom-sm::after {
	position: relative;
	right: -100%;
	border-width: 25vh 0 0 2.5rem;
}
.razor-right-bottom-md {
	height: 50vh;
}
.razor-right-bottom-md::after {
	position: relative;
	right: -100%;
	border-width: 50vh 0 0 5rem;
}
.razor-right-bottom-lg {
	height: 75vh;
}
.razor-right-bottom-lg::after {
	position: relative;
	right: -100%;
	border-width: 75vh 0 0 10rem;
}
.razor-right-bottom-full {
	height: 100vh;
}
.razor-right-bottom-full::after {
	position: relative;
	right: -100%;
	border-width: 100vh 0 0 10rem;
}
*[class*="razor-"] {
	position: relative;
}
*[class*="razor-"]::after {
	content: " ";
	display: block;
	border-style: solid;		
}
*[class*="razor-top"]::after,
*[class*="razor-bottom"]::after {
	left: 0;
}
*[class*="razor-left"]::after,
*[class*="razor-right"]::after {
	top: 0;
}
*[class*="razor-top-left-"].razor-angle-sm::after,
*[class*="razor-top-right-"].razor-angle-sm::after {
	top: -2.5rem;
	border-top-width: 2.5rem;
}
*[class*="razor-top-left-"].razor-angle-md::after,
*[class*="razor-top-right-"].razor-angle-md::after {
	top: -5rem;
	border-top-width: 5rem;
}
*[class*="razor-top-left-"].razor-angle-lg::after,
*[class*="razor-top-right-"].razor-angle-lg::after {
	top: -10rem;
	border-top-width: 10rem;
}
*[class*="razor-bottom-left-"].razor-angle-sm::after,
*[class*="razor-bottom-right-"].razor-angle-sm::after {
	bottom: -2.5rem;
	border-bottom-width: 2.5rem;
}
*[class*="razor-bottom-left-"].razor-angle-md::after,
*[class*="razor-bottom-right-"].razor-angle-md::after {
	bottom: -5rem;
	border-bottom-width: 5rem;
}
*[class*="razor-bottom-left-"].razor-angle-lg::after,
*[class*="razor-bottom-right-"].razor-angle-lg::after {
	bottom: -10rem;
	border-bottom-width: 10rem;
}
*[class*="razor-left-top-"].razor-angle-sm::after,
*[class*="razor-left-bottom-"].razor-angle-sm::after {
	left: -2.5rem;
	border-right-width: 2.5rem;
}
*[class*="razor-left-top-"].razor-angle-md::after,
*[class*="razor-left-bottom-"].razor-angle-md::after {
	left: -5rem;
	border-right-width: 5rem;
}
*[class*="razor-left-top-"].razor-angle-lg::after,
*[class*="razor-left-bottom-"].razor-angle-lg::after {
	left: -10rem;
	border-right-width: 10rem;
}
*[class*="razor-right-top-"].razor-angle-sm::after,
*[class*="razor-right-bottom-"].razor-angle-sm::after {
	border-left-width: 2.5rem;
}
*[class*="razor-right-top-"].razor-angle-md::after,
*[class*="razor-right-bottom-"].razor-angle-md::after {
	border-left-width: 5rem;
}
*[class*="razor-right-top-"].razor-angle-lg::after,
*[class*="razor-right-bottom-"].razor-angle-lg::after {
	border-left-width: 10rem;
}
*[class*="razor-top-left-"].razor-light::after,
*[class*="razor-bottom-left-"].razor-light::after,
*[class*="razor-right-top-"].razor-light::after,
*[class*="razor-right-bottom-"].razor-light::after {
	border-color: transparent transparent transparent $theme_light;	
}
*[class*="razor-top-right-"].razor-light::after,
*[class*="razor-bottom-right-"].razor-light::after,
*[class*="razor-left-top-"].razor-light::after,
*[class*="razor-left-bottom-"].razor-light::after		{
	border-color: transparent $theme_light transparent transparent;	
}
*[class*="razor-top-left-"].razor-dark::after,
*[class*="razor-bottom-left-"].razor-dark::after,
*[class*="razor-right-top-"].razor-dark::after,
*[class*="razor-right-bottom-"].razor-dark::after {
	border-color: transparent transparent transparent $theme_dark;	
}
*[class*="razor-top-right-"].razor-dark::after,
*[class*="razor-bottom-right-"].razor-dark::after,
*[class*="razor-left-top-"].razor-dark::after,
*[class*="razor-left-bottom-"].razor-dark::after		{
	border-color: transparent $theme_dark transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-1::after,
*[class*="razor-bottom-left-"].razor-accent-1::after,
*[class*="razor-right-top-"].razor-accent-1::after,
*[class*="razor-right-bottom-"].razor-accent-1::after {
	border-color: transparent transparent transparent $theme_accent_1;	
}
*[class*="razor-top-right-"].razor-accent-1::after,
*[class*="razor-bottom-right-"].razor-accent-1::after,
*[class*="razor-left-top-"].razor-accent-1::after,
*[class*="razor-left-bottom-"].razor-accent-1::after		{
	border-color: transparent $theme_accent_1 transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-1-light::after,
*[class*="razor-bottom-left-"].razor-accent-1-light::after,
*[class*="razor-right-top-"].razor-accent-1-light::after,
*[class*="razor-right-bottom-"].razor-accent-1-light::after {
	border-color: transparent transparent transparent $theme_accent_1_light;	
}
*[class*="razor-top-right-"].razor-accent-1-light::after,
*[class*="razor-bottom-right-"].razor-accent-1-light::after,
*[class*="razor-left-top-"].razor-accent-1-light::after,
*[class*="razor-left-bottom-"].razor-accent-1-light::after		{
	border-color: transparent $theme_accent_1_light transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-1-dark::after,
*[class*="razor-bottom-left-"].razor-accent-1-dark::after,
*[class*="razor-right-top-"].razor-accent-1-dark::after,
*[class*="razor-right-bottom-"].razor-accent-1-dark::after {
	border-color: transparent transparent transparent $theme_accent_1_dark;	
}
*[class*="razor-top-right-"].razor-accent-1-dark::after,
*[class*="razor-bottom-right-"].razor-accent-1-dark::after,
*[class*="razor-left-top-"].razor-accent-1-dark::after,
*[class*="razor-left-bottom-"].razor-accent-1-dark::after		{
	border-color: transparent $theme_accent_1_dark transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-2::after,
*[class*="razor-bottom-left-"].razor-accent-2::after,
*[class*="razor-right-top-"].razor-accent-2::after,
*[class*="razor-right-bottom-"].razor-accent-2::after {
	border-color: transparent transparent transparent $theme_accent_2;	
}
*[class*="razor-top-right-"].razor-accent-2::after,
*[class*="razor-bottom-right-"].razor-accent-2::after,
*[class*="razor-left-top-"].razor-accent-2::after,
*[class*="razor-left-bottom-"].razor-accent-2::after		{
	border-color: transparent $theme_accent_2 transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-2-light::after,
*[class*="razor-bottom-left-"].razor-accent-2-light::after,
*[class*="razor-right-top-"].razor-accent-2-light::after,
*[class*="razor-right-bottom-"].razor-accent-2-light::after {
	border-color: transparent transparent transparent $theme_accent_2_light;	
}
*[class*="razor-top-right-"].razor-accent-2-light::after,
*[class*="razor-bottom-right-"].razor-accent-2-light::after,
*[class*="razor-left-top-"].razor-accent-2-light::after,
*[class*="razor-left-bottom-"].razor-accent-2-light::after		{
	border-color: transparent $theme_accent_2_light transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-2-dark::after,
*[class*="razor-bottom-left-"].razor-accent-2-dark::after,
*[class*="razor-right-top-"].razor-accent-2-dark::after,
*[class*="razor-right-bottom-"].razor-accent-2-dark::after {
	border-color: transparent transparent transparent $theme_accent_2_dark;	
}
*[class*="razor-top-right-"].razor-accent-2-dark::after,
*[class*="razor-bottom-right-"].razor-accent-2-dark::after,
*[class*="razor-left-top-"].razor-accent-2-dark::after,
*[class*="razor-left-bottom-"].razor-accent-2-dark::after		{
	border-color: transparent $theme_accent_2_dark transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-3::after,
*[class*="razor-bottom-left-"].razor-accent-3::after,
*[class*="razor-right-top-"].razor-accent-3::after,
*[class*="razor-right-bottom-"].razor-accent-3::after {
	border-color: transparent transparent transparent $theme_accent_3;	
}
*[class*="razor-top-right-"].razor-accent-3::after,
*[class*="razor-bottom-right-"].razor-accent-3::after,
*[class*="razor-left-top-"].razor-accent-3::after,
*[class*="razor-left-bottom-"].razor-accent-3::after		{
	border-color: transparent $theme_accent_3 transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-3-light::after,
*[class*="razor-bottom-left-"].razor-accent-3-light::after,
*[class*="razor-right-top-"].razor-accent-3-light::after,
*[class*="razor-right-bottom-"].razor-accent-3-light::after {
	border-color: transparent transparent transparent $theme_accent_3_light;	
}
*[class*="razor-top-right-"].razor-accent-3-light::after,
*[class*="razor-bottom-right-"].razor-accent-3-light::after,
*[class*="razor-left-top-"].razor-accent-3-light::after,
*[class*="razor-left-bottom-"].razor-accent-3-light::after		{
	border-color: transparent $theme_accent_3_light transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-3-dark::after,
*[class*="razor-bottom-left-"].razor-accent-3-dark::after,
*[class*="razor-right-top-"].razor-accent-3-dark::after,
*[class*="razor-right-bottom-"].razor-accent-3-dark::after {
	border-color: transparent transparent transparent $theme_accent_3_dark;	
}
*[class*="razor-top-right-"].razor-accent-3-dark::after,
*[class*="razor-bottom-right-"].razor-accent-3-dark::after,
*[class*="razor-left-top-"].razor-accent-3-dark::after,
*[class*="razor-left-bottom-"].razor-accent-3-dark::after		{
	border-color: transparent $theme_accent_3_dark transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-4::after,
*[class*="razor-bottom-left-"].razor-accent-4::after,
*[class*="razor-right-top-"].razor-accent-4::after,
*[class*="razor-right-bottom-"].razor-accent-4::after {
	border-color: transparent transparent transparent $theme_accent_4;	
}
*[class*="razor-top-right-"].razor-accent-4::after,
*[class*="razor-bottom-right-"].razor-accent-4::after,
*[class*="razor-left-top-"].razor-accent-4::after,
*[class*="razor-left-bottom-"].razor-accent-4::after		{
	border-color: transparent $theme_accent_4 transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-4-light::after,
*[class*="razor-bottom-left-"].razor-accent-4-light::after,
*[class*="razor-right-top-"].razor-accent-4-light::after,
*[class*="razor-right-bottom-"].razor-accent-4-light::after {
	border-color: transparent transparent transparent $theme_accent_4_light;	
}
*[class*="razor-top-right-"].razor-accent-4-light::after,
*[class*="razor-bottom-right-"].razor-accent-4-light::after,
*[class*="razor-left-top-"].razor-accent-4-light::after,
*[class*="razor-left-bottom-"].razor-accent-4-light::after		{
	border-color: transparent $theme_accent_4_light transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-4-dark::after,
*[class*="razor-bottom-left-"].razor-accent-4-dark::after,
*[class*="razor-right-top-"].razor-accent-4-dark::after,
*[class*="razor-right-bottom-"].razor-accent-4-dark::after {
	border-color: transparent transparent transparent $theme_accent_4_dark;	
}
*[class*="razor-top-right-"].razor-accent-4-dark::after,
*[class*="razor-bottom-right-"].razor-accent-4-dark::after,
*[class*="razor-left-top-"].razor-accent-4-dark::after,
*[class*="razor-left-bottom-"].razor-accent-4-dark::after		{
	border-color: transparent $theme_accent_4_dark transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-5::after,
*[class*="razor-bottom-left-"].razor-accent-5::after,
*[class*="razor-right-top-"].razor-accent-5::after,
*[class*="razor-right-bottom-"].razor-accent-5::after {
	border-color: transparent transparent transparent $theme_accent_5;	
}
*[class*="razor-top-right-"].razor-accent-5::after,
*[class*="razor-bottom-right-"].razor-accent-5::after,
*[class*="razor-left-top-"].razor-accent-5::after,
*[class*="razor-left-bottom-"].razor-accent-5::after		{
	border-color: transparent $theme_accent_5 transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-5-light::after,
*[class*="razor-bottom-left-"].razor-accent-5-light::after,
*[class*="razor-right-top-"].razor-accent-5-light::after,
*[class*="razor-right-bottom-"].razor-accent-5-light::after {
	border-color: transparent transparent transparent $theme_accent_5_light;	
}
*[class*="razor-top-right-"].razor-accent-5-light::after,
*[class*="razor-bottom-right-"].razor-accent-5-light::after,
*[class*="razor-left-top-"].razor-accent-5-light::after,
*[class*="razor-left-bottom-"].razor-accent-5-light::after		{
	border-color: transparent $theme_accent_5_light transparent transparent;	
}
*[class*="razor-top-left-"].razor-accent-5-dark::after,
*[class*="razor-bottom-left-"].razor-accent-5-dark::after,
*[class*="razor-right-top-"].razor-accent-5-dark::after,
*[class*="razor-right-bottom-"].razor-accent-5-dark::after {
	border-color: transparent transparent transparent $theme_accent_5_dark;	
}
*[class*="razor-top-right-"].razor-accent-5-dark::after,
*[class*="razor-bottom-right-"].razor-accent-5-dark::after,
*[class*="razor-left-top-"].razor-accent-5-dark::after,
*[class*="razor-left-bottom-"].razor-accent-5-dark::after		{
	border-color: transparent $theme_accent_5_dark transparent transparent;	
}
*[class*="razor-top-left-"].razor-success::after,
*[class*="razor-bottom-left-"].razor-success::after,
*[class*="razor-right-top-"].razor-success::after,
*[class*="razor-right-bottom-"].razor-success::after {
	border-color: transparent transparent transparent $theme_success;	
}
*[class*="razor-top-right-"].razor-success::after,
*[class*="razor-bottom-right-"].razor-success::after,
*[class*="razor-left-top-"].razor-success::after,
*[class*="razor-left-bottom-"].razor-success::after		{
	border-color: transparent $theme_success transparent transparent;	
}
*[class*="razor-top-left-"].razor-success-light::after,
*[class*="razor-bottom-left-"].razor-success-light::after,
*[class*="razor-right-top-"].razor-success-light::after,
*[class*="razor-right-bottom-"].razor-success-light::after {
	border-color: transparent transparent transparent $theme_success_light;	
}
*[class*="razor-top-right-"].razor-success-light::after,
*[class*="razor-bottom-right-"].razor-success-light::after,
*[class*="razor-left-top-"].razor-success-light::after,
*[class*="razor-left-bottom-"].razor-success-light::after		{
	border-color: transparent $theme_success_light transparent transparent;	
}
*[class*="razor-top-left-"].razor-success-dark::after,
*[class*="razor-bottom-left-"].razor-success-dark::after,
*[class*="razor-right-top-"].razor-success-dark::after,
*[class*="razor-right-bottom-"].razor-success-dark::after {
	border-color: transparent transparent transparent $theme_success_dark;	
}
*[class*="razor-top-right-"].razor-success-dark::after,
*[class*="razor-bottom-right-"].razor-success-dark::after,
*[class*="razor-left-top-"].razor-success-dark::after,
*[class*="razor-left-bottom-"].razor-success-dark::after		{
	border-color: transparent $theme_success_dark transparent transparent;	
}
*[class*="razor-top-left-"].razor-info::after,
*[class*="razor-bottom-left-"].razor-info::after,
*[class*="razor-right-top-"].razor-info::after,
*[class*="razor-right-bottom-"].razor-info::after {
	border-color: transparent transparent transparent $theme_info;	
}
*[class*="razor-top-right-"].razor-info::after,
*[class*="razor-bottom-right-"].razor-info::after,
*[class*="razor-left-top-"].razor-info::after,
*[class*="razor-left-bottom-"].razor-info::after		{
	border-color: transparent $theme_info transparent transparent;	
}
*[class*="razor-top-left-"].razor-info-light::after,
*[class*="razor-bottom-left-"].razor-info-light::after,
*[class*="razor-right-top-"].razor-info-light::after,
*[class*="razor-right-bottom-"].razor-info-light::after {
	border-color: transparent transparent transparent $theme_info_light;	
}
*[class*="razor-top-right-"].razor-info-light::after,
*[class*="razor-bottom-right-"].razor-info-light::after,
*[class*="razor-left-top-"].razor-info-light::after,
*[class*="razor-left-bottom-"].razor-info-light::after		{
	border-color: transparent $theme_info_light transparent transparent;	
}
*[class*="razor-top-left-"].razor-info-dark::after,
*[class*="razor-bottom-left-"].razor-info-dark::after,
*[class*="razor-right-top-"].razor-info-dark::after,
*[class*="razor-right-bottom-"].razor-info-dark::after {
	border-color: transparent transparent transparent $theme_info_dark;	
}
*[class*="razor-top-right-"].razor-info-dark::after,
*[class*="razor-bottom-right-"].razor-info-dark::after,
*[class*="razor-left-top-"].razor-info-dark::after,
*[class*="razor-left-bottom-"].razor-info-dark::after		{
	border-color: transparent $theme_info_dark transparent transparent;	
}
*[class*="razor-top-left-"].razor-warning::after,
*[class*="razor-bottom-left-"].razor-warning::after,
*[class*="razor-right-top-"].razor-warning::after,
*[class*="razor-right-bottom-"].razor-warning::after {
	border-color: transparent transparent transparent $theme_warning;	
}
*[class*="razor-top-right-"].razor-warning::after,
*[class*="razor-bottom-right-"].razor-warning::after,
*[class*="razor-left-top-"].razor-warning::after,
*[class*="razor-left-bottom-"].razor-warning::after		{
	border-color: transparent $theme_warning transparent transparent;	
}
*[class*="razor-top-left-"].razor-warning-light::after,
*[class*="razor-bottom-left-"].razor-warning-light::after,
*[class*="razor-right-top-"].razor-warning-light::after,
*[class*="razor-right-bottom-"].razor-warning-light::after {
	border-color: transparent transparent transparent $theme_warning_light;	
}
*[class*="razor-top-right-"].razor-warning-light::after,
*[class*="razor-bottom-right-"].razor-warning-light::after,
*[class*="razor-left-top-"].razor-warning-light::after,
*[class*="razor-left-bottom-"].razor-warning-light::after		{
	border-color: transparent $theme_warning_light transparent transparent;	
}
*[class*="razor-top-left-"].razor-warning-dark::after,
*[class*="razor-bottom-left-"].razor-warning-dark::after,
*[class*="razor-right-top-"].razor-warning-dark::after,
*[class*="razor-right-bottom-"].razor-warning-dark::after {
	border-color: transparent transparent transparent $theme_warning_dark;	
}
*[class*="razor-top-right-"].razor-warning-dark::after,
*[class*="razor-bottom-right-"].razor-warning-dark::after,
*[class*="razor-left-top-"].razor-warning-dark::after,
*[class*="razor-left-bottom-"].razor-warning-dark::after		{
	border-color: transparent $theme_warning_dark transparent transparent;	
}
*[class*="razor-top-left-"].razor-danger::after,
*[class*="razor-bottom-left-"].razor-danger::after,
*[class*="razor-right-top-"].razor-danger::after,
*[class*="razor-right-bottom-"].razor-danger::after {
	border-color: transparent transparent transparent $theme_danger;	
}
*[class*="razor-top-right-"].razor-danger::after,
*[class*="razor-bottom-right-"].razor-danger::after,
*[class*="razor-left-top-"].razor-danger::after,
*[class*="razor-left-bottom-"].razor-danger::after		{
	border-color: transparent $theme_danger transparent transparent;	
}
*[class*="razor-top-left-"].razor-danger-light::after,
*[class*="razor-bottom-left-"].razor-danger-light::after,
*[class*="razor-right-top-"].razor-danger-light::after,
*[class*="razor-right-bottom-"].razor-danger-light::after {
	border-color: transparent transparent transparent $theme_danger_light;	
}
*[class*="razor-top-right-"].razor-danger-light::after,
*[class*="razor-bottom-right-"].razor-danger-light::after,
*[class*="razor-left-top-"].razor-danger-light::after,
*[class*="razor-left-bottom-"].razor-danger-light::after		{
	border-color: transparent $theme_danger_light transparent transparent;	
}
*[class*="razor-top-left-"].razor-danger-dark::after,
*[class*="razor-bottom-left-"].razor-danger-dark::after,
*[class*="razor-right-top-"].razor-danger-dark::after,
*[class*="razor-right-bottom-"].razor-danger-dark::after {
	border-color: transparent transparent transparent $theme_danger_dark;	
}
*[class*="razor-top-right-"].razor-danger-dark::after,
*[class*="razor-bottom-right-"].razor-danger-dark::after,
*[class*="razor-left-top-"].razor-danger-dark::after,
*[class*="razor-left-bottom-"].razor-danger-dark::after		{
	border-color: transparent $theme_danger_dark transparent transparent;	
}
