
.tab-item-group-sm {
	height: 5rem;
}
.tab-item-group-md {
	height: 10rem;
}
.tab-item-group-lg {
	height: 20rem;
}
*[class*="tab-item-group"] {
	overflow: hidden;
	& > .tab-item {
		height: 100%;
	}
}



	
