
// Base theme colors

$theme_primary: rgb(250, 250, 250);
$theme_primary_border: rgb(250, 250, 250);
$theme_primary_foreground: rgb(0, 0, 0);

$theme_secondary: rgb(245, 245, 245);
$theme_secondary_border: rgb(245, 245, 245);
$theme_secondary_foreground: rgb(0, 0, 0);

$theme_highlight: rgb(255, 243, 224);
$theme_highlight_border: rgb(255, 243, 224);
$theme_highlight_foreground: rgb(0, 0, 0);

$theme_muted: rgb(189, 189, 189);
$theme_muted_border: rgb(189, 189, 189);
$theme_muted_foreground: rgb(97, 97, 97);

$theme_disabled: rgb(238, 238, 238);
$theme_disabled_border: rgb(238, 238, 238);
$theme_disabled_foreground: rgb(189, 189, 189);


// Control colors

$theme_default: rgb(189, 189, 189);
$theme_default_hover: rgb(224, 224, 224);
$theme_default_active: rgb(224, 224, 224);
$theme_default_border: rgb(189, 189, 189);
$theme_default_foreground: rgb(0, 0, 0);

$theme_light: rgb(255, 255, 255);
$theme_light_hover: rgb(224, 224, 224);
$theme_light_active: rgb(224, 224, 224);
$theme_light_border: rgb(255, 255, 255);
$theme_light_foreground: rgb(0, 0, 0);

$theme_dark: rgb(0, 0, 0);
$theme_dark_hover: rgb(117, 117, 117);
$theme_dark_active: rgb(117, 117, 117);
$theme_dark_border: rgb(0, 0, 0);
$theme_dark_foreground: rgb(255, 255, 255);

$theme_accent_1: rgb(92, 107, 192);
$theme_accent_1_hover: rgb(48, 63, 159);
$theme_accent_1_active: rgb(48, 63, 159);
$theme_accent_1_border: rgb(92, 107, 192);
$theme_accent_1_foreground: rgb(255, 255, 255);
$theme_accent_1_light: rgb(197, 202, 233);
$theme_accent_1_dark: rgb(26, 35, 126);

$theme_accent_2: rgb(126, 87, 194);
$theme_accent_2_hover: rgb(81, 45, 168);
$theme_accent_2_active: rgb(81, 45, 168);
$theme_accent_2_border: rgb(126, 87, 194);
$theme_accent_2_foreground: rgb(255, 255, 255);
$theme_accent_2_light: rgb(209, 196, 233);
$theme_accent_2_dark: rgb(49, 27, 146);

$theme_accent_3: rgb(171, 71, 188);
$theme_accent_3_hover: rgb(123, 31, 162);
$theme_accent_3_active: rgb(123, 31, 162);
$theme_accent_3_border: rgb(171, 71, 188);
$theme_accent_3_foreground: rgb(255, 255, 255);
$theme_accent_3_light: rgb(225, 190, 231);
$theme_accent_3_dark: rgb(74, 20, 140);

$theme_accent_4: rgb(158, 158, 158);
$theme_accent_4_hover: rgb(97, 97, 97);
$theme_accent_4_active: rgb(97, 97, 97);
$theme_accent_4_border: rgb(158, 158, 158);
$theme_accent_4_foreground: rgb(255, 255, 255);
$theme_accent_4_light: rgb(189, 189, 189);
$theme_accent_4_dark: rgb(66, 66, 66);

$theme_accent_5: rgb(117, 117, 117);
$theme_accent_5_hover: rgb(66, 66, 66);
$theme_accent_5_active: rgb(66, 66, 66);
$theme_accent_5_border: rgb(117, 117, 117);
$theme_accent_5_foreground: rgb(255, 255, 255);
$theme_accent_5_light: rgb(189, 189, 189);
$theme_accent_5_dark: rgb(33, 33, 33);

$theme_success: rgb(67, 160, 71);
$theme_success_hover: rgb(46, 125, 50);
$theme_success_active: rgb(46, 125, 50);
$theme_success_border: rgb(67, 160, 71);
$theme_success_foreground: rgb(255, 255, 255);
$theme_success_light: rgb(200, 230, 201);
$theme_success_dark: rgb(27, 94, 32);

$theme_info: rgb(33, 150, 243);
$theme_info_hover: rgb(21, 101, 192);
$theme_info_active: rgb(21, 101, 192);
$theme_info_border: rgb(33, 150, 243);
$theme_info_foreground: rgb(255, 255, 255);
$theme_info_light: rgb(187, 222, 251);
$theme_info_dark: rgb(13, 71, 161);

$theme_warning: rgb(255, 143, 0);
$theme_warning_hover: rgb(255, 111, 0);
$theme_warning_active: rgb(255, 111, 0);
$theme_warning_border: rgb(255, 143, 0);
$theme_warning_foreground: rgb(255, 255, 255);
$theme_warning_light: rgb(255, 213, 79);
$theme_warning_dark: rgb(191, 54, 12);

$theme_danger: rgb(255, 61, 0);
$theme_danger_hover: rgb(221, 44, 0);
$theme_danger_active: rgb(221, 44, 0);
$theme_danger_border: rgb(255, 61, 0);
$theme_danger_foreground: rgb(255, 255, 255);
$theme_danger_light: rgb(255, 204, 188);
$theme_danger_dark: rgb(183, 28, 28);

$theme_transparent: transparent;
$theme_transparent_hover: rgb(224, 224, 224);
$theme_transparent_active: rgb(224, 224, 224);
$theme_transparent_border: rgb(189, 189, 189);
$theme_transparent_foreground: rgb(189, 189, 189);

$theme_accessibility: rgb(66, 66, 66);

