// Base theme colors

$theme_primary: hsl(0deg, 0%, 98%);
$theme_primary_border: hsl(0deg, 0%, 98%);
$theme_primary_foreground: hsl(0deg, 0%, 0%);

$theme_secondary: hsl(0deg, 0%, 96%);
$theme_secondary_border: hsl(0deg, 0%, 96%);
$theme_secondary_foreground: hsl(0deg, 0%, 0%);

$theme_highlight: hsl(36deg, 100%, 93%);
$theme_highlight_border: hsl(36deg, 100%, 93%);
$theme_highlight_foreground: hsl(0deg, 0%, 0%);

$theme_muted: hsl(0deg, 0%, 74%);
$theme_muted_border: hsl(0deg, 0%, 74%);
$theme_muted_foreground: hsl(0deg, 0%, 38%);

$theme_disabled: hsl(0deg, 0%, 93%);
$theme_disabled_border: hsl(0deg, 0%, 93%);
$theme_disabled_foreground: hsl(0deg, 0%, 78%);
$theme_disabled_overlay: hsl(0deg, 0%, 87%);


// Control colors

$theme_default: hsl(0deg, 0%, 87%);
$theme_default_hover: hsl(0deg, 0%, 93%);
$theme_default_active: hsl(0deg, 0%, 93%);
$theme_default_border: hsl(0deg, 0%, 87%);
$theme_default_foreground: hsl(0deg, 0%, 0%);
$theme_default_alternate: hsl(0deg, 0%, 91%);
$theme_default_highlight: hsl(0deg, 0%, 78%);

$theme_light: hsl(0deg, 0%, 100%);
$theme_light_hover: hsl(0deg, 0%, 93%);
$theme_light_active: hsl(0deg, 0%, 93%);
$theme_light_border: hsl(0deg, 0%, 100%);
$theme_light_foreground: hsl(0deg, 0%, 0%);
$theme_light_alternate: hsl(0deg, 0%, 96%);
$theme_light_highlight: hsl(0deg, 0%, 90%);

$theme_dark: hsl(0deg, 0%, 0%);
$theme_dark_hover: hsl(0deg, 0%, 45%);
$theme_dark_active: hsl(0deg, 0%, 45%);
$theme_dark_border: hsl(0deg, 0%, 0%);
$theme_dark_foreground: hsl(0deg, 0%, 100%);
$theme_dark_alternate: hsl(0deg, 0%, 20%);
$theme_dark_highlight: hsl(0deg, 0%, 30%);

$theme_accent_1: hsl(231deg, 44%, 60%);
$theme_accent_1_hover: hsl(231deg, 44%, 40%);
$theme_accent_1_active: hsl(231deg, 44%, 40%);
$theme_accent_1_border: hsl(231deg, 44%, 60%);
$theme_accent_1_foreground:hsl(0deg, 0%, 100%);
$theme_accent_1_light: hsl(231deg, 44%, 93%);
$theme_accent_1_dark: hsl(231deg, 44%, 30%);
$theme_accent_1_alternate: hsl(231deg, 44%, 90%);
$theme_accent_1_highlight: hsl(231deg, 44%, 82%);

$theme_accent_2: hsl(261deg, 46%, 60%);
$theme_accent_2_hover: hsl(261deg, 46%, 40%);
$theme_accent_2_active: hsl(261deg, 46%, 40%);
$theme_accent_2_border: hsl(261deg, 46%, 60%);
$theme_accent_2_foreground: hsl(0deg, 0%, 100%);
$theme_accent_2_light: hsl(261deg, 46%, 93%);
$theme_accent_2_dark: hsl(261deg, 46%, 30%);
$theme_accent_2_alternate: hsl(261deg, 45%, 90%);
$theme_accent_2_highlight: hsl(261deg, 46%, 82%);

$theme_accent_3: hsl(291deg, 46%, 60%);
$theme_accent_3_hover: hsl(291deg, 46%, 40%);
$theme_accent_3_active: hsl(291deg, 46%, 40%);
$theme_accent_3_border: hsl(291deg, 46%, 60%);
$theme_accent_3_foreground: hsl(0deg, 0%, 100%);
$theme_accent_3_light: hsl(291deg, 46%, 93%);
$theme_accent_3_dark: hsl(291deg, 46%, 30%);
$theme_accent_3_alternate: hsl(291deg, 46%, 88%);
$theme_accent_3_highlight: hsl(291deg, 46%, 80%);

$theme_accent_4: hsl(0deg, 0%, 60%);
$theme_accent_4_hover: hsl(0deg, 0%, 40%);
$theme_accent_4_active: hsl(0deg, 0%, 40%);
$theme_accent_4_border: hsl(0deg, 0%, 60%);
$theme_accent_4_foreground: hsl(0deg, 0%, 100%);
$theme_accent_4_light: hsl(0deg, 0%, 93%);
$theme_accent_4_dark: hsl(0deg, 0%, 30%);
$theme_accent_4_alternate: hsl(0deg, 0%, 87%);
$theme_accent_4_highlight: hsl(0deg, 0%, 76%);

$theme_accent_5: hsl(0deg, 0%, 40%);
$theme_accent_5_hover: hsl(0deg, 0%, 20%);
$theme_accent_5_active: hsl(0deg, 0%, 20%);
$theme_accent_5_border: hsl(0deg, 0%, 40%);
$theme_accent_5_foreground: hsl(0deg, 0%, 100%);
$theme_accent_5_light: hsl(0deg, 0%, 87%);
$theme_accent_5_dark: hsl(0deg, 0%, 10%);
$theme_accent_5_alternate: hsl(0deg, 0%, 83%);
$theme_accent_5_highlight: hsl(0deg, 0%, 72%);

$theme_success: hsl(122deg, 40%, 50%);
$theme_success_hover: hsl(122deg, 40%, 40%);
$theme_success_active: hsl(122deg, 40%, 40%);
$theme_success_border: hsl(122deg, 40%, 50%);
$theme_success_foreground: hsl(0deg, 0%, 100%);
$theme_success_light: hsl(122deg, 40%, 94%);
$theme_success_dark: hsl(122deg, 40%, 30%);

$theme_info: hsl(206deg, 89%, 50%);
$theme_info_hover: hsl(206deg, 89%, 40%);
$theme_info_active: hsl(206deg, 89%, 40%);
$theme_info_border: hsl(206deg, 89%, 50%);
$theme_info_foreground: hsl(0deg, 0%, 100%);
$theme_info_light: hsl(206deg, 89%, 94%);
$theme_info_dark: hsl(206deg, 89%, 30%);

$theme_warning: hsl(33deg, 100%, 50%);
$theme_warning_hover: hsl(33deg, 100%, 40%);
$theme_warning_active: hsl(33deg, 100%, 40%);
$theme_warning_border: hsl(33deg, 100%, 50%);
$theme_warning_foreground: hsl(0deg, 0%, 100%);
$theme_warning_light: hsl(33deg, 100%, 94%);
$theme_warning_dark: hsl(33deg, 100%, 30%);

$theme_danger: hsl(14deg, 100%, 50%);
$theme_danger_hover: hsl(14deg, 100%, 43%);
$theme_danger_active: hsl(14deg, 100%, 43%);
$theme_danger_border: hsl(14deg, 100%, 50%);
$theme_danger_foreground: hsl(0deg, 0%, 100%);
$theme_danger_light: hsl(14deg, 100%, 94%);
$theme_danger_dark: hsl(14deg, 100%, 30%);

$theme_transparent: transparent;
$theme_transparent_hover: hsl(0deg, 0%, 87%);
$theme_transparent_active: hsl(0deg, 0%, 87%);
$theme_transparent_border: hsl(0deg, 0%, 74%);
$theme_transparent_foreground: hsl(0deg, 0%, 74%);

$theme_accessibility_default: hsl(0deg, 0%, 78%);
$theme_accessibility_light: hsl(0deg, 0%, 87%);
$theme_accessibility_dark: hsl(0deg, 0%, 30%);
$theme_accessibility_accent_1: hsl(231deg, 44%, 60%);
$theme_accessibility_accent_2: hsl(261deg, 46%, 60%);
$theme_accessibility_accent_3: hsl(291deg, 46%, 60%);
$theme_accessibility_accent_4: hsl(0deg, 0%, 60%);
$theme_accessibility_accent_5: hsl(0deg, 0%, 40%);