
// Base theme colors

$theme_primary: #ffffff;
$theme_primary_border: #ffffff;
$theme_primary_foreground: #000000;

$theme_secondary: #F2F2F2;
$theme_secondary_border: #F2F2F2;
$theme_secondary_foreground: #000000;

$theme_highlight: #FFF9F4;
$theme_highlight_border: #FFF9F4;
$theme_highlight_foreground: #000000;

$theme_muted: #CCCCCC;
$theme_muted_border: #CCCCCC;
$theme_muted_foreground: #7C7C7C;

$theme_disabled: #E5E5E5;
$theme_disabled_border: #D3D3D3;
$theme_disabled_foreground: #B7B7B7;


// Control colors

$theme_default: #D3D3D3;
$theme_default_hover: #C4C4C4;
$theme_default_active: #B5B5B5;
$theme_default_border: #D3D3D3;
$theme_default_foreground: #000000;

$theme_light: #FFFFFF;
$theme_light_hover: #F6F6F6;
$theme_light_active: #E9E9E9;
$theme_light_border: #FFFFFF;
$theme_light_foreground: #000000;

$theme_dark: #000000;
$theme_dark_hover: #545454;
$theme_dark_active: #7A7A7A;
$theme_dark_border: #000000;
$theme_dark_foreground: #ffffff;

$theme_accent_1: #3070A8;
$theme_accent_1_hover: #3A82C1;
$theme_accent_1_active: #4699DD;
$theme_accent_1_border: #3070A8;
$theme_accent_1_foreground: #ffffff;

$theme_accent_2: #4196E0;
$theme_accent_2_hover: #4AA9F7;
$theme_accent_2_active: #68BBFF;
$theme_accent_2_border: #4196E0;
$theme_accent_2_foreground: #ffffff;

$theme_accent_3: #BDAC83;
$theme_accent_3_hover: #D3C096;
$theme_accent_3_active: #E2CB9A;
$theme_accent_3_border: #BDAC83;
$theme_accent_3_foreground: #ffffff;

$theme_accent_4: #727272;
$theme_accent_4_hover: #878787;
$theme_accent_4_active: #9E9E9E;
$theme_accent_4_border: #727272;
$theme_accent_4_foreground: #ffffff;

$theme_accent_5: #3D3D3D;
$theme_accent_5_hover: #686868;
$theme_accent_5_active: #828282;
$theme_accent_5_border: #3D3D3D;
$theme_accent_5_foreground: #ffffff;

$theme_success: #2DB200;
$theme_success_hover: #34C400;
$theme_success_active: #3BD300;
$theme_success_border: #2DB200;
$theme_success_foreground: #ffffff;

$theme_info: #0072FF;
$theme_info_hover: #328EFF;
$theme_info_active: #60A8FF;
$theme_info_border: #0072FF;
$theme_info_foreground: #ffffff;

$theme_warning: #FF9300;
$theme_warning_hover: #FFA300;
$theme_warning_active: #FFBD3A;
$theme_warning_border: #FF9300;
$theme_warning_foreground: #ffffff;

$theme_danger: #FF0000;
$theme_danger_hover: #EF5B5B;
$theme_danger_active: #FF7C7C;
$theme_danger_border: #FF0000;
$theme_danger_foreground: #ffffff;

$theme_transparent: transparent;
$theme_transparent_hover: #E2E2E2;
$theme_transparent_active: #ffffff;
$theme_transparent_border: #C0C0C0;
$theme_transparent_foreground: #C0C0C0;

$theme_accessibility: #727272;

