
.transition-short {
	transition: color 0.1s ease-in, background-color 0.1s ease-in, border-color 0.1s ease-in, box-shadow 0.1s ease-in;
}
.transition-medium {
	transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in, box-shadow 0.3s ease-in;
}
.transition-long {
	transition: color 0.5s ease-in, background-color 0.5s ease-in, border-color 0.5s ease-in, box-shadow 0.5s ease-in;
}
.color-transition-short {
	transition: color 0.1s ease-in;
}
.color-transition-medium {
	transition: color 0.3s ease-in;
}
.color-transition-long {
	transition: color 0.5s ease-in;
}
.background-color-transition-short {
	transition: background-color 0.1s ease-in;
}
.background-color-transition-medium {
	transition: background-color 0.3s ease-in;
}
.background-color-transition-long {
	transition: background-color 0.5s ease-in;
}
.border-color-transition-short {
	transition: border-color 0.1s ease-in;
}
.border-color-transition-medium {
	transition: border-color 0.3s ease-in;
}
.border-color-transition-long {
	transition: border-color 0.5s ease-in;
}
.boundary-transition-short,
.outline-transition-short {
	transition: box-shadow 0.1s ease-in;
}
.boundary-transition-medium,
.ouline-transition-medium {
	transition: box-shadow 0.3s ease-in;
}
.boundary-transition-long,
.ouline-transition-long {
	transition: box-shadow 0.5s ease-in;
}
