
.transition-short {
	transition: color 0.2s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in, box-shadow 0.2s ease-in, width 0.2s ease-in, height 0.2s ease-in;
}
.transition-medium {
	transition: color 0.4s ease-in, background-color 0.4s ease-in, border-color 0.4s ease-in, box-shadow 0.4s ease-in, width 0.4s ease-in, height 0.4s ease-in;
}
.transition-long {
	transition: color 0.7s ease-in, background-color 0.7s ease-in, border-color 0.7s ease-in, box-shadow 0.7s ease-in, width 0.7s ease-in, height 0.7s ease-in;
}
.color-transition-short {
	transition: color 0.2s ease-in;
}
.color-transition-medium {
	transition: color 0.4s ease-in;
}
.color-transition-long {
	transition: color 0.7s ease-in;
}
.background-color-transition-short {
	transition: background-color 0.2s ease-in;
}
.background-color-transition-medium {
	transition: background-color 0.4s ease-in;
}
.background-color-transition-long {
	transition: background-color 0.7s ease-in;
}
.border-color-transition-short {
	transition: border-color 0.2s ease-in;
}
.border-color-transition-medium {
	transition: border-color 0.4s ease-in;
}
.border-color-transition-long {
	transition: border-color 0.7s ease-in;
}
.boundary-transition-short,
.outline-transition-short {
	transition: box-shadow 0.2s ease-in;
}
.boundary-transition-medium,
.outline-transition-medium {
	transition: box-shadow 0.4s ease-in;
}
.boundary-transition-long,
.outline-transition-long {
	transition: box-shadow 0.7s ease-in;
}
.width-transition-short {
	transition: width 0.2s ease-in;
}
.width-transition-medium {
	transition: width 0.4s ease-in;
}
.width-transition-long {
	transition: width 0.7s ease-in;
}
.height-transition-short {
	transition: height 0.2s ease-in;
}
.height-transition-medium {
	transition: height 0.4s ease-in;
}
.height-transition-long {
	transition: height 0.7s ease-in;
}
.left-transition-short {
	transition: left 0.2s ease-in; 
}
.left-transition-medium {
	transition: left 0.4s ease-in; 
}
.left-transition-long {
	transition: left 0.7s ease-in; 
}
.top-transition-short {
	transition: top 0.2s ease-in; 
}
.top-transition-medium {
	transition: top 0.4s ease-in; 
}
.top-transition-long {
	transition: top 0.7s ease-in; 
}