
.upload {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	z-index: -1;
	visibility: hidden;
}
.upload + label {
	display: block;
	overflow: hidden;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	text-align: left;
	white-space: normal;
	word-wrap: break-word;
	min-height: 1.75rem;
}
.upload-icon-dark + label {
	background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='#{$theme_dark}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4'></path><polyline points='17 8 12 3 7 8'></polyline><line x1='12' y1='3' x2='12' y2='15'></line></svg>");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.125em 1.125em;
}
.upload-icon-light + label {
	background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='#{$theme_light}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4'></path><polyline points='17 8 12 3 7 8'></polyline><line x1='12' y1='3' x2='12' y2='15'></line></svg>");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.125em 1.125em;
}
.upload-icon-top + label {
	background-position: center 0.313rem;
	min-height: 3.125rem;
	padding: 1.875rem 0.625rem 0 0.625rem;
}
.upload-icon-left + label {
	padding-left: 3.75rem;
}				
.upload-icon-bottom + label {
	background-position: center 96%;
	min-height: 3.125rem;
	padding: 0.313rem 0.625rem 0 0.625rem;
}
.upload-icon-right + label {
	padding-left: 0.625rem;
	padding-right: 3.75rem;
}
.upload.upload-icon-left + label {
	background-position: 0.625rem 0.375rem;
}
.upload.upload-icon-right + label {
	background-position: 98% 0.375rem;
}
.upload.upload-text-center + label {
	text-align: center;
}
.upload.upload-text-right + label {
	text-align: right;
}

