
.upload {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	z-index: -1;
	visibility: hidden;
}
.upload + label {
	display: block;
	overflow: hidden;
	padding-left: 3.125rem;
	padding-right: 0.625rem;
	text-align: left;
	white-space: normal;
	word-wrap: break-word;
}
.upload + label {
	min-height: 1.5rem;
	padding-top: 0.25rem;
}
.upload-icon-light + label {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAA3lBMVEUAAAD19fX39/f8/Pzh4eH5+fnIyMi6urr9/f37+/v29vb8/Pzo6OjS0tLT09PR0dH7+/v6+vrs7OzU1NTNzc3z8/P7+/v9/f319fX8/Pza2tre3t719fXGxsbLy8vs7Ozw8PDf39/f39/S0tLj4+PZ2dnJycnQ0NDW1tbn5+e8vLz19fXu7u7t7e3y8vL39/f29vby8vL+/v75+fnh4eHu7u7h4eHd3d3////o6Ojn5+fj4+PZ2dnt7e3q6uro6OjCwsL6+vrw8PDAwMDs7OzS0tJ/f3/////29vb+/v7ue/OoAAAAR3RSTlMAHdE6Ivk7Cf7z6+Tkkh4F/vWkGAz++uvc2djSyse/uJtvaWJdVEIpIiER9vTq5+Pe0b2zs6urj4h/dmZZVUxEPz42NSkXBvbMmf0AAAC+SURBVBjTpczlEoJAFIbh1UUpRcruIO3ujuPe/w0JDjgLf33+fe+cOSikHc8sipFUZdxjY63FA1eKVk3lAYBMDjkqthXwkdHll9x2CgJ9I7y9T0WRJwByURRVN4jsDeNVAWDYwfhBf816HzLpYPwbdZthGEfvlAShaWmON6QX2iU9tf0zbZqWvfwOA1WJhxO2V4xPzQLxNVAFKFwZijypRyLXysmbrlBHVSqS2UIuz5UGWuffFH8MukhPxEnsBw1cKLJwF1zIAAAAAElFTkSuQmCC");
	background-repeat: no-repeat;
}
.upload-icon-dark + label {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAA0lBMVEUAAAAICAgHBwcgICADAwNDQ0NJSUkEBAQEBAQ5OTkJCQkWFhYCAgIsLCwwMDAHBwcJCQkiIiISEhIfHx8nJydAQEAJCQkCAgIODg4gICA4ODgSEhIfHx8dHR0kJCQ1NTUuLi4kJCQCAgIDAwMRERELCwsQEBAHBwcAAAAKCgoKCgo1NTUyMjIgICBVVVU9PT0dHR0RERETExM3NzchISESEhIYGBgXFxc0NDQbGxtgYGASEhIUFBQWFhY4ODgSEhI+Pj4YGBgAAAAJCQkUFBQoKCgVgU0HAAAAQnRSTlMAHdEiOwoF+fU7++Tkkhfq3dmkXB8P9uvp0se4b2lUQikc/Pr08u/j1svIv769s7Orq56Yj4h/dmZmX1VMRD82NSlRiNDwAAAAtklEQVQY06XM1xKCMBBA0agJKiIoipVq7713F/z/XzI7A1JePZOXvbMbEpCvd0YSqmpuWGGJtskBlOJVVnnDKkSizhtqPH5J00Xw1cxg95WWJFzt1CVJ1fzInpSuuvzYoPQd/bWYBSjkCfo/sgxXZUZJUdq2jIMjkGOaG5/lvGXZmTUOE5M0ASkHSumtnQU0I2WIcEdQ70MrHrfCZ38ZtPA8NF945WVtSnaiGxI9/nonoqWSHOELZBwlnUYqXm8AAAAASUVORK5CYII=");
	background-repeat: no-repeat;
}
.upload-icon-top + label {
	background-position: center 0.313rem;
	min-height: 3.125rem;
	padding: 1.875rem 0.625rem 0 0.625rem;
}
.upload-icon-left + label {
	padding-left: 3.125rem;
}				
.upload-icon-bottom + label {
	background-position: center 96%;
	min-height: 3.125rem;
	padding: 0.313rem 0.625rem 0 0.625rem;
}
.upload-icon-right + label {
	padding-left: 0.625rem;
	padding-right: 3.125rem;
}
.upload.upload-icon-left + label {
	background-position: 0.625rem 0.125rem;
}
.upload.upload-icon-right + label {
	background-position: 97% 0.125rem;
}
.upload.upload-text-center + label {
	text-align: center;
}
.upload.upload-text-right + label {
	text-align: right;
}
input.upload.accessibility:focus + label {
	box-shadow: 0 0 0 0.063rem $theme_accessibility;
	border-color: $theme_accessibility;
}
