
.menu-bar {
	height: 44px;
	max-height: 44px;
}
.menu-bar-sm {
	height: 36px;
	max-height: 36px;
}
.menu-button {
	padding: 0 17px;
	height: 44px;
	max-height: 44px;
}
.menu-button-sm {
	padding: 0 13px;
	height: 36px;
	max-height: 36px;
}
.menu-button,
.menu-button-sm {
	text-decoration: none;
	white-space: nowrap;
	outline: none;
	cursor: pointer;
	width: 100%;
	min-width: 100%;
	box-sizing: border-box;
	color: $theme_default_foreground;
	background-color: $theme_default;
	border: 1px solid $theme_default_border;
}
.menu-button-default {
	color: $theme_default_foreground;
	background-color: $theme_default;
	border: 1px solid $theme_default_border;
	&:focus {
		background-color: $theme_default_hover;
	}
}
.menu-button-primary {
	color: $theme_primary_foreground;
	background-color: $theme_primary;
	border: 1px solid $theme_primary_border;
	&:focus {
		background-color: $theme_primary_hover;
	}
}
.menu-button-secondary {
	color: $theme_secondary_foreground;
	background-color: $theme_secondary;
	border: 1px solid $theme_secondary_border;
	&:focus {
		background-color: $theme_secondary_hover;
	}
}
.menu-button-accent-1 {
	color: $theme_accent_1_foreground;
	background-color: $theme_accent_1;
	border: 1px solid $theme_accent_1_border;
	&:focus {
		background-color: $theme_accent_1_hover;
	}
}
.menu-button-accent-2 {
	color: $theme_accent_2_foreground;
	background-color: $theme_accent_2;
	border: 1px solid $theme_accent_2_border;
	&:focus {
		background-color: $theme_accent_2_hover;
	}
}
.menu-button-accent-3 {
	color: $theme_accent_3_foreground;
	background-color: $theme_accent_3;
	border: 1px solid $theme_accent_3_border;
	&:focus {
		background-color: $theme_accent_3_hover;
	}
}
.menu-button-accent-4 {
	color: $theme_accent_4_foreground;
	background-color: $theme_accent_4;
	border: 1px solid $theme_accent_4_border;
	&:focus {
		background-color: $theme_accent_4_hover;
	}
}
.menu-button-success {
	color: $theme_success_foreground;
	background-color: $theme_success;
	border: 1px solid $theme_success_border;
	&:focus {
		background-color: $theme_success_hover;
	}
}
.menu-button-info {
	color: $theme_info_foreground;
	background-color: $theme_info;
	border: 1px solid $theme_info_border;
	&:focus {
		background-color: $theme_info_hover;
	}
}
.menu-button-warning {
	color: $theme_warning_foreground;
	background-color: $theme_warning;
	border: 1px solid $theme_warning_border;
	&:focus {
		background-color: $theme_warning_hover;
	}
}
.menu-button-danger {
	color: $theme_danger_foreground;
	background-color: $theme_danger;
	border: 1px solid $theme_danger_border;
	&:focus {
		background-color: $theme_danger_hover;
	}
}
.menu-button-highlight {
	color: $theme_highlight_foreground;
	background-color: $theme_highlight;
	border: 1px solid $theme_highlight_border;
	&:focus {
		background-color: $theme_highlight_hover;
	}
}
.menu-button-transparent {
	color: $theme_transparent_foreground;
	background-color: $theme_transparent;
	border: 1px solid $theme_transparent_border;
	&:focus {
		color: $theme_transparent_hover;
		background-color: $theme_transparent;
	}
}
.menu-button-disabled {
	color: $theme_disabled_foreground;
	background-color: $theme_disabled;
	border: 1px solid $theme_disabled_border;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-right {
	right: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
	@include layer-2();	
}
.dropdown-content-expand {
    display: none;
    position: relative;
	@include layer-2();	
}
.dropdown-sheet {
    display: none;
    position: absolute; 
	left: 0; 
	width: 100%; 
	background-color: transparent;
	@include layer-2();	
}
